.salary-graph {
    @extend .pos-tr-fixed;
    width:720px;
    @extend .h100p;
    @extend .pt100;
    @extend .pr-m;
    @extend .bg-white;
    @extend .zIndex-8;

    html.d-no-phone & {
        &.section-hidden {
            transition:transform .6s $cubic4001, visibility 0s .6s;

            &[data-open="true"]{
                transition:transform .6s $cubic4001, visibility 0s;
            }
        }
    }
    // html.d-phone & {
    //     &.section-hidden {
    //         transition:transform .5s $cubic4001, visibility 0s .5s;
    //
    //         &[data-open="true"]{
    //             transition:transform .42s $cubic4001, visibility 0s;
    //         }
    //     }
    // }
    html.d-tablet.r-landscape & {
        width:680px;
    }
    html.d-phone #app[demo="true"][data-mode="view"] &:hover {
        .salary-graph-title-front {
            @extend .opacity-0;
        }
        .salary-graph-title-back {
            @extend .opacity-100;
        }
    }
    html.d-phone &,
    html.d-tablet.r-portrait & {
        @extend .w100p;
    }
    &-title {
        @extend .pos-abs;
        @extend .t-30;
        @extend .l-xl;
        @extend .w60p;
        @extend .f-primary;

        html.d-no-phone & {
            @extend .fontSize-22;
        }
        html.d-tablet.r-portrait & {
            @extend .ml-l;
        }
        html.d-phone & {
            @extend .fontSize-18;
        }
        &-front,
        &-back {
            @extend .pos-tl;
            @extend .willChange-opacity;
            transition:opacity 0.5s $cubic2501 0.2s;
        }
        &-back {
            @extend .opacity-0;
        }
    }
    &-content {
        @include abs();
        @extend .pr-m;
        padding-top:105px;
    }
    &-item {
        @extend .pos-rel;
        @include flex("row", "space-between", "center");
        @extend .pl-xl;
        @extend .pr-l;
        @extend .pt-m;
        @extend .md-pt-xs;
        @extend .sm-pt-m;
        @extend .xs-pl-l;
        @extend .xs-pr0;
        @extend .fontFamily-gotham;
        height:calc((100% - 20px) / 6);
        border-bottom:2px dashed $smokeLight;

        html.d-tablet.r-portrait & {
            height:calc((100% - 80px) / 6);
        }
        &:nth-child(1),
        &:nth-child(3),
        &:last-child {
            .salary-graph-item-month {
                @extend .c-primary;
                @extend .fontWeight-bold;
            }
            .salary-graph-item-amount {
                @extend .c-primary;

                &-ruble-color {
                    @extend .fill-primary;
                }
                &:after {
                    @extend .borderBottom-primary;
                }
            }
            border-color:#D3DCE6;
        }
        &-month {
            @extend .c-grayDark;
            @extend .fontSize-14;
            @extend .text-uppercase;
            @extend .nowrap;

            html.d-tablet.r-portrait & {
                @extend .fontSize-18;
            }
        }
        &-amount {
            @extend .pos-rel;
            @extend .flex-centered;
            @extend .c-gray;
            font-size:20px;
            line-height:23px;
            @extend .fontWeight-bold;
            @extend .pl-l;
            @extend .h100p;

            html.d-tablet & {
                @extend .pt-xxs;
                @extend .pl30;
            }
            html.d-tablet.r-portrait & {
                font-size:25px;
            }
            span {
                @extend .fontWeight-normal;
                padding-left:3px;
            }
            &-ruble {
                @extend .display-block;
                @extend .fontFamily-roboto;
                width:24px;
                height:23px;

                &-color {
                    @extend .fill-gray;
                }
                html.d-tablet.r-portrait & {
                    width:28px;
                    height:27px;
                }
            }
            &:after {
                @extend .content-empty;
                @extend .pos-centered-h;
                @extend .t100;
                border-top:0;
                border-bottom-width:12px;
                border-bottom-style:solid;
                border-bottom-color:$gray;
                border-right:10px solid transparent;
                border-left:10px solid transparent;
                @extend .mt--xxs;

                html.d-tablet.r-portrait & {
                    border-bottom-width:17px;
                    border-right-width:14px;
                    border-left-width:14px;
                    @extend .mt--xs;
                }
                html.d-no-mobile &,
                html.d-tablet.r-landscape & {
                    border-bottom-width:13px;
                    border-right-width:11px;
                    border-left-width:11px;
                    margin-top:-7px;
                }
            }
        }
    }
    &-opener {
        @extend .display-block;
        @extend .pos-fixed;
        top:130px;
        @extend .r-45;
        @extend .w60;
        @extend .h60;
        @extend .userSelect-none;
        @extend .flex-centered;
        @extend .btn-active;
        @extend .borderRadius-circle;
        @extend .boxShadow-default;
        @extend .zIndex-5;
        @extend .bg-primary;
        @extend .cursor-pointer;
        will-change:transform, background-color;

        html.d-phone & {
            @extend .t-90;
            @extend .r-m;
            @extend .w50;
            @extend .h50;
        }
        &-ruble {
            width:38px;
            height:38px;

            &-color {
                @extend .fill-white;
            }
            html.d-phone & {
                width:36px;
                height:36px;
            }
        }
        &-valuta {
            @extend .fontFamily-gotham;
            @extend .c-white;
            will-change:color;
            transition:color 0.2s $cubic215;
            font-size:36px;
            transform:translateY(2px);

            html.d-phone & {
                font-size:33px;
            }
        }
    }
}
@media screen and (max-height: 565px) {
    html.d-phone {
        .salary-graph {
            &-item {
                &-amount {
                    font-size:18px;

                    &-ruble {
                        width:22px;
                        height:21px;
                    }
                    &:after {
                        border-bottom-width:11px;
                        border-right-width:9px;
                        border-left-width:9px;
                    }
                }
            }
        }
    }
}
@media screen and (min-height: 700px) {
    html.d-phone {
        .salary-graph {
            &-title {
                left:85px;
                width:50%;
            }
            &-item {
                &-month {
                    font-size:15px;
                }
                &-amount {
                    font-size:22px;
                    padding-top:3px;

                    &-ruble {
                        width:26px;
                        height:25px;
                    }
                    &:after {
                        border-bottom-width:13px;
                        border-right-width:11px;
                        border-left-width:11px;
                        margin-top:-7px;
                    }
                }
            }
        }
    }
}
