@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=cyrillic-ext,latin');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&subset=cyrillic');
@import 'fonts/Futura/style';
@import 'fonts/Proxima/style';
@import 'fonts/Gotham/style';
@import 'fonts/HelveticaNeue/style';
@import 'fonts/Icons/hobby/style';

.fontFamily-roboto {
    font-family:$roboto;
}
.fontFamily-system {
    font-family:$systemFont;
}
.fontFamily-futura {
    font-family:$futura;
}
.fontFamily-fira {
    font-family:$fira;
}
.fontFamily-proxima {
    font-family:$proxima;
}
.fontFamily-gotham {
    font-family:$gotham;
}
.fontFamily-helvetica {
    font-family:$helvetica;
}
.fontFamily-arial {
    font-family:$arial;
}
