// @font-face {
//     font-family:"Govern";
//     src:url(/assets/css/fonts/Govern/govest-light.woff2) format("woff2"),
//         url(/assets/css/fonts/Govern/govest-light.woff) format("woff");
//     font-style:normal;
//     font-weight:300;
// }
@font-face {
    font-family:"Govern";
    src:url(/assets/css/fonts/Govern/govest-regular.woff2) format("woff2"),
        url(/assets/css/fonts/Govern/govest-regular.woff) format("woff");
    font-style:normal;
    font-weight:400;
}
// @font-face {
//     font-family:"Govern";
//     src:url(/assets/css/fonts/Govern/govest-medium.woff2) format("woff2"),
//         url(/assets/css/fonts/Govern/govest-medium.woff) format("woff");
//     font-style:normal;
//     font-weight:500;
// }
@font-face {
    font-family:"Govern";
    src:url(/assets/css/fonts/Govern/govest-bold.woff2) format("woff2"),
        url(/assets/css/fonts/Govern/govest-bold.woff) format("woff");
    font-style:normal;
    font-weight:700;
}
