.menu {
    @include abs(fixed);
    @include accelerate();
    @extend .bg-white;
    @extend .text-center;
    @extend .zIndex-5;
    @extend .opacity-0;
    @extend .visibility-hidden;
    @extend .pointerEvents-none;
    @extend .willChange-opacity;
    transition:opacity 0.25s $cubic40 0.1s, visibility 0.25s 0s;

    &__items {
        @extend .pos-centered;
        @extend .w100p;
    }
    &__item {
        @include accelerate();
        margin:8vh 0;
        @extend .opacity-0;
        @extend .willChange-tp;
        transform-origin:50% 0;
        transform:translate3d(0, -35px, 0) scale3d(0.7, 0.4, 0);
        transition:transform 0.3s $cubic345, opacity 0.3s $cubic345;

        &__link {
            @extend .c-black;
            @extend .fontFamily-myriad;
            @extend .fontSize-18;
            @extend .fontWeight-5;
            letter-spacing:0.18em;
            @extend .text-uppercase;
            @extend .textDecoration-none;

            &[data-active="true"]{
                @extend .c-silver;
            }
        }
    }
    &__opener {
        @extend .pos-tr-fixed;
        @extend .p25;
        @extend .zIndex-3;

        &[data-navbar="true"]{
            @extend .pl30;
            @extend .pr20;
            padding-top:18px;
        }
        &[data-animate="true"]{
            .menu__opener__line {
                &:nth-child(1){
                    animation:animMenuLine 1.1s ease-in-out infinite alternate;
                }
                &:nth-child(2){
                    animation:animMenuLine 1.1s 0.3s ease-in-out infinite alternate;
                }
                &:nth-child(3){
                    animation:animMenuLine 1.1s 0.6s ease-in-out infinite alternate;
                }
            }
        }
        &__line {
            @include accelerate();
            @extend .w30;
            @extend .h4px;
            @extend .bg-blue;
            margin-bottom:4px;
            @extend .willChange-transform;

            .blog & {
                @extend .bg-breeze;
            }
            &:nth-child(2){
                width:26px;
            }
        }
        &[data-color="white"]{
            .menu__opener__line {
                @extend .bg-white;
            }
        }
    }
    &__close {
        @include accelerate();
        @extend .pos-abs;
        width:13px;
        height:13px;
        @extend .borderRadius-circle;
        @extend .bg-steel;
        @extend .cursor-pointer;
        @extend .zIndex-1;
        box-shadow:0 0 0 12px $steel;
        transition:transform 0.3s $cubic215;

        &:before,
        &:after {
            @include accelerate();
            @extend .content-empty;
            @extend .pos-abs;
            @extend .t50;
            @extend .l50;
            @extend .w100p;
            @extend .h2px;
            @extend .bg-white;
            @extend .willChange-transform;
            transition:transform 0.3s $cubic215;
        }
        &:before {
            transform:translate3d(-50%, -50%, 0) rotate(0deg);
        }
        &:after {
            transform:translate3d(-50%, -50%, 0) rotate(0deg);
        }
    }
    &[data-open="true"]{
        @extend .opacity-100;
        @extend .visibility-visible;
        @extend .pointerEvents-all;
        transition:opacity 0.3s $cubic345, visibility 0s;

        .menu {
            &__item {
                @extend .opacity-100;
                transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
                transition:transform 0.3s $cubic345, opacity 0.3s $cubic40;

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}){
                        transition-delay:#{($i / 30)}s;
                    }
                }
            }
            &__close {
                transition-delay:.35s;

                &:before,
                &:after {
                    transition-delay:.4s;
                }
                &:before {
                    transform:translate3d(-50%, -50%, 0) rotate(45deg);
                }
                &:after {
                    transform:translate3d(-50%, -50%, 0) rotate(-45deg);
                }
            }
        }
    }
}
@media screen and (max-height: 565px) {
    .menu {
        &__close {
            top:28px;
            right:28px;
            transform:scale3d(0, 0, 0);
        }
        &[data-open="true"]{
            .menu__close {
                transform:scale3d(1, 1, 1);
            }
        }
    }
}
@media screen and (min-height: 565px) {
    .menu {
        &__close {
            top:6vh;
            left:50%;
            transform:translate3d(-50%, 0, 0) scale3d(0, 0, 0);
        }
        &__items {
            margin-top:15px;
        }
        &[data-open="true"]{
            .menu__close {
                transform:translate3d(-50%, 0, 0) scale3d(1, 1, 1);
            }
        }
    }
}

@keyframes animMenuLine {
    to {
        transform:scale3d(0.6, 1, 0) translate3d(-20%, 0, 0);
    }
}
