<resume-stat class="resume__stat" data-open="{ active }" data-empty="{ isEmpty }">

    <div class="resume__stat__wrapper" name="wrapper">

        <div onClick={ close } onUpdate="none" class="button__close"></div>

        <div class="resume__stat__header container">
            <div class="row">
                <div class="col-md-8">
                    <div onClick={ open.changeResume } onUpdate="none" class="resume__stat__title">
                        <div class="resume__stat__title__value">{ item.get('post') || 'Новое резюме' }</div>
                    </div>
                </div>
                <div class="col-md-16">
                    <div class="resume__stat__tabs row">
                        <resume-stat-tabs stat={ all }></resume-stat-tabs>
                        <div class="resume__stat__tab col-md-8">
                            <div class="chart__radial__labels">
                                <div class="chart__radial__label">
                                    <div class="chart__radial__label__color" style="background-color:#0084ff"></div>&nbsp; — &nbsp;<span class="chart__radial__label__title">просмотры</span>
                                </div>
                                <div class="chart__radial__label">
                                    <div class="chart__radial__label__color" style="background-color:#f05b4f"></div>&nbsp; — &nbsp;<span class="chart__radial__label__title">посетители</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="resume__stat__content container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="resume__stat__photo" style="background-image:url({ item.get('commons', 'photo') })"></div>
                    <div class="chart__radial trY-l" name="chartRadialEl"></div>
                </div>
                <div class="col-md-18">
                    <div class="resume__stat__chart__empty">Резюме ещё не просматривали, когда начнуться просмотры, здесь появится статистика</div>
                    <div class="resume__stat__chart" name="chartEl"></div>
                </div>
            </div>
        </div>

        <resume-stat-offer></resume-stat-offer>

    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.offer = $.tags["resume-stat-offer"];

    var counts = [5, 9, 7, 8, 5, 3, 5, 4, 5, 9, 7, 8, 5, 3, 5, 4, 5, 9, 7, 8, 5, 3, 5, 4];

    $.default = function(){
        return {
            all: {
                visits: _.random(50, 150),
                hits: _.random(200, 400)
            },
            visits: {
                labels: ["26 сен", "27 сен", "28 сен", "29 сен", "30 сен", "1 окт", "2 окт", "26 сен", "27 сен", "28 сен", "29 сен", "30 сен", "1 окт", "2 окт"],
                counts: counts,
                hits: _.map(counts, function(num){
                    return num * _.random(2, 7);
                })
            },
            devices: {
                desktop: _.random(5, 87),
                tablet: _.random(5, 87),
                phone: _.random(5, 87)
            }
        }
    };

    $.on("mount", function(){
        $scope.on('swipeUp', function(){
            $.hide();
        });
        $.chartRadial = new app.plugins.chartRadial($.chartRadialEl, {
            container: "chart__radial__graph mb-m",
            labels: "chart__radial__labels pl-m md-pl0",
            labelItem: "chart__radial__label mb-xxs"
        });
        $.chartRadial.render([
            {
                title: "настольные ПК",
                value: 0
            },
            {
                title: "мобильные телефоны",
                value: 0
            },
            {
                title: "планшеты",
                value: 0
            }
        ]);
    });

    $.show = function(id, callback){
        if (!id || $.active) return;

        $.active = true;

        $.update({
            isEmpty: false,
            item: $store.data.select({"_id": id})
        })

        _.onEndTransition($.wrapper, function(){
            if ($account.get('plan') == 'premium'){
                $store.visits.request(id).then(function(data){
                    $.render(data);
                },
                function(){
                    $.hide();
                });
            }
            else {
                $.render($.default());
                $.offer.show();
            }
        });

        $.callback = callback;
    };

    $.open = {
        changeResume: function(e){
            $DropMenu.show({
                id: $.item.get("_id"),
                elem: $$(e.currentTarget),
                pos: "down-right",
                offset: {
                    top: 20,
                    left: -80
                },
                isSelect: true,
                menu: $store.data.getItemsMenu(),
                callback: function(id){
                    $.update({
                        item: $store.data.select({"_id": id})
                    })
                    $store.visits.request(id).then(function(data){
                        $.render(data);
                    });
                }
            });
        }
    };

    $.render = function(data){
        if (!data){
            data = $.default();
            $.update({
                all: null,
                isEmpty: true
            })
        }
        else {
            $.update({
                all: data.all,
                isEmpty: false
            })
        }

        if (data.visits.counts.length == 1){
            data.visits.labels.unshift("");
            data.visits.counts.unshift(0);
            data.visits.hits.unshift(0);
        }

        $.chart = new Chartist.Line($.chartEl,
            {
                labels: data.visits.labels,
                series: [data.visits.hits, data.visits.counts]
            },
            {
                showArea: true,
                showLine: true,
                showPoint: false,
                fullWidth: true,
                low: 0,
                axisY: {
                    showLabel: true,
                    showGrid: true,
                    onlyInteger: true
                },
                axisX: {
                    showLabel: true,
                    showGrid: false
                }
            }
        );

        $.chart.on('draw', function(data){
            if (data.type === 'line' || data.type === 'area'){
                data.element.animate({
                    d: {
                        begin: data.index == 0 ? 500 : 750 * data.index,
                        dur: 2000,
                        from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                        to: data.path.clone().stringify(),
                        easing: Chartist.Svg.Easing.easeOutQuint
                    }
                });
            }
        });

        $.chartRadial.render([data.devices.desktop, data.devices.phone, data.devices.tablet]);
    };

    $.close = function(){
        $.hide();
    };

    $.hide = function(){
        $.update({
            active: false
        });
        if (_.isFunction($.callback)) $.callback();

        _.onEndTransition($.wrapper, function(){
            $.chart.svg._node.parentNode.removeChild($.chart.svg._node);
        });
    };

</script>

</resume-stat>
