<resume-stat class="resume__stat" data-open="{ active }">

    <div class="resume__stat__wrapper" name="wrapper">

        <div onClick={ close } onUpdate="none" class="button__close"></div>

        <div class="resume__stat__header container">
            <div class="row">
                <div class="col-md-18 col-lg-19">
                    <div onClick={ open.changeResume } onUpdate="none" class="resume__stat__title">
                        <div class="resume__stat__title__value">{ $store.data.get(0).post }</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 text-left pt-xs pl-l md-pl-m">
                    <div class="btn-group">
                        <button class="btn btn-s btn-upper btn-primary">2 недели</button>
                        <button class="btn btn-s btn-upper btn-primary-hover">месяц</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="resume__stat__content container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="resume__stat__photo" style="background-image:url({ item.get('photo') })"></div>
                    <div class="chart__radial trY-l" name="chartRadialEl"></div>
                </div>
                <div class="col-md-18">
                    <div class="resume__stat__chart" name="chart"></div>
                </div>
            </div>
        </div>

        <resume-stat-offer></resume-stat-offer>

    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.offer = $.tags["resume-stat-offer"];

    $.on("mount", function(){
        $scope.on('swipeUp', function(){
            $.hide();
        });
        $.chartRadial = new app.plugins.chartRadial($.chartRadialEl, {
            container: "chart__radial__graph mb-m",
            labels: "chart__radial__labels pl-m md-pl0",
            labelItem: "chart__radial__label mb-xxs"
        });
        $.chartRadial.render([
            {
                title: "настольные ПК",
                value: _.random(5, 87)
            },
            {
                title: "планшеты",
                value: _.random(5, 87)
            },
            {
                title: "мобильные телефоны",
                value: _.random(5, 87)
            }
        ]);
        // $afterlag.m(function(){
        //     $.show("58a2297fb6489dcd76c463f2");
        // })
    });

    $.init = function(){

        var chart = new Chartist.Line($.chart,
            {
                labels: ["26 сен", "27 сен", "28 сен", "29 сен", "30 сен", "1 окт", "2 окт", "26 сен", "27 сен", "28 сен", "29 сен", "30 сен", "1 окт", "2 окт"],
                series: [
                    [5, 9, 7, 8, 5, 3, 5, 4, 5, 9, 7, 8, 5, 3, 5, 4, 5, 9, 7, 8, 5, 3, 5, 4]
                ]
            },
            {
                showArea: true,
                showLine: true,
                showPoint: true,
                fullWidth: true,
                axisY: {
                    showLabel: true,
                    showGrid: true,
                    onlyInteger: true
                },
                axisX: {
                    showLabel: true,
                    showGrid: false
                }
            }
        );

        chart.on('draw', function(data){
            if (data.type === 'line' || data.type === 'area'){
                data.element.animate({
                    d: {
                        begin: 2000 * data.index,
                        dur: 2000,
                        from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                        to: data.path.clone().stringify(),
                        easing: Chartist.Svg.Easing.easeOutQuint
                    }
                });
            }
        });

        $.chartRadial.render([_.random(5, 87), _.random(5, 87), _.random(5, 87)]);
    };

    $.show = function(id, callback){
        if (!id || $.active) return;

        $.active = true;

        $.update({
            item: $store.data.select({"_id": id})
        })

        _.onEndTransition($.wrapper, function(){
            $.init();
            if ($account.get('plan') != 'premium'){
                $.offer.show();
            }
        });

        $.callback = callback;
    };

    $.open = {
        changeResume: function(e){
            $DropMenu.show({
                id: "1",
                elem: $$(e.currentTarget),
                pos: "down-right",
                offset: {
                    left: -20
                },
                isSelect: true,
                menu: [
                    {
                        _id: "1",
                        title: "Web-Designer, Art-director, Illustrator"
                    },
                    {
                        _id: "2",
                        title: "Менеджер по продажам"
                    }
                ],
                callback: function(id){
                    console.dir(id);
                }
            });
        }
    };

    $.close = function(){
        $.hide();
    };

    $.hide = function(){
        $.update({
            active: false,
            animate: false
        });
        if (_.isFunction($.callback)) $.callback();
    };

</script>

</resume-stat>
