<resume-stat-offer class="oScreen { showAnim : active } zIndex-5" data-open="{ active }">

    <div onClick={ close } onUpdate="none" class="button__close" data-color="white"></div>

    <div class="pos-centered { w100p : app.device.isPhone }">
        <div class="container pt-xl xs-pt0">
            <div class="row mb-l xs-mb0">
                <div class="{ app.device.isPhone ? 'fontSize-38 fontWeight-8' : 'h1' } c-white anim anim-scale mb-xl xs-mb-xs xs-plr-m">Хотите просматривать статистику?</div>
                <div class="pt-xs anim anim-scale anim-delay-{ app.device.isPhone ? 'xs' : 'm' }">
                    <button onClick={ open.plan } onUpdate="none" class="btn btn-xxl { app.device.isPhone ? 'btn-success btn-shadow-strong' : 'btn-white-hover' }">Да, хочу</button>
                </div>
            </div>
            <div class="hidden-xs row pt-m mb-l">
                <div class="col-md-12">
                    <div class="plr-xl">
                        <h3 class="c-yellow pl-xl anim anim-scale anim-delay-xs">Получать обратную связь от потенциальных работадателей и многое другое</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="plr-xl">
                        <h3 class="c-lime pr-xl anim anim-scale anim-delay-s">Наблюдать сколько работадателей просмотрели ваше резюме</h3>
                    </div>
                </div>
            </div>
            <div class="hidden-xs row">
                <div class="anim anim-scale anim-delay-l">
                    <p class="c-white fontSize-20 opacity-60">Для просмотра статистики вам нужен <strong>Premium</strong> аккаунт</p>
                </div>
            </div>
        </div>
    </div>

    <div class="visible-xs w100p pos-centered-h b-m plr-m c-white fontSize-20 opacity-80">
        <div class="anim anim-bt-ease anim-delay-m">
            Для просмотра статистики вам нужен <strong class="c-lime text-uppercase">Premium</strong> аккаунт
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.on("mount", function(){
        if (app.device.isMobile){
            $scope.on("swipeDown", function(){
                $.close();
            });
        }
    });    

    $.show = function(){
        $afterlag.run(function(){
            $.update({
                active: true
            })
        });
        app.metrika.set("offers.stat.show", true);
    };

    $.close = function(){
        $.hide();
        app.metrika.set("offers.stat.hide", true);
    };

    $.hide = function(){
        $.parent.hide(function(){
            $.update({
                active: false
            })
        })
    };

    $.open = {
        plan: function(){
            $.hide();
            $Sections.plan.show("premium");
            app.metrika.set("offers.stat.success", true);
        }
    };

</script>

</resume-stat-offer>
