<section-payment class="oScreen zIndex-3 { showAnim : active }" data-color="dark" data-open={ active }>

    <div onClick={ hide } onUpdate="none" class="anim anim-rl" data-duration="l" delay-show="m">
        <div class="button__close opacity-50" data-color="white"></div>
    </div>

    <div class="pos-centered">
        <div class="container">
            <div class="row">
                <div class="col-md-22 centered">
                    <div class="payment anim anim-scale-ease" duration-show="s" duration-hide="xs" delay-show="xs">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="payment__list">
                                    <div class="payment__list__title">Выберите способ оплаты</div>
                                    <div onClick={ change.method } class="payment__list__item" data-active={ method == "bankcard" } data-item="bankcard">
                                        <div class="payment__list__item__title">Банковcкой картой</div>
                                        <div class="payment__list__item__text">Оплата всеми пластиковыми картами Visa и MasterCard.</div>
                                    </div>
                                    <div onClick={ change.method } class="payment__list__item" data-active={ method == "yamoney" } data-item="yamoney">
                                        <div class="payment__list__item__title">Яндекс.Деньги</div>
                                        <div class="payment__list__item__text">Оплатить электронными деньгами платежной системы яндекс денег.</div>
                                    </div>
                                    <div onClick={ change.method } class="payment__list__item" data-active={ method == "mobile" } data-item="mobile">
                                        <div class="payment__list__item__title">Со счета мобильного</div>
                                        <div class="payment__list__item__text">Оплатить со счета мобильного телефона сотовых операторов: Мегафон, МТС, Билайн, Tele2.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="payment__content">
                                    <div if={ $account.get('plan') != 'premium' } class="payment__info">
                                        <div class="payment__info__text">После пополнения баланса ваш аккаунт перейдет в статус <strong>PREMIUM</strong></div>
                                    </div>
                                    <div class="payment__icon" data-icon={ method }></div>
                                    <div class="payment__count">
                                        <div class="payment__count__sale" data-balloon="Ваша экономия" data-balloon-pos="up" data-balloon-color="yellow" data-balloon="Ваша экономия" data-balloon-font="futuraBold">{ _.findWhere(items, {'period': period}).sale }</div>
                                        { _.numberFormat(_.findWhere(items, {'period': period}).price, 0, ",", ",") } <span class="payment__count__rub">₽</span>
                                    </div>
                                    <div class="payment__period">
                                        <div class="payment__period__title">Выберите период оплаты</div>
                                        <div class="btn-group">
                                            <div onClick={ change.period } each={ item in items } no-reorder class="btn btn-m btn-{ parent.period == item.period ? 'success' : 'white-hover' }">{ item.title }</div>
                                        </div>
                                    </div>
                                    <a href="http://yandex.ru" onClick={ onPay } onUpdate="none" class="btn btn-xl2 btn-white-hover">Пополнить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.active = false;
    $.method = "bankcard";
    $.period = "month1";

    $.items = [
        {
            period: "month1",
            title: "1 месяц",
            price: "369"
        },
        {
            period: "month3",
            title: "3 месяца",
            price: "869",
            sale: "-20%"
        },
        {
            period: "month6",
            title: "6 месяцев",
            price: "1369",
            sale: "-40%"
        },
        {
            period: "year1",
            title: "на 1 год",
            price: "1769",
            sale: "-60%"
        },
        {
            period: "year2",
            title: "на 2 года",
            price: "3569",
            sale: "-60%"
        }
    ];

    $.show = function(period){
        if (period && period != $.period){
            $.period = period;
        }
        $.update({
            active: true
        })
        app.metrika.set("payment.show", true);
    };

    $.change = {
        method: function(e){
            $.method = e.currentTarget.getAttribute("data-item");
            app.metrika.set("payment.method", $.method);
        },
        period: function(){
            $.period = this.item.period;
            app.metrika.set("payment.period", $.period);
        }
    };

    $.onPay = function(){
        app.metrika.set("payment.success", true);
        return true;
    };

    $.hide = function(){
        $.update({
            active: false
        })
        app.metrika.set("payment.hide", true);
    };

</script>

</section-payment>
