<section-payment class="oScreen zIndex-3 { showAnim : active }" data-color="dark" data-open={ active }>

    <div onClick={ hide } onUpdate="none" class="anim anim-rl" data-duration="l" delay-show="m">
        <div class="button__close opacity-50" data-color="white"></div>
    </div>

    <div class="pos-centered">
        <div class="container">
            <div class="row">
                <div class="col-md-22 centered">
                    <div class="payment anim anim-scale-ease" duration-show="s" duration-hide="xs" delay-show="xs">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="payment__list">
                                    <div class="payment__list__title">Выберите способ оплаты</div>
                                    <div onClick={ change.method } each={ item in $store.paymentMethod.get() } no-reorder class="payment__list__item" data-active={ parent.method == item.method }>
                                        <div class="payment__list__item__title">{ item.title }</div>
                                        <div class="payment__list__item__text">{ item.text }</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="payment__content">
                                    <div if={ $account.get('plan') != 'premium' } class="payment__info">
                                        <div class="payment__info__text">После пополнения баланса ваш аккаунт перейдет в статус <strong>PREMIUM</strong></div>
                                    </div>
                                    <div class="payment__icon" data-icon={ method }></div>
                                    <div class="payment__count">
                                        <div class="payment__count__sale" data-balloon="Ваша экономия" data-balloon-pos="up" data-balloon-color="yellow" data-balloon="Ваша экономия" data-balloon-font="futuraBold">{ $store.paymentPeriod.getSaleByPeriod(period) }</div>
                                        { _.numberFormat($store.paymentPeriod.getPriceByPeriod(period), 0, ",", ",") } <span class="payment__count__rub">₽</span>
                                    </div>
                                    <div class="payment__period">
                                        <div class="payment__period__title">Выберите период оплаты</div>
                                        <div class="btn-group">
                                            <div onClick={ change.period } each={ item in $store.paymentPeriod.get() } no-reorder class="btn btn-m btn-{ parent.period == item.period ? 'success' : 'white-hover' }">{ item.title }</div>
                                        </div>
                                    </div>
                                    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                                        <input type="hidden" name="receiver" value="{ app.config.payment.yamoney }">
                                        <input type="hidden" name="formcomment" value="{ get.comment() }">
                                        <input type="hidden" name="short-dest" value="{ get.comment() }">
                                        <input type="hidden" name="label" value="{ $account.get('_id') }">
                                        <input type="hidden" name="quickpay-form" value="shop">
                                        <input type="hidden" name="targets" value="Пополнение баланса">
                                        <input type="hidden" name="sum" value="{ $store.paymentPeriod.getPriceByPeriod(period) }" data-type="number">
                                        <input type="hidden" name="need-fio" value="false">
                                        <input type="hidden" name="need-email" value="false">
                                        <input type="hidden" name="need-phone" value="false">
                                        <input type="hidden" name="need-address" value="false">
                                    	<input type="hidden" name="paymentType" value="{ $store.paymentMethod.getValueByMethod(method) }">
                                        <button type="submit" href="http://yandex.ru" onClick={ success } onUpdate="none" class="btn btn-xl2 btn-white-hover">Пополнить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.active = false;
    $.method = "bankcard";
    $.period = "month1";

    $.show = function(period){
        if (period && period != $.period){
            $.period = period;
        }
        $.update({
            active: true
        })
        app.metrika.set("payment.show", true);
    };

    $.change = {
        method: function(e){
            $.method = this.item.method;
            app.metrika.set("payment.method", $.method);
        },
        period: function(){
            $.period = this.item.period;
            app.metrika.set("payment.period", $.period);
        }
    };

    $.get = {
        comment: function(){
            return 'ResumeKraft: пополнение баланса ' + $store.paymentPeriod.getTitleByPeriod($.period);
        }
    };

    $.success = function(){
        app.metrika.set("payment.success", true, {
            force: true
        });
        return true;
    };

    $.hide = function(){
        $.update({
            active: false
        })
        app.metrika.set("payment.hide", true);
    };

</script>

</section-payment>
