<offer-jqtest class="section section-hidden pos-bl w100p cursor-pointer zIndex-2 ptb-m overflow-hidden" data-pos="bottom" data-short={ !app.device.isPhone } data-slow={ app.device.isPhone } data-shadow="true" data-open={ active }>

    <div onClick={ hide } onUpdate="none" class="button__close small" data-color="white"></div>

    <video if={ showVideo } class="{ app.device.isPhone ? 'pos-tl w300v' : 'pos-abs-full h-auto' }" autoplay loop muted>
        <source src="/assets/video/jqtest.mp4" type="video/mp4"/>
    </video>

    <div class="pos-abs-full bg-overlay"></div>

    <div class="pos-rel
    c-white
    fontSize-34
    { lineHeight-xxxl : app.device.isPhone }
    fontWeight-bold
    text-center
    p-l
    xs-pt-m
    xs-mt-xs">
        Пройти новейший&nbsp; <span class="c-lime fontSize-38">JQ-тест<sup>2</sup></span> и узнать многое о своих возможностях
    </div>

    <div class="pos-centered-h b-m">
        <div class="arrow-pointer arrow-pointer-down" data-color="white"></div>
    </div>

<script>

    var $ = this;

    $.active = false;
    $.showVideo = false;

    // $.on("mount", function(){
    //     $afterlag.xl(function(){
    //         $.show();
    //     });
    // });

    $.show = function(){
        $.update({
            showVideo: true
        });
        $afterlag.xl(function(){
            $.update({
                active: true
            })
        });
    };

    $.hide = function(){
        $.update({
            active: false
        })
        _.onEndTransition($.root, function(){
            $.update({
                showVideo: false
            })
        });
    };

</script>

</offer-jqtest>
