<offer-jptest class="section section-hidden pos-bl w100p cursor-pointer zIndex-2 pt-xs pb-m overflow-hidden" data-pos="bottom" data-short={ !app.device.isPhone } data-slow={ app.device.isPhone } data-shadow="true" data-open={ active }>

    <div onClick={ close } onUpdate="none" class="button__close small" data-color="white"></div>

    <video if={ showVideo } class="{ app.device.isPhone ? 'pos-tl w300v' : 'pos-abs-full h-auto' }" autoplay loop muted>
        <source src="/assets/video/jptest.mp4" type="video/mp4"/>
    </video>

    <div class="pos-abs-full bg-overlay"></div>

    <div class="pos-abs t-m l-30 fontSize-15 letterSpacing-xxxxl c-white opacity-70 text-uppercase">Бесплатно</div>

    <div onClick={ open.jptest } onUpdate="none" class="pos-rel
    centered
    col-lg-16
    col-md-24
    c-white
    fontSize-34
    { lineHeight-xxxl : app.device.isPhone }
    fontWeight-bold
    text-center
    cursor-pointer
    ptb-l
    xs-pt-m
    xs-mt-xs">
        Пройти новейший&nbsp; <span class="c-lime fontSize-38">JP-тест<sup>2</sup></span>, подробнее узнать о своих профессиональных качествах и получить рекомендации
    </div>

    <div class="pos-centered-h b-m">
        <div class="arrow-pointer arrow-pointer-down" data-color="white"></div>
    </div>

<script>

    var $ = this;

    $.active = false;
    $.showVideo = false;

    // $.on("mount", function(){
    //     $afterlag.xl(function(){
    //         $.show();
    //     });
    // });

    $.show = function(){
        $.update({
            showVideo: true
        });
        $afterlag.xl(function(){
            $.update({
                active: true
            })
            app.metrika.set("offers.jptest.show", true);
        });
    };

    $.open = {
        jptest: function(){
            $.hide();
            $Sections.jptest.section.show();
            app.metrika.set("offers.jptest.success", true);
        }
    };

    $.close = function(){
        $.hide();
        app.metrika.set("offers.jptest.hide", true);
    };

    $.hide = function(){
        $.update({
            active: false
        })
        _.onEndTransition($.root, function(){
            $.update({
                showVideo: false
            })
        });
    };

</script>

</offer-jptest>
