<offer-premium-content class="{ opts.site ? 'pos-abs-full overflow-hidden' : 'section__inner' } offer__premium__slider" data-show={ true : slide }>

    <div class="offer__premium__slider__item" data-active={ slide == "1" } data-slide="start">
        <div class="offer__premium__slider__text">
            <div class="offer__premium__slider__text__title">Ваше резюме <span class="larger">еще заметней</span> и привлекательней, поможет продвинуть вас</div>
        </div>
        <div class="offer__premium__slider__images">
            <div class="offer__premium__slider__images__item" data-image="notebook-mac">
                <div class="offer__premium__slider__image offer__premium__slider__images__notebook__mac progressive-image"></div>
            </div>
            <div class="offer__premium__slider__images__item" data-image="macbook">
                <div class="offer__premium__slider__image offer__premium__slider__images__macbook progressive-image"></div>
            </div>
        </div>
    </div>

    <div class="offer__premium__slider__item" data-active={ slide == "2" } data-slide="mobile">
        <div class="offer__premium__slider__text">
            <div class="offer__premium__slider__text__title"><span class="larger">100%</span> мобильность, ваши работодатели будут приятно удивлены</div>
        </div>
        <div class="offer__premium__slider__images">
            <div class="offer__premium__slider__images__item" data-image="iphones">
                <div class="offer__premium__slider__image offer__premium__slider__images__iphones progressive-image"></div>
            </div>
            <div class="offer__premium__slider__images__item" data-image="phone-samsung">
                <div class="offer__premium__slider__image offer__premium__slider__images__phone__samsung progressive-image"></div>
            </div>
        </div>
    </div>

    <div class="offer__premium__slider__item" data-active={ slide == "3" } data-slide="skills">
        <div class="offer__premium__slider__text">
            <div class="offer__premium__slider__text__title"><span class="larger">Расскажите о</span> своих навыках, наглядно показав свои компетенции</div>
        </div>
        <div class="offer__premium__slider__images">
            <div class="offer__premium__slider__images__item" data-image="ipad">
                <div class="offer__premium__slider__image offer__premium__slider__images__ipad progressive-image"></div>
            </div>
            <div class="offer__premium__slider__images__item" data-image="iphone">
                <div class="offer__premium__slider__image offer__premium__slider__images__iphone progressive-image"></div>
            </div>
        </div>
    </div>

    <div class="offer__premium__slider__item" data-active={ slide == "4" } data-slide="projects">
        <div class="offer__premium__slider__text">
            <div class="offer__premium__slider__text__title">Есть собственные <span class="larger">проекты?</span> Расскажите о них, прикрепив фото и видео материалы</div>
        </div>
        <div class="offer__premium__slider__images">
            <div class="offer__premium__slider__images__item" data-image="macbook">
                <div class="offer__premium__slider__image offer__premium__slider__images__macbook progressive-image"></div>
            </div>
            <div class="offer__premium__slider__images__item" data-image="iphone">
                <div class="offer__premium__slider__image offer__premium__slider__images__iphone progressive-image"></div>
            </div>
        </div>
    </div>

    <div class="offer__premium__slider__item" data-active={ slide == "5" } data-slide="inbox">
        <div class="offer__premium__slider__text">
            <div class="offer__premium__slider__text__title"><span class="larger">Получайте</span> приглашения и отклики, оценивайте эффективность резюме</div>
        </div>
        <div class="offer__premium__slider__images">
            <div class="offer__premium__slider__images__item" data-image="devices">
                <div class="offer__premium__slider__image offer__premium__slider__images__devices progressive-image"></div>
            </div>
            <div class="offer__premium__slider__images__item" data-image="iphone">
                <div class="offer__premium__slider__image offer__premium__slider__images__iphone progressive-image"></div>
            </div>
        </div>
    </div>

    <div class="offer__premium__slider__item" data-active={ slide == "6" } data-slide="salary">
        <div class="offer__premium__slider__text">
            <div class="offer__premium__slider__text__title"><span class="larger">Выстраивайте</span> желаемый график заработной платы на ближайшие 2 года</div>
        </div>
        <div class="offer__premium__slider__images">
            <div class="offer__premium__slider__images__item" data-image="ipad">
                <div class="offer__premium__slider__image offer__premium__slider__images__ipad progressive-image"></div>
            </div>
            <div class="offer__premium__slider__images__item" data-image="phone-samsung">
                <div class="offer__premium__slider__image offer__premium__slider__images__phone__samsung progressive-image"></div>
            </div>
        </div>
    </div>

    <div class="offer__premium__slider__item" data-active={ slide == "7" } data-slide="likes-hobby">
        <div class="offer__premium__slider__text">
            <div class="offer__premium__slider__text__title"><span class="larger">Собирайте</span> лайки на ваши резюме и делитесь своими <span class="larger">хобби</span></div>
        </div>
        <div class="offer__premium__slider__images">
            <div class="offer__premium__slider__images__item" data-image="iphones">
                <div class="offer__premium__slider__image offer__premium__slider__images__iphones progressive-image">
                    <div class="offer__premium__slider__likes__cover">
                        <div class="offer__premium__slider__likes__cover__photo" style="background-image:url('/preview/images/photo/photo_phone_large.jpg')"></div>
                        <div class="offer__premium__slider__likes__cover__badge">21</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offer__premium__slider__item" data-active={ slide == "8" } data-slide="control">
        <div class="offer__premium__slider__text">
            <div class="offer__premium__slider__text__title"><span class="larger">Создавайте</span> и управляйте своими резюме с любых доступных устройств</div>
        </div>
        <div class="offer__premium__slider__images">
            <div class="offer__premium__slider__images__item" data-image="imac">
                <div class="offer__premium__slider__image offer__premium__slider__images__imac progressive-image"></div>
            </div>
            <div class="offer__premium__slider__images__item" data-image="macbook">
                <div class="offer__premium__slider__image offer__premium__slider__images__macbook progressive-image"></div>
            </div>
            <div class="offer__premium__slider__images__item" data-image="iphone">
                <div class="offer__premium__slider__image offer__premium__slider__images__iphone progressive-image"></div>
            </div>
        </div>
    </div>

    <div class="offer__premium__slider__item { showAnim : finish }" data-active={ finish } data-slide="finish">
        <div name="finishSlideAnim" ref="finishSlideAnim" class="offer__premium__slider__text" data-finish="true">
            <div class="offer__premium__slider__text__title">

                <div >Создайте <span class="larger">продающее</span> резюме</div>
                <div class="offer__premium__slider__text__subtitle">Станьте лучшим кандидатом и найдите работу своей мечты</div>
                <a if={ opts.site } href="/premium/" class="btn btn-xl btn-upper mt-m">Узнать больше о продукте</a>
                <div if={ !opts.site } onClick={ onSuccess } onUpdate="none" class="btn btn-xl btn-upper mt-m">Перейти на Premium</div>

                <div onClick={ onRepeat } class="offer__premium__slider__repeat">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <path class="fill-brown" d="M 39.78125 5.96875 A 2.0002 2.0002 0 0 0 38 8 L 38 12.5625 C 34.722701 9.1373523 30.10346 7 25 7 C 15.082241 7 7 15.082241 7 25 A 2.0002 2.0002 0 1 0 11 25 C 11 17.243759 17.243759 11 25 11 C 28.816123 11 32.256876 12.535728 34.78125 15 L 31 15 A 2.0002 2.0002 0 1 0 31 19 L 40 19 L 42 19 L 42 17 L 42 8 A 2.0002 2.0002 0 0 0 39.96875 5.96875 A 2.0002 2.0002 0 0 0 39.78125 5.96875 z M 40.78125 22.96875 A 2.0002 2.0002 0 0 0 39 25 C 39 32.757363 32.756392 39 25 39 C 21.184399 39 17.742551 37.46305 15.21875 35 L 19 35 A 2.0002 2.0002 0 1 0 19 31 L 10 31 L 8 31 L 8 33 L 8 42 A 2.0002 2.0002 0 1 0 12 42 L 12 37.4375 C 15.276425 40.860887 19.895994 43 25 43 C 34.917608 43 43 34.918637 43 25 A 2.0002 2.0002 0 0 0 40.96875 22.96875 A 2.0002 2.0002 0 0 0 40.78125 22.96875 z"></path>
                    </svg>Повторить
                </div>
            </div>
        </div>
        <div class="offer__premium__slider__images">
            <div class="offer__premium__slider__images__item" data-image="macbook-left">
                <div class="offer__premium__slider__image offer__premium__slider__images__macbook__left progressive-image"></div>
            </div>
            <div class="offer__premium__slider__images__item" data-image="macbook-right">
                <div class="offer__premium__slider__image offer__premium__slider__images__macbook__right progressive-image"></div>
            </div>
        </div>
        <div class="row premium-devices-icons">
            <div class="col-sm-8 anim anim-lr" data-delta="s" delay-show="l">
                <icon-device-phones color="brown" size="l"></icon-device-phones>
            </div>
            <div class="col-sm-8 anim anim-scale" data-delta="s" delay-show="m" delay-hide="s">
                <icon-device-desktop color="brown" size="l"></icon-device-desktop>
            </div>
            <div class="col-sm-8 anim anim-bt" data-delta="s" delay-show="xl" delay-hide="xs">
                <icon-device-tablet color="brown" size="l"></icon-device-tablet>
            </div>
        </div>
    </div>

    <div class="offer__premium__slider__progress" data-active={ slide && slide < slides.length + 1 }>
        <div class="offer__premium__slider__progress__line"></div>
        <div class="offer__premium__slider__progress__white"></div>
    </div>

    <div class="offer__premium__slider__pigination" data-active={ slide && slide < slides.length + 1 }>
        <div onClick={ change } each={ item, i in slides } class="offer__premium__slider__pigination__item { 'offer__premium__slider__pigination__item--active' : slide == i + 1 }">
            <svg width="24" height="24" viewPort="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="10.75" cx="12" cy="12" fill="transparent" stroke-dasharray="67.54424205218055" stroke-dashoffset="67.54424205218055"></circle>
            </svg>
        </div>
    </div>

    <div class="offer__premium__slider__logotype"></div>

<script>

    var $ = this;

    $.el = $$($.root);

    $.slides = _.range(8);

    $.on("mount", function(){
        $.finishSlideAnim = $.refs ? $.refs.finishSlideAnim : $.finishSlideAnim;

        $.progress = $.el.find(".offer__premium__slider__progress__white");
        $.pigination = $.el.find(".offer__premium__slider__pigination");

        if ($.opts.site){
            var imagesLoaded = new app.plugins.imagesLoaded();

            imagesLoaded.load({
                timeout: 5000
            });

            $afterlag.run(function(){
                $.update({
                    slide: 1
                })
                $.onSlide();
            });
        }
    });

    $.change = function(){
        var _this = this,
            slide = this.i + 1;

        $.trigger("slide", slide);

        if ($.opts.site){
            $.slide = slide;
            setTimeout(function(){
                $.onSlide();
            }, 5);
        }
        else {
            $afterlag.xs(function(){
                $.update({
                    slide: slide
                })
                setTimeout(function(){
                    $.onSlide();
                }, 5);
            });
        }
    };

    $.onRepeat = function(){
        $.finish = false;
        $.slide = null;
        $.trigger("slide", 1);
        _.onEndTransition($.finishSlideAnim, function(){
            $.update({
                slide: 1
            })
            setTimeout(function(){
                $.onSlide();
            }, 5);
        });
    };

    $.onSuccess = function(){
        $.trigger("success");
    };

    $.onReset = function(){
        _.caf($.raf);
        $.counter(0);
        clearInterval($.counterTimer);
    };

    $.onSlide = function(){
        if ($.circle) $.onReset();

        var callback = function(){
            $.slide++;
            $.trigger("slide", $.slide);
            if ($.slides.length < $.slide){
                $.finish = true;
            }
            if ($.opts.site){
                $.update();
                if (!$.finish) $.onSlide();
            }
            else {
                $afterlag.run(function(){
                    $.update();
                    if (!$.finish) $.onSlide();
                });
            }
	    };

        $.circle = $.pigination.find(".offer__premium__slider__pigination__item--active").find("circle");

        var timer = 0;

        $.counterTimer = setInterval(function(){
            (function _counter(){
                $.raf = _.raf(_counter);
            })();
            $.counter(timer, callback);
            timer++;
        }, 75);
    };

    $.counter = function(value, callback){
        var r = $.circle.attr('r');
        var c = Math.PI * (r * 2);

        if (value < 0) {value = 0;}
        if (value > 100) {value = 100;}

        var pct = ((100 - value) / 100) * c;

        $.circle.css({strokeDashoffset: pct});
        $.progress.css({"transform": "translate3d(" + value + "%, 0, 0)"});

        if (value === 100){
            _.caf($.raf);
            clearInterval($.counterTimer);
            $.circle.css({strokeDashoffset: $.circle.attr("stroke-dasharray")});
            if (callback && typeof callback === "function") callback();
        }
    };

</script>

</offer-premium-content>
