<offer-premium class="oScreen section zIndex-2" data-open="false" data-show="right" data-loading="false" data-inner="hidden">

    <div class="oScreen__buttons" data-pos="top-right">
        <div onClick={ hide } onUpdate="none" class="button__close" data-color="gray"></div>
    </div>

    <div name="content" class="oScreen__content overflow-hidden bg-white">

        <div class="section__loading"></div>

        <offer-premium-content></offer-premium-content>

    </div>

<script>

    var $ = this;

    $.el = $$($.root);

    $.on("before-mount", function(){
        $.slider = $.tags["offer-premium-content"];
    });

    $.on("mount", function(){
        $.section = new app.plugins.sections($.root, {
            content: $.content
        });
        $.el.on('swipeRight', function(){
            $.hide();
        });
        // $afterlag.run(function(){
        //     $.show();
        // });
    });

    $.show = function(callback){
        $.section.show({
            // forceShow: true,
            beforeShow: function(){
                $.callback = callback;
            },
            afterShow: function(){
                $.slider.update({
                    slide: 1
                })
                $afterlag.run(function(){
                    $.slider.onSlide();
                }, {
                    iterations: 3
                })
                $.slider.one("success", function(){
                    $.hide();
                });
            }
        });
    };

    $.hide = function(){
        $.section.hide({
            beforeHide: function(){
                $.slider.onReset();
                $.slider.off("success");
                if (_.isFunction($.callback)) $.callback();
            },
            afterHide: function(){
                $.slider.update({
                    slide: null,
                    finish: false
                })
            }
        })
    };

</script>

</offer-premium>
