<offer-welcome class="oScreen zIndex-3 { showAnim : animate }" data-color="blue" data-open={ active }>

    <div class="pos-centered">
        <div class="container">
            <div class="row">
                <div class="col-md-22 centered c-white anim anim-scale-ease" duration-hide="s">
                    <h1 class="mb-m">Мы приветствуем Вас в своем кабинете</h1>
                    <h3 class="fontWeight-normal mb-l">Предлагаем пройти быстрый обзор главного функционала интерфейса</h3>
                    <div class="opacity-70 fontSize-15 letterSpacing-5-5 text-uppercase mb-l">Это займет менее 2 минут</div>
                    <div onClick={ showTutorial } class="btn btn-xxl btn-white-hover mlr-xs">Начать</div>
                    <div onClick={ close } class="btn btn-xxl btn-white-hover mlr-xs">Не нужно</div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.show = function(){
        $afterlag.run(function(){
            $Sections.profile.section.section.show({
                forceShow: true,
                beforeShow: function(){
                    $.active = true;
                    $Sections.resume.list.update({
                        hidden: true
                    });
                }
            })
        });

        $.update({
            active: true
        });
        $afterlag.xs(function(){
            $.update({
                animate: true
            })
        });

        app.metrika.set("offers.welcome.show", true);
    };

    $.showTutorial = function(){
        $.hide();

        $afterlag.s(function(){
            $Tutorial.show($rootScope, "welcome", {
                keyboard: false
            });

            $Tutorial.one("close", function(){
                $Tutorial.off("success");
                app.metrika.set("offers.welcome.tutorial.hide", true);
            });
            $Tutorial.one("success", function(){
                $Tutorial.off("close");
                app.metrika.set("offers.welcome.tutorial.success", true);
            });
            $Tutorial.one("hideAfterAnimate", function(){
                $.hideTutorial();
            });

            app.metrika.set("offers.welcome.tutorial.show", true);
            app.metrika.set("offers.welcome.success", true);
        });
    };

    $.close = function(){
        $.hide();
        $.hideTutorial();
        app.metrika.set("offers.welcome.hide", true);
    };

    $.hide = function(){
        $.active = false;
        $.animate = false;
    };

    $.hideTutorial = function(){
        if ($Sections.resume.list.hidden){
            $Sections.profile.section.hide();
            $afterlag.s(function(){
                $Sections.resume.list.start(function(){
                    $.offerPlan();
                });
                $Sections.resume.list.show();
            });
        }
        else {
            $.offerPlan();
        }
    };

    $.offerPlan = function(){
        if ($account.get("plan") == "free" && (app.metrikaPublic.get("plan.name") == "premium" || $account.get("init", "plan") == "premium")){
            var period = app.metrikaPublic.get("plan.period");
            $Sections.plan.show("premium", period);
        }
    };

</script>

</offer-welcome>
