// @font-face {
// 	font-family:'Myriad';
// 	font-style:normal;
// 	font-weight:100;
// 	src:url("/assets/css/fonts/Myriad/myriad-set-pro_ultralight.woff") format("woff");
// }
@font-face {
	font-family:'Myriad';
	font-style:normal;
	font-weight:200;
	src:url("/assets/css/fonts/Myriad/myriad-set-pro_extrathin.woff") format("woff");
}
@font-face {
	font-family:'Myriad';
	font-style:normal;
	font-weight:300;
	src:url("/assets/css/fonts/Myriad/myriad-set-pro_thin.woff") format("woff");
}
@font-face {
	font-family:'Myriad';
	font-style:normal;
	font-weight:400;
	src:url("/assets/css/fonts/Myriad/myriad-set-pro_text.woff") format("woff");
}
@font-face {
	font-family:'Myriad';
	font-style:normal;
	font-weight:500;
	src:url("/assets/css/fonts/Myriad/myriad-set-pro_semibold.woff") format("woff");
}
@font-face {
	font-family:'Myriad';
	font-style:normal;
	font-weight:700;
	src:url("/assets/css/fonts/Myriad/myriad-set-pro_bold.woff") format("woff");
}
