.badge {
    @extend .pos-abs;
    @extend .b100p;
    @extend .l100p;
    font-size:12px;
    line-height:18px;
    height:18px;
    padding:1px 5px 0;
    @extend .c-white;
    @extend .fontWeight-5;
    @extend .fontFamily-myriad;
    @extend .borderRadius-m;
    @extend .text-uppercase;
    transform:translate3d(-40px, 0, 0);

    &:after {
        @extend .content-empty;
        @extend .pos-abs;
        @extend .t100p;
        @extend .l0;
        @extend .w10;
        @extend .h10;
        transform:rotate(60deg) translate3d(-2px, -10px, 0);
        @extend .zIndex--1;
    }
}
