.btn {
    @include accelerate(true);
    @extend .display-inlineBlock;
    @extend .vAlign-middle;
    @extend .fontFamily-helvetica;
    @extend .fontWeight-normal;
    @extend .userSelect-none;
    @extend .nowrap;
    @extend .outline-none;
    @extend .border-none;
    @extend .cursor-pointer;
    @extend .transition-default;

    &-disabled {
        @extend .pointerEvents-none;
        @extend .opacity-100;
        @extend .bg-snow;
        @extend .c-silver;
        @extend .boxShadowInset-smoke;
        @extend .cursor-default;
    }
    &-loading {
        @extend .bg-snow;
        @extend .c-silver;
        @extend .boxShadowInset-smoke;
        @extend .opacity-100;
        @extend .cursor-default;
        @extend .pointerEvents-none;
    }
    &-loading:before {
        @extend .content-empty;
        @extend .display-inlineBlock;
        @extend .vAlign-middle;
        @extend .borderRadius-circle;
        width:14px;
        height:14px;
        border-style:solid;
        border-width:2px;
        border-right-color:transparent;
        margin:-2px 10px 0 -5px;
        animation:btn-loading-spinner .8s infinite linear;
    }
    @keyframes btn-loading-spinner {
        0% {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(1turn);
        }
    }
    &:not(.btn-disabled, .btn-loading):active {
        transform:translate3d(0, 1px, 0) scale(0.9);
    }
    &-xl {
        min-width:60px;
        height:60px;
        font-size:18px;
        line-height:62px;
        padding:0 35px;
        border-radius:5px;

        .btn-badge {
            top:-8px;
            width:24px;
            height:24px;
            padding-top:2px;
            font-size:16px;
        }
    }
    &-l {
        min-width:50px;
        height:50px;
        font-size:16px;
        line-height:52px;
        padding:0 25px;
        border-radius:5px;

        .btn-badge {
            top:-6px;
            width:22px;
            height:22px;
            padding-top:2px;
            font-size:15px;
        }
    }
    &-m {
        min-width:40px;
        height:40px;
        font-size:15px;
        line-height:42px;
        padding:0 20px;
        border-radius:5px;

        .btn-badge {
            top:-4px;
            width:18px;
            height:18px;
            font-size:14px;
        }
    }
    &-s {
        height:30px;
        font-size:14.5px;
        line-height:32px;
        padding:0 15px;
        @extend .fontFamily-myriad;
        @extend .borderRadius-m;
    }
    &-xs {
        height:21px;
        font-size:14px;
        line-height:21px;
        padding:0 10px;
        @extend .fontFamily-myriad;
        @extend .borderRadius-s;
    }
    &-rounded {
        @extend .borderRadius-xxxxxl;

        &.btn {
            &-xl {
                padding-left:36px;
                padding-right:36px;
                height:62px;
                line-height:62px;
            }
            &-l {
                padding-left:30px;
                padding-right:30px;
                height:53px;
                line-height:55px;
            }
            &-m {
                padding-left:26px;
                padding-right:26px;
                height:45px;
                line-height:45px;
            }
            &-s {
                padding-left:18px;
                padding-right:18px;
                height:32px;
                line-height:34px;
            }
            &-xs {
                padding-left:15px;
                padding-right:15px;
                height:30px;
                line-height:32px;
            }
        }
    }
    &-upper {
        @extend .text-uppercase;
    }
    &-icon {
        padding:0;
        text-align:center;

        &.btn-xl {
            width:62px;
            height:60px;

            .btn-svg {
                width:30px;
                height:30px;
                transform:translateY(1px);

                &-color {
                    @extend .transition-default;
                }
            }
        }
        &.btn-l {
            width:52px;
            height:50px;

            .btn-svg {
                width:24px;
                height:24px;
            }
        }
        &.btn-m {
            width:42px;
            height:40px;

            .btn-svg {
                width:20px;
                height:20px;
            }
        }
        &.btn-s {
            width:32px;
            height:30px;
        }
        .btn-svg {
            margin:0;
        }
    }
    &-svg {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        margin:0 5px 0 -6px;
        transform:translateY(-1px);

        &-color {
            fill:$slate;
            @extend .transition-default;
        }
        .btn-l & {
            width:18px;
            height:18px;
        }
        .btn-xl & {
            width:20px;
            height:20px;
        }
        &.btn-svg-graph,
        &.btn-svg-repeat {
            transform:translateY(-2px);
        }
        &.btn-svg-exit {
            transform:translate3d(-1px, -2px, 0);
        }
    }
    &-badge {
        @extend .flex-centered;
        @extend .pos-abs;
        right:2px;
        @extend .c-white;
        @extend .fontWeight-bold;
        @extend .borderRadius-circle;
        @extend .zIndex-1;
        box-shadow:0 2px 2px rgba(31,35,37,.2);
    }
    &-active {
        @extend .cursor-pointer;
        transition:all 0.15s;

        &:active {
            transform:translate3d(0, 1px, 0) scale(0.85);
        }
    }
    &-hover {
        opacity:0.8;

        &:hover {
            opacity:1;
        }
    }
    &-label {
        @include accelerate();
        @extend .willChange-transform;
        @extend .display-inlineBlock;

        &:hover {
            animation:btn-label-hover .2s $cubic4021;
        }
    }
}
@keyframes btn-label-hover {
    0% {
        transform:translate3d(0, 0, 0);
    }
    1% {
        transform:translate3d(0, 5%, 0);
    }
    to {
        transform:translate3d(0, 0, 0);
    }
}
.btn-group {
    @extend .inline;
    @extend .nowrap;
}
.btn-group > .btn {
    @extend .pos-rel;
}
.btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
        margin-left:-1px;
    }
}
.btn-group > .btn:not(:first-child):not(:last-child) {
    @extend .borderRadius-none;
}
.btn-group {
    margin-left:0;

    &:not(.btn-group-icon) {
        .btn:first-child {
            &:not(:last-child) {
                @extend .borderRadiusRight-none;
            }
        }
        .btn:focus {
            z-index:1;
        }
    }
}
.btn-group > .btn:last-child:not(:first-child) {
    @extend .borderRadiusLeft-none;
}
