<resume-sendmail class="oScreen zIndex-3 c-white" data-show="modal" data-color="blue" data-open={ active } style="display:none">

    <div onClick={ hide } onUpdate="none">
        <div class="button__close opacity-80" data-color="white"></div>
    </div>

    <div name="area" class="oScreen__content">
        <div class="pos-centered { w100p : app.device.isPhone }">
            <div class="container">
                <div class="row">
                    <div name="wrapper" class="col-xs-24 col-sm-14 col-md-12 col-lg-10 centered xs-pb-l">
                        <div name="icon" class="mb30 xs-mb-m transition-m transition-fn-cubic345 { trY-xl : success }">
                            <icon-feedback color="white" size="xl2"></icon-feedback>
                        </div>
                        <div class="anim anim-bt-ease { animated : !success } xs-plr-m">
                            <div class="mb-s fontSize-22">Укажите адрес получения резюме</div>
                            <input onKeydown={ onEnter } name="input" class="pointer-for-input input input-{ app.device.isPhone ? 'l' : 'xl' } input-white input-rounded mb-m text-center" placeholder="Введите e-mail" autocomplete="off">
                            <div class="mb-l text-left-xs xs-pl-l xs-mb-m xs-pb-xxs">
                                <ui-checkbox commit={ onAttach } title="Прикрепить PDF файл к письму" color="white" size="xl" value={ attach }></ui-checkbox>
                            </div>
                            <div onClick={ onSuccess } onUpdate="none" class="btn btn-xl2 c-blue btn-white-hover-success { btn-loading : loading }">Отправить</div>
                        </div>
                        <div class="anim anim-bt-ease fontSize-34 pointerEvents-none { animated : success }">
                            <div class="trY--xl { app.device.isPhone ? 'mt--xl' : 'mt--l' }">Резюме отправлено</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;
    $.attach = false;
    $.input = $$($.input);

    $.show = function(id){
        if ($.active) return;

        $.active = true;

        $.root.style.display = "block";

        $afterlag.run(function(){
            $.update({
                id: id,
                item: $store.data.get({"_id": id})
            })
            if (!app.device.isMobile){
                _.onEndTransition($.area, function(){
                    $.input.focus();
                });
            }
        });
        document.removeEventListener('click', $.handleClickOutside)
    };

    $.onEnter = function(e){
        e.preventUpdate = true;
        if (e.which === KEY.ENTER){
            $.onSuccess();
        }
        return true;
    };

    $.onAttach = function(value){
        $.attach = value;
    };

    $.onSuccess = function(){
        if (!$.id) return;

        if (!_.isEmail($.item.commons.contacts.email)){
            $Alert.show({
                title: 'У вас не указан email в резюме',
                subtitle: 'Действие отменено'
            });
            return;
        }

        if (_.isEmail($.input.val())){
            if ($.attach){
                $store.data.onGetPdf($.item, {
                    skipGetFile: true,
                    callback: function(){
                        $.request();
                    }
                })
            }
            else {
                $.request();
            }
        }
        else {
            $Pointer.show({
                activeZone: true,
                scope: $scope,
                target: ".pointer-for-input",
                position: "up",
                color: "blue",
                text: "Укажите корректный email для отправления",
                padding: 18
            })
        }
    };

    $.request = function(){
        if (!$.id || !$.item || $.loading) return;
        $.update({
            loading: true
        })
        app.request('addResumeSendmail', {
            id: $.id,
            title: $.item.post,
            lang: $.item.lang,
            from: {
                name: $.item.post,
                email: $.item.commons.contacts.email
            },
            to: $.input.val(),
            pdf: $.attach
        })
        .then(function(data){
            if (data == "overlimit"){
                $Notify.show({
                    text: "К сожалению, лимит отправки на сегодня исчерпан",
                    color: "info"
                })
                if ($account.get("plan") == "free"){
                    $Alert.show({
                        title: "Перейдите на премиум аккаунт",
                        subtitle: "Чтобы иметь больше возможностей",
                        success: {
                            title: "Перейти на Premium",
                            callback: function(){
                                $.hide();
                                $Sections.plan.show("premium");
                            }
                        }
                    })
                }
                $.update({loading: false})
            }
            else {
                $.update({
                    success: true,
                    loading: false
                })
                _.onEndTransition($.icon, function(){
                    $afterlag.xl(function(){
                        $.hide();
                    });
                });
            }
        },
        function(){
            $.update({
                loading: false
            })
            $.hide();
        });
    };

    $.hide = function(){
        if (!$.active) return;

        $.update({
            active: false
        })
        $afterlag.run(function(){
            _.onEndTransition($.area, function(){
                if (!$.active){
                    if ($.success){
                        $.update({
                            success: false
                        })
                    }
                    $.root.style.display = "none";
                }
            });
        });
    };

    $.handleClickOutside = function(e){
        if (!$.wrapper.contains(e.target)) $.hide();
    };

    $.on("updated", function(){
        if ($.active){
            setTimeout(function(){
                document.addEventListener('click', $.handleClickOutside);
            }, 0);
        }
        else {
            document.removeEventListener('click', $.handleClickOutside)
        }
    });

</script>

</resume-sendmail>
