<resume-list-item-blank class="resume__item">

    <div class="resume__item__header" style="background-image:url('{ $store.resume.get('photo') }')">
        <div class="resume__item__control">
            <span class="display-inlineBlock w25 h25 bg-white opacity-30 borderRadius-circle mb-m"></span>
            <span class="display-inlineBlock w15 h25 bg-white opacity-30 borderRadius-l mb-m"></span>
        </div>
        <div class="row">
            <div class="col-xs-5 col-sm-6">
                <span class="display-inlineBlock w60 h60 bg-white opacity-30 borderRadius-circle"></span>
            </div>
            <div class="col-xs-19 col-sm-18">
                <div class="resume__item__title">
                    <span class="display-inlineBlock w70p h20 bg-white opacity-30 borderRadius-l"></span>
                    <span class="display-inlineBlock w60p h20 bg-white opacity-30 borderRadius-l"></span>
                </div>
                <div class="resume__item__date">
                    <span class="display-inlineBlock w85p h15 bg-white opacity-30 borderRadius-l"></span>
                </div>
                <div class="resume__item__salary">
                    <span class="display-inlineBlock w60p h25 bg-white opacity-30 borderRadius-l"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="resume__item__stat">
        <div class="resume__item__stat__wrapper row">
            <div class="resume__item__stat__cell col-xs-15 col-sm-16">
                <span class="display-inlineBlock w60p h40 bg-blueLight opacity-20 borderRadius-xxl"></span>
            </div>
            <div class="resume__item__stat__cell bg-yellow c-blackLight col-xs-9 col-sm-8">
                <span class="display-inlineBlock w50 h50 bg-gray opacity-30 borderRadius-l"></span>
            </div>
        </div>
    </div>

</resume-list-item-blank>
