<resume-list-item-blank class="resume__item" data-blank="true">

    <div class="resume__item__header" style="background-image:url('{ item.commons.photo }')">
        <div class="resume__item__control">
            <div class="resume__item__control__btn resume__item__control__remove"></div>
            <div class="resume__item__control__btn resume__item__control__menu"></div>
        </div>
        <div class="resume__item__control__right">
            <div class="resume__item__noview" data-active="true"></div>
            <div class="resume__item__inbox" data-active="true">
                <div class="resume__item__inbox__badge">9</div>
            </div>
        </div>
        <div class="resume__item__control__left">
            <div class="resume__item__likes" data-active="false"></div>
            <div class="resume__item__lang">RU</div>
        </div>
        <div class="row resume__item__header__text">
            <div class="col-xs-5 col-sm-6">
                <div class="resume__item__photo" style="background-image:url('{ item.commons.photo }')"></div>
            </div>
            <div class="col-xs-19 col-sm-18">
                <div class="resume__item__title">{ item.post }</div>
                <div class="resume__item__date">Обновлен: { moment(item.update).format('D MMMM YYYY') }</div>
                <div class="resume__item__salary">
                    { _.numberFormat(item.salary.amount, 0, ".", ".") } { $store.currency.getTitleById(item.salary.currency) }
                </div>
            </div>
        </div>
    </div>
    <div class="resume__item__stat">
        <div class="resume__item__stat__wrapper row">
            <div class="resume__item__stat__cell col-xs-15 col-sm-16">
                <btn-stat color="#0084ff"></btn-stat>
                <svg-stat color="#0084ff"></svg-stat>
            </div>
            <div class="resume__item__stat__cell bg-yellow c-blackLight col-xs-9 col-sm-8 resume__item__stat__percentage">
                98%
            </div>
        </div>
    </div>

    <div class="resume__item__header" style="background-image:url('{ item.commons.photo }')" data-blank="true">
        <div class="resume__item__control">
            <span class="display-inlineBlock w25 h25 bg-white opacity-30 borderRadius-circle mb-m"></span>
            <span class="display-inlineBlock w10 h25 bg-white opacity-30 borderRadius-l"></span>
            <span class="display-inlineBlock w25 h25 bg-white opacity-30 borderRadius-l mt-xl"></span>
        </div>
        <div class="row">
            <div class="col-xs-5 col-sm-6">
                <span class="display-inlineBlock w60 h60 bg-white opacity-30 borderRadius-circle"></span>
            </div>
            <div class="col-xs-19 col-sm-18">
                <div class="resume__item__title">
                    <span class="display-inlineBlock w70p h20 bg-white opacity-30 borderRadius-l"></span>
                    <span class="display-inlineBlock w60p h20 bg-white opacity-30 borderRadius-l"></span>
                </div>
                <div class="resume__item__date">
                    <span class="display-inlineBlock w85p h15 bg-white opacity-30 borderRadius-l"></span>
                </div>
                <div class="resume__item__salary">
                    <span class="display-inlineBlock w60p h25 bg-white opacity-30 borderRadius-l"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="resume__item__stat" data-blank="true">
        <div class="resume__item__stat__wrapper row">
            <div class="resume__item__stat__cell col-xs-15 col-sm-16">
                <span class="display-inlineBlock w60p h40 bg-blueLight opacity-20 borderRadius-xxl"></span>
            </div>
            <div class="resume__item__stat__cell bg-yellow c-blackLight col-xs-9 col-sm-8">
                <span class="display-inlineBlock w50 h50 bg-gray opacity-30 borderRadius-l"></span>
            </div>
        </div>
    </div>

<script>

    this.item = {
        public: true,
        plan: "free",
        template: "1",
        lang: "ru",
        post: "Web-Designer, Art-director, Illustrator",
        update: moment('2017-01-12 11:21:00'),
        commons: {
            photo: "/preview/images/photo/photo_phone.jpg",
            name: "Виктория",
            surname: "",
            gender: "female",
            birthday: {
                day: "25",
                month: "8",
                year: "1986",
                hidden: true
            },
            contacts: {
                city: "Москва",
                email: "owebme@gmail.com",
                phone: "(926) 017-2086",
                primary: "any",
                relocate: true,
                site: "http://web-projects.me",
                skype: "owebme"
            }
        },
        salary: {
            amount: "125000",
            currency: "1",
            worktime: "1"
        }
    };

</script>

</resume-list-item-blank>
