<resume-list-item class="resume__item">

    <div class="resume__item__header" style="background-image:url('{ opts.item.commons.photo }')" data-color={ opts.item.plan == "premium" && opts.item.public ? opts.item.config.color : (!opts.item.public ? 'gray' : null) }>
        <div if={ opts.item.plan == "free" } class="resume__item__label" data-label="free"></div>
        <div if={ opts.item.plan == "premium" } class="resume__item__label" data-label="premium"></div>
        <div class="resume__item__control">
            <div onClick={ onRemove } onUpdate="none" class="resume__item__control__btn resume__item__control__remove"></div>
            <div onClick={ show.dropMenu } onUpdate="none" class="resume__item__control__btn resume__item__control__menu"></div>
        </div>
        <div class="resume__item__control__right">
            <div onClick={ onPreview } onUpdate="none" class="resume__item__preview"></div>
            <div if={ opts.item.plan == "premium" } onClick={ show.inbox } onUpdate="none" class="resume__item__inbox" data-active={ true : $store.inbox.getCounterNewByResumeId(item._id) }>
                <div class="resume__item__inbox__badge">{ $store.inbox.getCounterNewByResumeId(item._id) }</div>
            </div>
        </div>
        <div class="resume__item__control__left">
            <div if={ opts.item.plan == "premium" } class="resume__item__likes" data-active={ opts.item.likes.length ? true : null }>
                <div class="resume__item__likes__badge" data-more={ opts.item.likes.length > 9 && opts.item.likes.length < 100 } data-moree={ opts.item.likes.length > 99 }>{ opts.item.likes.length }</div>
            </div>
            <div class="resume__item__lang">{ opts.item.lang }</div>
        </div>
        <div onClick={ parent.open.resume } onUpdate="none" class="row resume__item__header__text">
            <div class="col-xs-5 col-sm-6">
                <div if={ opts.item.commons.photo } class="resume__item__photo { opacity-65 : !opts.item.public }" style="background-image:url('{ opts.item.commons.photo }')"></div>
                <div if={ !opts.item.commons.photo } class="resume__item__photo__blank { opacity-65 : !opts.item.public }"></div>
            </div>
            <div class="col-xs-19 col-sm-18">
                <div class="resume__item__title">{ opts.item.post ? opts.item.post : 'Продолжить редактирование' }</div>
                <div class="resume__item__date">Обновлен: { moment(opts.item.update).format('D MMMM YYYY') }</div>
                <div class="resume__item__salary">
                    <span if={ !opts.item.salary.active } class="display-block fontSize-24 fontWeight-bold mt--xxs">з/п не указана</span>
                    <span if={ opts.item.salary.active }>{ _.numberFormat(opts.item.salary.amount, 0, ".", ".") } { $store.currency.getTitleById(opts.item.salary.currency) }</span>
                </div>
            </div>
        </div>
    </div>
    <div class="resume__item__stat">
        <div class="resume__item__stat__wrapper row">
            <div class="resume__item__stat__cell col-xs-15 col-sm-16">
                <btn-stat onClick={ parent.open.stat } onUpdate="none" color={ $store.resume.take.color(opts.item) }></btn-stat>
                <svg-stat color={ $store.resume.take.color(opts.item) }></svg-stat>
            </div>
            <div class="resume__item__stat__cell bg-yellow c-blackLight col-xs-9 col-sm-8 resume__item__stat__percentage">
                { opts.item.percent }%
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.onRemove = function(){
        $store.data.onRemove($.opts.item._id);
    };

    $.onPreview = function(){
        $store.data.onPreview($.opts.item).then(function(){
            $.update();
        })
    };

    $.show = {
        dropMenu: function(e){
            $DropMenu.show({
                id: $.opts.item._id,
                item: $.opts.item,
                elem: $$(e.currentTarget),
                offset: {
                    top: 12,
                    left: -1
                },
                menu: $store.data.dropMenu
            });
        },
        inbox: function(){
            $Sections.inbox.section.show(
                $store.inbox.getItemByResumeId($.opts.item._id)
            );
        }
    };

</script>

</resume-list-item>
