<resume-select class="oScreen { showAnim : animate } zIndex-2" data-open="{ active }" data-color="{ 'dark' : app.device.isPhone && plan == 'basic' }{ 'white' : plan == 'premium' }">

    <div class="anim anim-fadeIn zIndex-2" data-duration="xs">
        <!-- <div if={ plan == 'premium' } onClick={ open.tutorial } class="button__help"></div> -->
        <div onClick={ hide } class="button__close { opacity-40 : app.device.isPhone }" data-color="{ white : plan != 'premium' }"></div>
    </div>

    <!-- <div class="oScreen zIndex-5" data-open="false" data-color="dark">
        <div class="pos-centered-h">
            <div class="ui-icon-arrow_curved_white" style="width:100px; height:100px; margin:100px 0 0 380px; transform:scaleX(-1) scaleY(-1) rotate(20deg)"></div>
        </div>
        <div class="pos-centered">
            <div class="container pt-xl">
                <div class="row">
                    <h1 class="c-white mb-l anim anim-scale">Вы выбрали обычный тариф</h1>
                    <p class="c-white mb-l fontSize-24 opacity-60">посмотреть варианты резюме из premium тарифа можно сменив раздел</p>
                    <div class="anim anim-scale anim-delay-m">
                        <button class="btn btn-xxl btn-white-hover">Понятно</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="pos-centered w100p zIndex-1">

        <div class="anim anim-scale pos-rel zIndex-1">
            <div class="plan__screens__select btn-group">
                <button onClick={ select.plan.basic } class="btn btn-l { plan == 'basic' ? 'btn-primary' : 'btn-primary-hover' }">FREE</button>
                <button onClick={ select.plan.premium } class="btn btn-l { plan == 'premium' ? 'btn-primary' : 'btn-white-hover' } text-uppercase">Premium</button>
            </div>
        </div>

        <div class="plan__screens">

            <div class="plan__screen p-l" data-active={ plan == 'premium' }>
                <div class="rows slider largeSlides" name="slider-premium">
                    <div class="slider__nav slider__nav__prev anim anim-fadeIn" data-duration="xs"></div>
                    <div class="slider__nav slider__nav__next anim anim-fadeIn" data-duration="xs"></div>
                    <div class="row slider__wrapper">
                        <div each={ item, i in items.premium } class="slider__item col-md-24" data-slide="{ i + 1 }">
                            <div class="row slider__item__inner">
                                <div class="plan__premium__item__image__wrapper col-md-12">
                                    <div class="pl-m pr-l">
                                        <div class="pos-rel">
                                            <img class="tutorial-step1 plan__premium__item__image" src="/assets/images/mac_large_2x.png" data-image="front">
                                            <img class="plan__premium__item__image" src="/public/images/promo/premium/slide2_1.png" data-image="back">
                                        </div>
                                        <div class="plan__premium__item__button">
                                            <button class="btn btn-xxl btn-default-hover-success mb-xl">Создать резюме</button>
                                            <div class="mb-m"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-left c-blackLight whiteSpace-normal">
                                    <div class="pt-m pl-xs pr-m">
                                        <div class="tutorial-step2 plan__premium__gallery" style="background-image:url(/public/images/promo/premium/slide2_1.png)">
                                            <div class="plan__premium__gallery__pointer"></div>
                                        </div>
                                        <h2 class="fontWeight-8 pt-xs c-blue mb-l letterSpacing-xxxl text-uppercase">Premium</h2>
                                        <div class="fontSize-14 fontWeight-8 letterSpacing--s text-uppercase mb-m">яркие и стильные цвета</div>
                                        <div class="fontSize-0 pt-xxs mb-l">
                                            <div each={ item in $store.colors.get() } class="plan__premium__colors__item bg-{ item.title }"></div>
                                        </div>
                                        <div class="fontSize-14 fontWeight-8 letterSpacing--s text-uppercase mb-s">отлично подойдет</div>
                                        <p class="fontSize-20 lineHeight-xl mb-l">Журналистам, художникам, экономистам, финанситсам, бухгалтерам, учителям, юристам, фотографам</p>
                                        <div class="tutorial-step3 fontSize-0 pt-xs" data-height="65" data-width="400" data-zoom="1.1">
                                            <div class="plan__premium__icon" data-icon="globe" data-balloon="Резюме на двух языках, на русском и английских языках" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-globe></icon-globe>
                                            </div>
                                            <div class="plan__premium__icon" data-icon="control" data-balloon="Легкая настройка, редактирование в несколько кликов" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-control></icon-control>
                                            </div>
                                            <div class="plan__premium__icon" data-icon="play" data-balloon="Просто оживить резюме, анимация эллементов" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-play></icon-play>
                                            </div>
                                            <div class="plan__premium__icon" data-icon="chart" data-balloon="Статистика по дням, посещения резюме" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-chart></icon-chart>
                                            </div>
                                            <div class="plan__premium__icon" data-icon="devices" data-balloon="100% адаптация для всех мобильных и не мобильных устройств" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-devices></icon-devices>
                                            </div>
                                            <div onClick={ open.functions } class="pos-rel cursor-pointer display-inlineBlock vAlign-middle fontSize-16 fontWeight-8 letterSpacing--s text-uppercase c-blue" data-icon="devices" data-balloon="Нажмите, чтобы узнать еще о возможностях" data-balloon-length="large" data-balloon-fontSize="large">еще...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="plan__screen ptb-xl" data-active={ plan == 'basic' }>
                <div class="{ app.device.isPhone ? 'rows largeSlides' : 'container' } slider" name="slider-basic">
                    <div class="slider__nav slider__nav__prev anim anim-fadeIn" data-duration="xs"></div>
                    <div class="slider__nav slider__nav__next anim anim-fadeIn" data-duration="xs"></div>
                    <div class="row slider__wrapper">
                        <div each={ item, i in items.basic } class="slider__item col-md-12 col-lg-8">
                            <div class="plan__basic__item plr-l">
                                <img class="plan__basic__item__image" src="http://resumekraft.ru/makets/images/{ item }.png">
                                <div class="plan__basic__item__button">
                                    <button onClick={ select.template.basic } class="btn btn-l btn-default-hover-success mb-xs">Выбрать этот</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.animate = false;

    $.items = {
        basic: _.range(1001, 1010),
        premium: ["1"]
    }

    $.plan = "basic";

    $.on("mount", function(){
        $.slider = {
            basic: new app.plugins.slider($["slider-basic"]),
            premium: new app.plugins.slider($["slider-premium"])
        }
    });

    $.show = function(plan){
        $.active = true;
        $.animate = true;
        $.select.plan[plan ? plan : $.plan]();
    };

    $.open = {
        tutorial: function(){
            $Tutorial.show(
                $scope.find(".largeSlides .slider__item.current"), "selectResumePremium"
            );
        },
        functions: function(){
            $Sections.overview.functions.show();
        }
    };

    $.select = {
        plan: {
            basic: function(){
                $.update({
                    plan: "basic"
                })
                _.onEndTransition($.root, function(){
                    $.slider.basic.show();
                });
                $.slider.premium.hide();
            },
            premium: function(){
                $.update({
                    plan: "premium"
                })
                _.onEndTransition($.root, function(){
                    $.slider.premium.show();
                });
                $.slider.basic.hide();
            }
        },
        template: {
            basic: function(){
                if (this.i !== undefined && $Sections.resume.edit.active){
                    var num = this.i + 1;
                    $.hide(function(){
                        $Sections.resume.edit.section.sections.preview.change(num);
                    });
                }
                else {
                    $.hide(function(){
                        $Sections.resume.edit.show();
                    });
                }
            },
            premium: function(){

            }
        }
    };

    $.hide = function(callback){
        $.active = false;
        $.animate = false;
        $.slider.premium.hide();
        $.slider.basic.hide();
        if (_.isFunction(callback)){
            _.onEndTransition($.root, function(){
                callback();
            });
        }
    };

</script>

</resume-select>
