<resume-list class="resume__list section" data-overlay={ overlay }>

    <div onClick={ open.profile } onUpdate="none" class="main__button" data-icon="menu" data-color="white"></div>

    <div class="resume__list__title">Открыть профиль</div>

    <resume-navbar></resume-navbar>

    <div name="sliderEl" class="resume__list__slider container slider" data-hidden="false">
        <div class="slider__nav slider__nav__prev"></div>
        <div class="slider__nav slider__nav__next"></div>
        <div if={ $store.data.get().length } class="row slider__wrapper md-plr-l">
            <virtual each={ item, i in _.sortByDate($store.data.get(), "update", "desc") } no-reorder>
                <div class="slider__item col-md-12 col-lg-8">
                    <resume-list-item item={ item }></resume-list-item>
                </div>
                <div if={ i == 0 } class="slider__item col-md-12 col-lg-8">
                    <resume-list-item-new onClick={ open.createResume } onUpdate="none"></resume-list-item-new>
                </div>
            </virtual>
            <div if={ $store.data.get().length < 2 } class="slider__item col-md-12 col-lg-8">
                <resume-list-item-blank></resume-list-item-blank>
            </div>
        </div>
        <div if={ !$store.data.get().length } class="row slider__wrapper">
            <div class="slider__item col-md-12 col-lg-8">
                <resume-list-item-blank></resume-list-item>
            </div>
            <div class="slider__item col-md-12 col-lg-8">
                <resume-list-item-new onClick={ open.createResume } onUpdate="none"></resume-list-item-new>
            </div>
            <div class="slider__item col-md-12 col-lg-8">
                <resume-list-item-blank></resume-list-item-blank>
            </div>
        </div>
    </div>

    <master-launcher></master-launcher>
    <messenger-launcher></messenger-launcher>

    <div onClick={ open.sharePanel } class="resume__list__shareButton">
        <div class="resume__list__shareButton__text">Поделиться сервисом</div>
    </div>

    <share-panel title={ app.config.share.title } url={ link } color="white" size="m" tooltip="true"></share-panel>

    <div onClick={ sharePanel.hide } class="section__overlay"></div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.overlay = false;
    $.hidden = false;

    $.on("before-mount", function(){
        $.sharePanel = $.tags['share-panel'];
    });

    $.on("mount", function(){
        $.slider = new app.plugins.slider($.sliderEl, {
            autoUpdate: true
        });
        $.slider.scope.on('next', $.onSwiping)
        .on('prev', $.onSwiping);
    });

    $.onSwiping = function(){
        $.swiping = true;
        setTimeout(function(){
            $.swiping = false;
        }, 200);
    };

    $.start = function(callback){
        $afterlag.run(function(){
            $.slider.show(function(){
                if (_.isFunction(callback)){
                    callback();
                }
                $.ready = true;
            });
        });
    };

    $.show = function(){
        $.hidden = false;
        $.sliderEl.setAttribute("data-hidden", $.hidden);
    };

    $.open = {
        resume: function(){
            if (!this.item || $.swiping) return;
            $.hide();
            $Sections.resume.section.show(this.item._id, function(){
                $.show();
            });
        },
        createResume: function(){
            if (!app.metrika.get("offers.plan.show") && $Sections.offers && $Sections.offers.plan){
                $Sections.offers.plan.show();
            }
            else {
                $store.data.onCreate();
            }
            app.metrika.set("resume.buttonNew", true);
        },
        profile: function(){
            $.hide();
            $Sections.profile.section.show(function(){
                $.show();
            });
        },
        stat: function(){
            $.hide();
            $Sections.resume.stat.show(this.item._id, function(){
                $.show();
            });
        },
        sharePanel: function(){
            $.overlay = true;
            $.sharePanel.show();
        }
    };

    $.hide = function(){
        $.hidden = true;
        $.sliderEl.setAttribute("data-hidden", $.hidden);
    };

</script>

</resume-list>
