<resume-import class="oScreen zIndex-3 c-white" data-show="modal" data-color="dark" data-open={ active } style="display:none">

    <div onClick={ hide } onUpdate="none">
        <div class="button__close opacity-80" data-color="white"></div>
    </div>

    <div name="step1" class="oScreen__content" data-hidden={ success }>
        <div class="pos-centered { w100p : app.device.isPhone }">
            <div class="container">
                <div class="row">
                    <div name="wrapper" class="col-xs-24 col-sm-17 col-md-15 col-lg-13 centered xs-pb-l">
                        <img style="width:123px; height:70px" src="/public/images/jobs/hh/hh-white-red.png" class="display-block mb30 xs-mb-m centered">
                        <div class="xs-plr-m">
                            <div class="mb-s fontSize-22">Импорт резюме из сервиса HeadHunter</div>
                            <input onKeydown={ onEnter } name="input" class="fontFamily-helvetica letterSpacing-0 pointer-for-input input input-{ app.device.isPhone ? 'l' : 'xl' } input-white input-rounded mb-l text-center" placeholder="Вставьте полный адрес ссылки на резюме" autocomplete="off" style="font-size:22px">
                            <div onClick={ onSuccess } onUpdate="none" class="btn btn-xl2 btn-success { btn-loading : loading }">Получить резюме</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div name="step2" class="oScreen__content" data-hidden={ !success }>
        <div class="pos-centered { w100p : app.device.isPhone }">
            <div class="container">
                <div class="row">
                    <div class="col-xs-24 col-sm-17 col-md-15 col-lg-13 centered xs-pb-l">
                        <h1 class="mb-l">Резюме успешно получено</h1>
                        <div class="row mb35">
                            <div class="col-xs-16 col-md-offset-2 text-left">
                                <h3 class="pt-xs pl-xs opacity-70">Опубликовать резюме</h3>
                            </div>
                            <div class="col-xs-6">
                                <ui-checkbox update="public" cursor={ options.select() }></ui-checkbox>
                            </div>
                        </div>
                        <div class="w100p h1px bg-white opacity-15 mb-s"></div>
                        <div if={ $account.get("plan") == "premium" }>
                            <div class="row mb35">
                                <div class="col-xs-16 col-md-offset-2 text-left">
                                    <h3 class="pt-xs pl-xs opacity-70">Премиальное резюме</h3>
                                </div>
                                <div class="col-xs-6">
                                    <ui-checkbox update="premium" cursor={ options.select() }></ui-checkbox>
                                </div>
                            </div>
                            <div class="w100p h1px bg-white opacity-15 mb-s"></div>
                        </div>
                        <div if={ $account.get("commons", "photo") } class="row mb55">
                            <div class="col-xs-16 col-md-offset-2 text-left">
                                <h3 class="pt-xs pl-xs opacity-70">Установить фото из профиля</h3>
                            </div>
                            <div class="col-xs-6">
                                <ui-checkbox update="replacePhoto" cursor={ options.select() }></ui-checkbox>
                            </div>
                        </div>
                        <div onClick={ onEnd } onUpdate="none" class="btn btn-xl2 btn-success { btn-loading : loading }">Завершить импорт</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;
    $.upserted = false;
    $.input = $$($.input);

    $.options = new Baobab({
        public: true,
        premium: $account.get("plan") == "premium" ? true : false,
        replacePhoto: $account.get("commons", "photo") ? true : false
    });

    // $.on("mount", function(){
    //     $afterlag.run(function(){
    //         $.show();
    //     });
    // });

    $.show = function(){
        if ($.active) return;

        $.active = true;
        $.root.style.display = "block";

        $afterlag.run(function(){
            $.update({
                success: false,
                alertShow: false
            })
            setTimeout(function(){
                document.addEventListener('click', $.handleClickOutside);
            }, 0);
        });
        document.removeEventListener('click', $.handleClickOutside);
    };

    $.onEnter = function(e){
        e.preventUpdate = true;
        if (e.which === KEY.ENTER){
            $.onSuccess();
        }
        return true;
    };

    $.onSuccess = function(){
        var link = $.isValid(_.clean($.input.val()));
        if (link && link.length){
            var id = link[0].replace(/resume\//gi, "");
            if ($store.data.get({"idhh": id})){
                $Alert.show({
                    title: "У вас уже есть это резюме",
                    subtitle: "Выберите действие",
                    success: {
                        title: "Заменить текущее",
                        callback: function(){
                            $.request(id);
                        }
                    },
                    afterHide: function(){
                        $.alertShow = false;
                    }
                })
                $.upserted = false;
                $.alertShow = true;
            }
            else {
                $.upserted = true;
                $.request(id);
            }
        }
        else {
            $Pointer.show({
                activeZone: true,
                scope: $scope,
                target: ".pointer-for-input",
                position: "up",
                color: "dark",
                text: "Проверьте корректность ссылки",
                padding: 18
            })
        }
    };

    $.onEnd = function(){
        var options = $.options.clone();

        if (options.replacePhoto) options.photo = $account.get("commons", "photo");
        if (options.premium) options.plan = "premium";

        var resume = $store.resume.prepare.import({
            options: options,
            resume: $.resume,
            account: $account.get()
        });
        if (!$.upserted){
            resume._id = $store.data.select({"idhh": resume.idhh}).get("_id");
        }
        app.request($.upserted ? 'addResume' : 'setResume', {
            data: resume
        })
        .then(function(data){
            if (data.id){
                resume._id = data.id;
                $store.data.push(resume);
            }
            else {
                $store.data.select({"idhh": resume.idhh}).set(resume);
            }
            $Sections.resume.list.update();
            $afterlag.run(function(){
                $.hide();
            });
        })
    };

    $.request = function(id){
        $.update({
            loading: true
        })
        app.request('addResumeImport', {
            id: id
        }, {
            notify: false,
            loader: false
        })
        .then(function(data){
            if (data == "overlimit"){
                $Notify.show({
                    text: "К сожалению, лимит импорта на сегодня исчерпан",
                    color: "info"
                })
                if ($account.get("plan") == "free"){
                    $Alert.show({
                        title: "Перейдите на премиум аккаунт",
                        subtitle: "Чтобы импортировать больше резюме",
                        success: {
                            title: "Перейти на Premium",
                            callback: function(){
                                $.hide();
                                $Sections.plan.show("premium");
                            }
                        }
                    })
                }
                $.update({loading: false})
            }
            else {
                $.update({
                    resume: data,
                    success: true,
                    loading: false
                })
            }
        },
        function(){
            $Notify.show({
                text: "Ошибка получения резюме, проверьте ссылку",
                color: "danger"
            })
            $.update({loading: false})
        });
    };

    $.isValid = function(value){
        return value && value.length && value.match(/resume\/.{38}/gi);
    };

    $.hide = function(){
        if (!$.active) return;

        $.update({
            active: false
        })
        $afterlag.run(function(){
            _.onEndTransition($.success ? $.step2 : $.step1, function(){
                if ($.success){
                    $.update({
                        success: false
                    })
                }
                $.input.val("");
                $.root.style.display = "none";
            });
        });
        document.removeEventListener('click', $.handleClickOutside);
    };

    $.handleClickOutside = function(e){
        if (!$.success && !$.wrapper.contains(e.target) && !$.alertShow) $.hide();
    };

</script>

</resume-import>
