<resume-select class="oScreen { showAnim : animate } zIndex-2" data-open="{ active }" data-color="{ 'dark' : app.device.isPhone && plan == 'free' }{ 'white' : plan == 'premium' }">

    <div class="pos-rel anim anim-fadeIn zIndex-3" data-duration="xs">
        <div onClick={ hide } class="button__close { opacity-40 : app.device.isPhone && plan != 'premium' }" data-color="{ white : plan != 'premium' }"></div>
    </div>

    <div if={ app.device.isPhone } class="anim anim-tb-ease pos-rel zIndex-2" delay-show="s" duration-hide="s">
        <div class="plan__screens__select btn-group { 'display-none' : !control }">
            <button onClick={ select.plan.free } onUpdate="none" class="btn btn-l { plan == 'free' ? 'btn-primary' : 'btn-primary-hover' }">FREE</button>
            <button onClick={ select.plan.premium } onUpdate="none" class="btn btn-l { plan == 'premium' ? 'btn-primary' : 'btn-white-hover' } text-uppercase">Premium</button>
        </div>
    </div>

    <div class="pos-centered w100p zIndex-1">

        <div if={ !app.device.isPhone } class="anim anim-scale pos-rel zIndex-1">
            <div class="plan__screens__select btn-group { 'display-none' : !control }">
                <button onClick={ select.plan.free } onUpdate="none" class="btn btn-l { plan == 'free' ? 'btn-primary' : 'btn-primary-hover' }">FREE</button>
                <button onClick={ select.plan.premium } onUpdate="none" class="btn btn-l { plan == 'premium' ? 'btn-primary' : 'btn-white-hover' } text-uppercase">Premium</button>
            </div>
        </div>

        <div class="plan__screens">

            <div class="plan__screen p-l xs-p0" data-screen="premium" data-active={ active && plan == 'premium' }>

                <div class="visible-xs plan__text__mobile fontSize-20 c-blackLight">Продающее резюме нового формата на <strong class="c-blueLight">PREMIUM</strong> аккаунте</div>

                <div class="rows slider" name="slider-premium">
                    <div class="{ row : !app.device.isPhone } slider__wrapper">
                        <div class="slider__item col-xs-24 col-md-24">

                            <!-- Mobile screen -->
                            <div class="visible-xs pos-abs-full">
                                <div class="plan__premium__item__image__mobile">
                                    <img src="/public/images/mobile/home/screen2a.png">
                                </div>
                                <div class="plan__premium__item__button">
                                    <button onClick={ select.template.premium } class="btn btn-xxl btn-success btn-shadow-strong mb-xl">Создать резюме</button>
                                </div>
                            </div>
                            <!-- // Mobile screen -->

                            <div if={ !app.device.isPhone } class="hidden-xs row slider__item__inner">
                                <div class="plan__premium__item__image__wrapper col-xs-24 col-md-12">
                                    <div class="pl-m pr-l">
                                        <div class="pos-rel">
                                            <img class="tutorial-step1 plan__premium__item__image" src="/assets/images/mac_large_2x.png" data-image="front">
                                            <img class="plan__premium__item__image" src="/public/images/promo/premium/slide2_1.png" data-image="back">
                                        </div>
                                        <div class="plan__premium__item__button">
                                            <button onClick={ select.template.premium } class="btn btn-xxl { app.device.isPhone ? 'btn-success btn-shadow-strong' : 'btn-default-hover-success' } mb-xl">Создать резюме</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-left c-blackLight whiteSpace-normal">
                                    <div class="pt-m pl-xs pr-m">
                                        <div onClick={ open.overview } onUpdate="none" class="tutorial-step2 plan__premium__gallery" style="background-image:url(/public/images/promo/premium/slide2_1.png)">
                                            <div class="plan__premium__gallery__pointer"></div>
                                        </div>
                                        <h2 class="fontWeight-8 pt-xs c-blue mb-l letterSpacing-xxxl text-uppercase">Premium</h2>
                                        <div class="fontSize-14 fontWeight-8 letterSpacing--s text-uppercase mb-m">яркие и стильные цвета</div>
                                        <div class="fontSize-0 pt-xxs mb-l">
                                            <div each={ item in $store.colors.get() } class="plan__premium__colors__item bg-{ item.title }"></div>
                                        </div>
                                        <div class="fontSize-14 fontWeight-8 letterSpacing--s text-uppercase mb-s">отлично подойдет</div>
                                        <p class="fontSize-20 lineHeight-xl mb-l">Журналистам, художникам, экономистам, финанситсам, бухгалтерам, учителям, юристам, фотографам</p>
                                        <div class="tutorial-step3 fontSize-0 pt-xs" data-height="65" data-width="400" data-zoom="1.1">
                                            <div class="plan__premium__icon" data-icon="globe" data-balloon="Резюме на двух языках, на русском и английских языках" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-globe></icon-globe>
                                            </div>
                                            <div class="plan__premium__icon" data-icon="control" data-balloon="Легкая настройка, редактирование в несколько кликов" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-control></icon-control>
                                            </div>
                                            <div class="plan__premium__icon" data-icon="play" data-balloon="Новый формат резюме в виде презентации" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-play></icon-play>
                                            </div>
                                            <div class="plan__premium__icon" data-icon="chart" data-balloon="Подробная статистика по дням, посещения вашего резюме" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-chart></icon-chart>
                                            </div>
                                            <div class="plan__premium__icon" data-icon="devices" data-balloon="100% адаптация для всех мобильных и не мобильных устройств" data-balloon-length="large" data-balloon-fontSize="large">
                                                <icon-devices></icon-devices>
                                            </div>
                                            <div onClick={ open.functions } onUpdate="none" class="pos-rel cursor-pointer display-inlineBlock vAlign-middle fontSize-16 fontWeight-8 letterSpacing--s text-uppercase c-blue" data-icon="devices" data-balloon="Нажмите, чтобы узнать еще о возможностях" data-balloon-length="large" data-balloon-fontSize="large">еще...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="plan__screen ptb-xl xs-p0" data-screen="free" data-active={ active && plan == 'free' }>
                <div class="{ app.device.isPhone ? 'rows largeSlides' : 'container' } slider" name="slider-free">
                    <div class="slider__nav slider__nav__prev anim anim-fadeIn" data-duration="xs"></div>
                    <div class="slider__nav slider__nav__next anim anim-fadeIn" data-duration="xs"></div>
                    <div class="row slider__wrapper">
                        <div each={ item, i in items.free } no-reorder class="slider__item col-md-12 col-lg-8">
                            <div class="plan__basic__item plr-l" data-active={ parent.template == i + 1 }>
                                <img class="plan__basic__item__image" src="/assets/images/makets/{ item }.png">
                                <div class="plan__basic__item__button">
                                    <button onClick={ select.template.free } class="btn { app.device.isPhone ? 'btn-xl2 btn-primary btn-shadow' : 'btn-l2 btn-default-hover-success' } mb-xs">Выбрать этот</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visible-xs plan__text__mobile fontSize-24 c-white">
                    <span class="opacity-80"><strong class="c-lime">FREE</strong> аккаунт</span>
                </div>
            </div>

        </div>

    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.animate = false;

    $.items = {
        free: _.range(1001, 1010),
        premium: ["1"]
    }

    $.default = function(){
        return {
            plan: "free",
            control: true,
            template: null
        }
    };

    $.plan = "free";

    $.on("mount", function(){
        $afterlag.run(function(){
            $.slider = {
                free: new app.plugins.slider($["slider-free"]),
                premium: new app.plugins.slider($["slider-premium"])
            }
        });
    });

    $.show = function(options){
        $.options = $.default();
        if (options){
            _.extend($.options, options);
            $.plan = $.options.plan;
            $.control = $.options.control;
            $.template = $.options.template;
        }
        $.active = true;
        $.animate = true;
        $.select.plan[$.plan]();
        app.metrika.set("resume.select.show", true);

        return new Promise(function(resolve, reject){
            $.resolve = resolve;
        });
    };

    $.open = {
        tutorial: function(){
            $Tutorial.show(
                $scope.find(".largeSlides .slider__item.current"), "selectResumePremium"
            );
        },
        functions: function(){
            $Sections.overview.functions.show();
        },
        overview: function(){
            $Sections.overview.premium.show();
        }
    };

    $.select = {
        plan: {
            free: function(){
                $.update({
                    plan: "free"
                })
                if ($.control){
                    _.onEndTransition($.root, function(){
                        $.slider.free.show();
                    });
                }
                else {
                    $afterlag.s(function(){
                        $.slider.free.show();
                    });
                }
                $.slider.premium.hide();
                app.metrika.set("resume.select.default", "free");
            },
            premium: function(){
                $.update({
                    plan: "premium"
                })
                _.onEndTransition($.root, function(){
                    $.slider.premium.show();
                });
                $.slider.free.hide();
                app.metrika.set("resume.select.default", "premium");
            }
        },
        template: {
            free: function(){
                var num = this.i !== undefined ? this.i + 1 : false;
                $.hide(function(){
                    $.resolve({
                        plan: "free",
                        template: num
                    })
                })
                if (!app.metrika.get("resume.select.success")){
                    app.metrika.set("resume.select.template", num);
                    app.metrika.set("resume.select.success", true);
                }
            },
            premium: function(){
                $.hide(function(){
                    $.resolve({
                        plan: "premium"
                    })
                })
            }
        }
    };

    $.hide = function(callback){
        $.active = false;
        $.animate = false;
        $.slider.premium.hide();
        $.slider.free.hide();
        if (_.isFunction(callback)){
            _.onEndTransition($.root, function(){
                callback();
            });
        }
        app.metrika.set("resume.select.hide", true);
    };

</script>

</resume-select>
