@each $icon in (
    loading, back_gray, close_gray, close_strong_gray, check, more_v, more_v_gray
){
    .ui-icon-#{$icon} {
        background:url('/public/images/jobs/icons/ui-#{$icon}.svg') no-repeat 0 0 / cover;
    }
}
@each $icon in (
    loading_mini, loading_mini_white, close_fill, close_fill_gray, close_strong, close_strong_white, minus, minus_white, menu, menu_white, more_v_white, back_white, help, info_white, check_black, check_white, check_gray, check_muted, edit, mark_gray, swipeLeft_white, swipeRight_white, uploadPhoto_white
){
    .ui-icon-#{$icon} {
        background:url('/assets/images/ui/ui-#{$icon}.svg') no-repeat 0 0 / cover;
    }
}
@mixin ui-icon($icon, $width: false, $height: false) {
    @if $width {
        width:#{$width};
    }
    @if $height {
        height:#{$height};
    }
    @extend .ui-icon-#{$icon};
}
.icon {
    @extend .display-inlineBlock;
    @extend .vAlign-middle;

    path {
        transition:fill 0.2s $cubic215;
    }
    &-control {
        &.icon-s {
            width:50px;
            height:50px;
            transform:translateY(4px);
        }
    }
    &-like {
        &.icon-xs {
            width:28px;
            height:28px;
            transform:translateY(4px);
        }
        &.icon-s {
            width:35px;
            height:35px;
            transform:translateY(4px);
        }
        &.icon-l {
            width:68px;
            height:68px;
            transform:translateY(4px);
        }
        &.icon-xl {
            width:84px;
            height:84px;
            transform:translateY(4px);
        }
    }
    &-like-fill {
        &.icon-xs {
            width:24px;
            height:24px;
            transform:translateY(4px);
        }
        &.icon-s {
            width:30px;
            height:30px;
            transform:translateY(4px);
        }
        &.icon-l {
            width:60px;
            height:60px;
            transform:translateY(8px);
        }
        &.icon-xl {
            width:80px;
            height:80px;
            transform:translateY(8px);
        }
    }
    &-location {
        &.icon-s {
            width:38px;
            height:38px;
            transform:translateY(4px);
        }
    }
    &-replyMail {
        &.icon-s {
            width:30px;
            height:30px;
            transform:translateY(4px);
        }
        &.icon-l {
            width:62px;
            height:62px;
            transform:translateY(4px);
        }
        &.icon-xl {
            width:76px;
            height:76px;
        }
    }
    &-feedback {
        &.icon-s {
            width:30px;
            height:30px;
        }
    }
    &-fb,
    &-dk,
    &-tw {
        &.icon-l {
            width:36px;
            height:36px;
        }
        &.icon-m {
            width:28px;
            height:28px;
        }
        &.icon-s {
            width:20px;
            height:20px;
        }
        &.icon-xs {
            width:16px;
            height:16px;
        }
    }
    &-vk,
    &-gl {
        &.icon-l {
            width:42px;
            height:42px;
        }
        &.icon-m {
            width:34px;
            height:34px;
            transform:translateY(1px);
        }
        &.icon-s {
            width:26px;
            height:26px;
        }
        &.icon-xs {
            width:20px;
            height:20px;
        }
    }
}
