.jobs__blockInfo {

    &__tile {
        @extend .display-block;
        @extend .pos-rel;

        &__weather {
            @extend .pt-l;
            @extend .mb-l;

            &:before {
                @extend .content-empty;
                @extend .display-block;
                @extend .centered;
                @extend .mb25;
                @include ui-icon("city", 120px, 120px);
            }
            .jobs__blockInfo__text {
                @extend .mb-m;
            }
            .jobs__blockInfo__title {
                @extend .c-silver;
            }
        }
        &__currency {
            @extend .pt-l;
            @extend .mb50;

            .jobs__blockInfo__currency {
                &:first-child {
                    @extend .lineHeight-18;
                }
                &:last-child {
                    @extend .lineHeight-32;
                    margin-left:-4px;
                }
            }
            .jobs__blockInfo__devider {
                margin:3px 0;
            }
        }
        &__traffic {
            .jobs__blockInfo__title {
                @extend .mb-xxs;
            }
            .jobs__blockInfo__label {
                @extend .trY--l;
            }
        }
    }
    &__label {
        @extend .c-silver;
        @extend .fontSize-12;
        @extend .text-uppercase;
    }
    &__title {
        @extend .c-blue;
        @extend .fontSize-20;
        @extend .fontWeight-bold;
    }
    &__text {
        @extend .c-silver;
        @extend .fontSize-16;
    }
    &__devider {
        @extend .h1px;
        @extend .bg-silver;
        @extend .opacity-30;
        @extend .mtb-xs;
        @extend .trX--xs;
        width:calc(100% + 10px);
    }
    &__weather {
        @extend .c-blue;
        @extend .fontSize-26;
        @extend .letterSpacing--xs;
        @extend .fontWeight-bold;
        @extend .mb-xs;
    }
    &__currency {
        @extend .c-silver;
        @extend .fontSize-22;
        @extend .fontWeight-bold;
        @extend .letterSpacing--xs;
    }

}
