html, body {
    @extend .h100p;
}
.d-phone {
    .dropmenu {
        @extend .display-none;

        &[data-active="true"]{
            @extend .display-block;
        }
    }
}
.jobs {
    padding-top:160px;
    @extend .fontFamily-helvetica;

    .d-phone & {
        padding-top:54px;
    }
    .screenMobile {
        &__navbar {
            @extend .bg-white;
            @extend .boxShadow-close;
            height:54px;

            icon-like {
                transform:translateY(1px);
            }
        }
        &__nav {
            &__title {
                @extend .text-truncate;
                padding-top:2px;
                text-transform:none;

                &.text-uppercase {
                    @extend .text-uppercase;
                }
                &.fontWeight-normal {
                    @extend .fontWeight-normal;
                }
                &[data-align="left"]{
                    @extend .pos-centered-v;
                    @extend .l-60;
                    @extend .c-steel;
                    @extend .fontFamily-roboto;
                    @extend .fontWeight-normal;
                }
                &[data-align="center"]{
                    @extend .flex-centered;
                    @extend .h100p;
                    @extend .pos-centered-h;
                    @extend .text-uppercase;
                    @extend .c-grayDarken;
                    padding-top:3px;
                }
            }
            &__back {
                transform:translateX(4px);
            }
            &__close {
                @extend .opacity-85;
                @include ui-icon("close_strong_gray");
            }
        }
    }
    .oScreen {
        @extend .pos-fixed;
        @extend .text-left;

        &[data-loading="true"]{
            @extend .pointerEvents-none;

            .section__loading {
                @extend .pointerEvents-none;
            }
        }
    }
    .w-mobile {
        .d-phone & {
            width:90vw;
        }
    }
    .pl-mobile {
        .d-phone & {
            padding-left:5vw;
        }
    }
    .pr-mobile {
        .d-phone & {
            padding-right:5vw;
        }
    }
    .plr-mobile {
        .d-phone & {
            padding-left:5vw;
            padding-right:5vw;
        }
    }
    .mlr--mobile {
        .d-phone & {
            margin-left:-5vw;
            margin-right:-5vw;
        }
    }
    .section__content {
        @include accelerate(true);

        .d-phone & {
            @extend .pt70;
            @extend .plr-mobile;
            @extend .maxW-100v;
            @extend .overflowX-hidden;
            @extend .overflowY-auto;
        }
        .section__container {
            .d-phone & {
                @extend .plr0;
                @extend .pt-s;
            }
        }
    }
    .section__container {
        .d-no-phone & {
            @extend .pos-rel;
            @extend .centered;
            @extend .pt-s;
            @extend .pb-l;
        }
        .d-no-tablet &,
        .d-no-phone & {
            @extend .w90p;
            max-width:770px;
        }
        .d-tablet & {
            @extend .w85p;
        }
        .d-phone & {
            @include accelerate(true);
            @extend .pt30;
            @extend .plr-mobile;
        }
    }
    .section__loading {
        &:after {
            @extend .w64;
            @extend .w64;
            @include abs_50(64, 64);
        }
    }
    .section__overlay {
        @extend .pos-fixed;
        @extend .zIndex-1;
    }
}
