@media screen and (min-width: 1400px){
    .container {
        width:83.34vw;
        max-width:1400px;
    }
    .jobs__search__nav__header .rows,
    .jobs__search__nav__panel {
        margin:0 auto;
        max-width:1400px;
    }
    .jobs__search__sidebar {
        transform:translate3d(calc(10.5vw - 50%), 0, 0);
    }
    .section__container {
        min-width:850px;
    }
    .vacancy__description {
        padding-right:27.5px;
    }
    .jobs__search__progress {
        width:calc(100vw - ((100vw - 550px) / 3));
    }
}
@media screen and (min-width: 1600px){
    .section__container {
        min-width:940px;
    }
    .jobs__search__sidebar {
        transform:translate3d(60px, 0, 0);
    }
    .jobs__search__progress {
        width:calc(100vw - ((100vw - 640px) / 3));
    }
}
