.jobs {
    $smoke: #E0E6ED;
    $smokeDark: rgba($silver,.3);
    $smokeDarken: #C0CCDA;

    h1.title {
        @extend .c-grayDarken;
        @extend .fontFamily-gotham;
        @extend .fontWeight-bold;
        @extend .maxW-100p;
        @extend .breakWord;
        @extend .overflow-hidden;
        font-size:29px;
        line-height:33px;
        letter-spacing:-0.04em;
        margin-left:-2px;
        // @extend .fontFamily-roboto;
        // font-size:31.5px;
        // line-height:33px;
        // letter-spacing:-0.025em;

        html.d-phone & {
            font-size:27px;
            line-height:32px;
            letter-spacing:-0.037em;
        }
    }
    a.link {
        @extend .c-blueLight;
        @extend .transition-default;
        border-bottom:1px solid rgba($blueLight,.3);

        &:visited {
            @extend .c-violet;
            border-color:rgba($violet,.3);
        }
        &:hover,
        &:visited:hover {
            @extend .c-green;
            border-color:rgba($green,.3);
        }
        &.link-l {
            @extend .fontSize-20;
            @extend .letterSpacing--xs;
        }
    }
    .borderColor-smoke {
        border-color:$smoke
    }
    .borderColor-smokeDark {
        border-color:$smokeDark;
    }
    .borderColor-smokeDarken {
        border-color:$smokeDarken;
    }
    .c-blackLight {
        color:$steel;

        html.d-phone & {
            color:#1d2129;
        }
    }
    .c-gray {
        html.d-phone & {
            color:$silver;
        }
    }
    .btn {
        @extend .text-uppercase;

        &-xl {
            font-size:17px;
        }
        &-l,
        &-m {
            font-size:16px;
        }
        &-l {
            html.d-phone & {
                font-size:17.5px;
            }
        }
    }
    .btn-default {
        @extend .flex-centered;
        @extend .c-blackLight;
        @extend .fontFamily-helvetica;
        @extend .border-none;
        @extend .transition-default;
        @extend .userSelect-none;
        @extend .cursor-pointer;
        box-shadow:inset 0 0 0 1px rgba($silver,.3);

        &:hover {
            @extend .c-black;
            @extend .bg-none;
            box-shadow:inset 0 0 0 1px rgba($silver,.5), inset 0 1px 1px 0 rgba(31,45,61,.05);
        }
        &:active {
            @extend .scale-90;
        }
        &.btn-white {
            @extend .bg-none;
            @extend .c-white;
            box-shadow:inset 0 0 0 1px rgba($white,.3);

            html.d-phone & {
                @extend .c-white;
            }
            &:hover {
                @extend .bg-white;
                box-shadow:inset 0 0 0 1px rgba($white,.5);
            }
        }
        &.btn-primary {
            @extend .bg-blueBright;
            @extend .c-white;
            box-shadow:none;

            html.d-phone & {
                @extend .c-white;
            }
            &:hover {
                @extend .bg-blue;
            }
        }
        &.btn-m {
            @extend .fontSize-14;
            @extend .h32;
            @extend .plr-xs;
        }
        &.btn-l {
            @extend .fontSize-15;
            @extend .h44;
            @extend .plr-m;

            html.d-phone & {
                height:42px;
            }
        }
    }
    .btn-primary-hover-success {
        @extend .c-white;
        @extend .bg-blueBright;

        &:hover {
            @extend .bg-green;
        }
        &.btn-shadow {
            @include boxShadow-3d($blueBright);

            &:hover {
                @include boxShadow-3d($green);
            }
        }
    }
    .input[type="text"]{
        &:focus {
            box-shadow:inset 0 0 0 1px $blueBright;
        }
        &.input {
            @extend .fontFamily-graphik;

            &-m {
                font-size:16px;
            }
            &-s {
                font-size:15px;
            }
        }
        html.d-phone & {
            &::-webkit-input-placeholder {
                color:$silver;
            }
            &::-moz-input-placeholder {
                color:$silver;
            }
        }
    }
    .input-svg path {
        @extend .fill-grayLight;

        html.d-phone & {
            @extend .fill-silver;
        }
    }
    .input-group-m .input-icon {
        .input-svg-search {
            @extend .w22;
            @extend .h22;
        }
        .input-svg-location {
            @extend .w32;
            @extend .h32;
            transform:translateY(3px);
        }
    }
    .input-clear {
        @extend .display-none;
        @extend .pos-tr;
        @extend .w35;
        @extend .h100p;
        @extend .cursor-pointer;

        html.d-phone & {
            @extend .r-auto;
            @extend .l0;
            @extend .w50;

            &:after {
                @extend .w28;
                @extend .h28;
                @extend .mt--1;
            }
        }
        &:after {
            @extend .content-empty;
            @extend .pos-centered;
            @extend .bg-white;
            @include ui-icon("close_strong_gray", 20px, 20px);
        }
        &:before {
            @extend .content-empty;
            @extend .pos-centered-v;
            @extend .r75;
            width:6px;
            @extend .h90p;
            @extend .bg-white;
        }
        &[data-visible="true"]{
            @extend .display-block;
        }
    }
    .input-group-l .input-icon {
        @extend .w50;

        .input-svg-search {
            width:26px;
            height:26px;
        }
        .input-svg-location {
            width:38px;
            height:38px;
            transform:translateY(3px);
        }
    }
    ui-input {
        &.focused + {
            .input-icon path {
                @extend .fill-blueBright;
            }
        }
    }
    .input-autosuggest-items {
        .input-autosuggest-item:hover,
        .input-autosuggest-item[data-active="true"] {
            @extend .c-white;
            @extend .bg-green;
        }
        html.d-phone & {
            @extend .borderRadius-none;
        }
    }
    .input-autosuggest-item {
        html.d-phone & {
            @extend .ptb-xs;

            &:last-child {
                padding-bottom:12px;
                @extend .border-none;
            }
        }
    }
    [data-balloon]:after {
        @extend .fontFamily-helvetica;
        @extend .letterSpacing-0;
    }
}
html.d-no-phone {
    .dropmenu {
        &__item {
            &:hover {
                @extend .bg-blueBright;
            }
            &.selected {
                @extend .c-blueBright;

                &:hover {
                    @extend .c-white;
                }
            }
        }
    }
}
