<ux-contacts class="component">

    <h3 class="visible-xs title">Связаться</h3>

    <div class="row">
        <div class="col-xs-24 col-lg-23 col-lg-offset-2 p0">
            <div class="row flex-row-center-stretch">
                <div class="form-wrapper col-xs-24 col-sm-12 col-md-12 col-lg-8 p-l pb-xl xs-p0 zIndex-1" data-color="{ app.device.isPhone ? 'white' : 'black' }">
                    <div class="p-m xs-p0">
                        <div class="hidden-xs c-grayLight f-primary fontSize-20 fontWeight-bold mb-xs">Связаться</div>
                        <div class="hidden-xs c-white f-primary fontSize-30 fontWeight-8 mb-l">Отправить приглашение</div>
                        <div class="form mb-m">
                            <div class="form-item">
                                <label class="form-title">Представтесь / Компания</label>
                                <input class="form-input">
                            </div>
                            <div class="form-item">
                                <label class="form-title">Email</label>
                                <input class="form-input">
                            </div>
                            <div class="form-item">
                                <label class="form-title">Сообщение</label>
                                <textarea class="form-textarea"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-{ app.device.isPhone ? 'xl display-block centered' : 'l' } btn-primary">Отправить</button>
                    </div>
                </div>
                <div class="hidden-xs col-sm-12 col-md-12 col-lg-8 p-l bg-snow zIndex-1">
                    <div class="p-m">
                        <div class="c-primary f-primary fontSize-20 fontWeight-bold mb-xs">Моя</div>
                        <div class="c-blackLight f-primary fontSize-30 fontWeight-8 mb-l">Контактная информация</div>
                        <p class="mb-m">A decade ago, we founded Melinda with the goal of creating meaningful digital experiences that connect with people.</p>
                        <div class="flex-row-left-center w100p">
                            <div class="flex-centered w80 h80 ml--m">
                                <icon-city color="primary"></icon-city>
                            </div>
                            <div class="h80 c-blackLight fontSize-18 pt-s">Москва</div>
                        </div>
                        <div class="flex-row-left-center w100p">
                            <div class="flex-centered w80 h80 ml--m pt-xxs">
                                <icon-phone color="primary"></icon-phone>
                            </div>
                            <div class="h80 c-blackLight f-primary fontSize-20 fontWeight-bold pt-m">
                                +7 916 017 20 86
                            </div>
                        </div>
                        <div class="flex-row-left-center w100p">
                            <div class="flex-centered w80 h80 ml--m">
                                <icon-feedback color="primary"></icon-feedback>
                            </div>
                            <div class="h80 pt-m">
                                <a class="fontSize-18 link-primary link-underline" href="mailto:owebme@gmail.com">owebme@gmail.com</a>
                            </div>
                        </div>
                        <div if={ $resume.social } class="mt-m">
                            <ux-social-items classname="social social-s"></ui-social-items>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-8 p0">
                    <div class="map" style="background-image:url('/assets/images/resume/bg4.jpg')"></div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.on("mount", function(){

        $afterlag.run(function(){
            $Resume.el.find(".screen[data-section='contacts']")
            .find(".form-input, .form-textarea")
            .on("focus blur", function(e){
                var $item = $$(this).parent();
                if (e.type === "focus"){
                    $item.addClass("focus");
                }
                else {
                    $item.removeClass("focus");
                }
            });
        });

		try
		{
            // ymaps.ready(function(){
            //
            //     var geoMap = new ymaps.Map('map', {
            //         center: [55.751574, 37.573856],
            //         zoom: 9
            //     }, {
            //         searchControlProvider: 'yandex#search'
            //     });
            //
            //     var myGeocoder = ymaps.geocode("г Москва");
            //     myGeocoder.then(
            //         function (res) {
            //             //console.dir(res.geoObjects);
            //             geoMap.geoObjects.add(res.geoObjects);
            //         },
            //         function (err) {
            //             // обработка ошибки
            //         }
            //     );
            // });
        }
		catch(e){};
    });

</script>

</ux-contacts>
