<ux-contacts class="component" data-feedback={ false : !$store.resume.select("sections").get({"name": "feedback"}).active }>

    <div class="row">
        <div class="col-xs-24 col-lg-23 col-lg-offset-2 p0">
            <div class="row flex-row-center-stretch">
                <ux-feedback if={ $store.resume.select("sections").get({"name": "feedback"}).active }></ux-feedback>
                <ux-contacts-content></ux-contacts-content>
                <div class="hidden-xs hidden-sm hidden-md col-lg-8 p0">
                    <div class="contacts-cover" style="background-image:url('/assets/images/resume/bg4.jpg')"></div>
                </div>
            </div>
        </div>
    </div>

</ux-contacts>
