<ux-courses class="component">

    <h3 class="title">{ $resume.courses && $resume.courses.title ? $resume.courses.title : $store.resume.placeholder.courses.title() }</h3>

    <btn-editable if={ $State.get('mode') === "editing" } data={ $resume.courses }></btn-editable>

    <div onClick={ openEditable } onUpdate="none" class="{ blur : !$resume.courses }">

        <p if={ !$resume.courses || $resume.courses && $resume.courses.text } class="mb-l pos-rel editing editing-text editing-courses-text">{ $resume.courses && $resume.courses.text ? $resume.courses.text : $store.resume.placeholder.courses.text }</p>

        <div>
            <div if={ $resume.courses && $resume.courses.items } each={ item, i in _.sortArray($resume.courses.items, "year", "desc") } class="pos-rel courses-item mtb-xl editing editing-text editing-courses-item" data-id={ item._id }>

                <h3 class="c-primary mb-s"><strong>{ item.year }</strong> &ndash; { item.name }</h3>

                <h3 class="c-black mb-s"><strong>{ item.title }</strong></h3>

            </div>
        </div>

    </div>

<script>

    var $ = this;

    $.openEditable = function(e){
        if ($State.get('mode') === "editing"){
            $Editable.open(e, "courses", $,
                {
                    root: function(){
                        return  {
                            title: null,
                            text: null,
                            items: null
                        }
                    },
                    item: function(){
                        return  {
                            _id: _.newId(),
                            name: null,
                            title: null,
                            year: new Date().getFullYear()
                        }
                    }
                },
                [
                    {
                        field: "name",
                        alert: "Название площадки или школы"
                    },
                    {
                        field: "title",
                        alert: "Введите название курса"
                    }
                ]
            );
        }
        else {
            return true;
        }
    };

</script>

</ux-courses>
