<ux-hobby class="component">

    <h3 class="title">{ $resume.hobby && $resume.hobby.title ? $resume.hobby.title : opts.title }</h3>

    <btn-editable if={ $State.get('mode') === "editing" } data={ $resume.hobby }></btn-editable>

    <div onClick={ openEditable } onUpdate="none" class="{ blur : !$resume.hobby } { transition-none : editable }">

        <p if={ !$resume.hobby || $resume.hobby && $resume.hobby.text }>{ $resume.hobby && $resume.hobby.text ? $resume.hobby.text : $store.resume.placeholder.hobby.text }</p>

        <div class="row hobby-items">
            <div each={ item in $resume.hobby.items } no-reorder class="col-xs-12 col-md-6">
                <div class="hobby-item">
                    <div class="hobby-icon icon-hobby icon-hobby-{ item }"></div>
                    <div class="hobby-title">{ $store.hobby.getTitleById(item) }</div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.openEditable = function(e){
        if ($State.get('mode') === "editing"){
            $Editable.show("hobby", {
                active: $store.resume.select('sections').get({'name': 'hobby'}).active,
                title: $.opts.title,
                hobby: $resume.hobby,
                callback: function(active, hobby){
                    $store.resume.select('sections', {'name': 'hobby'}).set('active', active);
                    $resume.hobby = hobby ? hobby : null;
                    $.update({
                        editable: false
                    });
                }
            });
            $.editable = true;
        }
    };

</script>

</ux-hobby>
