<ux-hobby class="component">

    <h3 class="title">{ $resume.hobby && $resume.hobby.title ? $resume.hobby.title : opts.title }</h3>

    <btn-editable if={ $State.get('mode') === "editing" } data={ $resume.hobby }></btn-editable>

    <div class="{ blur : !$resume.hobby }">

        <p onClick={ openEditable } onUpdate="none" data-target="text" if={ !$resume.hobby || $resume.hobby && $resume.hobby.text } class="pos-rel editing editing-text editing-hobby-text">{ $resume.hobby && $resume.hobby.text ? $resume.hobby.text : $store.resume.placeholder.hobby.text }</p>

        <div onClick={ openEditable } onUpdate="none" data-target="hobby" class="pos-rel editing editing-text editing-hobby-items">
            <div class="row hobby-items">
                <div each={ item in $resume.hobby.items } no-reorder class="col-xs-12 col-md-6">
                    <div class="hobby-item">
                        <div class="hobby-icon icon-hobby icon-hobby-{ item }"></div>
                        <div class="hobby-title">{ $store.hobby.getTitleById(item) }</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.openEditable = function(e){
        $Editable.open(e, "hobby", $,
            {
                root: function(){
                    return  {
                        title: null,
                        text: null,
                        items: null
                    }
                }
            },
            false,
            {
                before: function($){
                    var target = e.currentTarget.getAttribute("data-target");
                    if (target) $.show[target].call();
                }
            }
        );
    };

</script>

</ux-hobby>
