<ux-jobs class="component">

    <div class="row">
        <div class="col-xs-24 col-md-18 col-md-offset-6">
            <div class="screen__inner">

                <btn-editable if={ $mode === "editing" } data={ $resume.jobs }></btn-editable>

                <h3 class="title anim" data-anim="bt">{ $resume.jobs && $resume.jobs.title ? $resume.jobs.title : opts.title }</h3>

                <div if={ !$resume.jobs || $resume.jobs && $resume.jobs.text } onClick={ openEditable } onUpdate="none" class="{ blur : !$resume.jobs } { transition-none : editable }">
                    <div class="row mb-l">
                        <div class="col-xs-24 pb-xs">
                            <p class="anim" data-anim="lr">{ $resume.jobs && $resume.jobs.text ? $resume.jobs.text : $store.resume.placeholder.jobs.text }</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div onClick={ openEditable } onUpdate="none" class="row job-items">
        <div class="col-xs-24 col-lg-22 col-lg-offset-2">
            <div class="pt-xl pb-m plr-l sm-plr0 xs-pt-l xs-plr-xxs xs-pb-l bg-primary">
                <div class="bg-section bg-primary"></div>
                <div if={ $mode === "editing" && (!$resume.jobs || !$resume.jobs.items) } class="aspectRatio-169">
                    <div class="pos-centered pb-xl xs-pb-m">
                        <button class="btn btn-xl btn-editable btn-white btn-upper" type="button"><svg class="btn-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path class="btn-svg-color" d="M87.754,45.284H54.716V12.246c0-2.605-2.111-4.716-4.716-4.716c-1.302,0-2.481,0.528-3.334,1.382 c-0.853,0.853-1.381,2.032-1.382,3.334v33.038l-33.038,0c-1.302,0-2.481,0.528-3.334,1.382C8.058,47.519,7.53,48.698,7.53,50 c0,2.605,2.111,4.716,4.716,4.716l33.038,0l0,33.038c0,2.605,2.111,4.716,4.716,4.716c2.604,0,4.716-2.112,4.716-4.716l0-33.038 h33.038c2.604,0,4.716-2.112,4.716-4.716C92.47,47.395,90.359,45.284,87.754,45.284z"></path></svg>Добавить место работы</button>
                    </div>
                </div>
                <div each={ item in sort($resume.jobs.items) } class="jobs-item" data-id={ item._id }>
                    <div class="row pl-m pt-xxs sm-pl0">
                        <div class="col-md-14">
                            <h3 class="job-title anim" data-anim="lr">{ item.post }</h3>
                            <h4 class="job-subtitle anim" data-anim="lr">{ get.period(item) }</h4>
                        </div>
                        <div class="col-md-10">
                            <div class="job-year">{ get.year(item) }</div>
                            <h3 class="job-title anim" data-anim="lr">{ item.company } &ndash; { item.city }</h3>
                        </div>
                    </div>
                    <div class="row pl-m pt-xxs pb-xl sm-pl0">
                        <div class="col-xs-24 col-lg-22">
                            <div class="job-text" data-anim="lr">
                                { item.text }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.get = {
        period: function(item){
            var day = new Date().getDate(),
                months = 0,
                years = 0,
                f = $store.month.getTitleById(item.from.month) + " " + item.from.year;

            if (item.last){
                var t = 'по настоящее время';
                months = moment().diff(item.from.year + '-' + (item.from.month < 10 ? '0' + item.from.month : item.from.month) + '-' + (day < 10 ? '0' + day : day), 'month');
            }
            else {
                var t = $store.month.getTitleById(item.to.month) + " " + item.to.year;
                months = moment(item.to.year + '-' + (item.to.month < 10 ? '0' + item.to.month : item.to.month) + '-' + (day < 10 ? '0' + day : day)).diff(item.from.year + '-' + (item.from.month < 10 ? '0' + item.from.month : item.from.month) + '-' + (day < 10 ? '0' + day : day), 'month');
            }

            if (months > 0){
                years = Math.floor(months / 12);
                if (years == "1") years = years + " год";
                else if (years > 1 && years < 5) years = years + " года";
                else years = years + " лет";
            }
            if (months){
                months = months - Math.floor(months / 12) * 12;
                if (months == "1") months = months + " месяц";
                else if (months > 1 && months < 5) months = months + " месяца";
                else months = months + " месяцев";
            }
            if (years){
                return f + " — " + t + " (" + years + (parseInt(months) > 0 ? ", " + months : "") + ")";
            }
            else if (months){
                return f + " — " + t + " (" + months + ")";
            }
            else {
                return f + " — " + t;
            }
        },

        year: function(item){
            if (item.last){
                return new Date().getFullYear();
            }
            else {
                return item.to.year;
            }
        }
    };

    $.sort = function(items){
        return _.sortBy(items, function(item){
			return $.get.year(item);
		}).reverse();
    };

    $.openEditable = function(e){
        $Editable.open(e, "jobs", $,
            {
                root: function(){
                    return  {
                        title: null,
                        text: null,
                        items: null
                    }
                },
                item: function(){
                    return  {
                        _id: _.newId(),
                        company: null,
                        city: null,
                        post: null,
                        from: {
                            month: "1",
                            year: "2000"
                        },
                        to: {
                            month: "1",
                            year: "2000"
                        },
                        text: null,
                        last: false
                    }
                }
            },
            [
                {
                    field: "post",
                    alert: "Введите должность"
                },
                {
                    field: "company",
                    alert: "Введите название компании"
                },
                {
                    field: "city",
                    alert: "Введите город"
                },
                {
                    field: "text",
                    alert: "Введите описание"
                }
            ]
        );
    };

</script>

</ux-jobs>
