<ux-languages class="component">

    <h3 class="title anim" data-anim="bt">{ $resume.languages && $resume.languages.title ? $resume.languages.title : opts.title }</h3>

    <btn-editable if={ $mode === "editing" } data={ $resume.languages }></btn-editable>

    <div onClick={ openEditable } onUpdate="none" class="{ blur : !$resume.languages } { transition-none : editable }">

        <p if={ !$resume.languages || $resume.languages && $resume.languages.text } class="mb-l anim" data-anim="bt">{ $resume.languages && $resume.languages.text ? $resume.languages.text : $store.resume.placeholder.languages.text }</p>

        <div class="row">
            <div each={ item in ($resume.languages && $resume.languages.items ? $resume.languages.items : $store.resume.placeholder.languages.items ) } class="col-xs-24 col-sm-24 col-md-12">
                <h3 class="{ 'c-primary' : item.title == 'native' } mb-l anim" data-anim="lr">{ $store.languages.getTitleById(item.title) }<span class="plr-xs">&ndash;</span>
                    <strong if={ item.title == "native" }>
                        { $store.languages.native.getTitleById(item.value) }
                    </strong>
                    <strong if={ item.title != "native" } class={ 'c-grayDark' : item.value == "1" }>
                        { $store.languages.select.getTitleById(item.value) }
                    </strong>
                </h3>
            </div>
        </div>

    </div>

<script>

    var $ = this;

    $.openEditable = function(e){
        $Editable.open(e, "languages", $,
            {
                root: function(){
                    return  {
                        title: null,
                        text: null,
                        items: [
                            {
                                title: "native",
                                value: "4"
                            },
                            {
                                title: "en",
                                value: "1"
                            },
                            {
                                title: "de",
                                value: "1"
                            },
                            {
                                title: "fr",
                                value: "1"
                            }
                        ]
                    }
                }
            }
        );
    };

</script>

</ux-languages>
