<ux-languages class="component">

    <h3 class="title">{ $resume.languages && $resume.languages.title ? $resume.languages.title : $store.resume.placeholder.languages.title() }</h3>

    <btn-editable if={ $State.get('mode') === "editing" } data={ $resume.languages }></btn-editable>

    <div onClick={ openEditable } onUpdate="none" class="{ blur : !$resume.languages }">

        <p if={ !$resume.languages || $resume.languages && $resume.languages.text } class="mb-l" data-scrollin>{ $resume.languages && $resume.languages.text ? $resume.languages.text : $store.resume.placeholder.languages.text }</p>

        <div class="row">
            <div class="editing editing-text editing-lang-items">
                <div each={ item, i in ($resume.languages && $resume.languages.items ? $resume.languages.items : $store.resume.placeholder.languages.items ) } no-reorder class="col-xs-24 col-sm-24 col-md-{ i % 2 == 0 ? '11' : '13' }">
                    <h3 class="{ 'c-primary' : item.title == 'native' } mb-l headline-icons"><span class="display-block float-left" data-scrollin-icon>{ $store.languages.getTitleById(item.title) }<span class="plr-xs">&ndash;</span></span>
                        <strong class="display-block" if={ item.title == "native" } data-scrollin-icon="\{'stagger':60\}">
                            { $store.languages.native.getTitleById(item.value) }
                        </strong>
                        <strong if={ item.title != "native" } class={ item.value == "1" ? 'display-block c-grayDark' : 'display-block' } data-scrollin-icon="\{'stagger':60\}">
                            { $store.languages.select.getTitleById(item.value) }
                        </strong>
                    </h3>
                </div>
            </div>
        </div>

    </div>

<script>

    var $ = this;

    $.openEditable = function(e){
        if ($State.get('mode') === "editing"){
            $Editable.open(e, "languages", $,
                {
                    root: function(){
                        return  {
                            title: null,
                            text: null,
                            items: [
                                {
            				        title: "native",
            				        value: "rus"
            				    },
            				    {
            				        title: "eng",
            				        value: "not"
            				    },
            				    {
            				        title: "deu",
            				        value: "not"
            				    },
            				    {
            				        title: "fra",
            				        value: "not"
            				    }
                            ]
                        }
                    }
                }
            );
        }
        else {
            return true;
        }
    };

</script>

</ux-languages>
