<ux-likes class="display-block { isLiked ? 'showAnim-group2' : 'showAnim-group1' }">

    <div class="row">
        <div class="col-xs-24 likes centered" data-gender={ $resume.commons.gender }>
            <div class="likes__cover anim anim-group1 anim-scale">
                <div if={ $resume.photo } class="likes__cover__photo" style="background-image:url('{ $resume.photo }')"></div>
                <div if={ $resume.config.likes.count && $resume.likes.length } class="likes__cover__badge">{ $resume.likes.length }</div>
            </div>
            <div class="likes__text mb-m anim anim-group1 anim-tb-ease">Если вам понравилось мое резюме поставте лайк</div>
            <div class="anim anim-group1 anim-scale-ease">
                <div onClick={ liked } class="btn btn-xl2 btn-strong btn-white-hover">Мне нравиться</div>
            </div>
            <div class="pos-centered-v flex-column-centered w100p pb-l pointerEvents-none">
                <div class="ui-icon-check_circle_white w50 h50 mb-s anim-group2 anim-scale" delay-show="xl"></div>
                <div class="anim-group2 anim-bt-soft plr-l likes__text" delay-show="s" data-duration="l">Спасибо за ваш голос, он будет учтен.</div>
            </div>
        </div>
    </div>

<script>

    this.isLiked = false;

    this.liked = function(){
        this.isLiked = true;

        if (!app.demo){
            app.request("addResumeLike", {
                id: $resume._id
            }, {
                loader: false,
                notify: false
            });
        }
    };

</script>

</ux-likes>
