<ux-text class="component">

    <btn-editable if={ $State.get('mode') === "editing" } data={ opts.cursor.get(opts.update) }></btn-editable>

    <div onClick={ openEditable } onUpdate="none" class="{ opts.classname } { blur : !opts.cursor.get(opts.update) }">
        <div class={ 'editing editing-text editing-commons-text' : opts.update != "post" }>{ opts.cursor.get(opts.update) ? opts.cursor.get(opts.update) : $store.resume.placeholder[opts.update] }</div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    this.on("mount", function(){
        if ($State.get('mode') !== "editing"){
            if (!$.opts.cursor.get($.opts.update)) $scope.remove();
            else $scope.children().unwrap();
        }
    });

    $.openEditable = function(){
        if ($State.get('mode') === "editing"){
            $Editable.show("text", {
                active: $.opts.activity ? $store.resume.select('sections').get({'name': $.opts.update}).active : null,
                title: $.opts.title,
                type: $.opts.type,
                update: $.opts.update,
                editing: $.opts.cursor.get($.opts.update),
                autosuggest: $.opts.autosuggest,
                callback: function(active, data){
                    if (active !== null){
                        $store.resume.select('sections', {'name': $.opts.update}).set('active', active);
                    }
                    $.opts.cursor.set($.opts.update, data ? data : null);

                    if (!app.device.isPhone && $.opts.update == "about"){
                        $Resume.tags["ux-about"].update({
                            editable: false
                        });
                        $Resume.tags["ux-about-large"].update({
                            editable: false
                        });
                    }
                    else {
                        $.update({
                            editable: false
                        });
                    }
                }
            });
            $.editable = true;
        }
        else {
            return true;
        }
    };

</script>

</ux-text>
