.input {
    @extend .fontFamily-helvetica;
    @extend .c-black;
    @extend .fontWeight-normal;
    @extend .borderRadius-m;
    @extend .w100p;
    @extend .border-none;
    @extend .vAlign-middle;
    @extend .lineHeight-1;
    @extend .transition-default;
    @extend .border-none;
    box-shadow:inset 0 0 0 1px lighten($grayLighten,5%);

    &:hover {
        box-shadow:inset 0 0 0 1px lighten($grayLight,5%);
    }
    &:focus {
        box-shadow:inset 0 0 0 1px $blue;

        + .input-icon .input-svg-color {
            @extend .fill-blue;
        }
    }
    &::-webkit-input-placeholder {
        line-height:normal;
        color:$grayLight;
    }
    &::-moz-input-placeholder {
        line-height:normal;
        color:$grayLight;
    }
    &:disabled,
    &:disabled:hover {
        @extend .bg-snow;
        box-shadow:inset 0 0 0 1px $smoke;
        @extend .cursor-default;
    }
    &-error,
    &-error:hover,
    &-error:focus {
        box-shadow:inset 0 0 0 1px $red;
    }
    &-icon {
        @extend .pos-tl;
        @extend .flex-centered;
        width:38px;
        @extend .h100p;
    }
    &-svg {
        @extend .display-block;
        width:24px;
        height:24px;

        &-color {
            @extend .fill-grayLighten;
            @extend .transition-default;
        }
        &-active {
            .input-svg-color {
                @extend .fill-blue;
            }
        }
        &-s {
            width:20px;
            height:20px;
        }
        &-xs {
            width:18px;
            height:18px;
        }
    }
    &-xl {
        min-width:60px;
        font-size:19px;
        height:60px;
        padding:0 20px;
    }
    &-l {
        min-width:50px;
        font-size:18px;
        height:50px;
        padding:0 16px;
    }
    &-m {
        min-width:40px;
        font-size:18px;
        height:40px;
        padding:0 14px;
    }
    &-s {
        min-width:30px;
        font-size:16px;
        height:30px;
        padding:0 10px;
        @extend .borderRadius-xs;
    }
    &-group {
        @extend .pos-rel;
        @extend .display-block;
        @extend .w100p;

        &-icon {
            @extend .display-inlineBlock;

            .input-m,
            .textarea-m {
                padding-left:38px;
            }
            .input-l,
            .textarea-l {
                padding-left:50px;

                ~ .input-icon {
                    width:50px;

                    .input-svg {
                        width:30px;
                        height:30px;
                    }
                }
            }
            .input-xl,
            .textarea-xl {
                padding-left:58px;

                ~ .input-icon {
                    width:58px;

                    .input-svg {
                        width:32px;
                        height:32px;

                        &-name,
                        &-password {
                            width:35px;
                            height:35px;
                        }
                        &-login {
                            width:29px;
                            height:29px;
                        }
                    }
                }
            }
        }
        &-addon {
            @extend .flex-centered;
            @extend .pos-tr;
            @extend .w40;
            @extend .fontSize-0;
            @extend .h100p;

            + .input {
                padding-right:40px;
            }
            &-icon {
                margin:0 5px;

                &-close {
                    display:block;
                    cursor:pointer;
                    @include ui-icon(close_strong, 28px, 28px);
                }
            }
        }
    }
    &-context {
        @extend .display-inlineBlock;
        @extend .c-gray;
        @extend .bg-snow;
        @extend .cursor-default;
        width:5px !important;

        &-xl {
            @extend .input;
            @extend .input-xl;
            @extend .input-context;
            line-height:60px !important;
        }
        &-l {
            @extend .input;
            @extend .input-l;
            @extend .input-context;
            line-height:50px !important;
        }
        &-m {
            @extend .input;
            @extend .input-m;
            @extend .input-context;
            line-height:40px !important;
        }
        &-s {
            @extend .input;
            @extend .input-s;
            @extend .input-context;
            line-height:30px !important;
        }
        &:hover {
            box-shadow:inset 0 0 0 1px #d9e2e9;
        }
    }
    &-transparent {
        color:$white !important;
        @extend .fontWeight-5;
        @extend .bg-transparent;
        box-shadow:0 0 0 2px rgba($white,.5);

        &.input-xl {
            font-size:20px;
        }
        &.input-l {
            font-size:18px;
        }
        &:hover {
            box-shadow:0 0 0 2px rgba($white,.7);
        }
        &:focus {
            box-shadow:0 0 0 2px rgba($white,.9);
        }
    }
    &-title {
        @extend .visible-xs;
        @extend .fontFamily-futura;
        @extend .fontWeight-bold;
        @extend .text-uppercase;
        @extend .letterSpacing--s;
        @extend .text-left;
        font-size:12px;
        line-height:17px;
        margin:-7.5px 0 2px 1px;
    }
    &-white {
        &::-webkit-input-placeholder {
            color:rgba($white,.7);
        }
        &::-moz-input-placeholder {
            color:rgba($white,.7);
        }
        &.input {
            @extend .c-white;
            @extend .fontFamily-roboto;
            @extend .fontWeight-5;
            @extend .bg-none;
            box-shadow:0 0 0 2px rgba($white,.5);

            html.d-no-phone & {
                &::-webkit-input-placeholder {
                    color:rgba($white,.6);
                    font-weight:normal;
                }
                &::-moz-input-placeholder {
                    color:rgba($white,.6);
                    font-weight:normal;
                }
            }
            html.d-phone & {
                &::-webkit-input-placeholder {
                    font-family:$helvetica;
                    font-weight:normal;
                }
                &::-moz-input-placeholder {
                    font-family:$helvetica;
                    font-weight:normal;
                }
            }
            &:hover {
                box-shadow:0 0 0 2px rgba($white,.7);
            }
            &:focus {
                box-shadow:0 0 0 2px rgba($white,.9);
            }
            &-xl {
                font-size:24.5px;
                letter-spacing:-0.2px;
            }
            &-l {
                font-size:20px;

                &::-webkit-input-placeholder {
                    font-size:16.5px;
                }
                &::-moz-input-placeholder {
                    font-size:16.5px;
                }
            }
        }
    }
    &-rounded {
        @extend .borderRadius-xxxxxl;
    }
    &-autosuggest {
        @extend .pos-rel;
        @extend .display-block;

        &-items {
            @extend .pos-abs;
            @extend .t100;
            @extend .l0;
            @extend .w100p;
            @extend .bg-white;
            @extend .ptb-xxs;
            @extend .text-left;
            @extend .borderRadiusBottom-l;

            &:empty {
                @extend .opacity-0;
                @extend .pointerEvents-none;
            }
            &:not(:empty) {
                box-shadow:0 8px 40px 0 rgba(0,0,0,.1), 0 1px 4px 0 rgba(0,0,0,.06);
                @extend .zIndex-101;
            }
            &[data-image="true"]{
                .input-autosuggest-item-title {
                    @extend .maxW-85p;
                }
            }
        }
        &-item {
            @extend .pos-rel;
            @extend .c-blackLight;
            @extend .fontFamily-helvetica;
            @extend .cursor-pointer;
            @extend .plr-m;
            @extend .ptb-xss;
            @extend .letterSpacing-0;
            border-bottom:1px solid $smokeLight;

            &:hover,
            &[data-active="true"] {
                @extend .c-black;
                background-color:rgba($blueLight,.15);
            }
            &-title {
                @extend .text-truncate;
                @extend .maxW-95p;
            }
            &-image {
                @extend .flex-centered;
                @extend .pos-tr;
                @extend .w15p;
                @extend .h100p;
                @extend .plr-s;
                @extend .bg-white;
            }
            &-logo {
                @extend .display-block;
                @extend .maxW-100p;
                @extend .maxH-45p;
            }
        }
        &-xl {
            .input-autosuggest-item {
                font-size:17px;
            }
        }
        &-l {
            .input-autosuggest-item {
                font-size:16px;
            }
        }
        &-m {
            .input-autosuggest-item {
                font-size:15px;
                @extend .plr-s;
                @extend .ptb-xxs;
            }
        }
        &-s {
            .input-autosuggest-item {
                font-size:14px;
                @extend .plr-s;
                @extend .ptb-xxs;
            }
        }
        html.d-phone & {
            .input-autosuggest-item {
                font-size:18px;
                @extend .plr-m;
                @extend .ptb-xss;

                &-image {
                    @extend .w20p;
                }
                &-logo {
                    @extend .maxH-60p;
                }
            }
        }
    }
    &-phone {
        @extend .display-block;
        @extend .pos-rel;
        @extend .w100p;

        .country-list {
            &[data-hidden="true"] {
                @extend .display-none;
            }
        }
        .flag-container {
            @extend .pos-abs;
            @extend .t0;
            @extend .b0;
            padding:1px;

            &:hover {
                @extend .cursor-pointer;
            }
        }
        input[disabled] + .flag-container:hover,
        input[readonly] + .flag-container:hover {
            @extend .cursor-default;
        }
        input[disabled] + .flag-container:hover .selected-flag,
        input[readonly] + .flag-container:hover .selected-flag {
            @extend .bg-transparent;
        }
        select {
            @include abs();
            @extend .opacity-0;
            @extend .zIndex-1;
        }
        .country {
            @extend .fontFamily-helvetica;

            &:hover {
                @extend .bg-snowSilver;
            }
        }
        .dial-code {
            @extend .c-silver;
        }
        .selected-flag {
            @extend .bg-snowSilver;
            @extend .borderRadiusLeft-m;
            @extend .transition-default;
        }
        .flag-container:hover .selected-flag {
            @extend .bg-blueBright-transparent;
        }
        &-xl {
            input[type=text] {
                padding-left: 80px
            }
            .selected-flag {
                width: 66px;
                padding-left: 20px
            }
            .country {
                height: 60px;
                font-size:18px;
                line-height:60px;
                padding: 0 0 0 20px
            }
            .country-list {
                height:242px;
            }
            .flag {
                margin-right: 20px
            }
        }
        &-l {
            input[type=text] {
                padding-left: 78px
            }
            .selected-flag {
                width: 62px;
                padding-left: 16px
            }
            .country {
                height: 50px;
                font-size:16px;
                line-height:50px;
                padding: 0 0 0 16px
            }
            .country-list {
                height:202px;
            }
            .flag {
                margin-right: 16px
            }
        }
        &-m {
            input[type=text] {
                padding-left: 70px
            }
            .selected-flag {
                width: 58px;
                padding-left: 12px
            }
            .country {
                height: 40px;
                font-size:15px;
                line-height: 40px;
                padding: 0 0 0 12px
            }
            .country-list {
                height:162px;
            }
            .flag {
                margin-right: 12px
            }
        }
        &-s {
            input[type=text] {
                padding-left: 62px
            }
            .selected-flag {
                width: 54px;
                padding-left: 8px
            }
            .country {
                height: 30px;
                font-size:14px;
                line-height: 30px;
                padding: 0 0 0 8px
            }
            .country-list {
                height:122px;
            }
            .flag {
                margin-right: 8px
            }
        }
        &-rounded {
            .selected-flag {
                @extend .borderRadiusLeft-xxxxxl;
            }
        }
    }
}
div.input {
    &-xl {
        line-height:60px;
    }
    &-l {
        line-height:50px;
    }
    &-m {
        line-height:40px;
    }
    &-s {
        line-height:30px;
    }
}
.input-group:not(.input-group-icon) {
    @extend .display-table;
    transform:translateX(0);

    > .input {
        @extend .pos-rel;
        @extend .display-tableCell;
    }
    .input + .input,
    .input + .input-group,
    .input-group + .input,
    .input-group + .input-group {
        transform:translateX(-1px);
    }
    > .input:not(:first-child):not(:last-child) {
        @extend .borderRadius-none;
    }
    .input:first-child {
        &:not(:last-child) {
            @extend .borderRadiusRight-none;
        }
    }
    .input:focus {
        z-index:1;
    }
    .input-context-s,
    .input-context-m,
    .input-context-l,
    .input-context-xl {
        &:last-child {
            transform:translateX(-2px);
        }
    }
    > .input:last-child:not(:first-child) {
        @extend .borderRadiusLeft-none;
    }
}
