.notify {
    @include accelerate();
    @extend .opacity-0;
    @extend .c-white;
    @extend .borderRadius-l;
    @extend .pointerEvents-none;
    @extend .zIndex-101;
    min-width:300px;
    max-width:380px;
    padding:28px 25px 32px 80px;
    transition:transform .5s $bounceForce, opacity .4s $cubic40;

    &:before {
        @extend .content-empty;
        @extend .pos-tl;
        @include ui-icon("info_white", 32px, 32px);
        transform:translate3d(25px, 20px, 0);
    }
    &-xl {
        font-size:22px;
        line-height:28px;
    }
    &-l {
        font-size:20px;
        line-height:26px;
    }
    &-m {
        font-size:18.5px;
        line-height:24px;
    }
    &-s {
        font-size:17px;
        line-height:21px;
    }
    &-xs {
        font-size:16px;
        line-height:20px;
    }
    &-wrapper {
        @extend .display-none;
        @extend .pos-fixed;
        @extend .visibility-hidden;
        @extend .zIndex-101;
        max-width:calc(100vw - 40px);
        transition:visibility 0s .4s;

        &[data-pos="top-center"]{
            @extend .t-m;
            @extend .l50;
            transform:translateX(-50%);

            .notify {
                transform:translate3d(0, -40px, 0);
            }
        }
        &[data-pos="top-left"]{
            @extend .t-m;
            @extend .l-m;

            .notify {
                transform:translate3d(0, -40px, 0);
            }
        }
        &[data-pos="top-right"]{
            @extend .t-m;
            @extend .r-m;

            .notify {
                transform:translate3d(0, -40px, 0);
            }
        }
        &[data-pos="bottom-center"]{
            @extend .b-m;
            @extend .l50;
            transform:translateX(-50%);

            .notify {
                transform:translate3d(0, 40px, 0);
            }
        }
        &[data-pos="bottom-left"]{
            @extend .b-m;
            @extend .l-m;

            .notify {
                transform:translate3d(0, 40px, 0);
            }
        }
        &[data-pos="bottom-right"]{
            @extend .b-m;
            @extend .r-m;

            .notify {
                transform:translate3d(0, 40px, 0);
            }
        }
        &[data-active="true"]{
            @extend .pointerEvents-all;
            @extend .visibility-visible;
            transition:visibility 0s;

            .notify {
                @extend .opacity-100;
                @extend .transform-default;
            }
        }
    }
}
