.ripple {
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    overflow: hidden;
    transform: translateZ(0); /* to contain zoomed ripple */
    border-radius: inherit; /* inherit from parent (rounded buttons etc) */
    pointer-events: none; /* allow user interaction */
    will-change:box-shadow;
    perspective:200px;
    animation: rippleWave-shadow 0.4s forwards;
    z-index:1000;
}
.rippleWave {
    -webkit-backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0.7);
    background: rgba(255,255,255, 1);
    opacity: 0.45;
    will-change:transform;
    animation: rippleWave 2s forwards;
}
@keyframes rippleWave-shadow {
  0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
  20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.3);}
  100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
}
@keyframes rippleWave {
  to {transform: scale(24); opacity:0;}
}
@mixin rippleDark() {
    .rippleWave {
        background:rgba(#1f2d3d,.25);
    }
}
