.rangeslider {
    @extend .pos-bl;
    @extend .w100p;
    @extend .zIndex-1;

    &-handle {
        @extend .pos-abs;
        @extend .w20;
        @extend .h20;
        border-radius:0 0 3px 3px;
        transform:translateY(-4px);
        @extend .bg-blue;
        @extend .cursor-pointer;

        html.m-touch & {
            &:before {
                @extend .content-empty;
                @include abs();
                transform:scale(2.5);
            }
        }
        &:after {
            @extend .w100p;
            @extend .content-empty;
            @extend .pos-abs;
            top:-12px;
            @extend .l0;
            border-top:0;
            border-bottom:12px solid $blue;
            border-right:9px solid transparent;
            border-left:9px solid transparent;
        }
        html.d-phone & {
            @extend .bg-lime;
            transform:translateY(-1px);
            border-radius:0 0 4px 4px;
            box-shadow:0 12px 20px -10px rgba($lime, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba($lime, 0.2);

            &:after {
                border-bottom-color:$lime;
            }
        }
    }
    &.small {
        .rangeslider-handle {
            width:16px;
            height:16px;
            border-radius:0 0 2px 2px;
            @extend .transform-default;

            html.d-phone & {
                width:18px;
                height:18px;
                border-radius:0 0 4px 4px;
                transform:translateY(-2px);

                &:after {
                    top:-11px;
                    border-bottom-width:11px;
                    border-right-width:8px;
                    border-left-width:8px;
                }
            }
            &:after {
                @extend .t--xs;
                border-bottom-width:10px;
                border-right-width:7px;
                border-left-width:7px;
            }
        }
    }
    &-color {
        &-white {
            .rangeslider-handle {
                @extend .bg-white;

                &:after {
                    border-bottom-color:$white;
                }
                html.d-phone & {
                    @extend .bg-lime;

                    &:after {
                        border-bottom-color:$lime;
                    }
                }
            }
        }
    }
}
