.switcher {
    @include accelerate();
    @extend .pos-rel;
    @extend .display-inlineBlock;
    @extend .text-left;
    @extend .userSelect-none;
    @extend .w60;
    @extend .overflow-hidden;
    @extend .cursor-pointer;
    border-radius:30px;
    line-height:1.72222;
    // -webkit-mask:url("/assets/images/mask.png") 0 0 no-repeat;
    // -webkit-mask-size:60px 28px;
    // mask:url("/assets/images/mask.png") 0 0 no-repeat;
    box-shadow:0 0 0 2px rgba($white,.5);

    &.disabled {
        @extend .opacity-50;
        @extend .cursor-default;

        .switch-label {
            @extend .cursor-default;
        }
    }
    &[active="true"] > .switch {
        transform:translate3d(0, 0, 0);
    }
    .m-no-touch &[active="true"]:hover .switch-label {
        margin:3px -19px;
        width:26px;
    }
    .m-no-touch &:hover .switch-label {
        margin:3px -15px;
        width:26px;
    }
}
.switch {
    @include accelerate();
    @extend .pos-rel;
    @extend .w100;
    @extend .fontFamily-helvetica;
    will-change:transform;
    transition:transform 0.25s ease-out;
    transform:translate3d(-32px, 0, 0);

    // &-left,
    // &-right {
    //     background-color:#ddd;
    // }
    &-label {
        @include accelerate();
        @extend .pos-rel;
        @extend .bg-white;
        @extend .float-left;
        @extend .vAlign-middle;
        @extend .p0;
        @extend .cursor-pointer;
        background:linear-gradient(to bottom, white 0%, #f1f1f2 100%);
        background-size:150% 150%;
        box-shadow:0 1px 1px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.25);
        width:22px;
        height:22px;
        margin:3px -15px;
        border-radius:12px;
        will-change:margin, width;
        transition:margin 0.25s ease-out, width 0.25s ease-out;
        z-index:1;
    }
    &-input {
        @extend .display-none;
    }
    &-left,
    &-right {
        @extend .pos-rel;
        @extend .float-left;
        @extend .m0;
        @extend .w50p;
        @extend .text-center;
        @extend .fontWeight-normal;
        color:$white;
        font-size:11px;
        height:28px;
        line-height:15px;
        padding-bottom:6px;
        padding-top:7px;
        text-indent:-10px;
        z-index:1;
    }
    &-left {
        // background-color:#23CCEF;
        border-left:1px solid transparent;
        border-radius:30px 0 0 30px;
    }
    &-right {
        // background-color:#23CCEF;
        border-radius:0 30px 30px 0;
        text-indent:-3px;
    }
}
