<overview-functions class="oScreen zIndex-2" data-open={ active } data-color="blue">

    <div class="pos-bl w100p anim-group3 anim-showDown">
        <div onClick={ hide } class="overview__functions__close"></div>
    </div>

    <div class="pos-centered">

        <div class="container">
            <div class="row mb-xl">
                <div class="col-md-6 mb-l anim-group1 anim-showLeft">
                    <div class="overview__functions__item">
                        <div class="flex-centered w100p" style="height:140px">
                            <icon-globe size="xl" color="white"></icon-globe>
                        </div>
                        <div class="overview__functions__item__text">
                            Резюме на двух языках, на русском и английских языках
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-l anim-group1 anim-showUp anim-delay-xs">
                    <div class="overview__functions__item">
                        <div class="flex-centered w100p" style="height:140px">
                            <icon-control size="xl" color="white"></icon-control>
                        </div>
                        <div class="overview__functions__item__text">
                            Легкая настройка, редактирование в несколько кликов
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-l anim-group1 anim-showRight anim-delay-s">
                    <div class="overview__functions__item">
                        <div class="flex-centered w100p" style="height:140px">
                            <icon-play size="xl" color="white"></icon-play>
                        </div>
                        <div class="overview__functions__item__text">
                            Просто оживить резюме, анимация эллементов
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-l anim-group1 anim-showDown anim-delay-m">
                    <div class="overview__functions__item">
                        <div class="flex-centered w100p" style="height:140px">
                            <icon-chart size="xl" color="white"></icon-chart>
                        </div>
                        <div class="overview__functions__item__text">
                            Статистика по дням, посещения резюме
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-xl">
                <div class="col-md-6 anim-group2 anim-showDown">
                    <div class="overview__functions__item">
                        <div class="flex-centered w100p" style="height:140px">
                            <icon-devices size="xl" color="white"></icon-devices>
                        </div>
                        <div class="overview__functions__item__text">
                            100% адаптация для всех мобильных и не мобильных устройств
                        </div>
                    </div>
                </div>
                <div class="col-md-6 anim-group2 anim-showLeft anim-delay-xs">
                    <div class="overview__functions__item">
                        <div class="flex-centered w100p" style="height:140px">
                            <icon-feedback size="xl" color="white"></icon-feedback>
                        </div>
                        <div class="overview__functions__item__text">
                            100% адаптация для всех мобильных и не мобильных устройств
                        </div>
                    </div>
                </div>
                <div class="col-md-6 anim-group2 anim-showUp anim-delay-s">
                    <div class="overview__functions__item">
                        <div class="flex-centered w100p" style="height:140px">
                            <icon-pdf size="xl" color="white"></icon-pdf>
                        </div>
                        <div class="overview__functions__item__text">
                            100% адаптация для всех мобильных и не мобильных устройств
                        </div>
                    </div>
                </div>
                <div class="col-md-6 anim-group2 anim-showRight anim-delay-m">
                    <div class="overview__functions__item">
                        <div class="flex-centered w100p" style="height:140px">
                            <icon-print size="xl" color="white"></icon-print>
                        </div>
                        <div class="overview__functions__item__text">
                            100% адаптация для всех мобильных и не мобильных устройств
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<script>

    var $ = this;

    $.on("mount", function(){
        $.animate = new app.plugins.animate($.root, {
            showAfter: 1
        });
    });

    $.active = false;

    $.show = function(){
        $.update({
            active: true
        })
        $.animate.show();
    };

    $.hide = function(){
        $.animate.hide(function(){
            $.update({
                active: false
            })
        });
    };

</script>

</overview-functions>
