overview-jptest {
    .slide1 {
        &__wrapper {
            @extend .pos-rel;
            height:694px;
            @extend .overflow-hidden;
        }
        &-1 {
            @extend .pos-centered-h;
            @extend .bg-cover;
            width:1084px;
            height:646px;
            background-image:url('/public/images/promo/jptest/slide1_1.png');

            &:before {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .t0;
                @extend .l50;
                transform:translate3d(-50%, 45px, 0);
                width:824px;
                height:516px;
                @extend .bg-white;
                @extend .borderRadius-s;
            }
            &:after {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .t0;
                @extend .l50;
                @extend .ml-l;
                transform:translate3d(-50%, 82px, 0);
                width:510px;
                height:440px;
                @extend .bg-cover;
                background-image:url('/public/images/promo/jptest/slide1_1_screen.jpg');
            }
            &__lens {
                @extend .pos-abs;
                top:140px;
                left:20px;
                width:300px;
                height:300px;
                @extend .bg-white;
                @extend .overflow-hidden;
                @extend .borderRadius-circle;
                border:1px solid $smoke;
                @extend .zIndex-1;
                box-shadow:0 20px 25px rgba(31,35,37,.15);

                &:after {
                    @extend .content-empty;
                    @extend .pos-centered;
                    @extend .bg-cover;
                    @extend .mt-s;
                    @extend .ml-m;
                    width:222px;
                    height:222px;
                    background-image:url('/public/images/promo/jptest/slide1_2_screen.jpg');
                }
            }
        }
    }
    .slide3-1 {
        @extend .display-block;
        @extend .pos-centered;
        @extend .bg-cover;
        width:335px;
        height:335px;
        @extend .mt-l;
        background-image:url('/public/images/promo/jptest/slide3_1.svg');
    }
    .slide3-2 {
        @extend .display-block;
        @extend .pos-centered-h;
        @extend .bg-cover;
        width:464px;
        height:1366px;
        @extend .mt-xl;
        background-image:url('https://www.apple.com/v/ipad-air-2/f/images/overview/display_large_2x.png');
    }
    .slide4-1 {
        @extend .display-block;
        @extend .pos-centered;
        @extend .bg-cover;
        width:385px;
        height:385px;
        @extend .mt-l;
        background-image:url('/public/images/promo/jptest/slide4_1.svg');
    }
    .slide5-1 {
        width: 1087px;
        height: 638px;
        @extend .bg-cover;
        background-image:url('/public/images/promo/jptest/slide5_1.jpg');
    }
    .specialties__circle {
        @extend .display-block;
        @extend .pos-centered;
        @include flex("column", "center", "center");
        @extend .borderRadius-circle;
        @extend .c-blue;
        @extend .cursor-default;
        @extend .mt-l;
        width:372px;
        height:372px;
        border:3px dashed $blue;

        &__count {
            font-size:136px;
            line-height:136px;
            @extend .fontWeight-8;
            @extend .mt-l;
            @extend .w100p;
            @extend .text-left;
            @extend .bg-white;
            transform:translateX(-40px);
        }
        &__title {
            @extend .fontSize-24;
            @extend .w60p;
            @extend .ml-l;
            @extend .text-left;
            transform:translate3d(30px, -40px, 0);
        }
        &__opener {
            @extend .flex-centered;
            @extend .pos-abs;
            @extend .l100;
            @extend .b0;
            @extend .pos-centered-v;
            @extend .w70;
            @extend .h70;
            @extend .borderRadius-circle;
            @extend .bg-blue;
            margin-left:-35px;
            @extend .zIndex-1;

            &__icon {
                &:after {
                    @extend .content-empty;
                    @extend .display-block;
                    @include ui-icon(plus_thin_white, 32px, 32px);
                }
            }
        }
    }
    .slide8-1 {
        @extend .display-block;
        @extend .pos-centered;
        @extend .bg-cover;
        width:365px;
        height:365px;
        @extend .mt-l;
        background-image:url('/public/images/promo/jptest/slide8_1.svg');
    }
    .slide8-2 {
        @extend .display-block;
        @extend .pos-centered-h;
        @extend .bg-cover;
        width:1240px;
        height:730px;
        @extend .ml--xl;
        @extend .mt-m;
        background-image:url('http://images.apple.com/euro/business/mac/d/screens/images/works_with_mac_and_ios_large_2x.jpg');
    }
    .slide9-1 {
        @extend .display-block;
        @extend .pos-centered;
        @extend .bg-cover;
        width:320px;
        height:320px;
        @extend .mt-l;
        background-image:url('/public/images/promo/jptest/slide9_1.svg');
    }
}
