.slider__item {
    &[data-slide="contacts"]{
        .contacts {
            html.d-no-phone & {
                @extend .mb-xs;
            }
            .item {
                @extend .flex-row-left-center;

                html.d-no-phone & {
                    @extend .mb25;
                }
                html.d-phone & {
                    @extend .mb-m;
                }
                a {
                    @extend .c-black;
                    transition:color 0.3s $cubic4001;

                    &:hover {
                        @extend .c-white;
                    }
                }
                &__title {
                    @extend .float-left;
                    @extend .display-block;
                    @extend h4;
                    @extend .text-truncate;
                    @extend .maxW-75p;
                }
                &__icon {
                    @extend .flex-centered;
                    @extend .pr-xs;
                    @extend .w80;
                    @extend .h70;
                    @extend .ml--xs;

                    .icon-city {
                        width:78px;
                        height:78px;
                    }
                    .icon-phone {
                        @extend .w66;
                        @extend .h66;
                    }
                    .icon-feedback {
                        @extend .w38;
                        @extend .h38;
                        @extend .mt--6;
                    }
                    .icon-skype {
                        @extend .w40;
                        @extend .h40;
                        @extend .mt--xxs;
                    }
                }
            }
        }
        .divider {
            @extend .pos-rel;
            @extend .w100p;
            @extend .h1px;
            @extend .mb25;

            &:before {
                @extend .content-empty;
                @extend .pos-centered-h;
                @extend .t0;
                @extend .opacity-65;
                @extend .h1px;

                html.d-no-phone & {
                    width:112%;
                    background-image:linear-gradient(to right, rgba($black,0), $black, $black, $black, $black, rgba($black,0));
                }
                html.d-phone & {
                    @extend .w100p;
                    background-image:linear-gradient(to right, $black 75%, rgba($black,0));
                }
            }
        }
        .relocation {
            .item {
                @extend .mb30;

                &__name {
                    @extend .text-lowercase;
                }
            }
        }
        .social {
            @extend .mb-l;

            html.d-no-phone & {
                @extend .mr--xs;
                @extend .pt35;
                @extend .flex-row-right-center;
            }
            html.d-phone & {
                @extend .ml--xs;
                @extend .pt-xs;
                @extend .flex-row-left-center;
            }
            &-btn {
                @extend .pos-rel;
                @extend .flex-centered;
                @extend .w52;
                @extend .h52;
                @extend .borderRadius-circle;
                @extend .mlr-xs;
                @extend .willChange-transform;
                transition:transform 0.2s $cubic4001;

                &:before {
                    @extend .content-empty;
                    @include abs();
                    @extend .bg-black;
                    @extend .borderRadius-circle;
                    @extend .willChange-transform;
                    transition:transform 0.3s $cubic4001;
                }
                html.m-no-touch &:hover {
                    &:before {
                        @extend .scale-120;
                    }
                }
                html.m-no-touch &:active {
                    @extend .scale-85;
                }
            }
            svg {
                @extend .pos-rel;
                @extend .w24;
                @extend .h24;

                &.social-btn {
                    &-vk,
                    &-in {
                        @extend .w26;
                        @extend .h26;
                    }
                }
            }
            path {
                @extend .fill-white;
            }
        }
    }
}
