body#renderSide {
    .l-progressive {
        background-image:none !important;
    }
}
.ovpremium__header {
    @extend .pos-rel;
    @extend .w100p;
    @extend .h100v;
    @extend .text-center;
    @extend .fontSize-0;
    @extend .bg-snow49C;
    @extend .pointerEvents-none;
    @extend .transform-default;
    @extend .zIndex-1;
}
.ovpremium__header__overlay {
    @include abs();
    @extend .opacity-0;
    @extend .willChange-opacity;
    background-color:rgba($blackB,.18);
}
.ovpremium__header__layers {
    @include abs();
    @extend .overflow-hidden;

    &__wrapper {
        @extend .pos-centered;
        @extend .w100p;
        height:842px;
    }
}
.ovpremium__header__layer {
    @include accelerate();
    @extend .pos-abs;
    @extend .t0;
    @extend .l50p;
    transform:translate3d(-50%, 0, 0);
    @extend .willChange-transform;

    &__inner {
        @include accelerate();
        @include abs();
        opacity:0.001;
        @extend .willChange-tp;

        &--animate {
            @extend .opacity-100;
            transition:opacity 0.6s $cubic60, transform 1s $cubic2501;
        }
    }
    &1 {
        transform:translate3d(-645px, -70px, 0px);

        .ovpremium__header__layer__iphone__screen {
            background-image:url("/public/images/promo/premium/header/org/screen1_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen1_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen1_large_2x.png");
            }
        }
    }
    &2 {
        transform:translate3d(-323px, -245px, 0px);

        .ovpremium__header__layer__iphone__screen {
            background-image:url("/public/images/promo/premium/header/org/screen2_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen2_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen2_large_2x.png");
            }
        }
    }
    &3 {
        transform:translate3d(0px, -110px, 0px);

        .ovpremium__header__layer__iphone__screen {
            background-image:url("/public/images/promo/premium/header/org/screen3_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen3_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen3_large_2x.png");
            }
        }
    }
    &4 {
        transform:translate3d(582px, 466px, 0px);

        .ovpremium__header__layer__ipad__screen {
            background-image:url("/public/images/promo/premium/header/org/screen4_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen4_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen4_large_2x.png");
            }
        }
    }
    &5 {
        transform:translate3d(-645px, 567px, 0px);

        .ovpremium__header__layer__iphone__screen {
            background-image:url("/public/images/promo/premium/header/org/screen5_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen5_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen5_large_2x.png");
            }
        }
    }
    &6 {
        transform:translate3d(-323px, 392px, 0px);

        .ovpremium__header__layer__iphone__screen {
            background-image:url("/public/images/promo/premium/header/org/screen6_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen6_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen6_large_2x.png");
            }
        }
    }
    &7 {
        transform:translate3d(0px, 527px, 0px);

        .ovpremium__header__layer__iphone__screen {
            background-image:url("/public/images/promo/premium/header/org/screen7_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen7_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen7_large_2x.png");
            }
        }
    }
    &8 {
        transform:translate3d(323px, -175px, 0px);

        .ovpremium__header__layer__iphone__screen {
            background-image:url("/public/images/promo/premium/header/org/screen8_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen8_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen8_large_2x.png");
            }
        }
    }
    &9 {
        transform:translate3d(645px, -268px, 0px);

        .ovpremium__header__layer__iphone__screen {
            background-image:url("/public/images/promo/premium/header/org/screen9_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen9_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen9_large_2x.png");
            }
        }
    }
    &10 {
        transform:translate3d(-323px, 1126px, 0px);

        .ovpremium__header__layer__iphone__screen {
            background-image:url("/public/images/promo/premium/header/org/screen10_large.png");

            html.d-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen10_medium_2x.jpg");
            }
            html.d-retina.d-no-tablet & {
                background-image:url("/public/images/promo/premium/header/org/screen10_large_2x.png");
            }
        }
    }
    &__iphone {
        width:351px;
        height:660px;
        margin-left:-175.5px;

        .ovpremium__header__layer__inner {
            background-size:351px 660px;
            background-repeat:no-repeat;
            background-image:url("/public/images/promo/premium/hardware/hardware_full_silver_large_light.png");
        }
        &__screen {
            @extend .float-left;
            width:260px;
            height:462px;
            background-size:260px 462px;
            background-repeat:no-repeat;
            transform:translate(47px, 86px);
        }
    }
    &__ipad {
        width:855px;
        height:1196px;
        margin-left:-427.5px;

        .ovpremium__header__layer__inner {
            background-size:855px 1196px;
            background-repeat:no-repeat;
            background-image: url("/public/images/promo/premium/hardware/hero_hardware_ipad_large_light.png");
        }
        &__screen {
            @extend .float-left;
            width: 705px;
            height: 940px;
            background-size: 705px 940px;
            background-repeat: no-repeat;
            transform:translate(74px, 111px);
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
    .ovpremium__header__layer__iphone {
        .ovpremium__header__layer__inner {
            background-image:url("/public/images/promo/premium/hardware/hardware_full_silver_large_2x_light.png");
        }
    }
    .ovpremium__header__layer__ipad {
        .ovpremium__header__layer__inner {
            background-image:url("/public/images/promo/premium/hardware/hero_hardware_ipad_large_2x_light.png");
        }
    }
}
@media only screen and (max-width: $w1024){
    .ovpremium__header__layer {
        &1 {transform:translate3d(-500px, 50px, 0px);}
        &2 {transform:translate3d(-252px, -95px, 0px);}
        &3 {transform:translate3d(0px, -63px, 0px);}
        &4 {transform:translate3d(450px, 462px, 0px);}
        &5 {transform:translate3d(-500px, 540px, 0px);}
        &6 {transform:translate3d(-252px, 396px, 0px);}
        &7 {transform:translate3d(0px, 481px, 0px);}
        &8 {transform:translate3d(252px, -38px, 0px);}
        &9 {transform:translate3d(500px, -126px, 0px);}
        &10 {transform:translate3d(-252px, 974px, 0px);}
    }
    .ovpremium__header__layer__iphone {
        width:282px;
        height:522px;
        margin-left:-141px;

        .ovpremium__header__layer__inner {
            background-size:282px 522px;
            background-image:url("/public/images/promo/premium/hardware/hardware_full_silver_medium_2x_light.png");
        }
        &__screen {
            width:200px;
            height:356px;
            background-size:200px 356px;
            transform:translate(40px, 75px);
        }
    }
    .ovpremium__header__layer__ipad {
        width:668px;
        height:925px;
        margin-left:-334px;

        .ovpremium__header__layer__inner {
            background-size:668px 925px;
            background-image:url("/public/images/promo/premium/hardware/hero_hardware_ipad_medium_2x_light.png");
        }
        &__screen {
            width:542px;
            height:723px;
            background-size:542px 723px;
            transform:translate(63px, 87px);
        }
    }
}
@media only screen and (max-width: $w767){
    .ovpremium__header__layer {
        &1 {transform:translate3d(-173px, -18px, 0px);}
        &2 {transform:translate3d(-173px, 276px, 0px);}
        &3 {transform:translate3d(0px, 28px, 0px);}
        &4 {transform:translate3d(118px, 834px, 0px);}
        &5 {transform:translate3d(173px, -68px, 0px);}
        &6 {transform:translate3d(-173px, 606px, 0px);}
        &7 {transform:translate3d(0px, 484px, 0px);}
        &8 {transform:translate3d(173px, 226px, 0px);}
        &9 {transform:translate3d(-173px, 896px, 0px);}
        &10 {transform:translate3d(173px, 520px, 0px);}
    }
    .ovpremium__header__layer__iphone {
        width:193px;
        height:340px;
        margin-left:-96.5px;

        .ovpremium__header__layer__inner {
            background-size:193px 340px;
            background-image:url("/public/images/promo/premium/hardware/hero_hardware_full_silver_small_2x_light.png");
        }
        &__screen {
            width:119px;
            height:212px;
            background-size:119px 212px;
            transform:translate(37px, 64px);
        }
    }
    .ovpremium__header__layer__ipad {
        width:415px;
        height:571px;
        margin-left:-207.5px;

        .ovpremium__header__layer__inner {
            background-size:415px 571px;
            background-image:url("/public/images/promo/premium/hardware/hero_hardware_ipad_small_2x_light.png");
        }
        &__screen {
            width:323px;
            height:430px;
            background-size:323px 430px;
            transform:translate(47px, 57px);
        }
    }
}
