<section-jqtest class="oScreen__section zIndex-2" data-open={ active } data-show="down">

    <div name="content" class="oScreen__section__content overflow-hidden bg-white">

        <div class="oScreen__section__buttons zIndex-0" data-pos="top-right">
            <div onClick={ close } onUpdate="none" class="button__close" data-color="gray"></div>
        </div>

        <jqtest-enter></jqtest-enter>

        <jqtest-content></jqtest-content>

        <jqtest-result></jqtest-result>

    </div>

<script>

    var $ = this;

    $.el = $$($.root);

    $.active = false;

    $.on("before-mount", function(){
        $.sections = {
            enter: $.tags["jqtest-enter"],
            test: $.tags["jqtest-content"],
            result: $.tags["jqtest-result"]
        };
    });

    $.on("mount", function(){
        $.el.on('swipeDown', function(){
            $.hide();
        });
        // $afterlag.run(function(){
        //     $.show();
        //     $Sections.jqtest.result.show();
        // });
    });

    $.show = function(callback){
        $.active = true;
        $.update();
        $.callback = callback;

        _.onEndTransition($.content, function(){
            $.sections.enter.show();
        });
        app.metrika.set("jqtest.show", true);
    };

    $.close = function(){
        $.hide();
        app.metrika.set("jqtest.hide", true);
    };

    $.hide = function(){
        $.active = false;
        $.update();

        $.trigger("hide");

        if (_.isFunction($.callback)) $.callback();
        _.onEndTransition($.content, function(){
            $.trigger("hideAnimated");
        });
    };

</script>

</section-jqtest>
