<section-profile class="oScreen zIndex-2" data-open={ active } data-show="left">

    <div class="oScreen__buttons" data-pos="top-right">
        <div onClick={ hide } class="button__close"></div>
    </div>

    <div class="oScreen__content bg-white">
        <div class="menu__items">
            <div class="container">
                <div class="row">
                    <div class="">
                        <div class="col-md-8 plr-l">
                            <div class="menu__item" data-item="1">
                                <icon-user color="yellow" size="xl"></icon-user>
                                <div class="menu__item__title">Мой профиль</div>
                            </div>
                        </div>
                        <div class="col-md-8 plr-l">
                            <div class="menu__item" data-item="2">
                                <icon-control color="blueLight" size="xl"></icon-control>
                                <div class="menu__item__title">Настройки</div>
                            </div>
                        </div>
                        <div class="col-md-8 plr-l">
                            <div class="menu__item" data-item="3">
                                <icon-crown color="green" size="xl"></icon-crown>
                                <div class="menu__item__title">Тариф</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.active = false;

    $.show = function(callback){
        $.update({
            active: true
        })
        $.callback = callback;
    };

    $.hide = function(){
        $.update({
            active: false
        })
        if (_.isFunction($.callback)) $.callback();
    };

</script>

</section-profile>
