<section-profile class="oScreen section zIndex-2" data-open="false" data-show="left" data-loading="false" data-inner="hidden">

    <div class="oScreen__buttons" data-pos="top-right">
        <div onClick={ hide } onUpdate="none" class="button__close"></div>
    </div>

    <div name="content" class="oScreen__content bg-white">
        <div class="section__loading"></div>
        <div class="profile section__inner">
            <div class="container">
                <div class="row profile__header">
                    <div class="col-md-16">
                        <div class="row">
                            <div class="col-md-10">
                                <div onClick={ open.changePhoto } onUpdate="none" if={ $account.get('photo') } class="profile__photo">
                                    <div class="profile__photo__image" style="background-image:url({ $account.get('photo') })"></div>
                                </div>
                                <div onClick={ open.changePhoto } onUpdate="none" if={ !$account.get('photo') } class="profile__photo" data-place="true">
                                    <span class="profile__photo__text">загрузить свою фотографию</span>
                                </div>
                            </div>
                            <div class="col-md-14">
                                <div class="profile__personal__data fontSize-22 pt-l">
                                    <div class="fontSize-34 mb-m">
                                        <span class="c-blue fontWeight-bold">{ $account.get('name') }</span> { $account.get('surname') }
                                    </div>
                                    <div if={ $account.get('gender') == "male" } class="text-uppercase fontSize-20">муж.</div>
                                    <div if={ $account.get('gender') == "female" } class="text-uppercase fontSize-20">жен.</div>
                                    <div if={ $account.get('contacts', 'city') }>{ $account.get('contacts', 'city') }</div>
                                    <span onClick={ open.personalData } onUpdate="none" class="display-inlineBlock link-underline link-default-hover-warning mt-xs tutorial__changeData">Изменить персональные данные</span>
                                    <div class="tutorial__reflink mt-xs fontSize-20 pr-l">
                                        <strong>Получить <span class="c-orange">369 ₽</span> на счет&nbsp; &nbsp;<span onClick={ open.referer } onUpdate="none" class="display-inlineBlock link-underline link-default-hover-warning mt-xs">как подробнее</span></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="profile__column__right fontSize-20 pt45">
                            <div class="fontSize-28 mb-s">Ваш тариф: <span class="c-blue fontWeight-bold text-capitalize">{ $account.get('plan') }</span></div>
                            <div if={ $account.get('plan') != "premium" }>
                                <span onClick={ open.changePlan } onUpdate="none" class="link-underline link-default-hover-warning">Сменить тариф</span>
                            </div>
                            <div if={ $account.get('plan') == "premium" } class="c-gray mb-xs fontSize-18">
                                Оплачен до: <span class="c-blue fontWeight-bold">28 ноября 2017</span>
                            </div>
                            <div class="mt-xxs">
                                <span class="link-underline link-default-hover-warning">Сменить пароль</span>
                            </div>
                            <div class="mt-xxs">
                                <span onClick={ open.payment } onUpdate="none" class="link-underline link-default-hover-warning">Пополнить баланс</span>
                            </div>
                            <div class="c-gray mt-s">Последний визит: { $account.take.lastVisit() }</div>
                        </div>
                    </div>
                </div>
                <div class="row pt-l">
                    <div class="col-md-8">
                        <div class="title c-gray fontWeight-bold fontSize-28 mb-m opacity-80" data-icon="phone">
                            Номер телефона
                        </div>
                        <div class="{ display-none : !editable.phone } centered mb-m w70p">
                            <ui-input placeholder="Введите свой телефон" update="phone" align="center" cursor={ $account.select('contacts') } size="l" rounded="true" mask="phone"></ui-input>
                        </div>
                        <div class="{ display-none : editable.phone }">
                            <div class="c-gray fontSize-14 text-uppercase mb-xss">Основной:</div>
                            <div if={ $account.get('contacts', 'phone') } class="fontSize-22 fontWeight-bold mb-m">{ $account.get('contacts', 'phone') }</div>
                            <div if={ !$account.get('contacts', 'phone') } class="c-gray fontSize-24 mb-m">— &nbsp; — &nbsp; —</div>
                        </div>
                        <button onClick={ edit.phone } class="btn btn-edit btn-m btn-default-hover-warning">{ editable.phone ? 'Сохранить' : 'Изменить' }</button>
                    </div>
                    <div class="col-md-8">
                        <div class="title c-gray fontWeight-bold fontSize-28 mb-m opacity-80" data-icon="phone">
                            Электронная почта
                        </div>
                        <div class="{ display-none : !editable.email } centered mb-m w80p">
                            <ui-input update="email" align="center" cursor={ $account.select('contacts') } size="l" rounded="true"></ui-input>
                        </div>
                        <div class="{ display-none : editable.email }">
                            <div class="c-gray fontSize-14 text-uppercase mb-xss">Основная:</div>
                            <div if={ $account.get('contacts', 'email') } class="mb-m">
                                <span class="fontSize-22 link-underline link-default-hover-warning">{ $account.get('contacts', 'email') }</span>
                            </div>
                            <div if={ !$account.get('contacts', 'email') } class="c-gray fontSize-24 mb-m">— &nbsp; — &nbsp; —</div>
                        </div>
                        <button onClick={ edit.email } class="btn btn-edit btn-m btn-default-hover-warning">{ editable.email ? 'Сохранить' : 'Изменить' }</button>
                    </div>
                    <div class="tutorial__balance col-md-8">
                        <div class="title c-gray fontWeight-bold fontSize-28 mb30 opacity-80" data-icon="phone">
                            Ваш баланс
                        </div>
                        <div class="{ parseInt($account.get('balance')) < 369 ? 'c-blue' : 'c-green' } fontSize-34 fontWeight-8 mb-m">{ _.numberFormat($account.get('balance'), 1, ",", ",") } ₽</div>
                        <button onClick={ open.payment } onUpdate="none" class="btn btn-balance btn-l btn-success">Пополнить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <popup-referer></popup-referer>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.editable = {
        phone: false,
        email: false
    };

    $.on("mount", function(){
        $.section = new app.plugins.sections($.root, {
            content: $.content
        });
        $scope.on('swipeLeft', function(){
            if (!$.popup.referer.active && !_.some($.editable)){
                $.hide();
            }
        });
        $account.on("write", function(){
            $.update();
        });
        $.popup = {
            referer: $.tags["popup-referer"]
        }
    });

    $.show = function(callback){
        $.section.show({
            beforeShow: function(){
                $.active = true;
                $.callback = callback;
            }
        })
    };

    $.edit = {
        phone: function(){
            $.editable.phone = !$.editable.phone;

            if (!$.editable.phone){
                app.request("setDataProfile", {
                    contacts: $account.get("contacts")
                });
            }
        },
        email: function(){
            $.editable.email = !$.editable.email;

            if (!$.editable.email){
                app.request("setDataProfile", {
                    contacts: $account.get("contacts")
                });
            }
        }
    };

    $.open = {
        changePhoto: function(){
            $account.changePhoto();
        },
        personalData: function(){
            $Sections.profile.data.show();
        },
        changePlan: function(){
            $Sections.plan.show("premium");
        },
        payment: function(){
            $Sections.payment.show();
        },
        referer: function(){
            $.popup.referer.show();
        }
    };

    $.hide = function(){
        $.section.hide({
            beforeHide: function(){
                $.active = false;
                if (_.isFunction($.callback)) $.callback();
            }
        })
    };

</script>

</section-profile>
