<section-profile-data class="oScreen zIndex-100 { showAnim : active }" data-open={ active }>

    <div class="pos-centered">
        <div class="container anim anim-bt-ease" duration-show="s" duration-hide="xs" delay-show="xs">
            <div class="row">
                <div name="wrapper" class="col-md-15 centered">
                    <div onClick={ hide } onUpdate="none" class="button__close" data-color="gray"></div>
                    <div name="content" class="pos-rel maxH-95v overflow-hidden section-scroll bg-white borderRadius-xl zIndex-1">
                        <div class="pt70 pb100 pl45 pr45 text-left fontSize-20 c-gray willChange-transform">
                            <div class="row mb-m">
                                <div class="hidden-xs col-sm-8 pt-xs pr-m">
                                    <span class="title">Имя</span>
                                </div>
                                <div class="col-sm-16">
                                    <ui-input placeholder="Имя" update="name" cursor={ data.select() } size="l"></ui-input>
                                </div>
                            </div>
                            <div class="row mb-m">
                                <div class="hidden-xs col-sm-8 pt-xs pr-m">
                                    <span class="title">Фамилия</span>
                                </div>
                                <div class="col-sm-16">
                                    <ui-input placeholder="Фамилия" update="surname" cursor={ data.select() } size="l"></ui-input>
                                </div>
                            </div>
                            <div class="row mb-s">
                                <div class="hidden-xs col-sm-8 pt-xs pr-m">
                                    <span class="title">Дата рождения</span>
                                </div>
                                <div class="col-xs-8 col-sm-4">
                                    <ui-select update="day" cursor={ data.select('birthday') } items={ _.range(1, 32) } size="l" short></ui-select>
                                </div>
                                <div class="col-xs-16 col-sm-6 xs-mb-m">
                                    <ui-select update="month" cursor={ data.select('birthday') } items={ $store.month.getItems() } size="l" short></ui-select>
                                </div>
                                <div class="col-xs-24 col-sm-6">
                                    <ui-select update="year" cursor={ data.select('birthday') } items={ _.range(1940, new Date().getFullYear() + 1) } size="l" short></ui-select>
                                </div>
                            </div>
                            <div class="row mb-m">
                                <div class="hidden-xs col-sm-8 pr-m"></div>
                                <div class="col-xs-24 col-sm-16 text-left pt-s">
                                    <ui-checkbox update="hidden" cursor={ data.select('birthday') } title="Показывать только возраст" size="xl" theme="blue"></ui-checkbox>
                                </div>
                            </div>
                            <div class="row mb-l pt-xxs">
                                <div class="hidden-xs col-sm-8 pt-s pr-m">
                                    <span class="title">Ваш пол</span>
                                </div>
                                <div class="col-xs-12 col-sm-7 text-left pt-s">
                                    <ui-checkbox update="gender" cursor={ data.select() } group="gender" title="Мужской" size="xl" theme="blue" value="male"></ui-checkbox>
                                </div>
                                <div class="col-xs-12 col-sm-6 text-left pt-s">
                                    <ui-checkbox update="gender" cursor={ data.select() } group="gender" title="Женский" size="xl" theme="blue" value="female"></ui-checkbox>
                                </div>
                            </div>
                            <div class="row mb-m">
                                <div class="hidden-xs col-sm-8 pt-xs pr-m">
                                    <span class="visible-md visible-lg title">Электронная почта</span>
                                    <span class="visible-sm title">Эл. почта</span>
                                </div>
                                <div class="col-sm-16">
                                    <ui-input update="email" cursor={ data.select('contacts') } size="l"></ui-input>
                                </div>
                            </div>
                            <div class="row mb-xs">
                                <div class="hidden-xs col-sm-8 pt-xs pr-m">
                                    <span class="visible-md visible-lg title">Город проживания</span>
                                    <span class="visible-sm title">Город</span>
                                </div>
                                <div class="col-xs-24 col-sm-16">
                                    <ui-input update="city" cursor={ data.select('contacts') } size="l"></ui-input>
                                </div>
                            </div>
                            <div class="row mb-m">
                                <div class="hidden-xs col-sm-8 pt-xs pr-m">
                                    <span class="visible-md visible-lg title">Мобильный телефон</span>
                                    <span class="visible-sm title">Телефон</span>
                                </div>
                                <div class="col-xs-24 col-sm-16">
                                    <ui-input update="phone" cursor={ data.select('contacts') } mask="phone" size="l"></ui-input>
                                </div>
                            </div>
                            <div class="row mb-m">
                                <div class="hidden-xs col-sm-8 pt-xs pr-m">
                                    <span class="title">Skype</span>
                                </div>
                                <div class="col-xs-24 col-sm-16">
                                    <ui-input update="skype" cursor={ data.select('contacts') } size="l"></ui-input>
                                </div>
                            </div>
                        </div>
                        <div class="pos-tl bg-gradient-tb-white w100p h80"></div>
                        <div class="bg-white pos-bl text-right w100p h90 pr45 pt-s zIndex-2 borderRadiusBottom-xl">
                            <button onClick={ hide } onUpdate="none" class="btn btn-l2 btn-primary-hover mr-xs xs-plr-m">Отменить</button>
                            <button onClick={ onSave } onUpdate="none" class="btn btn-l2 btn-success">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.data = new Baobab($account.deepClone());

    $.on("mount", function(){
        $afterlag.run(function(){
            $.scroll = new app.plugins.scroll.content($.content);
            $.scroll.init();
        });
    });

    $.show = function(){
        $.data.set($account.deepClone());

        $.update({
            active: true
        })
    };

    $.onSave = function(){
        $account.set($.data.get());
        $.hide();
    };

    $.hide = function(){
        $.update({
            active: false
        })
    };

    $.handleClickOutside = function(e){
        if (!$.wrapper.contains(e.target)) $.hide();
    };

    $.on("updated", function(){
        if ($.active){
            document.addEventListener('click', $.handleClickOutside);
        }
        else {
            document.removeEventListener('click', $.handleClickOutside)
        }
    });

</script>

</section-profile-data>
