<section-profile-data class="oScreen zIndex-100 { showAnim : active }" data-open={ active } style="display:none">

    <div class="pos-centered">
        <div class="container anim anim-bt-ease" duration-show="s" duration-hide="xs" delay-show="xs">
            <div class="pos-rel row">
                <div name="overlay" class="pos-centered w100v h100v zIndex-1"></div>
                <div class="col-md-18 col-lg-15 centered zIndex-2">
                    <div onClick={ hide } onUpdate="none" class="button__close" data-color="gray"></div>
                    <div name="content" class="pos-rel { app.sizes.size == 'medium' ? 'maxH-85v' : 'maxH-95v' } overflow-hidden section-scroll bg-white borderRadius-xl zIndex-1">
                        <profile-data-content cursor={ data.select() } class="display-block pt70 pb100 pl45 pr45 text-left fontSize-20 c-gray willChange-transform" style={ 'padding-top:130px' : firstShow }></profile-data-content>
                        <div class="pos-tl bg-gradient-tb-white w100p h80"></div>
                        <div if={ firstShow } class="pos-tl zIndex-2 w100p bg-gradient-tb-white" style="height:130px">
                            <div class="pos-abs-full bg-gradient-tb-white">
                                <div class="pos-abs-full bg-gradient-tb-white"></div>
                            </div>
                            <div class="col-xs-24">
                                <p class="c-blueBright pt-m plr-xl text-center fontSize-20 fontWeight-bold">Предлагаем заполнить профиль, чтобы не вводить данные каждый раз при создании нового резюме.</p>
                            </div>
                        </div>
                        <div class="bg-white pos-bl text-right w100p h90 pr45 pt-s zIndex-2 borderRadiusBottom-xl">
                            <button onClick={ onSave } onUpdate="none" class="btn btn-l2 btn-success">Сохранить</button>
                            <button onClick={ hide } onUpdate="none" class="btn btn-l2 btn-primary-hover ml-xs xs-plr-m">{ firstShow ? 'Заполнить позже' : 'Отменить' }</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    //$.firstShow = true;

    $.data = new Baobab($account.select('commons').deepClone());

    $.on("mount", function(){
        $afterlag.run(function(){
            $.scroll = new app.plugins.scroll.content($.content);
            $.scroll.init();
        });
    });

    $.show = function(){
        $.data.set($account.select('commons').deepClone());

        $.root.style.display = "block";

        $afterlag.run(function(){
            $.update({
                active: true
            })
            $.scroll.refresh();
            $.overlay.addEventListener('click', $.hide);
        });
    };

    $.commit = {
        birthday: function(){
            if ($.tags["profile-data-content"].birthdayHidden._tag.value){
                $.tags["profile-data-content"].birthdayHidden._tag.update();
            }
        }
    };

    $.onSave = function(){
        $account.onSaveData($.data, function(){
            $.hide();
        });
    };

    $.hide = function(){
        $.update({
            active: false
        })
        $.firstShow = false;

        _.onEndTransition($.root, function(){
            $.root.style.display = "none";
        });
        $.overlay.removeEventListener('click', $.hide);
    };

</script>

</section-profile-data>
