<section-profile-password class="oScreen zIndex-3 c-white" data-show="modal" data-color="dark" data-open={ active } style="display:none">

    <div onClick={ hide } onUpdate="none">
        <div class="button__close opacity-80" data-color="white"></div>
    </div>

    <div name="area" class="oScreen__content">
        <div class="pos-centered { w100p : app.device.isPhone }">
            <div class="container">
                <div class="row">
                    <div name="wrapper" class="col-xs-24 col-sm-16 col-md-14 col-lg-12 centered xs-pb-l">
                        <h1>{ !$account.get("login") ? 'Создание входа по паролю' : 'Изменить пароль в аккаунт' }</h1>
                        <div if={ !$account.get('login') } class="md-plr-m mt-l">
                            <input name="loginInput" type="text" class="fontFamily-helvetica letterSpacing-0 pointer-for-input input input-{ app.device.isPhone ? 'l' : 'xl' } input-white input-rounded mb-s text-center" placeholder="Ваш email (логин)" value={ $account.get('commons', 'contacts', "email") } autocomplete="off" style="font-size:22px">
                            <input name="loginPassInput" type="password" class="fontFamily-helvetica letterSpacing-0 pointer-for-input input input-{ app.device.isPhone ? 'l' : 'xl' } input-white input-rounded mb-l text-center" placeholder="Пароль (мин. из 6 сим-ов)" autocomplete="off" style="font-size:22px">
                            <div onClick={ onCreateLogin } onUpdate="none" class="btn btn-xl2 btn-success { btn-loading : loading }">Создать вход</div>
                        </div>
                        <div if={ $account.get('login') } class="md-plr-m mt-l">
                            <div class="mb-m fontSize-22">минимум из 6 символов</div>
                            <input name="passInput" type="password" class="fontFamily-helvetica letterSpacing-0 pointer-for-input input input-{ app.device.isPhone ? 'l' : 'xl' } input-white input-rounded mb-s text-center" placeholder="Введите новый пароль" autocomplete="off" style="font-size:22px">
                            <input name="passConfirmInput" type="password" class="fontFamily-helvetica letterSpacing-0 pointer-for-input input input-{ app.device.isPhone ? 'l' : 'xl' } input-white input-rounded mb-l text-center" placeholder="Введите повторно" autocomplete="off" style="font-size:22px">
                            <div onClick={ onChangePassword } onUpdate="none" class="btn btn-xl2 btn-success { btn-loading : loading }">Изменить пароль</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    // $.on("mount", function(){
    //     $afterlag.xl(function(){
    //         $.show();
    //     })
    // });

    $.show = function(){
        if ($.active) return;

        $.active = true;
        $.root.style.display = "block";

        $afterlag.run(function(){
            $.login = $.loginInput && $$($.loginInput) || null;
            $.loginPass = $$($.loginPassInput);
            $.pass = $$($.passInput);
            $.passConfirm = $.passConfirmInput && $$($.passConfirmInput) || null;
            $.update();
        });
        document.removeEventListener('click', $.handleClickOutside);
    };

    $.onCreateLogin = function(){
        if (!_.isEmail($.login.val()) || $.loginPass.val().length < 6) return;
        else {
            $.update({
                loading: true
            })
            app.request('setProfileLogin', {
                login: $.login.val(),
                password: $.loginPass.val()
            }, {
                loader: false
            })
            .then(function(data){
                $.update({
                    loading: false
                })
                if (data && data.isUser){
                    $Notify.show({
                        color: "warning",
                        text: "К сожалению, указанный e-mail уже кем-то используется"
                    })
                }
                else {
                    $.hide();
                    $afterlag.m(function(){
                        $Notify.show({
                            color: "success",
                            text: "Проверьте свой email, на него отправлено письмо с активацией нового доступа",
                            timeout: 5
                        })
                    });
                }
            }, function(){
                $.update({
                    loading: false
                })
            });
        }
    };

    $.onChangePassword = function(){
        if ($.pass.val().length < 6 || !$.passConfirm.val().length) return;
        if ($.pass.val() !== $.passConfirm.val()){
            $Alert.show({
                title: "Пароль не совпадают",
                subtitle: "Проверьте и повторите снова"
            })
        }
        else {
            $.update({
                loading: true
            })
            app.request('setProfilePassword', {
                password: $.pass.val()
            }, {
                loader: false
            })
            .then(function(){
                $.update({
                    loading: false
                })
                $.hide();
                $afterlag.m(function(){
                    $Notify.show({
                        color: "success",
                        text: "Пароль успешно изменен"
                    })
                });
            }, function(){
                $.update({
                    loading: false
                })
            });
        }
    };

    $.hide = function(){
        if (!$.active) return;

        $.update({
            active: false
        })
        $afterlag.run(function(){
            _.onEndTransition($.area, function(){
                if (!$.active){
                    $.pass.val("");
                    $.passConfirm.val("");
                    $.root.style.display = "none";
                }
            });
        });
    };

    $.handleClickOutside = function(e){
        if (!$.wrapper.contains(e.target)) $.hide();
    };

    $.on("updated", function(){
        if ($.active){
            setTimeout(function(){
                document.addEventListener('click', $.handleClickOutside);
            }, 0);
        }
        else {
            document.removeEventListener('click', $.handleClickOutside)
        }
    });

</script>

</section-profile-password>
