<section-profile-password class="oScreen zIndex-3 c-white" data-show="modal" data-color="dark" data-open={ active } style="display:none">

    <div onClick={ hide } onUpdate="none">
        <div class="button__close opacity-80" data-color="white"></div>
    </div>

    <div name="area" class="oScreen__content">
        <div class="pos-centered { w100p : app.device.isPhone }">
            <div class="container">
                <div class="row">
                    <div name="wrapper" class="col-xs-24 col-sm-14 col-md-12 centered xs-pb-l">
                        <h1>Изменить пароль в аккаунт</h1>
                        <div class="xs-plr-m mt-l">
                            <div class="mb-m fontSize-22">минимум из 6 символов</div>
                            <input name="input" type="password" class="fontFamily-helvetica letterSpacing-0 pointer-for-input input input-{ app.device.isPhone ? 'l' : 'xl' } input-white input-rounded mb-s text-center" placeholder="Введите новый пароль" autocomplete="off" style="font-size:22px">
                            <input name="inputConfirm" type="password" class="fontFamily-helvetica letterSpacing-0 pointer-for-input input input-{ app.device.isPhone ? 'l' : 'xl' } input-white input-rounded mb-l text-center" placeholder="Введите повторно" autocomplete="off" style="font-size:22px">
                            <div onClick={ onSuccess } onUpdate="none" class="btn btn-xl2 btn-success { btn-loading : loading }">Изменить пароль</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.on("mount", function(){
        $.input = $$($.input);
        $.inputConfirm = $$($.inputConfirm);
        // $afterlag.xl(function(){
        //     $.show();
        // })
    });

    $.show = function(){
        if ($.active) return;

        $.active = true;
        $.root.style.display = "block";

        $afterlag.run(function(){
            $.update();
        });
        document.removeEventListener('click', $.handleClickOutside);
    };

    $.onSuccess = function(){
        if ($.input.val().length < 6 || !$.inputConfirm.val().length) return;
        if ($.input.val() !== $.inputConfirm.val()){
            $Alert.show({
                title: "Пароль не совпадают",
                subtitle: "Проверьте и повторите снова"
            })
        }
        else {
            $.update({
                loading: true
            })
            app.request('setProfilePassword', {
                password: $.input.val()
            }, {
                loader: false
            })
            .then(function(){
                $.update({
                    loading: false
                })
                $.hide();
                $afterlag.m(function(){
                    $Notify.show({
                        text: "Пароль успешно изменен"
                    })
                });
            }, function(){
                $.update({
                    loading: false
                })
            });
        }
    };

    $.hide = function(){
        if (!$.active) return;

        $.update({
            active: false
        })
        $afterlag.run(function(){
            _.onEndTransition($.area, function(){
                $.input.val("");
                $.inputConfirm.val("");
                $.root.style.display = "none";
            });
        });
    };

    $.handleClickOutside = function(e){
        if (!$.wrapper.contains(e.target)) $.hide();
    };

    $.on("updated", function(){
        if ($.active){
            setTimeout(function(){
                document.addEventListener('click', $.handleClickOutside);
            }, 0);
        }
        else {
            document.removeEventListener('click', $.handleClickOutside)
        }
    });

</script>

</section-profile-password>
