<profile-data-content>

    <div class="row mb-m">
        <div class="hidden-xs col-sm-8 pt-xs pr-m">
            <span class="title">Имя</span>
        </div>
        <div class="col-sm-16">
            <ui-input placeholder="Имя" update="name" cursor={ opts.cursor } size="l"></ui-input>
        </div>
    </div>
    <div class="row mb-m">
        <div class="hidden-xs col-sm-8 pt-xs pr-m">
            <span class="title">Фамилия</span>
        </div>
        <div class="col-sm-16" data-balloon={ 'Фамилию возможно изменить, обратившись в службу поддержки, указав причину смены.' : $account.get("plan") == "premium" && opts.cursor.get("surname").length } data-balloon-pos="down" data-balloon-length="large" data-balloon-fontSize="small">
            <ui-input placeholder="Фамилия" update="surname" cursor={ opts.cursor } size="l" disabled={ $account.get("plan") == "premium" && opts.cursor.get("surname").length }></ui-input>
        </div>
    </div>
    <div class="row mb-s">
        <div class="col-xs-24 col-sm-8 pt-xs pr-m xs-pt0">
            <span class="hidden-xs title">Дата рождения</span>
            <span class="c-blue input-title">Дата рождения</span>
        </div>
        <div class="col-xs-8 col-sm-4">
            <ui-select update="day" commit={ parent.commit.birthday } cursor={ opts.cursor.select('birthday') } items={ _.range(1, 32) } size="l" short></ui-select>
        </div>
        <div class="col-xs-16 col-sm-6 xs-mb-m">
            <ui-select update="month" commit={ parent.commit.birthday } cursor={ opts.cursor.select('birthday') } items={ $store.month.getItems() } size="l" short></ui-select>
        </div>
        <div class="col-xs-24 col-sm-6">
            <ui-select update="year" commit={ parent.commit.birthday } cursor={ opts.cursor.select('birthday') } items={ _.range(1940, new Date().getFullYear() + 1) } size="l" short></ui-select>
        </div>
    </div>
    <div class="row mb-m">
        <div class="hidden-xs col-sm-8 pr-m"></div>
        <div class="col-xs-24 col-sm-16 text-left pt-s">
            <ui-checkbox name="birthdayHidden" update="hidden" cursor={ opts.cursor.select('birthday') } title="Пок{ app.device.isPhone ? '-вать' : 'азывать' } только возраст { opts.cursor.get('birthday', 'hidden') ? '(' + $store.account.take.age(opts.cursor.get('birthday')) + ')' : '' }" size="xl" theme="blue"></ui-checkbox>
        </div>
    </div>
    <div class="row mb-l pt-xxs">
        <div class="hidden-xs col-sm-8 pt-s pr-m">
            <span class="title">Ваш пол</span>
        </div>
        <div class="col-xs-12 col-sm-7 text-left pt-s">
            <ui-checkbox update="gender" cursor={ opts.cursor } group="gender" title="Мужской" size="xl" theme="blue" value="male"></ui-checkbox>
        </div>
        <div class="col-xs-12 col-sm-6 text-left pt-s">
            <ui-checkbox update="gender" cursor={ opts.cursor } group="gender" title="Женский" size="xl" theme="blue" value="female"></ui-checkbox>
        </div>
    </div>
    <div class="row mb-m">
        <div class="hidden-xs col-sm-8 pt-xs pr-m">
            <span class="visible-md visible-lg title">Электронная почта</span>
            <span class="visible-sm title">Эл. почта</span>
        </div>
        <div class="col-sm-16">
            <ui-input placeholder="E-mail" update="email" cursor={ opts.cursor.select('contacts') } size="l"></ui-input>
        </div>
    </div>
    <div class="row mb-m">
        <div class="hidden-xs col-sm-8 pt-xs pr-m">
            <span class="visible-md visible-lg title">Гражданство</span>
            <span class="visible-sm title">Гражданство</span>
        </div>
        <div class="col-xs-24 col-sm-16">
            <ui-select update="citizenship" cursor={ opts.cursor } items={ $store.country.get() } size="l"></ui-select>
        </div>
    </div>
    <div class="row mb-m">
        <div class="hidden-xs col-sm-8 pt-xs pr-m">
            <span class="visible-md visible-lg title">Город проживания</span>
            <span class="visible-sm title">Город</span>
        </div>
        <div class="col-xs-24 col-sm-16">
            <ui-input placeholder="{ app.device.isPhone ? 'Введите свой город' : 'Начните вводить свой город' }" update="city" value="name" cursor={ opts.cursor.select('contacts') } autosuggest="getSuggestCity" autosuggestsize="l" dataonlysuggest="true" autoselect={ true } size="l"></ui-input>
        </div>
    </div>
    <div class="row mb-m">
        <div class="hidden-xs col-sm-8 pt-xs pr-m">
            <span class="visible-md visible-lg title">Мобильный телефон</span>
            <span class="visible-sm title">Телефон</span>
        </div>
        <div class="col-xs-24 col-sm-16">
            <ui-input-phone placeholder="Телефон" update="phone" items={ $store.countryCode } cursor={ opts.cursor.select('contacts') } size="xl"></ui-input-phone>
        </div>
    </div>
    <div class="row mb-m">
        <div class="hidden-xs col-sm-8 pt-xs pr-m">
            <span class="title">Skype</span>
        </div>
        <div class="col-xs-24 col-sm-16">
            <ui-input placeholder="Skype для связи" update="skype" cursor={ opts.cursor.select('contacts') } size="l"></ui-input>
        </div>
    </div>
    <div class="row mb-m">
        <div class="hidden-xs col-sm-8 pt-xs pr-m">
            <span class="title">Личный сайт</span>
        </div>
        <div class="col-xs-24 col-sm-16">
            <ui-input placeholder="{ app.device.isPhone ? 'Личный сайт' : 'http://' }" update="site" cursor={ opts.cursor.select('contacts') } size="l"></ui-input>
        </div>
    </div>
    <div class="row mb-m">
        <div class="col-xs-24 col-sm-8 pt-xs pr-m xs-pt0">
            <span class="hidden-xs title">Главный вид связи</span>
            <span class="c-blue input-title">Главный вид связи</span>
        </div>
        <div class="col-xs-24 col-sm-16">
            <ui-select update="primary" cursor={ opts.cursor.select('contacts') } items={ $store.dictionary.get("contactsPrimary", "ru") } size="l"></ui-select>
        </div>
    </div>
    <div class="row mb-m">
        <div class="col-xs-24 col-sm-8 pt-xs pr-m xs-pt0">
            <span class="hidden-xs title">Переезд</span>
            <span class="c-blue input-title">Переезд</span>
        </div>
        <div class="col-xs-24 col-sm-16">
            <ui-select update="relocation" cursor={ opts.cursor } items={ $store.dictionary.get("relocation", "ru") } size="l"></ui-select>
        </div>
    </div>
    <div class="row mb-m">
        <div class="col-xs-24 col-sm-8 pt-xs pr-m xs-pt0">
            <span class="hidden-xs title">Командировки</span>
            <span class="c-blue input-title">Командировки</span>
        </div>
        <div class="col-xs-24 col-sm-16">
            <ui-select update="businessTrip" cursor={ opts.cursor } items={ $store.dictionary.get("businessTrip", "ru") } size="l"></ui-select>
        </div>
    </div>
    <div class="row mb30 xs-pb-xxs">
        <div class="col-xs-24 col-sm-8 pt-xs pr-m xs-pt0">
            <span class="hidden-xs title">Время до работы</span>
            <span class="c-blue input-title">Время до работы</span>
        </div>
        <div class="col-xs-24 col-sm-16">
            <ui-select update="travelTime" cursor={ opts.cursor } items={ $store.dictionary.get("travelTime", "ru") } size="l"></ui-select>
        </div>
    </div>

</profile-data-content>
