<section-profile-data class="oScreen zIndex-100 { showAnim : active }" data-open={ active }>

    <div class="pos-centered">
        <div class="container anim anim-bt-ease" duration-show="s" duration-hide="xs" delay-show="xs">
            <div class="row">
                <div name="wrapper" class="col-md-15 centered">
                    <div onClick={ hide } onUpdate="none" class="button__close" data-color="gray"></div>
                    <div name="content" class="pos-rel maxH-95v overflow-hidden section-scroll bg-white borderRadius-xl zIndex-1">
                        <profile-data-content class="display-block pt70 pb100 pl45 pr45 text-left fontSize-20 c-gray willChange-transform" style={ 'padding-top:130px' : !$account.get("name").length || !$account.get("surname").length }></profile-data-content>
                        <div class="pos-tl bg-gradient-tb-white w100p h80"></div>
                        <div if={ !data.get("name").length || !data.get("surname").length } class="pos-tl zIndex-2 w100p bg-gradient-tb-white" style="height:130px">
                            <div class="pos-abs-full bg-gradient-tb-white">
                                <div class="pos-abs-full bg-gradient-tb-white"></div>
                            </div>
                            <div class="col-xs-24">
                                <p class="c-brown pt30 plr-xl text-center fontSize-20 fontWeight-bold">Вводите свои реальные данные, в дальнейшем ваше имя и фамилию изменить будет нельзя.</p>
                            </div>
                        </div>
                        <div class="bg-white pos-bl text-right w100p h90 pr45 pt-s zIndex-2 borderRadiusBottom-xl">
                            <button onClick={ onSave } onUpdate="none" class="btn btn-l2 btn-success">Сохранить</button>
                            <button onClick={ hide } onUpdate="none" class="btn btn-l2 btn-primary-hover ml-xs xs-plr-m">{ firstShow ? 'Заполнить позже' : 'Отменить' }</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.firstShow = false;

    $.data = new Baobab($account.deepClone());

    $.on("mount", function(){
        $afterlag.run(function(){
            $.scroll = new app.plugins.scroll.content($.content);
            $.scroll.init();
        });
    });

    $.show = function(){
        $.data.set($account.deepClone());
        //$.firstShow = true;
        $.update({
            active: true
        })
        $.scroll.refresh();
    };

    $.commit = {
        birthday: function(){
            if ($.tags["profile-data-content"].birthdayHidden._tag.value){
                $.tags["profile-data-content"].birthdayHidden._tag.update();
            }
        }
    };

    $.onSave = function(){
        $account.onSaveData($.data, function(){
            $.hide();
        });
    };

    $.hide = function(){
        $.update({
            active: false
        })
        $.firstShow = false;
    };

    $.handleClickOutside = function(e){
        if (!$.wrapper.contains(e.target)) $.hide();
    };

    $.on("updated", function(){
        if ($.active){
            document.addEventListener('click', $.handleClickOutside);
        }
        else {
            document.removeEventListener('click', $.handleClickOutside)
        }
    });

</script>

</section-profile-data>
