.oScreen__jptest__enter {
    @extend .display-block;
    @extend .text-center;
    @include abs();
    @extend .overflow-hidden;

    #renderSide & {
        jptest-enter {
            @extend .display-block;
            @extend .pos-abs;
            @extend .t-60;
            @extend .l0;
            @extend .w100p;
            @extend .h100p;
        }
    }
    &__faces {
        @extend .pos-abs;
        @extend .t0;
        @extend .r-xs;

        &:after {
            @extend .display-block;
            @extend .content-empty;
            width:377px;
            height:338px;
            transform:scale(0.85);
            @extend .bg-cover;
            background-image:url(/assets/images/visitors@2x2.png);
        }
    }
    &__angle__link {
        @extend .flex-centered;
        @extend .pos-abs;
        @extend .t-25;
        @extend .l-l;
        @extend .h35;
        @extend .c-blue;
        @extend .bg-smokeLight;
        @extend .plr-xs;
        @extend .fontSize-13;
        @extend .text-uppercase;
        @extend .fontWeight-bold;
        @extend .borderRadius-l;

        &:after {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .t85;
            @extend .l0;
            border-width:0 0 20px 20px;
            border-style:solid;
            border-color:transparent;
            border-bottom-color:$smokeLight;
            border-left-color:$smokeLight;
            border-radius:0 0 0 4px;
            @extend .zIndex--1;
        }
    }
    &__text {
        @include abs();
        @extend .h100v;
        @extend .overflow-visible;

        &__inner {
            @extend .pos-centered;
            @extend .pb-l;
            margin-top:-70px;

            #renderSide & {
                margin-top:-104px;
            }
        }
        &__line {
            @extend .pos-centered-h;
            @extend .t50;
            margin-top:150px;

            #renderSide & {
                margin-top:104px;
            }
            &__item {
                &:after {
                    @extend .display-block;
                    @extend .content-empty;
                    @extend .w2px;
                    @extend .h50v;
                    @extend .bg-gray;
                    @extend .opacity-40;
                }
            }
        }
    }
    &__phone {
        &__left {
            @extend .pos-abs;
            left:-205px;
            bottom:-480px;
            @extend .willChange-transform;
            transform:translate3d(-20vw, 20vw, 0) rotate(0deg);
        }
        &__right {
            @extend .pos-abs;
            right:-330px;
            bottom:-490px;
            @extend .willChange-transform;
            transform:translate3d(25vw, 25vw, 0) rotate(-35deg);
        }
    }
    &.showAnim-group1 {
        .oScreen__jptest__enter__phone {
            &__left {
                transform:translate3d(0, 0, 0) rotate(31deg);
                transition:transform 0.7s $cubic2501;
            }
            &__right {
                transform:translate3d(0, 0, 0) rotate(-35deg);
                transition:transform 0.7s $cubic2501;
                transition-delay:0.4s;
            }
        }
    }
}
html.d-tablet {
    .oScreen__jptest__enter__phone {
        &__left {
            transform:translate3d(-20vw, 25vw, 0) rotate(0deg) scale(0.89);
        }
        &__right {
            transform:translate3d(25vw, 30vw, 0) rotate(-35deg) scale(0.89);
        }
    }
    .oScreen__jptest__enter {
        &__faces {
            &:after {
                transform:translate3d(0, -15px, 0) scale(0.75);
            }
        }
        &.showAnim-group1 {
            .oScreen__jptest__enter__phone {
                &__left {
                    transform:translate3d(10px, 100px, 0) rotate(31deg) scale(0.89);
                }
                &__right {
                    transform:translate3d(-20px, 40px, 0) rotate(-35deg) scale(0.89);
                }
            }
        }
    }
}
@media screen and (max-height: 640px) {
    html.d-largeScreen {
        .oScreen__jptest__enter {
            &__faces {
                &:after {
                    transform:translate3d(0, -15px, 0) scale(0.75);
                }
            }
            &.showAnim-group1 {
                .oScreen__jptest__enter__phone {
                    &__left {
                        transform:translate3d(2.5vw, 0, 0) rotate(31deg) scale(0.85);
                    }
                    &__right {
                        transform:translate3d(-2.5vw, 0, 0) rotate(-35deg) scale(0.85);
                    }
                }
            }
        }
    }
}
