.resume__item {
    @extend .display-block;
    @extend .pos-rel;
    @extend .bg-white;
    @extend .mlr-xss;
    @extend .md-mlr-xs;
    @extend .mb-l;
    @extend .borderRadius-xl;
    @include accelerate(true);
    @extend .whiteSpace-normal;
    height:354px;
    box-shadow:5px 8.66px 30px 0 rgba(31,35,37,.078);
    will-change:box-shadow, transform;
    transition:box-shadow .4s, transform .4s;

    .m-no-touch &:hover {
        // box-shadow:0 5px 40px rgba(0,0,0,.16);
        // box-shadow:0 20px 40px rgba(0,0,0,.16);
        box-shadow:0 20px 25px rgba(0,0,0,.15);
        @extend .trY--s;
    }
    &[data-new="true"]{
        @extend .flex-column-centered;
        @extend .c-blue;
        @extend .pb-xs;
        @extend .letterSpacing--s;
        @extend .cursor-pointer;
        font-size:26px;

        .m-no-touch &:hover:before {
            animation:spinner 0.6s;
        }
        &:before {
            @extend .content-empty;
            @extend .display-block;
            @extend .mb-xxs;
            @include ui-icon(plus, 48px, 48px);
        }
    }
    &__header,
    &__stat {
        @extend .willChange-opacity;
        transition:opacity 0.8s $cubic60 0.65s;

        &[data-blank="true"]{
            @extend .opacity-0;
            @extend .pointerEvents-none;
        }
    }
    &[data-blank="true"]{
        @extend .cursor-default;

        .resume__item__header,
        .resume__item__stat {
            &:not([data-blank="true"]){
                @extend .opacity-0;
                @extend .pointerEvents-none;
            }
            &[data-blank="true"]{
                @extend .opacity-100;
                @extend .pointerEvents-all;
                @extend .cursor-default;
            }
        }
    }
    &__header {
        @extend .pos-tl;
        @extend .w100p;
        @extend .bg-cover;
        @extend .c-white;
        @extend .p-l;
        @extend .overflow-hidden;
        height:calc(100% - 130px);
        border-radius:10px 10px 0 0;

        &:before {
            @include abs();
            @extend .content-empty;
            @extend .bg-blueLight;
            @extend .opacity-95;
            border-radius:10px 10px 0 0;
        }
        @each $color in ($blue, $blueLight, $green, $emerald, $orange, $red, $violet, $violetLight, $brown, $pink){
            &[data-color="#{$color}"]{
                &:before {
                    background-color:$color;
                }
            }
        }
        &__text {
            @extend .cursor-pointer;
        }
    }
    &__control {
        @extend .pos-abs;
        @extend .t-m;
        right:14px;
        @extend .w30;
        @include flex("column", "flex-start", "center");
        @extend .zIndex-2;

        &__btn {
            @extend .mb-m;
            @extend .cursor-pointer;
            @extend .opacity-85;
            @extend .btn-active;
            @extend .btn-hover;
        }
        &__edit {
            @include ui-icon(pencil_white, 22px, 22px);
        }
        &__remove {
            @include ui-icon(minus_white, 30px, 30px);
        }
        &__menu {
            @include ui-icon(more_v_white, 26px, 26px);
        }
        &__inbox {
            @extend .pos-rel;
            @extend .mt60;
            @extend .opacity-100;

            &:after {
                @include accelerate();
                @extend .content-empty;
                @extend .display-block;
                @extend .opacity-85;
                @extend .transition-default;
                @include ui-icon(feedback_white, 32px, 32px);
            }
            &__badge {
                @include accelerate();
                @extend .flex-centered;
                @extend .pos-abs;
                top:-2px;
                right:-2px;
                width:16px;
                height:16px;
                @extend .borderRadius-circle;
                @extend .bg-pink;
                @extend .c-white;
                @extend .fontSize-14;
                @extend .fontWeight-bold;
                @extend .boxShadow-close;
                @extend .scale-0;
                @extend .zIndex-1;
            }
            &:hover:after,
            &[data-active="true"]:after {
                @extend .opacity-100;
            }
            &[data-active="true"] {
                .resume__item__control__inbox__badge {
                    @extend .scale-100;
                }
            }
        }
    }
    &__label {
        @include accelerate();
        @extend .pos-tl;
        @extend .zIndex-2;

        &:before {
            @extend .pos-tl;
            @extend .content-empty;
            border-bottom:60px solid transparent;
            border-left:60px solid $blue;
            border-right:60px solid transparent;
        }
        &:after {
            @include accelerate();
            content:"FREE";
            @extend .display-block;
            @extend .c-white;
            @extend .fontSize-14;
            @extend .fontWeight-bold;
            transform:rotate(-45deg) translate3d(-3px, -2px, 0);
            @extend .p-xs;
        }
    }
    &__likes {
        @extend .pos-bl;
        @extend .m-s;
        @extend .zIndex-2;
        transform:translate3d(2px, -2px, 0);

        &:after {
            @include accelerate();
            @extend .content-empty;
            @extend .display-block;
            @extend .opacity-70;
            @include ui-icon(like_fill_white, 26px, 26px);
        }
        &__badge {
            @include accelerate();
            @extend .flex-centered;
            @extend .pos-abs;
            top:-7px;
            right:-7px;
            width:21px;
            height:21px;
            @extend .borderRadius-circle;
            @extend .bg-pink;
            @extend .c-white;
            @extend .fontSize-14;
            @extend .fontWeight-8;
            @extend .boxShadow-close;
            @extend .scale-0;
            @extend .zIndex-1;
        }
        &[data-active="true"] {
            &:after {
                @extend .opacity-85;
            }
            .resume__item__likes__badge {
                @extend .scale-100;
            }
        }
    }
    &__photo {
        @extend .w60;
        @extend .h60;
        @extend .bg-cover;
        @extend .borderRadius-circle;
    }
    &__noview {
        @extend .fontSize-16;
        @extend .fontWeight-bold;
        @extend .c-yellowLight;
        @extend .mt--m;
        margin-bottom:3px;
    }
    &__title {
        @extend .fontSize-22;
        @extend .fontWeight-bold;
        @extend .mb-xs;
        @include textEllipsis(100%, 56px, 2);
    }
    &__date {
        @extend .fontSize-16;
        @extend .opacity-70;
        @extend .mb-m;
    }
    &__salary {
        @extend .fontSize-28;
        @extend .fontWeight-8;
        @extend .letterSpacing-0;
    }
    &__stat {
        @extend .pos-bl;
        @extend .w100p;
        @extend .overflow-hidden;
        height:130px;
        border-radius:0 0 10px 10px;

        &__wrapper {
            @include flex("row", "flex-start", "stretch");
            @extend .h100p;
        }
        &__cell {
            @extend .text-center;
            @extend .flex-centered;
            font-size:30px;
        }
        &__button {
            @extend .pos-rel;
            @extend .bg-white;
            @extend .borderRadius-xxl;
            @extend .zIndex-1;
        }
        &__graph {
            @extend .pos-abs;
            @extend .t--xs;
            @extend .l--30;
            width:220px;
            height:220px;
            @extend .opacity-15;

            &__color {
                @extend .fill-blueLight;
            }
        }
    }
}
