.plan {
    &__screens {
        @extend .pos-rel;
        height:498px;

        html.d-phone & {
            @extend .h100v;
        }
        &__select {
            @extend .mb-s;

            html.d-phone & {
                @extend .pos-centered-h;
                @extend .mt35;
            }
        }
    }
    &__screen {
        @include accelerate(true);
        @extend .pos-tl;
        @extend .w100p;
        @extend .visibility-hidden;

        html.d-phone & {
            @extend .h100v;
        }
        &[data-active="true"]{
            @extend .visibility-visible;

            .plan__text__mobile {
                @extend .opacity-100;
                @extend .transform-default;
            }
        }
        &[data-screen="free"]{
            html.d-phone & {
                @include abs();
            }
        }
        .slider[name="slider-free"]{
            html.d-phone & {
                @extend .pos-centered-v;
                @extend .w100p;
                height:326px;
                @extend .pt-m;
            }
        }
        .slider[name="slider-premium"]{
            html.d-phone & {
                @extend .pos-tl;
                @extend .w100v;
                @extend .h100v;
                @extend .m0;
                @extend .p0;
            }
            .slider__wrapper {
                height:498px;

                html.d-phone & {
                    @include abs();
                }
            }
            .slider__item {
                html.d-phone & {
                    @include abs();
                }
            }
        }
    }
    &__text__mobile {
        @extend .pos-abs;
        @extend .b0;
        @extend .l0;
        @extend .w100p;
        @extend .fontWeight-bold;
        @extend .plr-l;
        @extend .pb35;
        @extend .whiteSpace-normal;
        @extend .text-center;
        @extend .zIndex-1;
        @extend .opacity-0;
        @extend .pointerEvents-none;
        @extend .willChange-tp;
        transform:translate3d(0, 20px, 0);
        transition:opacity 0.5s $cubic345 0.45s, transform 0.5s $cubic345 0.45s;
    }
    &__basic {
        &__item {
            &[data-active="true"]{
                @include accelerate();
                @extend .pointerEvents-none;

                &:before {
                    @include accelerate();
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .t-70;
                    @extend .l-25;
                    @extend .w62;
                    @extend .h62;
                    @extend .bg-blue;
                    @extend .borderRadius-circle;
                    @extend .boxShadow-3d-blue-strong;
                    @extend .zIndex-1;
                }
                &:after {
                    @include accelerate();
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .t-70;
                    @extend .l-25;
                    @include ui-icon("check_white", 40px, 40px);
                    @extend .mt-xs;
                    @extend .ml-xs;
                    @extend .zIndex-2;
                }
            }
            &__image {
                @include accelerate(true);
                @extend .borderRadius-l;
                @extend .w100p;
                @extend .pointerEvents-none;
                will-change:box-shadow, transform;
                box-shadow:5px 8.66px 30px 0 rgba(31,35,37,.078);
                transition:all 0.4s;

                html.d-phone & {
                    transition:all 0.2s;
                }
            }
            &__button {
                @include accelerate();
                @extend .pos-bl;
                @extend .w100p;
                @extend .pb-xl;
                @extend .opacity-0;
                @extend .cursor-pointer;
                @extend .pointerEvents-none;
                transform:translate3d(0, 80px, 0);
                @extend .willChange-tp;
                transition:all 0.4s;

                html.d-phone & {
                    transition:all 0.2s;
                }
            }
            &:hover {
                .plan__basic__item {
                    &__image {
                        @extend .pointerEvents-all;
                        box-shadow:0 20px 25px rgba(0,0,0,.15), 0 0 0 5px rgba($lime,.7);
                        transform:translate3d(0, -15px, 0) scale(1.03);
                        transition:all 0.4s 0.05s;

                        html.d-phone & {
                            transition:all 0.2s;
                        }
                    }
                    &__button {
                        @extend .pointerEvents-all;
                        @extend .opacity-100;
                        @extend .transform-default;
                        transition:all 0.4s 0.05s;

                        html.d-phone & {
                            transition:all 0.2s;
                        }
                    }
                }
            }
        }
    }
    &__premium {
        &__gallery {
            @include accelerate();
            @extend .pos-abs;
            @extend .t0;
            @extend .r--l;
            @extend .md-mr--l;
            @extend .w80;
            @extend .h80;
            @extend .borderRadius-circle;
            @extend .bg-cover;
            @extend .opacity-0;
            @extend .cursor-pointer;
            @extend .willChange-tp;
            box-shadow:5px 8.66px 30px 0 rgba(31,35,37,.078);
            transform:translate3d(-77px, -10px, 0) scale(0);
            transition:all 0.4s;

            .slider__item.current & {
                @extend .opacity-100;
                transform:translate3d(-77px, -10px, 0) scale(1);
            }
            &__pointer {
                @extend .pos-centered;
                @extend .flex-centered;
                width:26px;
                height:26px;
                @extend .bg-blackLight;
                @extend .borderRadius-circle;
                transition:background 0.2s $cubic215;

                &:after {
                    @extend .content-empty;
                    @extend .display-block;
                    @include ui-icon(plus_thin_white, 16px, 16px);
                }
            }
            &:hover {
                div {
                    @extend .bg-green;

                    &:after {
                        @include ui-icon(plus_thin_white);
                    }
                }
            }
        }
        &__link__overview {
            @extend .display-inlineFlex;
            @extend .c-blueBright;
            @extend .btn-active;
            @extend .lineHeight-l;
            border-bottom:1px solid rgba($blueBright,.3);

            &:hover {
                @extend .c-pink;
                border-color:rgba($pink,.3);
            }
        }
        &__item {
            &__image {
                @include accelerate();
                @extend .w100p;
                @extend .willChange-tp;
                transition:opacity 0.4s $cubic2501, transform 0.4s $cubic2501;

                &__wrapper {
                    height:550px;

                    html.m-no-touch &:hover,
                    html.m-touch & {
                        .plan__premium__item__image {
                            transition:opacity 0.4s $cubic2501 0.25s, transform 0.4s $cubic2501 0.25s;

                            &[data-image="front"]{
                                @extend .opacity-0;
                                transform:translate3d(-15px, -75px, 0) scale(0.95);
                            }
                            &[data-image="back"]{
                                @extend .opacity-100;
                                transform:translate3d(-50%, -20px, 0) scale(1);
                            }
                        }
                    }
                }
                &[data-image="front"]{
                    transform:translate3d(-15px, -75px, 0);
                }
                &[data-image="back"]{
                    @extend .opacity-0;
                    @extend .pos-abs;
                    top:0;
                    left:50%;
                    transform:translate3d(-50%, -20px, 0) scale(0.95);
                }
                &__mobile {
                    @extend .pos-centered;
                    @extend .w100p;
                    height:58vh;
                    @extend .mt-m;
                    @extend .ml-xs;

                    img {
                        @extend .display-block;
                        max-height:58vh;
                    }
                }
            }
            &__button {
                @include accelerate();
                @extend .pos-bl;
                @extend .w100p;
                @extend .text-center;
                @extend .opacity-0;
                @extend .willChange-tp;
                padding-bottom:110px;
                transform:translate3d(0, 80px, 0) scale(0.9);
                transition:opacity 0.4s, transform 0.4s;

                .slider__item.current & {
                    @extend .opacity-100;
                    @extend .transform-default;
                    transition:opacity 0.5s 0.1s, transform 0.5s 0.1s;
                }
                html.d-tablet & {
                    padding-bottom:175px;
                }
                html.d-phone & {
                    @extend .pos-centered-v;
                    @extend .b-auto;
                    @extend .pb0;
                    @extend .mt-s;
                    @extend .ml-xss;
                    @extend .opacity-100;
                    @extend .transform-default;
                }
            }
        }
        &__colors__item {
            @include accelerate(true);
            @extend .display-inlineBlock;
            @extend .w38;
            @extend .h38;
            @extend .borderRadius-circle;
            @extend .mr-xs;
            @extend .cursor-default;
            will-change:transform, box-shadow;
            transition:transform 0.35s $cubic40, box-shadow 0.35s $cubic40;

            html.d-mobile & {
                @extend .w36;
                @extend .h36;
            }
            &:hover {
                @extend .trY--xs;
            }
            @each $title, $color in (blue: $blue, blueLight: $blueLight, brown: $brown, red: $red, pink: $pink, orange: $orange, violet: $violet, violetLight: $violetLight, green: $green, emerald: $emerald){
                &.bg-#{$title}:hover {
                    box-shadow:0 22px 30px -10px rgba($color,.48), 0 14px 30px 0px rgba($color,.2), 0 7px 20px -5px rgba($color,.3);
                }
            }
        }
        &__icon {
            @extend .pos-rel;
            @extend .display-inlineBlock;
            @extend .vAlign-middle;

            &[data-icon="globe"]{
                margin-right:16px;
            }
            &[data-icon="control"]{
                margin-right:8px;
            }
            &[data-icon="play"]{
                margin-right:20px;
            }
            &[data-icon="chart"],
            &[data-icon="feedback"],
            &[data-icon="devices"]{
                margin-right:33px;
            }
        }
    }
}
