.resume {
    &__navbar {
        @extend .display-block;
        @extend .pos-abs;
        @extend .t-m;
        @extend .r-35;
        @extend .md-mt-xs;
        // @extend .borderRadius-xxxxl;
        // @extend .boxShadow-close;

        .btn-primary-hover {
            .btn-badge {
                @extend .scale-0;
            }
        }
        // .btn {
        //     @extend .bg-white;
        //     box-shadow:1px 0 0 0 rgba(31,45,61,.08), 0 1px 0 0 rgba(31,45,61,.08), -1px 0 0 0 rgba(31,45,61,.08), 0 -1px 0 0 rgba(31,45,61,.08);
        //
        //     &:not(.btn-primary, :hover){
        //         @extend .c-steel;
        //     }
        //     &:hover {
        //         @extend .bg-blueBright;
        //     }
        //     &-primary {
        //         @extend .c-white;
        //         @extend .bg-blue;
        //     }
        // }
    }
    &__list {
        @include abs();
        @extend .display-block;
        @extend .bg-snow;
        @extend .overflow-hidden;
        @extend .zIndex-1;

        .d-no-mobile & {
            padding-top:22.6vh;
        }
        .main__button {
            @extend .l-30;
            @extend .md-mt-xxs;
        }
        &__title {
            @extend .pos-abs;
            @extend .t-l;
            @extend .l-xl;
            @extend .trX-l;
            @extend .c-blue;
            @extend .fontSize-16;
            @extend .fontWeight-8;
            @extend .text-uppercase;
            @extend .visible-lg;
        }
        &__slider {
            @extend .pos-rel;
            @include accelerate(true);
            transform-origin:50% 0;
            @extend .willChange-transform;
            transition:transform 0.5s $cubic40 0.1s;

            .d-no-mobile & {
                width:1190px;
            }
            .d-tablet & {
                @extend .pos-centered;
            }
            .slider__item {
                &:first-child {
                    .d-tablet & {
                        @extend .ml-xxs;
                    }
                }
            }
            &[data-hidden="true"]{
                transform:perspective(500px) scale(0.8);
                transition:transform 0.6s $cubic645;

                .d-tablet & {
                    transform:perspective(500px) translate3d(-50%, -50%, 0) scale(0.8);
                }
            }
        }
        &__shareButton {
            @extend .flex-centered;
            @extend .pos-abs;
            @extend .b-l;
            @extend .l-50;
            @extend .cursor-pointer;

            &:hover {
                .resume__list__shareButton__text {
                    @extend .c-blue;
                    transform:translateY(-3px);

                    &:before {
                        transform:translate3d(3px, 1px, 0) scale3d(1.05, 1, 1);
                    }
                }
            }
            &__text {
                @extend .pos-rel;
                @extend .fontSize-18;
                @extend .fontWeight-8;
                @extend .text-uppercase;
                @extend .c-steel;
                @extend .pt-xxs;
                transition:transform 0.35s $cubic215;

                &:before {
                    @extend .content-empty;
                    @extend .pos-bl;
                    @extend .w100p;
                    height:9px;
                    @extend .bg-smokeDark;
                    transform:translate3d(0, -1px, 0) scale3d(1.05, 1, 1);
                    transition:transform 0.35s $cubic215;
                    @extend .zIndex--1;
                }
            }
        }
    }
}
