.resume__stat {
    @include abs();
    @extend .display-block;
    @extend .visibility-hidden;
    @extend .pointerEvents-none;
    @extend .zIndex-2;
    transition:visibility 0s 0.45s;

    &:before {
        @extend .content-empty;
        @extend .opacity-0;
        @include abs();
        @include accelerate(true);
        background:rgba(darken($grayDark,15%),.7);
        @extend .willChange-opacity;
        transition:opacity 0.4s $cubic40;
    }
    &__wrapper {
        @include accelerate();
        @extend .pos-tl;
        @extend .w100p;
        @extend .bg-smoke;
        @extend .pt-m;
        @extend .overflow-hidden;
        height:89.5vh;
        max-height:720px;
        @extend .willChange-transform;
        transform-origin:50% 0;
        transform:translate3d(0, -100%, 0);
        transition:transform 0.5s $cubic40;
    }
    &__content {
        @extend .pos-centered;
        margin-top:34px;
    }
    &__title {
        @extend .flex-row-left-center;
        @extend .pos-rel;
        @extend .userSelect-none;
        @extend .caret;
        @extend .caret-l;
        @extend .cursor-pointer;

        &:after {
            transform:translateY(3px);
        }
        &__value {
            @extend .display-block;
            @extend .vAlign-middle;
            @extend .c-gray;
            @extend .fontSize-34;
            @extend .text-truncate;
            @extend .maxW-100p;

            .d-tablet & {
                @extend .fontSize-28;
            }
        }
    }
    &__photo {
        @extend .pos-abs;
        @extend .t-25;
        @extend .l-30;
        @extend .w60;
        @extend .h60;
        @extend .borderRadius-circle;
        @extend .overflow-hidden;
        @extend .bg-cover;
        @extend .zIndex-1;
        @extend .opacity-85;
    }
    &__select {
        @extend .opacity-0;
        @extend .pos-abs;
        @extend .t100;
        @extend .r0;
    }
    &__tab {
        @extend .pos-rel;
        @extend .cursor-default;
        @include flex("column", "flex-start", "center");
        @extend .h100p;

        &[data-tab="hits"]{
            svg {
                @extend .w50;
                @extend .h50;
            }
            .resume__stat__tab__count {
                @extend .c-blueLight;
            }
            .resume__stat__tab__line {
                @extend .pos-tr;
                @extend .w1px;
                @extend .h100p;
                @extend .bg-grayLighten;
            }
        }
        &[data-tab="visits"]{
            svg {
                @extend .w46;
                @extend .h46;
            }
            .resume__stat__tab__count {
                color:#f05b4f;
            }
        }
        &__counts {
            @extend .flex-centered;
            @extend .w100;
        }
        &__icon {
            @extend .pos-rel;
            @extend .w50p;
            @extend .h45;

            svg {
                @extend .pos-centered;
                margin-top:4px;
            }
            path {
                @extend .fill-gray;
            }
        }
        &__count {
            @extend .ml0;
            @extend .flex-centered;
            @extend .fontSize-28;
            @extend .fontWeight-8;
            @extend .w50p;
        }
        &__title {
            @extend .c-gray;
            @extend .flex-centered;
        }
        .chart__radial__labels {
            @extend .text-right;
        }
        .chart__radial__label__title {
            @extend .fontSize-18;
        }
    }
    &[data-empty="true"]{
        .resume__stat__chart {
            &:after,
            &__empty {
                @extend .pointerEvents-all;
                @extend .visibility-visible;
                transition:opacity 0.3s $cubic215;
            }
            &:after {
                @extend .opacity-65;
            }
            &__empty {
                @extend .opacity-100;
            }
        }
    }
    &__chart {
        @extend .pos-rel;
        @extend .w100p;
        @extend .mt-m;
        height:400px;

        &:after,
        &__empty {
            @extend .opacity-0;
            @extend .pointerEvents-none;
            @extend .visibility-hidden;
        }
        &:after {
            @extend .content-empty;
            @include abs();
            @extend .bg-smoke;
        }
        &__empty {
            @extend .w60p;
            @extend .pos-centered;
            @extend .c-blackLight;
            @extend .fontSize-24;
            @extend .ml0;
            @extend .pb-l;
            @extend .text-center;
            @extend .zIndex-1;
            @extend .pointerEvents-none;
            @extend .visibility-hidden;
        }
    }
    &[data-open="true"]{
        @extend .visibility-visible;
        @extend .pointerEvents-all;
        transition:visibility 0s;

        &:before {
            @extend .opacity-100;
        }
        .resume__stat__wrapper {
            @extend .transform-default;
            transition:transform 0.65s $cubic645;
        }
    }
}
@media screen and (max-height: 620px) {
    .resume__stat {
        &__wrapper {
            height:92vh;
        }
        &__chart {
            height:350px;
        }
    }
}
