#app {
    @each $color in ($blue, $blueLight, $green, $emerald, $orange, $red, $violet, $violetLight, $brown, $pink){
        &[data-color="#{$color}"]{
            .fill-white {
                fill:$white;
            }
            .c-primary {
                color:$color;
            }
            .bg-primary {
                background-color:$color;
            }
            .bg-primaryDarken {
                background-color:darken($color,9%);
            }
            .border-primary {
                border-color:$color;
            }
            .borderTop-primary {
                border-top-color:$color;
            }
            .borderBottom-primary {
                border-bottom-color:$color;
            }
            .fill-primary {
                fill:$color;
            }
            svg[fill-color="primary"]{
                path, rect, polygon, circle {
                    fill:$color;
                }
            }
            .btn-primary {
                background-color:$color;

                &:hover {
                    background-color:darken($color,9%);
                }
            }
            .link-primary {
                color:$color;

                &:after {
                    background-color:rgba($color,.5);
                }
            }
            .c-white {
                color:$white;
            }
            .photo-changer-bg {
                background:linear-gradient(to top, $color, rgba($color,0));
            }
            .section__editable {
                background-color:rgba($color,.9);

                &:before {
                    background:linear-gradient(to top, $color, rgba($color,0));
                }
                &:not([data-helper="true"]){
                    .help__opener__btn {
                        color:$color;
                        background-color:$white;
                        box-shadow:0 0 0 2px $white;
                    }
                }
                &[data-helper="true"]{
                    .help__opener__btn {
                        color:$white;
                        background-color:$color;
                        box-shadow:0 0 0 2px $color;

                        &:hover {
                            color:$white;
                        }
                    }
                }
                .btn:hover,
                &__footer .btn:last-child {
                    color:$color;
                }
                &__footer .btn:last-child {
                    background-color:$white;
                    box-shadow:0 0 0 2px $white, inset 0 12px 20px -10px rgba($color, 0.18), inset 0 7px 8px -5px rgba($color, 0.12);

                    &:hover {
                        box-shadow:0 0 0 2px $white;
                    }
                }
                .input-group-addon {
                    &-svg-color {
                        .d-phone & {
                            fill:$color;
                        }
                    }
                }
                .input-svg-color {
                    .d-phone & {
                        fill:$color;
                    }
                }
                .input:focus {
                    .input-svg-color {
                        .d-phone & {
                            fill:$color;
                        }
                    }
                }
            }
            .control__fonts {
                &__item:hover {
                    color:$white;
                }
            }
            .select:after {
                border-top-color:$color;
            }
            &[data-control-color="white"] {
                .sendmail-button,
                .salary-graph-opener {
                    path {
                        fill:$color;
                    }
                }
                .control__fonts__item--active {
                    color:$color;
                }
                .control__colors__item--active:after {
                    background-color:$color;
                }
                .info-opener-icon-color,
                .info-opener-close-color {
                    .d-phone & {
                        fill:$color;
                    }
                }
            }
            &[data-mode="editing"]{
                .editing-text:after {
                    border-color:$color;
                }
            }
            .menu {
                input,
                textarea {
                    &:focus {
                        box-shadow:0 0 0 1px $color, 0 12px 20px -10px rgba($color, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba($color, 0.2);
                    }
                }
                .checkbox-control:before {
                    background-color:$color;
                }
                &__opener {
                    .m-no-touch &:hover {
                        background-color:$white;

                        .menu__opener__icon__color {
                            fill:$color;
                        }
                    }
                }
                &__item__button[data-item="user"]{
                    color:$steel;
                }
            }
            .tutorial {
                &__message__title {
                    color:$color;
                }
                .btn-default-hover-success {
                    background-color:$color;

                    &:hover {
                        background-color:$green;
                    }
                }
                .btn-primary-hover {
                    color:$color;
                    box-shadow:inset 0 0 0 1px $color;

                    &:hover {
                        color:$white;
                        background-color:$color;
                    }
                }
            }
        }
    }
}
#app[data-control-color="white"] {
    .sendmail-button,
    .salary-graph-opener,
    .control__fonts__item--active,
    .control__colors__item--active,
    .ui-scroll__bar,
    .ui-scroll__handle__inner {
        @extend .bg-white;
    }
    .m-no-touch & .control__fonts__item:hover {
        @extend .c-white;
        @extend .bg-blackLight;
    }
    .control__colors__item:not(.control__colors__item--active) {
        box-shadow:inset 0 0 0 3px rgba($white,.3);
    }
    .info-opener {
        .d-phone & {
            @extend .bg-white;
        }
    }
    .info-wrapper {
        .d-phone & {
            @extend .bg-steel;
        }
    }
}
