<section-order-writing class="oScreen zIndex-3 c-white" data-show="modal" data-color="dark" data-open="false" style="display:none">

    <div onClick={ hide } onUpdate="none">
        <div class="button__close opacity-{ app.device.isPhone ? '60' : '80' }" data-color="white"></div>
    </div>

    <div name="area1" class="oScreen__content" data-hidden={ step != 1 }>
        <div class="pos-centered mt--m w100p-xs">
            <h1 class="mb45 xs-mb-m opacity-75 { fontSize-38 : app.device.isPhone }">Выберите эксперта</h1>
            <div class="carousel__list">
                <div onClick={ nav.prev } class="carousel__arrow" data-arrow="prev"></div>
                <div onClick={ nav.next } class="carousel__arrow" data-arrow="next"></div>
                <div class="carousel__items">
                    <div onClick={ nav.select } each={ item, i in items.get() } no-reorder class="carousel__item" data-item={ get.pos(i) }>
                        <div class="carousel__item__image" style="background-image:url({ item.photo })"></div>
                    </div>
                </div>
            </div>
            <div class="carousel__content">
                <div each={ item, i in items.get() } no-reorder class="carousel__content__item" data-item={ get.pos(i) }>
                    <div class="carousel__content__title c-yellowBright">{ item.title }</div>
                    <div class="carousel__content__text">{ item.text }</div>
                    <div onClick={ select.expert } class="btn btn-xl btn-upper btn-white-hover-success">Выбрать</div>
                </div>
            </div>
        </div>
    </div>

    <div name="area2" class="oScreen__content" data-hidden={ step != 2 }>
        <div class="pos-centered container w100p-xs">
            <div class="row">
                <div class="col-md-16 col-lg-14 centered">
                    <h1 class="mb-l xs-mb-m xs-pl-s xs-pr-l opacity-75 text-left-xs { fontSize-34 : app.device.isPhone }">Выберите ваш общий стаж</h1>
                    <div class="plr-xl mb-m xs-plr-s xs-mb-s">
                        <ui-select color="white" size="{ app.device.isPhone ? 'l' : 'xl' }" commit={ commit.experience } value={ order.experience } items={ $store.dictionary.get('experience', 'ru') }></ui-select>
                    </div>
                    <div class="fontSize-20 opacity-85 plr-xl mb30 xs-plr-s xs-mb-m">Стоимость услуги составляет 1.719 руб. с учетом НДС, предоплата не взымается.</div>
                    <div onClick={ onSuccess } onUpdate="none" class="btn btn-xl btn-upper btn-success">Отправить заказ</div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.on("before-mount", function(){
        $.reset();
        $.cursor = $.items.select(1);
    });

    $.on("mount", function(){
        $.section = new app.plugins.sections($.root, {
            mode: "light",
            content: function(){
                return $["area" + String($.step)];
            }
        })
        // $afterlag.xl(function(){
        //     $.show();
        // })
    });

    $.default = function(){
        return {
            step: 1,
            order: {
                expert: "2",
                experience: "noExperience"
            }
        }
    };

    $.items = new Baobab([
        {
            id: "1",
            photo: '/public/images/writing/photo1.png',
            title: 'Ирина Беляева',
            text: 'Более 7 лет работает в сфере подбора и оценки персонала в крупных московских компаниях. Начинала свою карьеру рекрутером в кадровом агентстве, затем продолжила в роли ведущего менеджера по подбору персонала внутри компании.'
        },
        {
            id: "2",
            photo: '/public/images/writing/photo4.png',
            title: 'Светлана Тюгина',
            text: 'Более 5 лет имела опыт работы в одном из ведущих кадровых агентств Москвы. Разнообразная отраслевая специализация по направлениям подбора: строительство, продажи, банки/финансы, маркетинг/PR, СМИ.'
        },
        {
            id: "3",
            photo: '/public/images/writing/photo2.png',
            title: 'Мария Скокина',
            text: 'На протяжении 4-ти лет имела опыт работы в должности менеджера по подбору персонала в кадровом агентстве Санкт-Петербурга. Основная специализация — компании фармацевтических и юридических сегментов рынка.'
        },
        {
            id: "4",
            photo: '/public/images/writing/photo3.png',
            title: 'Елена Темникова',
            text: 'Большой опыт во внутреннем подборе персонала — 8 лет, более 3 лет работала специалистом в департаменте оценки, обучения и развития персонала в крупном производственном холдинге. Владеет методиками соционики, среди которых MBTI, PAEI.'
        }
    ]);

    $.show = function(){
        $.section.show();
    };

    $.reset = function(update){
        _.extend($, $.default());
        if (update) $.update();
    };

    $.nav = {
        select: function(){
            $.cursor = $.items.select(this.i == 0 ? "0" : this.i);
        },
        prev: function(){
            $.cursor = $.cursor.left();
            if (!$.cursor) {
                $.cursor = $.items.root.down().rightmost();
            }
        },
        next: function(){
            $.cursor = $.cursor.right();
            if (!$.cursor) {
                $.cursor = $.items.root.down().leftmost();
            }
        }
    };

    $.get = {
        pos: function(i){
            var index = $.cursor.path[0];

            if (i == index){
                return "active";
            }
            else if (i == index - 1 || index == 0 && i == $.items.get().length - 1){
                return "prev";
            }
            else if (i == index + 1 || i == 0 && index == $.items.get().length - 1){
                return "next";
            }
        }
    };

    $.commit = {
        experience: function(value){
            $.order.experience = value;
        }
    };

    $.select = {
        expert: function(){
            $.order.expert = this.item.id;
            $.step = 2;
        }
    };

    $.onSuccess = function(){
        app.request("addOrdersWriting", {
            data: $.order
        })
        .then(function(){
            $afterlag.s(function(){
                $Notify.show({
                    color: "danger",
                    text: "Приносим свои извинения, сейчас все специалисты заняты, как только один из сотрудников освободится, с вами свяжутся в ближайшее время.",
                    timeout: 5
                })
            });
        });
        $.hide();
    };

    $.hide = function(){
        $.section.hide({
            afterHide: function(){
                if ($.step > 1){
                    $.update({
                        step: 1
                    })
                }
            }
        });
    };

</script>

</section-order-writing>
