{% extends "layouts/basic.html" %}

{% block title %}{% if title %}{{ title | safe }}{% else %}Создать классное резюме и найти работу на ResumeKraft{% endif %}{% endblock %}

{% block image %}{% if image %}{{ image }}{% else %}https://resumekraft.ru/public/images/ogimage.png{% endif %}{% endblock %}

{% block styles %}/public/css/style{% if device == 'phone' %}.mobile{% endif %}.css{% endblock %}

{% block body %}
<body id="renderSide"{% if device == 'phone' %} class="appLoading"{% endif %} class="appLoading">

    {{ content | safe }}

    {% if device == "phone" %}
    <div id="loader">
        <div class="loader-spinner"></div>
    </div>
    {% endif %}

    {% if section == "jp-test" %}
        <jptest-content></jptest-content>
        <jptest-result></jptest-result>
    {% endif %}

    {% if section == "auth" %}
        <section-notify></section-notify>
        <section-loader-user></section-loader-user>
    {% endif %}

    {% if device == "phone" %}
    <section-auth></section-auth>

    <script src="/public/js/app.libs.mobile.js"></script>
    <script src="/public/js/app.mobile.js"></script>
    <script src="/public/js/templates.mobile.js"></script>
    <script src="/public/js/init.js"></script>

    {% else %}

    <!--/ VENDORS /-->
    <script src="/public/js/libs.js"></script>
    <script src="/assets/js/libs/stickyfill/dist/stickyfill.min.js"></script>

    <!--/ templates /-->
    <script src="/public/js/templates.js"></script>

    <!--/ JS components /-->
    <script src="/public/js/app.js"></script>
    <script src="/public/js/sections/premiumSamples.js"></script>
    <script src="/public/js/sections/samples.js"></script>
    <script src="/public/js/sections/nav.js"></script>
    <script src="/assets/js/store/resume/premium/colors.js"></script>
    <!-- <script src="/assets/js/plugins/screens.js"></script>
    <script src="/public/js/sections/home.js"></script>
    <script src="/assets/js/plugins/scroll/scroll.Animate.js"></script>
    <script src="/assets/js/plugins/scroll/scroll.Parallax.js"></script>
    <script src="/assets/js/components/features/premium.js"></script> -->
    <script src="/public/js/init.js"></script>

    {% endif %}

    <!-- <script>
        var $loader = $("#loader");

        $loader.on("click", function(){
            var attr = $loader.attr("data-fadeIn");
            if (attr){
                $loader.removeAttr("data-fadeIn");
            }
            else {
                $loader.attr("data-fadeIn", true);
            }
        });

    </script> -->

</body>
{% endblock %}
