<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% if title %}{{ title }}{% else %}Cервис создания резюме, помощь в составлении резюме, рекомендации профессионалов, примеры, образцы резюме. ResumeKraft{% endif %}</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta property="og:image" content="/assets/images/favicons/120.png" />
    <meta property="og:title" content="Создать крутое резюме самому!" />
	<meta property="og:description" content="ResumeKraft - сервис создания премиальных резюме с продающим дизайном." />
    <link rel="icon" type="image/png" href="/assets/images/favicons/32.png">
    <link rel="apple-touch-icon" href="/assets/images/favicons/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/152.png">
    <!-- <meta name="ya-title" content="#265cdc"/>
    <meta name="msapplication-TileColor" content="#265cdc"/>
    <meta name="theme-color" content="#265cdc"/> -->
    <meta name="screen-orientation" content="portrait">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
    <link rel="manifest" href="/manifest.json">
    <link id="styles" rel="stylesheet" href="/public/css/style.mobile.css">
</head>
<body id="renderServer" class="appLoading">

    {{ content | safe }}

    <div id="loader">
        <div class="loader-spinner"></div>
    </div>

    <section-auth></section-auth>
    <section-notify></section-notify>
    <section-loader></section-loader>

    <!--/ VENDORS /-->
    <!-- <script src="/assets/js/libs/jquery.min.js"></script>
    <script src="/assets/js/libs/jquery.mobile.custom.min.js"></script>
    <script src="/assets/js/libs/modernizr.custom.js"></script>
    <script src="/assets/js/libs/fastclick.js"></script>
    <script src="/assets/js/libs/riot/riot+compiler.js"></script>
    <script src="/assets/js/libs/baobab.js"></script>
    <script src="/assets/js/libs/underscore-min.js"></script>
    <script src="/assets/js/libs/store.min.js"></script>
    <script src="/assets/js/libs/iscroll.static.js"></script>
    <script src="/assets/js/libs/afterlag-js/dist/afterlag.min.js"></script> -->
    <script src="/public/js/app.libs.mobile.js"></script>

    <!--/ templates /-->
    <!-- <script src="/public/templates/commons/modules/auth/auth.tag" type="riot/tag"></script>
    <script src="/public/templates/commons/modules/auth/authSocial.tag" type="riot/tag"></script>
    <script src="/public/templates/commons/modules/auth/forms/signIn.tag" type="riot/tag"></script>
    <script src="/public/templates/commons/modules/auth/forms/signUp.tag" type="riot/tag"></script>
    <script src="/public/templates/commons/modules/auth/forms/remember.tag" type="riot/tag"></script>
    <script src="/assets/templates/modules/notify.html" type="riot/tag"></script>
    <script src="/assets/templates/modules/loader.html" type="riot/tag"></script>
    <script src="/public/templates/commons/icons/social/icon-fb.tag" type="riot/tag"></script>
    <script src="/public/templates/commons/icons/social/icon-vk.tag" type="riot/tag"></script>
    <script src="/public/templates/commons/icons/social/icon-tw.tag" type="riot/tag"></script>
    <script src="/public/templates/commons/icons/social/icon-dk.tag" type="riot/tag"></script>
    <script src="/public/templates/commons/icons/social/icon-gl.tag" type="riot/tag"></script> -->
    <script src="/public/js/templates.mobile.js"></script>

    <!--/ JS components /-->
    <script src="/assets/js/components/commons/app.js"></script>
    <script src="/assets/js/components/commons/request.js"></script>
    <script src="/assets/js/components/commons/afterlag.js"></script>
    <script src="/assets/js/components/commons/common.js"></script>
    <script src="/assets/js/components/commons/utils.js"></script>
    <script src="/assets/js/components/commons/modules.js"></script>
    <script src="/assets/js/components/features/links.js"></script>
    <script src="/assets/js/plugins/marquee.static.js"></script>
    <script src="/assets/js/plugins/marquee.effects.js"></script>
    <script src="/assets/js/plugins/screens.js"></script>
    <script src="/assets/js/plugins/animate.js"></script>
    <script src="/assets/js/plugins/chartRadial.js"></script>
    <script src="/assets/js/plugins/sliderElastic.js"></script>
    <script src="/assets/js/plugins/metrika.js"></script>
    <script src="/assets/js/plugins/share.js"></script>
    <script src="/assets/js/plugins/eventsEmitter.js"></script>
    <script src="/assets/js/plugins/scroll/scroll.Animate.js"></script>
    <script src="/assets/js/plugins/scroll/scroll.RefreshFix.js"></script>
    <script src="/assets/js/libs/photoswipe/dist/photoswipe.js"></script>
    <script src="/assets/js/libs/photoswipe/dist/photoswipe-ui-default.min.js"></script>

    <script src="/public/js/commons/config.js"></script>
    <script src="/public/js/commons/metrika.js"></script>
    <script src="/public/js/commons/sections.js"></script>

    <script src="/public/js/sections/mobile/home.js"></script>
    <script src="/public/js/sections/mobile/blog.js"></script>
    <script src="/public/js/sections/mobile/blogContent.js"></script>
    <script src="/public/js/sections/mobile/menu.js"></script>

    <script src="/public/js/init.js"></script>

    <!-- <script src="/public/js/app.build.mobile.js"></script> -->

</body>
</html>
