{% extends "layouts/basic.html" %}

{% block title %}Мастер создания резюме на Resumekraft{% endblock %}

{% block styles %}/public/css/style.css{% endblock %}

{% block body %}
<body class="rmaster">

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="header__block col-md-6">
                    <div class="header__title">Выбор дизайна</div>
                </div>
                <div class="header__block col-md-12">
                    <div class="header__button">Бесплатные</div>
                    <div class="header__button">Premium</div>
                </div>
                <div class="header__block col-md-6">

                </div>
            </div>
        </div>
    </div>

    <div class="content">

    </div>

    <div class="navigate">
        
    </div>

</body>
{% endblock %}
