{% extends "layouts/basic.html" %}

{% block title %}Редактирование премиального резюме на ResumeKraft{% endblock %}

{% block styles %}/assets/css/premium.css{% endblock %}

{% block body %}
<body class="appLoading">

    <root-main id="app" editing="{{ editing }}" demo="{{ demo }}"></root-main>

    <div id="loader" data-color="{{ color }}">
        <div class="loader-spinner"></div>
    </div>

    <!--/ VENDORS /-->
    <script src="/assets/js/libs.js"></script>

    <!--/ templates /-->
    <script src="/assets/templates/appResume/premium/root.html" type="riot/tag"></script>

    <script src="/assets/js/premium/templates.ui.js"></script>
    <script src="/assets/js/premium/templates.control.js"></script>
    <script src="/assets/js/premium/templates.sections.js"></script>
    <script src="/assets/js/premium/templates.editable.js"></script>
    <script src="/assets/js/premium/templates.components.js"></script>
    <script src="/assets/templates/appResume/premium/template.html" type="riot/tag"></script>

    <!--/ JS components /-->
    <script src="/assets/js/premium/app.js"></script>
    <script src="/assets/js/premium/config.js"></script>
    <!-- <script src="/assets/js/store/account.js"></script>
    <script src="/assets/js/store/data.js"></script>
    <script src="/assets/js/store/inbox.js"></script>
    <script src="/assets/js/store/month.js"></script>
    <script src="/assets/js/store/paymentMethod.js"></script>
    <script src="/assets/js/store/paymentPeriod.js"></script>
    <script src="/assets/js/store/resume/commons/country.js"></script>
    <script src="/assets/js/store/resume/commons/langs.js"></script>
    <script src="/assets/js/store/resume/commons/education.js"></script>
    <script src="/assets/js/store/resume/commons/languages.js"></script>
    <script src="/assets/js/store/resume/commons/resume.js"></script>
    <script src="/assets/js/store/resume/commons/salary.js"></script>
    <script src="/assets/js/store/resume/premium/colors.js"></script>
    <script src="/assets/js/store/resume/premium/coverletter.js"></script>
    <script src="/assets/js/store/resume/premium/fonts.js"></script>
    <script src="/assets/js/store/resume/premium/hobby.js"></script>
    <script src="/assets/js/store/resume/premium/photo.js"></script>
    <script src="/assets/js/store/resume/premium/resume.demo.js"></script>
    <script src="/assets/js/components/i18n/resume/premium/template/ru.js"></script>
    <script src="/assets/js/store/resume/commons/dictionary.js"></script>
    <script src="/assets/js/plugins/screens.js"></script> -->

    <!-- <script src="/assets/js/premium/app.build.js"></script> -->

    {% if resume %}
        <script>
            app.json = {};
            app.json.ip = "{{ ip }}";
            app.json.resume = {{ resume | safe }};
        </script>
    {% endif %}

    <script src="/assets/js/premium/init.js"></script>

</body>
{% endblock %}
