{% extends "layouts/basic.html" %}

{% block title %}{% if post %}{{ post }} // ResumeKraft{% else %}Создать премиальное резюме на ResumeKraft{% endif %}{% endblock %}

{% block styles %}/assets/css/premium.css{% endblock %}

{% block body %}
<body class="appLoading">

    <root-main-view id="app" demo="{{ demo }}"></root-main-view>

    <div id="loader" data-color="{{ color }}">
        <div class="loader-spinner"></div>
    </div>

    <!--/ VENDORS /-->
    <script src="/assets/js/libs.js"></script>

    <!--/ templates /-->
    <script src="/assets/templates/appResume/premium/template1/root-view.html" type="riot/tag"></script>
    <script src="/assets/templates/appResume/premium/template1/components/salary.html" type="riot/tag"></script>

    <script src="/assets/js/premium/templates.ui.js"></script>
    <script src="/assets/js/premium/templates.control.js"></script>
    <script src="/assets/js/premium/templates.sections.js"></script>
    <script src="/assets/js/premium/templates.editable.js"></script>
    <script src="/assets/js/premium/templates.components.js"></script>
    <script src="/assets/templates/appResume/premium/template1/components/salary.html" type="riot/tag"></script>
    <script src="/assets/templates/appResume/premium/template1/template.html" type="riot/tag"></script>
    <script src="/assets/templates/appResume/premium/template1/sections/public/sendmail.html" type="riot/tag"></script>

    <!--/ JS components /-->
    <script src="/assets/js/premium/app.js"></script>
    <script src="/assets/js/plugins/screens.js"></script>
    <script src="/public/js/resume/config.js"></script>
    <script src="/assets/js/store/resume/commons/resume.js"></script>
    <script src="/assets/js/store/resume/premium/resume.demo.js"></script>
    <!-- <script src="/assets/js/premium/app.build.js"></script> -->

{% if resume %}
    <script>
        app.json = {};
        app.json.ip = "{{ ip }}";
        app.json.resume = {{ resume | safe }};
    </script>
{% endif %}

    <script src="/assets/js/premium/init.js"></script>

</body>
{% endblock %}
