{% extends "layouts/basic.html" %}

{% block title %}Мои резюме{% endblock %}

{% block viewport %}width={% if device == 'tablet' %}1000{% else %}device-width{% endif %}, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no{% endblock %}

{% block manifest %}private{% endblock %}

{% block styles %}/assets/css/style{% if device == 'phone' %}.mobile{% endif %}.css{% endblock %}

{% block body %}
<body class="appLoading">

    <div id="loader" data-loader="user" data-fadeIn="true">
        <div class="loader-container">
            <div class="loader-user"

            {% if !user.oauth && user.photo %}
                style="background-image:url({{ user.photo }})"
            {% endif %}

            {% if user.oauth %}
                data-oauth="{{ user.oauth.channel }}"
            {% endif %}

            {% if !user.oauth && !user.photo %}
                data-empty="true"
            {% endif %}>

            {% if user.oauth && user.oauth.avatar %}
                <div class="loader-user-avatar" style="background-image:url({{ user.oauth.avatar }})"></div>
            {% endif %}

            </div>
            <div class="loader-spinner"></div>
            <div class="loader-text">
                <div class="loader-name">{% if user.name || user.surname %}{{ user.name }} {{ user.surname }}{% else %}Пользователь{% endif %}</div>
                <div class="loader-title">Вхожу в кабинет</div>
            </div>
        </div>
    </div>

    <!--/ VENDORS /-->
    <script src="/assets/js/libs.js"></script>

    <!--/ Templates /-->
    <script src="/assets/templates/root.html" type="riot/tag"></script>
    <script src="/assets/templates/root-mobile.html" type="riot/tag"></script>

    <!--/ Sections /-->
    <script src="/assets/js/templates.resume.js"></script>
    <script src="/assets/js/templates.modules.js"></script>
    <script src="/assets/js/templates.ui.js"></script>
    <script src="/assets/js/templates.sections.js"></script>

    <!--/ JS components /-->
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/components/config.js"></script>
    <script src="/assets/js/components/init.js"></script>

    <!-- <script src="/assets/js/libs.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/templates.js"></script>
    <script src="/assets/js/app.js"></script>     -->

    <!-- <script src="/assets/js/app.build.js"></script> -->
    <link rel="stylesheet" href="/assets/css/appResume/basic/templates/style{% if isMobile %}.view{% endif %}.css">

    <!-- <script type="text/javascript" src="//vk.com/js/api/openapi.js?145"></script>
    <div class="pos-centered-h b0 zIndex-100" id="vk_community_messages"></div>
    <script type="text/javascript">
        var widget = VK.Widgets.CommunityMessages("vk_community_messages", 81794689, {
            disableButtonTooltip: false
        });
        widget.stopTitleAnimation();
        widget.expand({
            welcomeScreen: false
        });
    </script> -->

</body>
{% endblock %}
