{% extends "layouts/basic.html" %}

{% block title %}{% if post %}{{ post }} // ResumeKraft{% endif %}{% endblock %}

{% block viewport %}width=device-width, initial-scale=1, maximum-scale=2.8, minimum-scale=1{% endblock %}

{% block styles %}https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic-ext,latin{% endblock %}

{% block body %}
<style>
* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #eee;
    -webkit-font-smoothing: antialiased;
}
body#print {
	background:#fff;
}
body#print #wrapper {
	width:1188px;
}
body#print .stamp {
	display:none;
}
.template-resume {
	min-height:1776px;
}
{% if !print %}
#wrapper {
	opacity:0;
    margin:3px auto 30px;
    width:1218px;
    max-width:100%;
    background:#fff;
    box-shadow:0 0 62px rgba(0, 0, 0, 0.08), 0 5px 25px rgba(0, 0, 0, 0.12);
	-webkit-transform:translateY(2000px);
    -moz-transform:translateY(2000px);
	transform:translateY(2000px);
	overflow:hidden;
	-webkit-transition: transform .6s cubic-bezier(0.5, 0, 0, 1);
    -moz-transition: transform .6s cubic-bezier(0.5, 0, 0, 1);
    -ms-transition: transform .6s cubic-bezier(0.5, 0, 0, 1);
    -o-transition: transform .6s cubic-bezier(0.5, 0, 0, 1);
    transition: transform .6s cubic-bezier(0.5, 0, 0, 1);
}
{% endif %}
#upload-photo.place {
	display:none !important;
}
#upload-photo {
	pointer-events:none !important;
}
#upload-photo .icon {
	display:none !important;
}
.t-header-photo {
	position: absolute;
	width: 276px;
	height: 276px;
	border-radius: 50%;
	cursor:default !important;
}
.t-header-photo-image {
	width: 276px;
	height: 276px;
	background-repeat: top center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	opacity:1 !important;
}
.stamp {
	display:block;
	position:absolute;
	bottom:0;
	right:0;
	width:160px;
	height:160px;
	background:url(/assets/images/resumePreviewStamp.png) 0 0 / cover;
	z-index:1;
}
@font-face {
  font-family: 'Roboto';
  src: url(/assets/css/appResume/basic/templates/fonts/RobotoRegular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(/assets/css/appResume/basic/templates/fonts/RobotoMedium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url(/assets/css/appResume/basic/templates/fonts/RobotoBold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}
{% if isMobile %}
@media screen and (max-width: 1024px) {
    #wrapper {
		margin:1.64vw auto 2.34vw;
		width:95.15vw;
    }
}
@media screen and (max-width: 767px) {
	#wrapper {
		margin-top:2.34vw;
        min-height:96.7vh;
    }
	.stamp {
		display:none;
	}
}
{% endif %}
</style>
<body{% if print %} id="print"{% endif %}>
	<div id="wrapper">
		<div id="t{{ num }}" class="template-resume"></div>

	{% if stamp %}
		<a href="https://resumekraft.ru" class="stamp"></a>
	{% endif %}
	</div>

    <link rel="stylesheet" type="text/css" href="/assets/css/appResume/basic/templates/template{{ num }}/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/appResume/basic/templates/style{% if isMobile %}.view{% endif %}.css" />
    </head>
	<script src="/assets/templates/appResume/basic/templates/template{{ num }}.html" type="riot/tag"></script>

{% if resume %}
    <script>
        window.app = {};
        window.app.utils = {};
        window.$store = {};
        window.resume = {{ resume | safe }};
    </script>
{% endif %}

	<!-- <script src="/assets/js/libs/modernizr.custom.js"></script>
	<script src="/assets/js/libs/riot-3.3.2/riot+compiler.update.js"></script>
	<script src="/assets/js/libs/riot/riot-i18n.js"></script>
	<script src="/assets/js/libs/baobab.js"></script>
	<script src="/assets/js/libs/underscore-min.js"></script>
	<script src="/assets/js/libs/moment.min.js"></script>
	<script src="/assets/js/libs/moment.ru.js"></script>
	<script src="/assets/js/components/i18n/i18n.js"></script>
	<script src="/assets/js/components/i18n/resume/basic/template/ru.js"></script>
    <script src="/assets/js/components/commons/utils.js"></script>
    <script src="/assets/js/store/resume/commons/education.js"></script>
    <script src="/assets/js/store/resume/commons/languages.js"></script>
    <script src="/assets/js/store/resume/commons/resume.js"></script>
    <script src="/assets/js/store/resume/premium/resume.demo.js"></script>
    <script src="/assets/js/store/resume/commons/salary.js"></script>
	<script src="/assets/js/store/resume/commons/country.js"></script>
	<script src="/assets/js/store/resume/commons/dictionary.js"></script>
    <script src="/assets/js/store/month.js"></script>
    <script src="/public/js/resume/init.js"></script> -->

	<script src="/public/js/app.build.resume.js"></script>

</body>
{% endblock %}
