{% extends "layouts/basic.html" %}

{% block title %}Премиальное резюме на разных мобильных платформах на Resumekraft{% endblock %}

{% block styles %}/preview/css/style.css{% endblock %}

{% block body %}
<body id="page" data-start="false" data-device="phone" data-color="#0084ff" data-theme="white">

    <prof-opener></prof-opener>

    <prof-list></prof-list>

    <div class="button__like" data-open="true">
        <div class="button__like__items">
            <div class="button__like__item" data-social="fb">
                <icon-fb color="blue"></icon-fb>
            </div>
            <div class="button__like__item" data-social="vk">
                <icon-vk color="blue"></icon-vk>
            </div>
            <div class="button__like__item" data-social="dk">
                <icon-dk color="orange"></icon-dk>
            </div>
            <div class="button__like__item" data-social="gl">
                <icon-gl color="red"></icon-gl>
            </div>
            <div class="button__like__item" data-social="tw">
                <icon-tw color="blueLight"></icon-tw>
            </div>
        </div>
    </div>

    <div class="menu__opener" data-ripple>
        <div class="menu__opener__items">
            <div class="menu__opener__line"></div>
            <div class="menu__opener__line"></div>
            <div class="menu__opener__line"></div>
        </div>
        <div class="menu__opener__label">
            <div class="menu__opener__label__text">Меню</div>
        </div>
    </div>

    <div class="menu" data-open="false">
        <div class="menu__close"></div>
        <div class="menu__items">
            <div class="menu__item">
                <a class="menu__item__link" href="/">Главная</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/?signup&plan=premium">Создать акканут</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/premium/">Узнать больше о резюме</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/jp-test/">JP-тест 2.0</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/jobs/search/">Найти работу</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/blog">Блог</a>
            </div>
        </div>
    </div>

    <div class="control__device" data-ripple>
        <div class="control__device__item"></div>
        <div class="control__device__icon"></div>
        <div class="control__device__help help__item">
            <div class="help__text">Резюме на весь экран</div>
        </div>
    </div>

    <div class="button__import">
        <div class="button__import__item" data-ripple></div>
        <div class="button__import__help help__item">
            <div class="help__text">
                <div class="help__text__front">Есть резюме на HH.ru?</div>
                <div class="help__text__back">Нажмите и сделайте его мобильным в один клик</div>
            </div>
        </div>
    </div>

    <control-fonts></control-fonts>

    <control-colors></control-colors>

    <div class="tutorial__close">
        <div class="tutorial__close__button" data-ripple>
            <div class="tutorial__close__button__cross"></div>
        </div>
        <div class="tutorial__close__label">
            <div class="tutorial__close__label__text">Закрыть</div>
        </div>
    </div>
    <div class="tutorial__screens">
        <div class="tutorial__screens__items">
            <div class="tutorial__screen" data-screen="cover">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Ваша фотография</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Первый экран и обложка вашего резюме: фотография, должность и краткая информация о вас.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="commons">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">О себе</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Подробная информация о вас, желаемая зарплата, ваши ключевые навыки, ваше обращение к работодателю и ссылки в социальных медиа.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="works">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Ваше портфолио</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Есть свои или проекты в которых вы учавствовали? Расскажите о них, прикрепив фото и видео материалы.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="skills">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Основные компетенции</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Расскажите подробнее о своих навыках, также укажите силу ваших компетенций, примерно сориентировав работодателя в каком векторе вы двигаетесь.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="education">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Ваше образование</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">У вас есть возможность подробнее рассказать о своем образовании.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="courses">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Курсы</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Посещали курсы? Отлично, укажите их. Работодателю эта информация не будет лишней.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="languages">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Владение языками</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Владеете иностранными языками? Хорошо. Укажите уровень владениями ими.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="jobs">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Опыт работы</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Тут все как обычно, расскажите кем и где вы работали, ваши функциональные обязанности.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="hobby">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Поделитесь увлечениями</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Да, большинству работодателей интересно знать о ваших увлечениях и видеть список ваших хобби в резюме.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="contacts">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Контакты</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Общая контактная информация и предпочитаемый вид для связи с вами.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="businessTrip">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Прочие данные</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Ваше гражданство, график работы, готовность к командировкам и переезду.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="feedback">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Форма связи</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Любой работодатель может написать вам и пригласить на собеседование.</div>
                </div>
            </div>
            <div class="tutorial__screen" data-screen="likes">
                <div class="tutorial__screen__title">
                    <div class="tutorial__screen__title__inner">Хотите себе такое резюме?</div>
                </div>
                <div class="tutorial__screen__text">
                    <div class="tutorial__screen__text__inner">Вы можете сейчас перейти к созданию резюме или обратиться к нашим экспертам за <a href="#">написанием</a> профессионального резюме и получить <strong>7 дней премиум аккаунта</strong> в подарок. <span class="c-yellowBright">Вы только, что посмотрели резюме для смартфонов, также можно посмотреть пример этого резюме на планшетах и десктопах.</span></div>
                </div>
                <div class="tutorial__screen__buttons">
                    <div class="tutorial__screen__button" data-ripple>
                        <div class="tutorial__screen__button__label tutorial__screen__button__hide">Ещё посмотрю</div>
                    </div>
                    <div class="tutorial__screen__button" data-ripple>
                        <a href="/?signup&plan=premium" class="tutorial__screen__button__label">Создать резюме</a>
                    </div>
                </div>
            </div>
            <div class="tutorial__screens__num">
                <div class="tutorial__screens__num__items">01</div>
            </div>
        </div>
        <div class="scroll">
            <div class="scroll__help" data-text="up">
                <div class="scroll__text" data-pos="up">Наведите курсор на резюме</div>
                <div class="scroll__text" data-pos="down">Листайте<br> скролом вниз</div>
            </div>
            <svg class="scroll__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" xml:space="preserve"><path d="M38.2,17c-11.6,0-21,9.4-21,21v24c0,11.6,9.4,21,21,21s21-9.4,21-21V38C59.2,26.4,49.8,17,38.2,17z M54.2,62  c0,8.8-7.2,16-16,16s-16-7.2-16-16V38c0-8.8,7.2-16,16-16s16,7.2,16,16V62z"/><path class="scroll__icon__wheel" d="M38.2,30.4c-1.4,0-2.5,1.1-2.5,2.5v7.3c0,1.4,1.1,2.5,2.5,2.5s2.5-1.1,2.5-2.5v-7.3C40.7,31.6,39.6,30.4,38.2,30.4z"/><path class="scroll__icon__arrow" d="M81.2,61.9l-3.4,3.4V31c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5v34.4l-3.4-3.4c-0.6-0.6-1.5-0.6-2.1,0s-0.6,1.5,0,2.1l6,6  c0.1,0.1,0.3,0.3,0.5,0.3c0,0,0,0,0,0c0.2,0.1,0.4,0.1,0.5,0.1s0.4,0,0.5-0.1c0,0,0,0,0,0c0.2-0.1,0.3-0.2,0.5-0.3l6-6  c0.6-0.6,0.6-1.5,0-2.1S81.8,61.4,81.2,61.9z"/></svg>
            <div class="scroll__lens"></div>
        </div>
    </div>

    <div id="device">
        <div class="tutorial__help__item" data-help="info">
            Общая информация о вас
        </div>
        <div class="tutorial__help__item" data-help="sendmail">
            Форма для быстрой связи с вами
        </div>
        <div class="tutorial__help__item" data-help="salary">
            Желаемый график роста вашей зарплаты
        </div>
        <div class="frame-container"></div>
        <div class="loader" data-device="phone">
            <div class="loader-spinner">
                <div class="loader-spinner-item"></div>
            </div>
            <div class="loader-bg"></div>
        </div>
    </div>

    <resume-import></resume-import>
    <section-notify></section-notify>

    <!--/ VENDORS /-->
    <script src="/preview/js/workflow.libs.js"></script>

    <!--/ templates /-->
    <script src="/preview/js/workflow.templates.js"></script>
    <script src="/preview/modules/controlFonts.html" type="riot/tag"></script>
    <script src="/preview/modules/controlColors.html" type="riot/tag"></script>
    <script src="/preview/modules/profOpener.html" type="riot/tag"></script>
    <script src="/preview/modules/profList.html" type="riot/tag"></script>
    <script src="/preview/modules/resumeImport.html" type="riot/tag"></script>

    <!--/ JS components /-->
    <script src="/preview/js/config.js"></script>
    <script src="/preview/js/main.js"></script>
    <script src="/preview/js/control.js"></script>
    <script src="/preview/js/tutorial.js"></script>
    <script src="/assets/js/store/resume/premium/fonts.js"></script>
    <script src="/assets/js/plugins/ripple.js"></script>

    <!-- <audio id="audio" src="/public/sound/oscar_hill_and_justin_black_light_haze.mp3" autoplay loop> -->

    <script src="/preview/js/init.js"></script>

</body>
{% endblock %}
