<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Премиальное резюме на разных мобильных платформах на Resumekraft</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta property="og:image" content="/assets/images/favicons/120.png" />
    <meta property="og:title" content="Создать крутое резюме самому!" />
	<meta property="og:description" content="ResumeKraft - сервис создания премиальных резюме с продающим дизайном." />
    <link rel="icon" type="image/png" href="/assets/images/favicons/32.png">
    <link rel="apple-touch-icon" href="/assets/images/favicons/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/152.png">
    <meta name="screen-orientation" content="portrait">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
	<meta name="google" content="notranslate" />
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/preview/css/style.css">
</head>
<body id="page" class="apploading" data-device="phone" data-color="#0084ff">

    <div class="menu__opener">
        <div class="menu__opener__line"></div>
        <div class="menu__opener__line"></div>
        <div class="menu__opener__line"></div>
    </div>

    <div class="menu" data-open="false">
        <div class="menu__close"></div>
        <div class="menu__items">
            <div class="menu__item">
                <a class="menu__item__link" href="/">Главная</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/premium/">Premium функционал</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/jq-test/">JQ-тест 2.0</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/partnership/">Работодателям</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/">Помощь</a>
            </div>
            <div class="menu__item">
                <a class="menu__item__link" href="/blog">Блог</a>
            </div>
        </div>
    </div>

    <div class="button__like" data-open="true">
        <!-- <div class="button__like__opener"></div> -->
        <div class="button__like__items">
            <div class="button__like__item" data-social="fb">
                <icon-fb color="blue"></icon-fb>
            </div>
            <div class="button__like__item" data-social="vk">
                <icon-vk color="blue"></icon-vk>
            </div>
            <div class="button__like__item" data-social="dk">
                <icon-dk color="orange"></icon-dk>
            </div>
            <div class="button__like__item" data-social="gl">
                <icon-gl color="red"></icon-gl>
            </div>
            <div class="button__like__item" data-social="tw">
                <icon-tw color="blueLight"></icon-tw>
            </div>
        </div>
        <!-- <div class="button__like__items addthis_inline_share_toolbox"></div> -->
    </div>

    <a href="/premium/editing" target="_blank" class="button__editable">Редактировать</a>

    <div class="control__device">
        <div class="control__device__item"></div>
        <div class="control__device__icon"></div>
        <div class="control__device__help help__item">
            <div class="help__text">Изменить платформу</div>
        </div>
    </div>

    <div class="screen__options">
        <div class="screen__options__item"></div>
    </div>

    <div class="addUser">
        <div class="control__colors">
            <div class="control__colors__item"></div>
        </div>
        <div class="addUser__help help__item">
            <div class="help__text">Создать аккаунт</div>
        </div>
        <div class="addUser__help__color help__item">
            <div class="help__text">Изменить цвет</div>
        </div>
        <a href="/?signup&plan=premium" class="addUser__button"></a>
    </div>

    <svg class="scroll" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" xml:space="preserve"><path d="M38.2,17c-11.6,0-21,9.4-21,21v24c0,11.6,9.4,21,21,21s21-9.4,21-21V38C59.2,26.4,49.8,17,38.2,17z M54.2,62  c0,8.8-7.2,16-16,16s-16-7.2-16-16V38c0-8.8,7.2-16,16-16s16,7.2,16,16V62z"/><path d="M38.2,30.4c-1.4,0-2.5,1.1-2.5,2.5v7.3c0,1.4,1.1,2.5,2.5,2.5s2.5-1.1,2.5-2.5v-7.3C40.7,31.6,39.6,30.4,38.2,30.4z"/><path class="scroll__arrow" d="M81.2,61.9l-3.4,3.4V31c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5v34.4l-3.4-3.4c-0.6-0.6-1.5-0.6-2.1,0s-0.6,1.5,0,2.1l6,6  c0.1,0.1,0.3,0.3,0.5,0.3c0,0,0,0,0,0c0.2,0.1,0.4,0.1,0.5,0.1s0.4,0,0.5-0.1c0,0,0,0,0,0c0.2-0.1,0.3-0.2,0.5-0.3l6-6  c0.6-0.6,0.6-1.5,0-2.1S81.8,61.4,81.2,61.9z"/></svg>

    <div id="device">
        <div class="frame-container"></div>
        <div class="loader" data-device="phone">
            <div class="loader-spinner">
                <div class="loader-spinner-item"></div>
            </div>
            <div class="loader-bg"></div>
        </div>
    </div>

    <!-- <div class="vk__like">
        <div id="vk__like__widget"></div>
    </div> -->

    <!--/ VENDORS /-->
    <script src="/assets/js/libs/jquery.min.js"></script>
    <script src="/assets/js/libs/modernizr.custom.js"></script>
    <script src="/assets/js/libs/underscore-min.js"></script>
    <script src="/assets/js/libs/baobab.js"></script>
    <script src="/assets/js/libs/riot/riot+compiler.update.js"></script>
    <script src="/assets/js/libs/afterlag-js/dist/afterlag.min.js"></script>
    <script src="/assets/js/libs/url.min.js"></script>
    <script src="/assets/js/components/commons/app.js"></script>
    <script src="/assets/js/components/commons/common.js"></script>
    <script src="/assets/js/components/commons/modules.js"></script>
    <script src="/assets/js/components/commons/utils.js"></script>
    <script src="/assets/js/components/commons/afterlag.js"></script>
    <!-- <script src="/public/js/commons/config.js"></script>
    <script src="/public/js/commons/metrika.js"></script> -->
    <script src="/assets/js/plugins/share.js"></script>
    <script src="/assets/js/store/resume/premium/colors.js"></script>

    <!--/ templates /-->
    <script src="/assets/templates/ui/icons/social/icon-fb.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/social/icon-vk.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/social/icon-tw.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/social/icon-dk.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/icons/social/icon-gl.html" type="riot/tag"></script>

    <!--/ JS components /-->
    <script src="/preview/js/init.js"></script>

    <!-- <audio src="/assets/sound/650915480.m4a" autoplay loop> -->

    <!-- <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
    <script type="text/javascript">
        VK.init({
            apiId: "4863590",
            onlyWidgets: true
        });
        VK.Widgets.Like('vk__like__widget');
    </script> -->
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5864b2c757399804"></script> -->

<!-- <script>
addthis.user.ready(function(){
    if (addthis.user.isUserOf('facebook')) {
        alert("1");
    }
});
</script> -->
</body>
</html>
