@each $title, $size in (xxs: 16px, xs: 18px, s: 22px, m: 24px, l: 30px, xl: 34px, xxl: 40px, xxxl: 46px, xxxxl: 58px, xxxxxl: 66px){
    .lineHeight-#{$title} {
        line-height:$size;
    }
}
@each $title, $size in (18: 18px, 20: 20px, 24: 24px, 26: 26px, 28: 28px, 32: 32px, 34: 34px, 36: 36px, 40: 40px, 44: 44px, 48: 48px, 52: 52px, 56: 56px, 68: 68px, 92: 92px){
    .lineHeight-#{$title} {
        line-height:$size;
    }
}
.lineHeight-1 {
    line-height:1;
}
