@each $title, $time in (xxs: .08s, xs: .2s, s: .3s, m: .5s, l: .7s, xl: 1s, xxl: 1.4s, xxxl: 2s){
    .transition-#{$title} {
        @include accelerate();
        transition:all $time;
    }
}
@each $title, $time in (none: 0s, xxs: .08s, xs: .2s, s: .4s, m: .6s, l: .8s, xl: 1s){
    .transition-delay-#{$title} {
        transition-delay:$time;
    }
}
@each $title, $fn in (bounce: $bounce, cubic215: $cubic215, cubic645: $cubic645, cubic40: $cubic40, cubic32: $cubic32, cubic28: $cubic28, cubic25b: $cubic2501, cubic075: $cubic075, cubic345: $cubic345){
    .transition-fn-#{$title} {
        transition-timing-function:$fn;
    }
}
.transition-none,
.transition-none-a:after,
.transition-none-b:before {
    transition:none !important;
    transition-delay:0s !important;
}
.transition-none-ab,
.transition-none-ba {
	&:after, &:before {
		transition:none !important;
        transition-delay:0s !important;
	}
}
.transitionAll-none,
.transitionAll-none * {
    transition:none !important;
    transition-delay:0s !important;
}
.transition-default {
	transition-timing-function:linear;
    transition-duration:80ms;
    transition-property:all;
}
