@font-face {
    font-family: 'HelveticaNeue';
    src: url("/assets/css/fonts/HelveticaNeueLT/33547D_1_0.eot");
    src: url("/assets/css/fonts/HelveticaNeueLT/33547D_1_0.eot?#iefix") format("embedded-opentype"),url("/assets/css/fonts/HelveticaNeueLT/33547D_1_0.woff2") format("woff2"),url("/assets/css/fonts/HelveticaNeueLT/33547D_1_0.woff") format("woff"),url("/assets/css/fonts/HelveticaNeueLT/33547D_1_0.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url("/assets/css/fonts/HelveticaNeueLT/337483_0_0.eot");
    src: url("/assets/css/fonts/HelveticaNeueLT/337483_0_0.eot?#iefix") format("embedded-opentype"),url("/assets/css/fonts/HelveticaNeueLT/337483_0_0.woff2") format("woff2"),url("/assets/css/fonts/HelveticaNeueLT/337483_0_0.woff") format("woff"),url("/assets/css/fonts/HelveticaNeueLT/337483_0_0.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url("/assets/css/fonts/HelveticaNeueLT/33547D_0_0.eot");
    src: url("/assets/css/fonts/HelveticaNeueLT/33547D_0_0.eot?#iefix") format("embedded-opentype"),url("/assets/css/fonts/HelveticaNeueLT/33547D_0_0.woff2") format("woff2"),url("/assets/css/fonts/HelveticaNeueLT/33547D_0_0.woff") format("woff"),url("/assets/css/fonts/HelveticaNeueLT/33547D_0_0.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url("/assets/css/fonts/HelveticaNeueLT/33547D_2_0.eot");
    src: url("/assets/css/fonts/HelveticaNeueLT/33547D_2_0.eot?#iefix") format("embedded-opentype"),url("/assets/css/fonts/HelveticaNeueLT/33547D_2_0.woff2") format("woff2"),url("/assets/css/fonts/HelveticaNeueLT/33547D_2_0.woff") format("woff"),url("/assets/css/fonts/HelveticaNeueLT/33547D_2_0.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url("/assets/css/fonts/HelveticaNeueLT/337483_1_0.eot");
    src: url("/assets/css/fonts/HelveticaNeueLT/337483_1_0.eot?#iefix") format("embedded-opentype"),url("/assets/css/fonts/HelveticaNeueLT/337483_1_0.woff2") format("woff2"),url("/assets/css/fonts/HelveticaNeueLT/337483_1_0.woff") format("woff"),url("/assets/css/fonts/HelveticaNeueLT/337483_1_0.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
