.resumeBasic {
    .input-xl {
        @extend .fontFamily-proxima;
        @extend .fontWeight-normal;
        color:$blackDark;
        font-size:22px;
    }
    input[type="number"] {
        @extend .c-blue;
        @extend .fontFamily-futura;
        @extend .fontWeight-bold;
        font-size:25px;
    }
    .input-title {
        @extend .c-blue;
    }
}
