.resumeBasic {
    .input-xl {
        @extend .fontFamily-proxima;
        @extend .fontWeight-normal;
        @extend .c-blackDark;
        font-size:22px;

        &:focus {
            box-shadow:inset 0 0 0 1px $blueBright;
        }
    }
    input[type="number"] {
        @extend .c-blue;
        @extend .fontFamily-futura;
        @extend .fontWeight-bold;
        font-size:25px;
    }
    .input-title {
        @extend .c-blue;
    }
    .input-autosuggest-item {
        font-size:18px;
        line-height:32px;

        &:hover {
            @extend .c-white;
            @extend .bg-blueBright;
        }
    }
}
