.resumeBasic {
    .textarea-xl {
        min-height:220px;
    }
    .textarea-larger {
        @extend .textarea-xl;
        min-height:320px;

        .d-phone & {
            min-height:280px;
        }
    }
    textarea::placeholder {
        @extend .c-gray;
        @extend .lineHeight-l;
    }
}
