.resumeBasic {
    .ui-scroll__bar,
    .ui-scroll__handle__inner {
    	@extend .bg-green;
    }
    .ui-scroll:after {
        @extend .content-empty;
        @include abs();
        @extend .w15;
        @extend .zIndex--1;
    }
    .ui-scroll:hover {
        width:12px;
    }
    .share__text {
        @extend .pos-centered;
        @extend .c-white;
        @extend .fontSize-46;
        @extend .fontWeight-8;
        @extend .overflow-hidden;
        @extend .pointerEvents-none;
        @extend .opacity-0;
        width:560px;
        transition:opacity 0.3s $cubic28, visibility 0s .3s;
        @extend .zIndex-5;
    }
    &[data-overlay="true"]{
        .share__text {
            @extend .opacity-100;
            @extend .overflow-visible;
            @extend .pointerEvents-all;
            transition:opacity 0.3s $cubic28, visibility 0s;
        }
    }
    .shareButton {
        .d-phone & {
            @extend .display-none;
        }
    }
}
