{% extends "layouts/basic.html" %}

{% block styles %}/assets/css/server.css{% endblock %}

{% block body %}
<body>

    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
    {% if error.status %}
        <h2>{{ error.status | safe }}</h2>
    {% endif %}

    {% if message == "404" %}
        <p>К сожалению эта страница не может быть найдена.</p>
    {% elseif error.text %}
        <p>{{ error.text }}</p>
    {% endif %}

    {% if error.back %}
        <p><a href="{{ error.back.url }}">{{ error.back.title }}</a></p>
    {% else %}
        <p><a href="/">Перейти на главную</a></p>
    {% endif %}

</body>
{% endblock %}
