{% extends "layouts/basic.html" %}

{% block title %}Редактирование премиального резюме на ResumeKraft{% endblock %}

{% block styles %}{{ cachify('/assets/css/premium.css') }}{% endblock %}

{% block body %}
<body class="appLoading">

    <root-main id="app" editing="{{ editing }}" demo="{{ demo }}"></root-main>

    <div id="loader" data-color="{{ color }}">
        <div class="loader-spinner"></div>
    </div>

    <script src="{{ cachify('/assets/js/libs.js') }}"></script>
    <script src="{{ cachify('/assets/js/premium/app.build.js') }}"></script>
    <script src="{{ cachify('/assets/js/premium/config.js') }}"></script>

    {% if resume %}
        <script>
            app.json = {};
            app.json.ip = "{{ ip }}";
            app.json.resume = {{ resume | safe }};
        </script>
    {% endif %}

    <script src="{{ cachify('/assets/js/premium/init.js') }}"></script>

</body>
{% endblock %}
