<!DOCTYPE html>
<html lang="en">
<head>
    <title>ResumeKraft - редактирование премиального резюме</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
    <link rel="manifest" href="/manifest2.json">
    <link id="styles" rel="stylesheet" href="/assets/css/premium.css">
</head>
<body class="appLoading">

    <root-main id="app"></root-main>

    <div id="loader">
        <div class="loader-spinner"></div>
    </div>

    <script src="/assets/js/libs.js"></script>
    <script src="/assets/js/libs/iscroll.js"></script>
    <script src="/assets/js/premium/app.build.js"></script>

</body>
</html>
