<resume-screen-about class="screen" data-marquee={ opts.step }>

    <div class="screen__content">

        <div class="title">{ opts.section }</div>

        <div class="container content" data-content="about">
            <div class="row">
                <div onClick={ !app.device.isPhone && textEdit } class="col-xs-24">
                    <ui-textarea update="about" cursor={ $resume.select() } placeholder={ placeholder } size="larger"></ui-textarea>
                    <div class="pos-abs-full hidden-xs"></div>
                </div>
            </div>
        </div>

    </div>

    <div onClick={ finish } onUpdate="none" class="screen__button__finish">
        <div class="screen__button__finish__text">Закончить редактирование</div>
    </div>

<script>

    var $ = this;

    $.placeholder = "В этой графе максимально емко расскажите о своих личных и деловых качествах. Старайтесь не прибегать к шаблонным фразам. Ответьте на вопрос «Кто вы?», «Какой вы?», «В чем ваша индивидуальность?».";

    $.finish = function(){
        $Sections.resume.edit.section.sections.finish.show();
    }

    $.textEdit = function(){
        $Sections.resume.edit.section.sections.textEdit.show({
            placeholder: $.placeholder,
            cursor: $resume.select("about"),
            callback: function(){
                $.update();
            }
        })
    }

</script>

</resume-screen-about>
