<resume-screen-education class="screen" data-marquee={ opts.step }>

    <div class="screen__content">

        <div class="title">{ opts.title }</div>

        <div class="container content" data-content="education">
            <div class="pos-rel pb-l mb-xs" each={ item, i in _.sortArray($resume.select("education", "items").get(), "year", "desc") } no-reorder>
                <div class="section__num">{ i + 1 }</div>
                <div if={ editing == item._id } onClick={ close } class="section__btn__close"></div>
                <div if={ editing != item._id } onClick={ edit } class="section__btn__edit"></div>
                <resume-screen-education-item item={ item } active={ editing && editing == item._id }></resume-screen-education-item>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    <div if={ !editing } onClick={ create } class="section__btn__plus">
                        <div class="section__btn__plus__icon"></div>
                        <span class="hidden-xs">Указать ещё место обучения</span>
                        <span class="visible-xs">Место обучения</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

<script>

    var $ = this;

    $.editing = null;

    $.on("updated", function(){
        $Sections.resume.edit.section.refresh();
    });

    $.create = function(){
        $.editing = _.newId();

        $resume.select("education", "items").push(
            {
                _id: $.editing,
                level: "1",
                title: null,
                faculty: null,
                speciality: null,
                year: "2000"
            }
        );
    };

    $.edit = function(){
        if ($.editing){
            $Alert.show({
                title: "Вы не закончили редактирование",
                subtitle: "Закончите пожалуйста"
            });
        }
        else {
            $.editing = this.item._id;
        }
    };

    $.saved = function(){
        if (!_.clean(this.item.title)){
            $Alert.show({
                title: "Вы не заполнили поля",
                subtitle: "Заполните пожалуйста"
            });
        }
        else {
            $.editing = null;
            $.update();
        }
    };

    $.close = function(){
        if (!_.clean(this.item.title)){
            $.remove.call(this);
        }
        $.editing = null;
    };

    $.remove = function(){
        $resume.select("education", "items", {_id: this.item._id}).unset();
        $.editing = null;
    };

</script>

</resume-screen-education>
