<resume-screen-education class="screen" data-marquee={ opts.step }>

    <div class="screen__content" data-empty={ true : !$resume.get("education") }>

        <div class="title">{ opts.section }</div>

        <div class="container content" data-content="education" data-editing={ true : editing }>
            <div class="row select-education">
                <div class="hidden-xs col-sm-offset-4 col-sm-8 col-lg-offset-6 col-lg-8 pt-xs pr-m">
                    <span class="visible-lg c-gray fontSize-28">Уровень образования</span>
                    <span class="visible-sm visible-md c-gray fontSize-28">Степень</span>
                </div>
                <div class="col-xs-24 col-sm-12 col-lg-10">
                    <span class="input-title">Уровень образования</span>
                    <ui-select update="level" cursor={ $resume.select("education", "level") } items={ $store.education.getItems() } size="xl"></ui-select>
                </div>
            </div>
            <div class="pos-rel pb-l mb-xs xs-pb-m xs-mb0" each={ item, i in _.sortArray($resume.select("education", "items").get(), "year", "desc") } no-reorder>
                <div class="section__num">{ i + 1 }</div>
                <div if={ editing == item.id } onClick={ close } class="section__btn__close"></div>
                <div if={ editing != item.id } onClick={ edit } class="section__btn__edit"></div>
                <resume-screen-education-item item={ item } active={ editing && editing == item.id }></resume-screen-education-item>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    <div if={ !editing } onClick={ create } class="section__btn__plus">
                        <div class="section__btn__plus__icon"></div>
                        <span class="hidden-xs">Указать ещё место обучения</span>
                        <span class="visible-xs">Место обучения</span>
                    </div>
                </div>
            </div>
        </div>

        <div onClick={ build } class="section__create" data-icon="education">
            <div class="section__create__button">
                <div class="section__create__button__opener"></div>
            </div>
            <div class="section__create__title">Добавить своё образование</div>
        </div>

    </div>

<script>

    var $ = this;

    $.editing = null;

    $.on("updated", function(){
        if ($Sections.resume.edit.section && $Sections.resume.edit.ready){
            $afterlag.run(function(){
                $Sections.resume.edit.section.refresh();
            });
        }
    });

    $.build = function(){
        $resume.select("education").set({
            title: null,
            text: null,
            level: "higher",
            items: []
        });

        $.create();
    };

    $.create = function(){
        $.editing = _.newId();

        $resume.select("education", "items").push(
            {
                id: $.editing,
                title: null,
                faculty: null,
                speciality: null,
                year: "2000"
            }
        );
    };

    $.edit = function(){
        if ($.editing){
            $Alert.show({
                title: "Вы не закончили редактирование",
                subtitle: "Закончите пожалуйста"
            });
        }
        else {
            $.editing = this.item.id;
        }
    };

    $.saved = function(){
        if (!_.clean(this.item.title)){
            $Alert.show({
                title: "Вы не заполнили поля",
                subtitle: "Заполните пожалуйста"
            });
        }
        else {
            $.editing = null;
            $.update();
            $.parent.el.nav(1);
        }
    };

    $.close = function(){
        if (!_.clean(this.item.title)){
            $.remove.call(this);
        }
        $.editing = null;
    };

    $.remove = function(){
        $resume.select("education", "items", {id: this.item.id}).unset();
        if (!$resume.get("education", "items").length){
            $resume.select("education").set(null);
        }
        $.editing = null;
        $.parent.el.nav(1);
    };

</script>

</resume-screen-education>
