<resume-screen-jobs class="screen" data-marquee={ opts.step }>

    <div class="screen__content" data-empty={ true : !$resume.get("jobs") }>

        <div class="title">{ opts.title }</div>

        <div class="container content" data-content="jobs" data-editing={ true : editing }>
            <div class="pos-rel pb-l mb-xs" each={ item, i in sort($resume.select("jobs", "items").get()) } no-reorder>
                <div class="section__num">{ i + 1 }</div>
                <div if={ editing == item.id } onClick={ close } class="section__btn__close"></div>
                <div if={ editing != item.id } onClick={ edit } class="section__btn__edit"></div>
                <resume-screen-jobs-item item={ item } active={ editing && editing == item.id }></resume-screen-jobs-item>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    <div if={ !editing } onClick={ create } class="section__btn__plus">
                        <div class="section__btn__plus__icon"></div>
                        <span class="hidden-xs">Добавить место работы</span>
                        <span class="visible-xs">Место работы</span>
                    </div>
                </div>
            </div>
        </div>

        <div onClick={ build } class="section__create" data-icon="jobs">
            <div class="section__create__button">
                <div class="section__create__button__opener"></div>
            </div>
            <div class="section__create__title">Добавить место работы</div>
        </div>

    </div>

<script>

    var $ = this;

    $.editing = null;

    $.on("updated", function(){
        if ($Sections.resume.edit.section && $Sections.resume.edit.ready){
            $afterlag.run(function(){
                $Sections.resume.edit.section.refresh();
            });
        }
    });

    $.build = function(){
        $resume.select("jobs").set({
            title: null,
            text: null,
            items: []
        });

        $.create();
    };

    $.create = function(){
        $.editing = _.newId();

        $resume.select("jobs", "items").push(
            {
                id: $.editing,
                title: null,
                city: null,
                post: null,
                from: {
                    month: "1",
                    year: "2000"
                },
                to: {
                    month: "1",
                    year: "2000"
                },
                text: null,
                last: false
            }
        );
    };

    $.sort = function(items){
        return _.sortBy(items, function(item){
			return $.get.year(item);
		}).reverse();
    };

    $.get = {
        year: function(item){
            if (item.last){
                return new Date().getFullYear();
            }
            else {
                return item.to.year;
            }
        }
    };

    $.edit = function(){
        if ($.editing){
            $Alert.show({
                title: "Вы не закончили редактирование",
                subtitle: "Закончите пожалуйста"
            });
        }
        else {
            $.editing = this.item.id;
        }
    };

    $.saved = function(){
        if (!_.clean(this.item.post) || !_.clean(this.item.title)){
            $Alert.show({
                title: "Вы не заполнили поля",
                subtitle: "Заполните пожалуйста"
            });
        }
        else {
            $.editing = null;
            $.update();
            $.parent.el.nav(3);
        }
    };

    $.close = function(){
        if (!_.clean(this.item.post) && !_.clean(this.item.title)){
            $.remove.call(this);
        }
        $.editing = null;
    };

    $.remove = function(){
        $resume.select("jobs", "items", {id: this.item.id}).unset();
        if (!$resume.get("jobs", "items").length){
            $resume.select("jobs").set(null);
        }
        $.editing = null;
        $.parent.el.nav(3);
    };

</script>

</resume-screen-jobs>
