<resume-screen-jobs-item>

    <div class="{ opts.active ? 'display-block' : 'display-none' }">
        <div class="row mb-m xs-pt-m">
            <div class="hidden-xs col-sm-8 pt-xs pr-m">
                <span class="visible-lg c-gray fontSize-28">Название компании</span>
                <span class="visible-sm visible-md c-gray fontSize-28">Компания</span>
            </div>
            <div class="col-xs-24 col-sm-16">
                <ui-input update="company" cursor={ get.cursor() } size="xl"></ui-input>
            </div>
        </div>
        <div class="row mb-m">
            <div class="hidden-xs col-sm-8 pt-xs pr-m">
                <span class="c-gray fontSize-28">Регион</span>
            </div>
            <div class="col-xs-24 col-sm-16">
                <ui-input update="city" cursor={ get.cursor() } size="xl"></ui-input>
            </div>
        </div>
        <div class="row mb-m">
            <div class="hidden-xs col-sm-8 pt-xs pr-m">
                <span class="c-gray fontSize-28">Должность</span>
            </div>
            <div class="col-xs-24 col-sm-16">
                <span class="input-title">Должность</span>
                <ui-input update="post" cursor={ get.cursor() } size="xl"></ui-input>
            </div>
        </div>
        <div class="row mb-m xs-mb-xxs">
            <div class="col-xs-24 col-sm-8 col-md-8 pt-xs pr-m xs-pt0">
                <span class="hidden-xs c-gray fontSize-28">Начало работы</span>
                <span class="input-title">Начало работы</span>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6">
                <ui-select update="month" cursor={ get.cursor().select("from") } items={ $store.month.getItems() } size="xl"></ui-select>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-4">
                <ui-select update="year" cursor={ get.cursor().select("from") } items={ _.range(1940, new Date().getFullYear() + 1) } size="xl"></ui-select>
            </div>
            <div class="col-xs-24 col-sm-2 col-md-6 pt-s xs-pr-xs dateToNow">
                <ui-checkbox onUpdate="parent" update="last" cursor={ get.cursor() } title="По настоящее" size="20" theme="blue"></ui-checkbox>
            </div>
        </div>
        <div class="row mb-m">
            <div class="col-xs-24 col-sm-8 col-md-8 pt-xs pr-m xs-pt0">
                <span class="hidden-xs c-gray fontSize-28">Окончание</span>
                <span class="input-title">Окончание</span>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6">
                <ui-select update="month" cursor={ get.cursor().select("to") } items={ $store.month.getItems() } size="xl" disable={ get.cursor().get('last') }></ui-select>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-4">
                <ui-select update="year" cursor={ get.cursor().select("to") } items={ _.range(1940, new Date().getFullYear() + 1) } size="xl" disable={ get.cursor().get('last') }></ui-select>
            </div>
        </div>
        <div class="row mb-m">
            <div class="hidden-xs col-sm-8 pt-xs pr-m">
                <span class="c-gray fontSize-28 nowrap-lg">Обязанности, функции</span>
            </div>
            <div class="col-xs-24 col-sm-16">
                <span class="input-title">Обязанности, функции</span>
                <ui-textarea update="text" cursor={ get.cursor() } size="xl"></ui-textarea>
            </div>
        </div>
        <div if={ opts.active } class="row mb-xl">
            <div class="col-xs-24 text-center-xs xs-pt-xs inline">
                <button onClick={ parent.remove } class="btn btn-l2 btn-upper btn-danger-hover mr-s">Удалить</button>
                <button onClick={ parent.saved } onUpdate="none" class="btn btn-l2 btn-upper btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
    <div class="{ opts.active ? 'display-none' : 'display-block text-left pt-m pb-l mb-s' }">
        <div class="row pos-rel mb-s">
            <div class="pos-centered-h fontSize-38 fontWeight-bold c-grayLighten opacity-75 letterSpacing-0">
                <div class="trY--xl pt-xs">{ opts.item.last ? new Date().getFullYear() : opts.item.to.year }</div>
            </div>
            <div class="col-xs-24 col-sm-10 xs-mb-s">
                <h3 class="c-blue">{ item.post }</h3>
            </div>
            <div class="col-xs-24 col-sm-14 text-right">
                <h3 class="c-blue">{ opts.item.company } &ndash; { opts.item.city }</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24">
                <p class="c-gray fontSize-22 lineHeight-xl">{ opts.item.text }</p>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.get = {
        cursor: function(){
            return $resume.select("jobs", "items", {"_id": $.opts.item._id});
        },
        level: function(){
            return $resume.select("jobs", "items", {"_id": $.opts.item._id}).get("level");
        }
    };

</script>

</resume-screen-jobs-item>
