<resume-screen-langs class="screen" data-marquee={ opts.step }>

    <div class="screen__content" data-empty={ true : !$resume.get("languages") }>

        <div class="title">{ opts.title }</div>

        <div class="container content" data-content="languages">
            <div each={ item, i in $resume.select("languages", "items").get() } class="row mb-m">
                <div class="hidden-xs col-sm-8 pt-xs pr-m">
                    <span class="c-gray fontSize-28">{ $store.languages.getTitleById(item.title) }</span>
                </div>
                <div class="col-xs-24 col-sm-16">
                    <span class="input-title">{ $store.languages.getTitleById(item.title) }</span>
                    <div if={ item.title == "native" }>
                        <ui-select update="value" cursor={ $resume.select("languages", "items", {"title": item.title}) } items={ $store.languages.native.get() } size="xl"></ui-select>
                    </div>
                    <div if={ item.title != "native" }>
                        <ui-select update="value" cursor={ $resume.select("languages", "items", {"title": item.title}) } items={ $store.languages.select.getItems() } size="xl"></ui-select>
                    </div>
                </div>
            </div>
        </div>

        <div onClick={ build } class="section__create" data-icon="languages">
            <div class="section__create__button">
                <div class="section__create__button__opener"></div>
            </div>
            <div class="section__create__title">Добавить владение языками</div>
        </div>

    </div>


<script>

    var $ = this;

    $.on("updated", function(){
        if ($Sections.resume.edit.section && $Sections.resume.edit.ready){
            $afterlag.run(function(){
                $Sections.resume.edit.section.refresh();
            });
        }
    });

    $.build = function(){
        $resume.select("languages").set({
            title: null,
            text: null,
            items: [
                {
                    title: "native",
                    value: "4"
                },
                {
                    title: "en",
                    value: "1"
                },
                {
                    title: "de",
                    value: "1"
                },
                {
                    title: "fr",
                    value: "1"
                }
            ]
        });
    };

</script>

</resume-screen-langs>
