<root-main data-font={ $State.get("font") } data-theme={ $State.get("theme") == "color" ? $State.get("color") : $State.get("theme") }>

    <ux-discover></ux-discover>

    <btn-info if={ !app.demo || app.device.isPhone }></btn-info>

    <main-slider></main-slider>

    <button-slider></button-slider>

    <dots-slider></dots-slider>

<script>

    $root = this;

    $$ = window.jQuery || window.Zepto;

    app.demo = true;

    $resume = app.demo ? $store.resume.prepare.demo() : $store.resume.get();

    $Sections = new app.plugins.define("$Sections");

    $root.default = {
        arrows: false,
        speed: app.device.isPhone ? 600 : 900,
        infinite: false,
        pauseOnHover: false,
        cssEase: app.device.isPhone ? "cubic-bezier(0.1, 0.57, 0.1, 1)" : "cubic-bezier(0.4, 0, 0, 1)"
    };

    $root.init = function(){
        $i18n.lang($resume.lang);
        moment.locale($resume.lang);

        var config = $store.resume.select("config").deepClone();

        //['#3BADFF', '#FF6F6F', '#B484F7', '#06D6B3', '#FF9B3B', '#FA99D6', '#FFC741'];

        //this.colors = ['#9471DB', '#4D71DB', '#FFB84D', '#B871B8', '#71B84D', '#FFDB71', '#4DB8B8', '#4DB8DB', '#DB94DB', '#FFACC5', '#FF944D', '#B8DB4D', '#FF7194', '#6AD19F'];

        //this.colors = ['rgb(248, 167, 36)', 'rgb(2, 154, 228)', 'rgb(0, 171, 192)', 'rgb(65, 65, 65)', 'rgb(229, 57, 53)', 'rgb(119, 143, 155)', 'rgb(125, 86, 193)', 'rgb(91, 106, 191)', 'rgb(103, 158, 55)', 'rgb(55, 141, 59)', 'rgb(235, 63, 121)', 'rgb(140, 109, 98)', 'rgb(255, 111, 66)', 'rgb(29, 135, 228)', 'rgb(0, 136, 122)', 'rgb(169, 0, 255)'];

        config.public = $store.resume.get("public");
        config.lang = $store.resume.get("lang");

        $State = new Baobab(config, { autoCommit: true });

        $root.setColor();
    };

    $root.setColor = function(){
        $root.colors = {};

        var theme = $State.get('theme'),
            strict = $store.themes.get({"_id": theme}, "strict");

        if (strict){
            $State.select('font').set('thin');
        }
        if (theme == "colorful"){
            $root.colors = {
                commons: $resume.commons.gender == 'male' ? '#3BADFF' : '#FF6F6F',
                education: $resume.commons.gender == 'male' ? '#FF6F6F' : '#3BADFF',
                courses: '#B484F7',
                languages: '#06D6B3',
                jobs: '#FF9B3B',
                contacts: $resume.commons.gender == 'male' ? '#FFC741' : '#FA99D6'
            }
        }
        else if (theme == "colorsoft"){
            $root.colors = {
                commons: '#F4FFEF',
                education: '#FDE6E2',
                courses: '#FFECFF',
                languages: '#E8F8F9',
                jobs: '#FFF1DE',
                contacts: '#F4FFEF'
            };
        }
    };

    $root.init();

    $root.on("mount", function(){
        $root.scope = $$($root.root);

        $afterlag.run(function(){

            $root.scope.find(".content__scroll").each(function(){
                var content = new app.plugins.scroll.content(this);
                content.init();
            });

            if (!app.demo && State.get("welcome") && !app.$dom.body.hasClass("is-loaded")){
                $afterlag.xl(function(){
                    app.$dom.body.addClass("is-loaded");
                    $Sections.main.slider.one("click", function(){
                        $Sections.button.open();
                    });
                });
            }

            $root.ready = true;
        });

        new app.plugins.scroll.refreshFix($root.root);
    });

    $root.marquee = {
        up: function(callback){
            app.$dom.body.addClass("is-transitioning-next");
            $afterlag.xl(function(){
                if (callback) callback();
            });
        },
        down: function(callback){
            $Loader.show().then(function(){
                $afterlag.xl(function(){

                    $Loader.hide();

                    app.$dom.body.removeClass("is-transitioning-next")
                    .addClass("is-transitioning-back");

                    if (callback){
                        _.onEndTransition($Sections.main.slider.find(".slider__item.slick-active > .slider__item__container")[0], function(){
                            callback();
                        });
                    }
                    _.onEndTransition($Sections.choose.opener.root, function(){
                        app.$dom.body.removeClass("is-transitioning-back");
                    });
                });
            });
        }
    };

</script>

</root-main>
