.boxShadow-default {
    box-shadow:0 6px 22px -6px rgba(0,0,0,.25);
}
.boxShadow-15 {
    box-shadow:0 1px 15px 0 rgba(0,0,0,.1);
}
.boxShadow-24 {
    box-shadow:0 14px 24px 1px rgba($blackLight,.1);
}
.boxShadow-25 {
    box-shadow:0 20px 25px rgba(31,35,37,.15);
}
.boxShadow-30 {
    box-shadow:5px 10px 30px 0 rgba(31,35,37,.15);
}
.boxShadow-distant {
    box-shadow:0 2px 8px rgba(31,45,61,.05);
}
.boxShadow-close {
    box-shadow:0 1px 2px rgba(31,45,61,.15);
}
.boxShadow-subtle {
    box-shadow:0 0 1px 1px rgba(31,45,61,.15);
}
.boxShadow-emboss {
    box-shadow:inset 0 -2px 0 rgba(31,45,61,.15);
}
.boxShadow-deboss {
    box-shadow:inset 0 2px 0 rgba(31,45,61,.15);
}
.boxShadow-raise {
    box-shadow:0 1px 1px 0 rgba(31,45,61,.05);
}
.boxShadow-depress {
    box-shadow:inset 0 1px 1px 0 rgba(31,45,61,.05);
}
.boxShadow-3d-primary {
    box-shadow:0 12px 20px -10px rgba($blue,.28), 0 4px 20px 0px rgba(#000,.12), 0 7px 8px -5px rgba($blue,.2);
}
@each $title, $color in (blue: $blue, blueLight: $blueLight, brown: $brown, red: $red, pink: $pink, orange: $orange, violet: $violet, violetLight: $violetLight, green: $green, emerald: $emerald){
    .boxShadow-3d-#{$title} {
        box-shadow:0 12px 20px -10px rgba($color,.28), 0 4px 20px 0px rgba($color,.12), 0 7px 8px -5px rgba($color,.2);
    }
    .boxShadow-3d-#{$title}-strong {
        box-shadow:0 12px 30px -10px rgba($color,.48), 0 4px 30px 0px rgba(31,35,37,.2), 0 7px 16px -5px rgba($color,.3);
    }        
}
.boxShadow-none {
    box-shadow:none;
}
