@each $title, $size, $height in (10, 10px, 14px), (12, 12px, 16px), (14, 14px, 18px), (16, 16px, 22px), (18, 18px, 24px), (20, 20px, 28px), (22, 22px, 28px), (24, 24px, 32px), (28, 28px, 34px), (30, 30px, 36px), (34, 34px, 38px), (38, 38px, 46px), (46, 46px, 46px), (64, 64px, 64px), (72, 72px, 86px){
    .fontSize-#{$title} {
        font-size:$size;
        line-height:$height;

        @if $title == 72 {
            margin-left:-4px;
            letter-spacing:-3px;
        }
        @if $title == 64 or $title == 46 {
            margin-left:-2px;
            letter-spacing:-2px;
        }
        @if $title == 38 or $title == 34 {
            margin-left:-2px;
            letter-spacing:-1.4px;
        }
        @if $title == 30 or $title == 28 or $title == 24 {
            margin-left:-1px;
            letter-spacing:-1px;
        }
        @if $title == 22 or $title == 20 {
            letter-spacing:-0.4px;
        }
    }
}
@each $title, $size, $height in (xxs, 10px, 14px), (xs, 12px, 16px), (s, 14px, 18px), (m, 16px, 22px), (l, 18px, 24px), (xl, 20px, 28px), (xxl, 24px, 32px){
    .fontSize-#{$title} {
        font-size:$size;
        line-height:$height;

        @if $title == "xxl" {
            margin-left:-1px;
            letter-spacing:-1px;
        }
        @if $title == "xl" {
            letter-spacing:-0.4px;
        }
    }
}
.fontSize-0 {
    font-size:0;
}
