.disable__hover * {
	pointer-events:none !important;
}
.nativeScroll {
	-webkit-overflow-scrolling:touch;
}
.backVisible-hidden {
	-webkit-backface-visibility:hidden;
}
.accelerate {
    // transform-style:preserve-3d;
    transform-style:flat;
    @extend .backVisible-hidden;
}
.content-empty {
	content:"";
}
.centered {
	float:none;
    margin-left:auto;
    margin-right:auto;
}
.cursor-pointer {
    cursor:pointer;
}
.cursor-default {
    cursor:default;
}
.cursor-text {
    cursor:text;
}
.userSelect-none {
    user-select:none;
}
.userSelect-text {
    user-select:text;
}
.userDrag-none {
	user-drag:none;
}
.userDrag-auto {
	user-drag:auto;
}
.outline-none {
    outline:none;
	outline-style:none;
}
.pointerEvents-none {
	pointer-events:none;
}
.pointerEvents-all {
	pointer-events:all;
}
.visibility-hidden {
	visibility:hidden;
}
.visibility-visible {
	visibility:visible;
}
.willChange-transform {
	will-change:transform;
}
.willChange-opacity {
	will-change:opacity;
}
.willChange-tp {
	will-change:transform, opacity;
}
.perspective-500 {
	perspective:500px;
}
.perspective-1000 {
	perspective:1000px;
}
.appearance-none {
	appearance:none;
}
.bg-none {
	background:none;
}
.bg-cover {
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
}
.bg-cover-center {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.float-none {
	float:none;
}
.svg-filter {
    @extend .pos-abs;
	@extend .visibility-hidden;
	@extend .w1px;
	@extend .h1px;
}
.clear:before,
.clear:after {
	clear:both;
	display:table;
	content:" ";
}
