.control__fonts {
    @extend .display-block;
    @include accelerate();
    @extend .cursor-default;
    @extend .userSelect-none;
    @extend .pos-fixed;
    @extend .t-l;
    @extend .r-m;
    @extend .w90;
    @extend .h80;
    @extend .overflow-hidden;
    @extend .pr-m;
    transition:width 0s 0.4s;
    @extend .zIndex-5;

    html.d-phone & {
        @extend .t-s;
        @extend .r--xxs;
    }
    &__item {
        @extend .display-inlineBlock;
        @extend .vAlign-middle;
        @extend .w60;
        @extend .h60;
        @extend .borderRadius-circle;
        @extend .text-center;
        @extend .c-white;
        @extend .ml-xs;
        font-size:28px;
        transition:transform 0.4s $bounceSoft 0.2s, background-color 0.08s linear;
        transform:translate3d(0, 0, 0) scale(0);

        &:before {
            @extend .content-empty;
            @extend .display-inlineBlock;
            @extend .vAlign-middle;
            @extend .h100p;
            @extend .w0;
        }
        &:not(.control__fonts__item--active){
            @extend .bg-smoke;
            @extend .c-primary;
            @extend .cursor-pointer;
            box-shadow:0 8px 16px -10px rgba($black,.06);
        }
        &--active {
            @extend .float-right;
            @extend .bg-primary;
            @extend .boxShadow-default;
            will-change:color, background-color;
            transition:color 0.2s $cubic215, background-color 0.2s $cubic215;
            transform:translate3d(0, 0, 0) scale(1);
        }
        html.m-no-touch &:hover {
            @extend .c-white;
            @extend .bg-primary;
        }
    }
    &__items {
        @extend .inline;
        @extend .pointerEvents-none;
        @extend .pos-abs;
        @extend .t0;
        right:90px;

        html.m-touch & {
            @extend .display-none;
        }
    }
    html.m-no-touch &:hover {
        @extend .overflow-visible;
        width:440px;
        transition:width 0s;

        .control__fonts__items {
            @extend .pointerEvents-all;
        }
        .control__fonts__item {
            transform:translate3d(0, 0, 0) scale(1);
            transition:transform 0.4s $bounceSoft 0.1s, background-color 0.08s linear;

            &:active:not(.control__fonts__item--active) {
                transition:transform 0.2s $cubic215, background-color 0.08s linear;
                transform:translate3d(0, 2px, 0) scale(0.8);
            }
        }
    }
    .fontFamily-futura {
        font-size:32px;
        padding-top:3px;
    }
    .fontFamily-avant {
        font-size:26px;
    }
    .fontFamily-myriad {
        font-size:31px;
        padding-top:2px;
    }
}
