<resume-template1 class="screens screens-phone container resume template1">

    <div if={ !app.device.isPhone } class="hidden-xs hidden-sm overlay col-sm-6"></div>
    <div if={ !app.device.isPhone } class="hidden-xs hidden-sm main-line col-sm-6"></div>
    <div if={ !app.device.isPhone } class="hidden-xs hidden-sm main-line-bg col-sm-6"></div>

    <section class="screen screen--active" data-section="coverletter" data-color={ $store.resume.take.coverletter.color() } if={ $State.get('mode') !== "editing" && $store.resume.select("sections").get({"name": "coverletter"}).active }>
        <div class="screen__content">
            <ux-coverletter></ux-coverletter>
        </div>
    </section>

    <section if={ app.device.isPhone } class="screen screen--first { $State.get('mode') !== 'editing' && $store.resume.select('sections').get({'name': 'coverletter'}).active ? null : 'screen--active' }" data-section="cover">
        <div class="screen__content">
            <ux-photo phone="true"></ux-photo>
            <div if={ $store.resume.get('post') } class="screen__post">
                <div class="screen__post__text">
                    { $store.resume.get('post') }
                </div>
            </div>
            <div if={ $store.resume.get('commons', 'contacts', 'city') } class="screen__location">
                <span class="display-inlineBlock text-truncate w90p">{ $store.resume.get('commons', 'contacts', 'city', 'name') }, <span class="text-lowercase">{ $store.resume.take.relocation() }</span></span>
                <div class="screen__progress" style="width:{ $store.resume.get('percent') }%">
                    <div class="screen__progress__line"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="screen { 'screen--first' : !app.device.isPhone }" data-section="commons">
        <div class="screen__content">
            <div class="row">
                <div if={ !app.device.isPhone } class="col-xs-24 col-md-11 screen1-col-left">
                    <ux-photo title="Ваша фотография"></ux-photo>
                </div>
                <div class="col-xs-24 col-md-13 screen1-col-right">

                    <ux-name classname="h1 name" size="l" title="Ваше имя и фамилия"></ux-name>

                    <ux-text autosuggest="getSuggestPositions" classname="h3 post" update="post" cursor={ $store.resume.select() } title="Должность" type="input"></ux-text>

                    <ux-salary if={ $store.resume.select("sections").get({"name": "salary"}).active } classname="salary" title={ $store.resume.select("sections").get({"name": "salary"}).title }></ux-salary>

                    <ux-tags if={ $store.resume.select("sections").get({"name": "tags"}).active } classname="tag-list" title={ $store.resume.select("sections").get({"name": "tags"}).title }></ux-tags>

                    <ux-text if={ $store.resume.select("sections").get({"name": "appeal"}).active } classname="larger mb-l" center="true" size="l" update="appeal" cursor={ $store.resume.select() } activity="true" title={ $store.resume.select("sections").get({"name": "appeal"}).title } type="textarea"></ux-text>

                    <ux-text name="ux-about" if={ $store.resume.select("sections").get({"name": "about"}).active && !$store.resume.isLargeAboutMe() } classname="p mb-l" center="true" update="about" cursor={ $store.resume.select() } activity="true" title={ $store.resume.select("sections").get({"name": "about"}).title } type="textarea"></ux-text>

                    <ux-social if={ $store.resume.select("sections").get({"name": "social"}).active } classname="social" size="l" title={ $store.resume.select("sections").get({"name": "social"}).title }></ux-social>

                </div>
                <ux-text-large name="ux-about-large" class="display-block col-xs-24 col-md-18 col-md-offset-6"></ux-text-large>
            </div>
        </div>
    </section>

    <section class="screen" data-section="works" if={ $store.resume.select("sections").get({"name": "works"}).active }>
        <div class="screen__content">
            <ux-works title={ $store.resume.select("sections").get({"name": "works"}).title } center="true" size="xl"></ux-works>
        </div>
    </section>

    <section class="screen" data-section="skills" if={ $store.resume.select("sections").get({"name": "skills"}).active }>
        <div class="bg-section hidden-xs { bg-show : $store.resume.select('sections').get({'name': 'works'}).active }"></div>
        <div class="screen__content">
            <div class="row">
                <div class="col-xs-24 col-md-18 col-md-offset-6">
                    <div class="screen__inner">
                        <ux-skills title={ $store.resume.select("sections").get({"name": "skills"}).title } center="true" size="xl"></ux-skills>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="screen" data-section="education" if={ $store.resume.select("sections").get({"name": "education"}).active }>
        <div class="screen__content">
            <div class="row">
                <div class="col-xs-24 col-md-18 col-md-offset-6">
                    <div class="screen__inner">
                        <ux-education title={ $store.resume.select("sections").get({"name": "education"}).title } center="true" size="xl"></ux-education>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="screen" data-section="courses" if={ $store.resume.select("sections").get({"name": "courses"}).active }>
        <div class="screen__content">
            <div class="row">
                <div class="col-xs-24 col-md-18 col-md-offset-6">
                    <div class="screen__inner">
                        <ux-courses title={ $store.resume.select("sections").get({"name": "courses"}).title } center="true" size="xl"></ux-courses>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="screen" data-section="languages" if={ $store.resume.select("sections").get({"name": "languages"}).active }>
        <div class="bg-section bg-snow hidden-xs"></div>
        <div class="screen__content">
            <div class="row">
                <div class="col-xs-24 col-md-18 col-md-offset-6">
                    <div class="screen__inner">
                        <ux-languages title={ $store.resume.select("sections").get({"name": "languages"}).title } center="true" size="xl"></ux-languages>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="screen" data-section="jobs" if={ $store.resume.select("sections").get({"name": "jobs"}).active }>
        <div class="screen__content">
            <ux-jobs title={ $store.resume.select("sections").get({"name": "jobs"}).title } center="true" size="xl"></ux-jobs>
        </div>
    </section>

    <section class="screen" data-section="hobby" if={ $store.resume.select("sections").get({"name": "hobby"}).active }>
        <div class="screen__content">
            <div class="row">
                <div class="col-xs-24 col-md-18 col-md-offset-6">
                    <div class="screen__inner">
                        <ux-hobby title={ $store.resume.select("sections").get({"name": "hobby"}).title } center="true" size="xl"></ux-hobby>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="screen" data-section="contacts" if={ app.device.isPhone }>
        <div class="screen__content">
            <h3 class="title">{ $i18n("resume.premium.template.Contacts info") }</h3>
            <ux-contacts-content></ux-contacts-content>
        </div>
    </section>

    <section class="screen" data-section="businessTrip" if={ app.device.isPhone }>
        <div class="screen__content">
            <h3 class="title">{ $i18n("resume.premium.template.Business trip, relocation") }</h3>
            <ux-contacts-more></ux-contacts-more>
        </div>
    </section>

    <section class="screen" data-section="feedback" if={ app.device.isPhone }>
        <div class="screen__content">
            <h3 class="title">{ $i18n("resume.premium.template.Feedback") }</h3>
            <ux-feedback></ux-feedback>
        </div>
    </section>

    <section class="screen" data-section="contacts" if={ !app.device.isPhone }>
        <div class="screen__content">
            <ux-contacts></ux-contacts>
        </div>
    </section>

    <section class="screen" data-section="likes" if={ app.device.isPhone && $State.get('mode') !== "editing" && $store.resume.get("config", "likes", "active") && !app.isLiked }>
        <div class="screen__content">
            <ux-likes></ux-likes>
        </div>
    </section>

    <popup-likes if={ !app.device.isPhone && $State.get('mode') !== "editing" && $store.resume.get("config", "likes", "active") && !app.isLiked }></popup-likes>

<script>

    var $ = this;

    $.el = $$(this.root);
    $screens = null;

    $.screenItems = null;
    $.screenColor = null;
    $.controlColor = "primary";

    $.on("before-mount", function(){
        $.sections = {
            photo: _.filter($.tags["ux-photo"], function(item){
                if (app.device.isPhone){
                    return item.opts && item.opts.phone;
                }
                else {
                    return item.opts && !item.opts.phone;
                }
            })[0],
            salary: $.tags["ux-salary"],
            social: $.tags["ux-social"],
            contacts: $.tags["ux-contacts"],
            contactsContent: app.device.isPhone ? $.tags["ux-contacts-content"] : $.tags["ux-contacts"].tags["ux-contacts-content"],
            feedback: app.device.isPhone ? $.tags["ux-feedback"] : $.tags["ux-contacts"].tags["ux-feedback"]
        }
        $.sections.social.on("updated", function(){
            if ($.sections.contactsContent){
                $.sections.contactsContent.update();
            }
        });
    });

    $.on("mount", function(){
        var photo = $store.resume.get('commons', 'photo');
        if (photo) _.onLoadImage(photo);

        if ($State.get('mode') !== "editing"){

            $.notTouch = ['name', 'text', 'contacts', 'feedback', 'contacts-content', 'contacts-more', 'likes'];

            _.each(this.tags, function(item) {
                if (item.root && item.root.tagName && item.root.tagName.toLowerCase().match(/^ux-/)){
                    var name = item.root.tagName.toLowerCase().match(/^ux-(.+)/)[1];
                    if ($.notTouch.indexOf(name) === -1){
                        if (!$store.resume.get(name)) $$(item.root).remove();
                        else $$(item.root).children().unwrap();
                    }
                }
            });

            _.each($store.resume.get("sections"), function(item){
                if (item.screen && item.control && $.notTouch.indexOf(item.name) === -1 && !$store.resume.get(item.name)){
                    $Resume.el.find(".screen[data-section=" + item.name + "]").remove();
                }
            });
        }

        var onScroll = _.throttle($.onScroll, 50),
            render = _.debounce($.render, 300);

        if (app.device.isPhone){
            $afterlag.run(function(){
                $.screens = new app.plugins.screens($Resume.el, {
                    dataAttr: "section",
                    resizeRefresh: app.demo && $State.get('mode') !== "editing"
                });
                $.screens.init();
                $.render();
                $.initScroll();

                (function animationLoop(){
                    $.raf = app.utils.raf(animationLoop);
                    onScroll(app.utils.getScroll($.scroll));
                })();

                $root.trigger("ready");

                if ($State.get('mode') !== "editing" && $store.resume.select("sections").get({"name": "coverletter"}).active){
                    var show = true;
                    $screens = $Resume.el.find(".screen");

                    $screens.on('show', function(){
                        var section = this.getAttribute("data-section");

                        if (section == "coverletter" && !show){
                            show = true;
                            $root.trigger("mode", "coverletter", show);
                        }
                        else if (section != "coverletter" && show){
                            show = false;
                            $root.trigger("mode", "coverletter", show);
                        }
                    });
                }
            });
        }
        else {
            $.render();

            app.$dom.window.on("scroll", function(){
                _.raf(onScroll);
            });
            $afterlag.run(function(){
                $root.trigger("ready");
            });
        }

        app.$dom.window.on("resize", function(){
            render();
        });

        if ($State.get('mode') === "editing"){
            var langSections = ['social', 'works', 'skills', 'education', 'courses', 'languages', 'jobs', 'hobby'],
                skipProps = ['percent', 'config', 'update'];

            _.bbUpdate($store.resume, function(prop, value, e){
                if (!$root.ready || skipProps.indexOf(prop) !== -1) return;

                if (prop == "public"){
                    $Control.public.update();
                    return;
                }
                else if (prop == "lang"){
                    $i18n.lang($store.resume.get("lang"));
                    moment.locale($store.resume.get("lang"));
                    _.each($store.resume.placeholder, function(item, name){
                        if (langSections.indexOf(name) !== -1 && $store.resume.get(name, "title")){
                            $store.resume.select(name, "title").set(item.title());
                        }
                    });
                    $Resume.update();
                    if (app.device.isPhone && $Resume.screens){
                        $afterlag.run(function(){
                            $Resume.screens.refresh();
                        });
                    }
                }
                else if (prop == "sections" && $Resume.screenItems){
                    var find = false;

                    _.each(e.data.currentData.sections, function(item){
                        if (!item.screen || item.screen && !item.control) return;
                        var section = _.findWhere($Resume.screenItems, {"section": item.name});
                        if (!section) section = { active: false };
                        if (item.active !== section.active){
                            find = true;
                        }
                    });

                    if (find){
                        $Resume.update();

                        if (app.device.isPhone){
                            $Resume.screens.refreshAll();
                            $Resume.initScroll();
                        }
                    }
                    else {
                        if (app.device.isPhone && $Resume.screens){
                            $afterlag.run(function(){
                                $Resume.screens.refresh();
                            });
                        }
                    }
                    $Control.sections.refresh();
                }
                else {
                    if (app.device.isPhone && $Resume.screens){
                        $afterlag.run(function(){
                            $Resume.screens.refresh();
                        });
                    }
                }
                $Resume.render();
            });

            _.bbUpdate($State, function(prop, value, e){
                if (!$root.ready) return;

                if (prop == "color"){
                    $Control.colors.update();
                    $root.root.setAttribute("data-color", value);
                    $Resume.sections.salary.graph.refresh();
                    $store.resume.select("config", "color").set(value);
                }
                else if (prop == "font"){
                    $Control.fonts.update();
                    $root.root.setAttribute("data-font", value);
                    $store.resume.select("config", "font").set(value);
                    $Resume.render();
                }
                else if (prop == "photo"){
                    $Resume.sections.photo.update();
                    $store.resume.select("config", "photo", e.data.paths[0][1]).set(value);
                }
                else if (prop == "animate"){
                    $store.resume.select("config", "animate", value);
                }
            });
        }
        else if (app.demo){
            _.bbUpdate($State, function(prop, value, e){
                if (!$root.ready) return;

                if (prop == "color"){
                    $Control.colors.update();
                    $root.root.setAttribute("data-color", value);
                    $Resume.sections.salary.graph.refresh();
                }
            });
        }
    });

    $.initScroll = function(){
        $.scroll = $Resume.screens.get("scroll");
    };

    $.render = function(){
        var items = [],
            lang = $store.resume.get("lang");

        $.screenColor = [];

        setTimeout(function(){
            if (app.device.isPhone && !$Resume.screens) return;
            if (app.device.isPhone){
                var screens = $Resume.screens.scope.data('marquee').screens;
            }
            $Resume.el.find(".screen").each(function(i, item){
                var $section = $$(this),
                    section = this.getAttribute("data-section");

                if (section == "coverletter") return;
                if (section == "works" || section == "jobs" || section == "contacts"){
                    if (app.device.isPhone){
                        if (section == "contacts") return;
                        $.screenColor.push({
                            height: screens[i].size - 120,
                            offset: screens[i].offset + 120
                        });
                    }
                    else {
                        if (section == "contacts"){
                            var $bgSection = $section;
                        }
                        else {
                            var $bgSection = $section.find(".bg-section");
                        }
                        $.screenColor.push({
                            height: $bgSection.height(),
                            offset: $bgSection.offset().top - 80
                        })
                    }
                }
                var title = null;
                if (section == "commons"){
                    title = lang == "ru" ? "Общее" : "Main";
                }
                else {
                    if ($store.resume.placeholder[section]){
                        title = $store.resume.placeholder[section].shortname[lang];
                    }
                }
                var item = _.findWhere($store.resume.get('sections'), {"name": section});
                items.push({
                    title: title,
                    section: section,
                    step: i + 1,
                    offset: $section.offset().top,
                    active: item ? item.active : true
                })
            });

            $.screenItems = items;

            if (!app.device.isMobile && $Nav) $Nav.refresh();

        }, 5);
    };

    var previousTop = 0,
        showOffer = false,
        showLikesPopup = false,
        likesPopup = !app.demo && !app.device.isPhone && $root.opts.editing != "true" && $store.resume.get("config", "likes", "active") && !app.isLiked;

    $.onScroll = function(scroll){
        var scroll = scroll && scroll.y || app.$dom.document.scrollTop(),
            find = false;

        _.each($.screenColor, function(item){
            if (!find){
                if (scroll > item.offset && scroll < item.offset + item.height){
                    find = true;
                    if ($.controlColor != "white"){
                        $root.root.setAttribute("data-control-color", "white");
                    }
                }
            }
        });

        if (!find && $.color != "primary"){
            $root.root.setAttribute("data-control-color", "primary");
        }
        if (app.demo && !showOffer && $root.opts.editing == "true" || likesPopup && !showLikesPopup){
            var scrollHeight = $Resume.el && $Resume.el[0] && $Resume.el[0].scrollHeight;
            if (scrollHeight && scrollHeight > 0 && scroll + app.sizes.height + 20 > scrollHeight && previousTop < scroll){
                if (app.demo && !showOffer && $root.opts.editing == "true"){
                    showOffer = true;
                    $Sections.finish.show();
                }
                else if (likesPopup && !showLikesPopup){
                    showLikesPopup = true;
                    $Resume.tags["popup-likes"].show();
                }
            }
            previousTop = scroll;
        }
    };

    $.on("before-unmount", function(){
        if ($screens) $screens.off('show');
        $.screens.destroy();
        $store.resume.off();
        $State.off();
        _.caf($.raf);
    });

</script>

</resume-template1>
