@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=cyrillic-ext,latin');
@import '../../../assets/css/fonts/HelveticaNeue/style';
@import '../../../assets/css/fonts/Myriad/style';
@import '../../../assets/css/fonts/Gotham/style';
@import '../../../assets/css/fonts/Graphik/style';
@import '../../../assets/css/fonts/Futura/style';
@import '../../../assets/css/fonts/Icons/hobby/style';

.fontFamily-helvetica {
    font-family:$helvetica;
}
.fontFamily-myriad {
    font-family:$myriad;
}
.fontFamily-roboto {
    font-family:$roboto;
}
.fontFamily-gotham {
    font-family:$gotham;
}
.fontFamily-graphik {
    font-family:$graphik;
}
.fontFamily-futura {
    font-family:$futura;
}
.fontFamily-default {
    font-family:$helvetica;
}
