@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=cyrillic-ext,latin');
@import '../../assets/css/fonts/Futura/style';
// @import '../../assets/css/fonts/Museo/style';
// @import '../../assets/css/fonts/SFDisplay/style';
@import '../../assets/css/fonts/Gotham/style';
@import '../../assets/css/fonts/Graphik/style';
@import '../../assets/css/fonts/HelveticaNeue/style';
@import '../../assets/css/fonts/Icons/hobby/style';

.fontFamily-roboto {
    font-family:$roboto;
}
.fontFamily-futura {
    font-family:$futura;
}
.fontFamily-sftext {
    font-family:$sftext;
}
.fontFamily-sfdisplay {
    font-family:$sfdisplay;
}
.fontFamily-gotham {
    font-family:$gotham;
}
.fontFamily-graphik {
    font-family:$graphik;
}
.fontFamily-helvetica {
    font-family:$helvetica;
}
.fontFamily-arial {
    font-family:$arial;
}
