@keyframes spinner {
	0% {transform:rotate(0)}
	100% {transform:rotate(360deg)}
}
@keyframes bg-zoomer {
	0%, 100% {transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1)}
	50% {transform:translate3d(0, 0, 0) scale3d(1, 1, 1)}
}
@keyframes pulse {
    0% {
        transform: rotate(0deg) translate3d(0, -3px, 0) skew(1deg);
    }
    2.5% {
        transform: rotate(-25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    5% {
        transform: rotate(25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    7.5% {
        transform: rotate(-25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    10% {
        transform: rotate(25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    12.5% {
        transform: rotate(-25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    15% {
        transform: rotate(25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    17.5% {
        transform: rotate(-25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    100%, 20% {
        transform: rotate(0deg) translate3d(0, -3px, 0) skew(1deg);
    }
}
