@each $title, $color in (white: $white, blue: $blue, blueLight: $blueLight, blueDark: $blueDark, brown: $brown, red: $red, redDark: $redDark, pink: $pink, orange: $orange, orangeDark: $orangeDark, yellow: $yellow, yellowLight: $yellowLight, violet: $violet, violetLight: $violetLight, green: $green, greenDark: $greenDark, lime: $lime, breeze: $breeze, emerald: $emerald, black: $black, blackDark: $blackDark, blackLight: $blackLight, steel: $steel, steelDark: $steelDark, gray: $gray, grayDark: $grayDark, grayLight: $grayLight, grayLighten: $grayLighten, smoke: $smoke, smokeDark: $smokeDark, snow: $snow){
    .bg-#{$title} {
        background-color:$color;
    }
    .c-#{$title} {
        color:$color;
    }
    .fill-#{$title} {
        fill:$color;
    }
    .borderColor-#{$title} {
        border-color:$color;
    }
    svg[fill-color="#{$title}"]{
        path, rect, polygon, circle {
            fill:$color;
        }
    }
}
body {
    @each $color in ($blue, $blueLight, $green, $emerald, $orange, $red, $violet, $violetLight, $brown, $pink){
        &[data-color="#{$color}"]{
            .control__colors__item,
            .button__editable {
                background-color:$color;
            }
        }
    }
}
.control__colors {
    @extend .pos-abs;
    @extend .t--xxs;
    left:-7px;
    @extend .willChange-transform;
    transition:transform .2s;
    @extend .zIndex-2;

    &__item {
        @extend .pos-rel;
        @extend .w35;
        @extend .h35;
        @extend .borderRadius-circle;
        box-shadow:inset 0 1px 2px rgba(#000,.13);
        @extend .zIndex-1;

        &:after {
            @extend .content-empty;
            @extend .pos-centered;
            @extend .w10;
            @extend .h10;
            @extend .borderRadius-circle;
            @extend .bg-white;
        }
    }
    &:active {
        transform:translate3d(0, 0, 0) scale(0.85);
    }
}
.bg-overlay {
    background-color:rgba(40,47,51,.76);
}
.bg-radial-blue {
    background:radial-gradient(rgba($blue,.0), $blue);
}
.bg-radial-black {
    background:radial-gradient(rgba($black,.0), $black);
}
.bg-gradient-tb-white {
	background:linear-gradient(to bottom, #fff, rgba(#fff,0));
}
.bg-gradient-bt-white {
	background:linear-gradient(to top, #fff, rgba(#fff,0));
}
.bg-gradient-lr-white {
	background:linear-gradient(to right, #fff, rgba(#fff,0));
}
.bg-gradient-rl-white {
	background:linear-gradient(to left, #fff, rgba(#fff,0));
}
