.control__device {
    @extend .pos-centered-v;
    left:-7px;
    @extend .w80;
    @extend .h80;
    @extend .bg-white;
    @extend .cursor-pointer;
    border-radius:0 50% 50% 0;
    box-shadow:0 8.66px 30px 0 rgba(31,35,37,.078);
    @extend .zIndex-1;

    &__item {
        @extend .willChange-transform;
        transition:transform .2s;
    }
    &__item,
    &__item:after {
        @extend .pos-centered;
    }
    &__item:after {
        @extend .content-empty;
        @extend .bg-cover;
    }
    &__icon {
        @extend .pos-abs;
        @extend .b--xxs;
        @extend .r--xxs;
        @extend .w30;
        @extend .h30;
        @extend .borderRadius-circle;
        @extend .bg-blackLight;

        &:after {
            @extend .content-empty;
            @extend .pos-centered;
            @extend .w20;
            @extend .h20;
            @extend .bg-cover;
            background-image:url(/preview/images/options_white.svg);
        }
    }
    &__help {
        @extend .t0;
        left:150px;
        @extend .w100;
        transform-origin:100% 100%;

        &:after {
            top:-80px;
            left:-90px;
            transform:scale3d(-1, -1, 1) rotate(36deg);
        }
    }
    &:active {
        .control__device__item {
            transform:translate3d(-50%, -50%, 0) scale(0.85);
        }
    }
}
