@import '../../assets/css/fonts/Futura/style';
@import '../../assets/css/fonts/Myriad/style';
@import '../../assets/css/fonts/HelveticaNeue/style';

$futura: "Futura", sans-serif;
$myriad: "Myriad", sans-serif;
$helvetica: "HelveticaNeue", sans-serif;

.fontFamily-futura {
    font-family:$futura;
}
.fontFamily-myriad {
    font-family:$myriad;
}
.fontFamily-default {
    font-family:$helvetica;
}
.fontFamily-helvetica {
    @extend .fontFamily-default;
}
