.help__item,
.help__text {
    @extend .scale-0;
    @extend .willChange-transform;
    @extend .pointerEvents-none;
    transition:transform .25s $cubic345;

    html.d-tablet.r-portrait & {
        @extend .transition-none;
    }
}
.help__item {
    @extend .pos-abs;
    @extend .userSelect-none;
    @extend .pointerEvents-none;

    &:after {
        @extend .content-empty;
        @extend .pos-abs;
        width:128px;
        height:128px;
        background-image:url(/preview/images/arrow.svg);
        @extend .bg-cover;
        @extend .opacity-85;
    }
}
.help__text {
    transform-origin:25% 0%;
}
.help__text__front,
.help__text__back {
    @extend .pos-abs;
    @extend .willChange-opacity;
    transition:opacity .35s $cubic2501;
}
.help__text__back {
    @extend .opacity-0;
}
html.d-no-tablet body[data-help="true"]:not([data-tutorial]),
html.d-tablet.r-landscape body[data-help="true"]:not([data-tutorial]){
    .help__item,
    .help__text {
        @extend .scale-100;
        @extend .pointerEvents-all;
    }
    .scroll {
        transform:translate3d(-50%, -50%, 0) scale(1);
    }
    .help__item,
    .scroll {
        transition:transform .55s $bounceForce .3s;
    }
    .help__text {
        transition:transform .55s $bounceForce .4s;
    }
    .control__device__help {
        transition-delay:0.2s;
    }
    .addUser__help {
        transition-delay:0.4s;
    }
    .addUser__help__color {
        transition-delay:0.6s;
    }
    .button__import__help {
        transition-delay:0.6s;
    }
}
body#page[data-help="false"] {
    .notify-wrapper {
        @extend .pointerEvents-none;
    }
    .notify {
        @extend .opacity-0;
    }
}
