@each $icon in (
    minus, minus_white, close_fill, close_fill_gray, help, close_fill_white,
    menu_white, menu, loading, info_white
){
    .ui-icon-#{$icon} {
        background:url('/assets/images/ui/ui-#{$icon}.svg') no-repeat 0 0 / cover;
    }
}
@mixin ui-icon($icon, $width: false, $height: false) {
    @if $width {
        width:#{$width};
    }
    @if $height {
        height:#{$height};
    }
    @extend .ui-icon-#{$icon};
}
