body.apploading {
    @extend .pointerEvents-none;

    .loader {
        @extend .pointerEvents-all;

        &:after,
        &-spinner {
            @extend .opacity-100;
        }
        &-bg {
            @extend .bg-blue;
        }
    }
    #frame {
        @extend .opacity-01;
    }
}
#frame {
    @include accelerate();
    @extend .willChange-opacity;
    transition:opacity 0.3s ease-out;
}
.loader {
    @include abs();
    @include accelerate();
    @extend .pointerEvents-none;

    &[data-device="phone"]:after {
        width:88px;
        height:108px;
        background-image:url(/preview/images/phones_white.svg);
    }
    &[data-device="tablet"]:after {
        width:80px;
        height:116px;
        transform:translate3d(-50%, -50%, 0) rotate(-90deg);
        background-image:url(/preview/images/tablet_white.svg);
    }
    &[data-device="desktop"]:after {
        width:135px;
        height:70px;
        background-image:url(/preview/images/desktop_white.svg);
    }
    &:after {
        @extend .content-empty;
        @extend .display-block;
        @extend .pos-centered;
        width:54px;
        height:64px;
        @extend .bg-cover;
        @extend .willChange-opacity;
        @extend .opacity-0;
        transition:opacity 0.3s ease-out;
    }
    &-bg {
        @include abs();
        @include accelerate();
        background-color:transparent;
        will-change:transform, background-color, border-radius;
        transition:background-color 0.3s ease-out, border-radius 0.3s ease-out;
        box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);

        &:before {
            @extend .content-empty;
            @include abs();
            @include accelerate();
            @extend .willChange-opacity;
            @extend .zIndex-1;
            @extend .opacity-0;
            transition:opacity 0.3s ease-out;
            background:linear-gradient(135deg, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 60%);

            body[data-device="phone"] & {
                @extend .opacity-100;
            }
        }
        &[data-resize="true"]{
            transition:transform 0.6s, background-color 0.3s ease-out;
        }
    }
    &-spinner {
        @include abs();
        @extend .opacity-0;
        @extend .willChange-opacity;
        @extend .zIndex-1;
        transition:opacity 0.3s ease-out;

        &-item {
            @include abs_50(280, 280);
            @extend .willChange-transform;
        	clip:rect(0, 280px, 280px, 140px);
            animation:loader-animate1 1.1s linear infinite;

            &:after {
                @extend .content-empty;
                @extend .pos-abs;
                width:280px;
                height:280px;
                box-shadow:inset #fff 0 0 0 2px;
                clip:rect(0, 280px, 280px, 140px);
                animation:loader-animate2 1.1s ease-in-out infinite;
                @extend .borderRadius-circle;
                @extend .willChange-transform;
        	}
        }
    }
}

@keyframes loader-animate1 {
	0% {
		transform:rotate(0);
	}
	100% {
		transform:rotate(220deg);
	}
}
@keyframes loader-animate2 {
	0% {
		transform:rotate(-140deg);
	}
	100% {
		transform:rotate(140deg);
	}
}
