html,
body {
    @extend .w100;
    @extend .h100;
    @extend .overflow-hidden;
}
#page {
    @include abs();
    @extend .overflow-hidden;
    @extend .c-blackLight;

    &:before {
        @extend .content-empty;
        @include abs();
        background:url(/preview/images/bg.png) top left repeat-x;
    }
}
#device {
    @include accelerate();
    @extend .pos-centered;
    @extend .maxH-100v;
    @extend .zIndex-3;
    // box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
    // box-shadow:0 8.66px 30px 0 rgba(31,35,37,.078);
}
#frame {
    @include abs();
    @extend .border-none;
    @extend .overflow-hidden;
}
.frame-container {
    @include abs();
    @extend .overflow-hidden;
    will-change:border-radius;
    transition:border-radius 0.3s ease-out;
    @extend .zIndex-0;
}
.section {
    @extend .display-block;
}
body {
    &[data-start="false"]{
        #device,
        .control__colors,
        .control__fonts,
        .control__device,
        .prof__opener {
            @extend .visibility-hidden;
        }
    }
}
