body {
    &[data-theme="white"]{
        .prof__opener {
            html.m-no-touch &:hover {
                @extend .zIndex-4;

                &:before {
                    @extend .opacity-70;
                }
                + .button__like {
                    icon-fb,
                    icon-vk {
                        @extend .scale-0;
                    }
                }
                .prof__opener__chevron:after {
                    @extend .opacity-80;
                    border-top-color:$white;
                }
            }
            &:before {
                @extend .bg-steel;
            }
            &__chevron:after {
                @extend .opacity-50;
                border-top-color:$steel;
            }
        }
        .control__colors {
            &:after {
                @extend .opacity-25;
                @extend .borderColor-steel;
            }
            &__items {
                &:before {
                    @extend .bg-white;
                }
            }
            html.m-no-touch &:hover {
                &:after {
                    @extend .opacity-25;
                }
                .control__colors__items:before {
                    @extend .opacity-70;
                }
            }
        }
        .button__like {
            icon-fb,
            icon-vk {
                @extend .willChange-transform;
                transition:transform 0.3s $cubic4001;
            }
        }
    }
}
