body {
    &[data-tutorial="true"],
    &[data-tutorial="finish"]{
        .scroll__lens {
            transition:transform 1s $cubic345;
            transition-delay:0.25s;
            transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
        }
        .tutorial__close {
            @extend .scale-100;
            @extend .opacity-95;
            transition:transform 0.6s $cubic4001 1.25s;
        }
    }
    &[data-tutorial]{
        #device {
            @extend .zIndex-3;
            @extend .willChange-transform;
            transition:transform 1.25s $cubic645;
        }
        .tutorial__screens {
            @extend .zIndex-1;
            @extend .pointerEvents-all;
        }
        .prof__opener,
        .control__colors {
            @extend .zIndex-2;
        }
        .tutorial__help__item,
        .tutorial__screens__num {
            transition:opacity 0.6s $cubic4001;
        }
        .scroll {
            &:after {
                html.d-mobile & {
                    @extend .opacity-65;
                    background-image:url(/preview/images/swipeDown_white.svg);
                }
            }
        }
    }
    &[data-tutorial-help="true"]{
        .tutorial__help__item,
        .tutorial__screens__num {
            @extend .opacity-100;
            transition-delay:0.3s;
        }
    }
    &[data-tutorial="finish"]{
        #device {
            transform:translate3d(50%, -50%, 0);

            html.d-tablet & {
                transform:translate3d(20%, -50%, 0);
            }
        }
    }
    html.d-no-tablet &,
    html.d-tablet.r-landscape & {
        &[data-tutorial="true"],
        &[data-tutorial="false"],
        &[data-tutorial="finish"]{
            .scroll {
                transform:translate3d(-50%, -50%, 0) scale(1);
                transition:transform .55s $bounceForce .3s;
            }
        }
    }
    &[data-tutorial="false"]{
        .scroll__lens {
            transition:transform .6s $cubic4001;
            transition-delay:0.6s;
        }
        .tutorial__close {
            transition:transform 0.25s $cubic4001;
        }
    }
}
.tutorial {
    &__help {
        &__item {
            @extend .pos-abs;
            @extend .opacity-0;
            @extend .willChange-opacity;
            @extend .pointerEvents-none;
            color:$snowSilverDark;

            &:before {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .w80;
                @extend .h1px;
                @extend .bg-white;
                @extend .opacity-65;
            }
            &[data-help="info"]{
                @extend .t-m;
                @extend .r100;
                @extend .mr-m;
                @extend .pr100;
                width:230px;

                html.d-mobile & {
                    @extend .pr-l;
                    width:180px;
                }
                &:before {
                    @extend .pos-centered-v;
                    @extend .r-xs;

                    html.d-mobile & {
                        @extend .r--50;
                    }
                }
            }
            &[data-help="sendmail"]{
                @extend .t-25;
                @extend .l100;
                @extend .ml-m;
                @extend .pl100;
                width:240px;
                @extend .text-right;

                &:before {
                    @extend .pos-centered-v;
                    @extend .l-xs;
                }
            }
            &[data-help="salary"]{
                @extend .t-95;
                @extend .l100;
                @extend .ml-m;
                @extend .pl100;
                width:250px;

                &:before {
                    @extend .pos-centered-v;
                    @extend .l-xs;
                }
            }
        }
    }
    &__close {
        @include accelerate();
        @extend .pos-abs;
        top:18px;
        right:18px;
        @extend .scale-0;
        @extend .opacity-0;
        @extend .cursor-default;
        @extend .willChange-tp;
        @extend .zIndex-2;

        html.d-tablet & {
            top:11px;
            right:11px;
        }
        html.m-no-touch &:hover {
            opacity:1 !important;

            &:before {
                @extend .opacity-25;
                @extend .scale-125;
            }
            .tutorial__close__button {
                + .tutorial__close__label {
                    .tutorial__close__label__text {
                        @extend .transform-default;
                    }
                }
            }
        }
        &:before {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .t0;
            @extend .r-xs;
            @extend .w110;
            @extend .h100p;
            @extend .scale-50;
            @extend .opacity-0;
            @extend .bg-black;
            @extend .willChange-tp;
            @extend .borderRadius-xxxxxl;
            transition:transform 0.3s $cubic4001, opacity 0.15s $cubic4001;
        }
        &__label {
            @extend .pos-centered-v;
            @extend .r100;
            @extend .mr-s;
            @extend .w100;
            @extend .nowrap;
            @extend .overflow-hidden;
            @extend .text-right;
            padding-bottom:1px;

            &__text {
                @extend .c-white;
                @extend .willChange-transform;
                transform:translate3d(0, 100%, 0);
                transition:transform 0.3s $cubic4001;
            }
        }
        &__button {
            @extend .pos-rel;
            @extend .w40;
            @extend .h40;
            @extend .borderRadius-circle;
            @extend .cursor-pointer;
            @include rippleDark();

            html.m-no-touch &:hover {
                &:before {
                    @extend .bg-white;
                    @extend .scale-105;
                }
                .tutorial__close__button__cross {
                    &:before,
                    &:after {
                        @extend .bg-black;
                    }
                }
            }
            &:before {
                @include accelerate();
                @extend .content-empty;
                @include abs();
                @extend .borderRadius-circle;
                @extend .bg-black;
                @extend .scale-100;
                @extend .willChange-transform;
                transition:transform 0.3s $cubic4001, background-color 0.15s $cubic4001;
            }
            &__cross {
                &:before,
                &:after {
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .t50;
                    @extend .l50;
                    width:13px;
                    @extend .h2px;
                    @extend .bg-white;
                    transition:background-color 0.15s $cubic4001;
                }
                &:before {
                    transform:translate3d(-50%, -50%, 0) rotate(45deg);
                }
                &:after {
                    transform:translate3d(-50%, -50%, 0) rotate(-45deg);
                }
            }
        }
    }
    &__screens {
        @extend .pos-centered-h;
        @extend .w100p;
        max-width:1400px;
        @extend .pointerEvents-none;
        @extend .h100p;

        html.d-tablet.r-portrait & {
            @extend .display-none;
        }
        .scroll__lens {
            @include accelerate();
            @extend .pos-abs;
            @extend .t50;
            @extend .l50;
            width:264px;
            height:264px;
            @extend .mt--s;
            @extend .ml--m;
            transform:translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
            // box-shadow:0 0 0 2000px rgba($steel,0.97);

            &:before {
                @include accelerate();
                @extend .content-empty;
                @extend .pos-centered;
                width:250vw;
                height:250vw;
                @extend .borderRadius-circle;
                background-color:rgba($steel,0.97);
            }
            &:after {
                @include accelerate(true);
                @extend .content-empty;
                @include abs();
                @extend .borderRadius-circle;
                background:linear-gradient(to bottom, #e6eaf1 5%, #d1ebf5 50%, #dae7ec);

                html.d-mobile & {
                    @extend .display-none;
                }
            }
            // html.d-safari & {
            //     box-sizing:content-box;
            //     box-shadow:none;
            //     border:2000px solid rgba($steel,0.97);
            // }
        }
        &__items {
            @extend .pos-abs;
            left:8%;
            @extend .c-white;
            @extend .h100p;
            @extend .zIndex-2;
        }
        &__num {
            @extend .opacity-0;
            @extend .pos-centered-v;
            height:230px;
            @extend .willChange-opacity;

            &__items {
                @extend .pos-abs;
                @extend .t100;
                @extend .l0;
                @extend .fontWeight-8;
                font-size:100px;
                line-height:100px;
                @extend .opacity-15;
                transform:translate3d(-38px, 80px, 0);
            }
        }
    }
    &__screen {
        @extend .fontFamily-helvetica;
        @extend .pos-centered-v;
        width:320px;
        @extend .pointerEvents-none;
        @extend .pr-l;

        html.d-tablet & {
            margin-left:-42.5px;
            @extend .pr60;
        }
        &[data-active="true"]{
            @extend .pointerEvents-all;

            .tutorial__screen__title__inner,
            .tutorial__screen__text__inner,
            .tutorial__screen__button {
                @extend .transform-default;
            }
            .tutorial__screen__title__inner {
                transition-delay:0.65s;
            }
            .tutorial__screen__text__inner {
                transition-delay:0.85s;
            }
            .tutorial__screen__button:first-child {
                transition-delay:1s;
            }
            .tutorial__screen__button:last-child {
                transition-delay:1.2s;
            }
        }
        &[data-screen="likes"]{
            width:570px;
            @extend .pr0;
            @extend .ml70;
            @extend .text-right;

            .tutorial__screen__text__inner {
                html.d-tablet & {
                    width:500px;
                }
            }
        }
        &__title {
            @extend .c-yellowBright;
            font-size:34px;
            line-height:42px;
            @extend .letterSpacing--xs;
            @extend .fontWeight-bold;
            margin-bottom:7px;
            @extend .w100p;
            @extend .overflow-hidden;
        }
        &__text {
            font-size:17px;
            line-height:34px;
            @extend .w100p;
            @extend .overflow-hidden;
        }
        &__title__inner,
        &__text__inner,
        &__button {
            @include accelerate();
            @extend .willChange-transform;
            transition:transform 0.65s $cubic4001;
        }
        &__title__inner {
            transform:translate3d(0, -100%, 0);
            transition-delay:0s;
        }
        &__text__inner {
            transform:translate3d(0, 100%, 0);
            transition-delay:0.3s;

            a {
                @extend .pos-rel;
                @extend .display-inlineFlex;
                @extend .textDecoration-none;
                @extend .c-breeze;
                @extend .overflow-hidden;
                line-height:22px;

                &:hover {
                    &:after {
                        @extend .scale-100;
                    }
                }
                &:before,
                &:after {
                    @include accelerate();
                    @extend .content-empty;
                    @extend .pos-bl;
                    @extend .bg-breeze;
                    @extend .w100p;
                    @extend .h1px;
                    @extend .opacity-50;
                }
                &:after {
                    @extend .willChange-transform;
                    @extend .scale-0;
                    @extend .opacity-70;
                    transition:transform 0.3s $cubic4001;
                }
            }
        }
        &__button:first-child {
            transition-delay:0s;
        }
        &__button:last-child {
            transition-delay:0.3s;
        }
        &__buttons {
            @extend .fontSize-0;
            @extend .ptb-m;
            @extend .pr-xs;
            @extend .w100p;
            @extend .trX-m;
            @extend .overflow-hidden;
        }
        &__button {
            @include accelerate();
            @include rippleDark();
            @extend .pos-rel;
            @extend .display-inlineBlock;
            @extend .h70;
            @extend .pl-l;
            @extend .pr-l;
            @extend .c-white;
            @extend .fontFamily-futura;
            @extend .borderRadius-xxxxxl;
            @extend .cursor-pointer;
            @extend .mlr-xs;
            @extend .willChange-transform;
            transform:translate3d(0, 130%, 0);

            &:hover {
                &:before {
                    transform:translate3d(0, 0, 0) scale3d(1.07, 1.07, 1);
                    @extend .bg-white;
                }
                .tutorial__screen__button__label {
                    color:#151515;
                }
            }
            &:before {
                @include accelerate(true);
                @extend .content-empty;
                @include abs();
                @extend .borderRadius-xxxxxl;
                @extend .willChange-transform;
                background-color:#151515;
                transition:transform 0.3s $cubic4001, background-color 0.3s $cubic4001;
            }
            &__label {
                @extend .display-block;
                @extend .pos-rel;
                font-size:20px;
                line-height:66px;
                @extend .fontWeight-bold;
                @extend .textDecoration-none;
                transition:color 0.3s $cubic4001;
            }
        }
    }
}
