.input {
    .fontFamily-roboto {
        @extend .fontFamily-default;
    }
}
.menu {
    &__opener {
        @extend .pos-abs;
        @extend .t-s;
        @extend .r-m;
        @extend .w60;
        @extend .h60;
        @extend .borderRadius-circle;
        @extend .transition-default;
        @extend .scale-0;
        @extend .pointerEvents-none;
        @extend .willChange-transform;
        @extend .cursor-pointer;
        @extend .zIndex-1;
        transition:transform .25s $cubic345;

        html.m-no-touch &:hover {
            &:after {
                @extend .opacity-100;
                @extend .scale-100;
            }
            .menu__opener__label__text {
                @extend .transform-default;
            }
        }
        &:before {
            @extend .content-empty;
            @include abs();
            @extend .bg-blackLight;
            @extend .borderRadius-circle;
        }
        &:after {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .t0;
            @extend .r-xs;
            @extend .w130;
            @extend .h100p;
            @extend .scale-50;
            @extend .opacity-0;
            @extend .bg-white;
            @extend .willChange-tp;
            @extend .borderRadius-xxxxxl;
            @extend .zIndex--1;
            transition:transform 0.3s $cubic4001, opacity 0.15s $cubic4001;
        }
        &__label {
            @extend .pos-centered-v;
            @extend .r100;
            @extend .mr-s;
            @extend .w100;
            @extend .nowrap;
            @extend .overflow-hidden;
            @extend .text-right;
            padding-bottom:1px;

            &__text {
                @extend .c-steel;
                @extend .willChange-transform;
                transform:translate3d(0, 100%, 0);
                transition:transform 0.3s $cubic4001;
            }
        }
        &__items {
            @extend .pos-centered;
            @extend .h22;
            @extend .zIndex-1;
        }
        &__line {
            @extend .pos-rel;
            width:28px;
            @extend .h4px;
            @extend .bg-white;
            @extend .mb-xxs;
            @extend .borderRadius-xs;
            transition:transform 0.3s $cubic4001;
        }
        &:hover {
            @extend .opacity-100;

            .menu__opener__line {
                &:first-child {
                    transform:translateY(-2px);
                }
                &:last-child {
                    transform:translateY(2px);
                }
            }
        }
        body[data-help="true"] & {
            @extend .scale-100;
            @extend .pointerEvents-all;
            transition:transform .55s $bounceForce;
        }
    }
}
.button__like {
    @extend .pos-abs;
    @extend .t-35;
    left:102px;
    @extend .zIndex-1;

    &:hover {
        @extend .zIndex-2;
    }
    &__items {
        @extend .flex-row-left-center;
        @extend .pos-tl;
        @extend .nowrap;
        @extend .scale-0;
        @extend .pointerEvents-all;
        margin-top:-2px;
        transform-origin:50% 100%;
        transition:transform .25s $cubic345;

        a {
            @extend .outline-none;
        }
    }
    &__item {
        @extend .pos-rel;
        @include accelerate(true);
        @extend .flex-centered;
        @extend .w55;
        @extend .cursor-pointer;
        @extend .willChange-transform;
        transition:transform .5s $cubic075;

        html.m-no-touch &:hover {
            transform:translate3d(0, 0, 0) scale(1.25);
        }
        html.m-no-touch &:active {
            transform:translate3d(0, 1px, 0) scale(0.9);
        }
    }
    &[data-open="true"]{
        body[data-help="true"] & {
            .button__like__items {
                @extend .scale-100;
                @extend .pointerEvents-all;
                transition:transform .55s $bounceForce;
            }
        }
        html.d-tablet.r-landscape & {
            .button__like__item {
                &[data-social="dk"],
                &[data-social="tw"] {
                    @extend .w10;

                    .icon {
                        @extend .display-none;
                    }
                }
            }
        }
    }
}
.button__import {
    @extend .pos-abs;
    @extend .b-l;
    @extend .l-l;
    @extend .w60;
    @extend .h60;
    @extend .opacity-0;
    @extend .scale-0;
    @extend .pointerEvents-none;
    @extend .zIndex-1;
    transition:transform .55s $bounceForce, opacity .08s;

    body[data-help="true"] & {
        @extend .scale-100;
        @extend .opacity-100;
        @extend .pointerEvents-all;
        transition:transform .55s $bounceForce 0.3s, opacity .08s 0.3s;
    }
    &__item {
        @include accelerate();
        @include abs();
        @extend .bg-redBright;
        @extend .borderRadius-circle;
        @extend .cursor-pointer;
        @extend .zIndex-1;
        will-change:transform, box-shadow;
        transform-origin:50% 0%;
        transition:transform 0.35s $cubic40, box-shadow 0.35s $cubic40;
        box-shadow:0 12px 30px -10px rgba($redBright,.48), 0 4px 30px 0px rgba($redBright,.2), 0 7px 16px -5px rgba($redBright,.3);

        &:active {
            @extend .scale-85;
        }
        &:hover {
            @extend .trY--xs;
            box-shadow:0 22px 40px -10px rgba($redBright,.48), 0 14px 30px 0px rgba($redBright,.2), 0 14px 20px -5px rgba($redBright,.3);

            ~ .button__import__help {
                .help__text__front {
                    @extend .opacity-0;
                }
                .help__text__back {
                    @extend .opacity-100;
                }
            }
            &:after {
                transform:rotateY(360deg);
                transition:transform .7s;
            }
        }
        &:after {
            @include abs_50(32, 32);
            @extend .content-empty;
            @extend .bg-cover;
            @extend .willChange-transform;
            transform-origin:50%;
            transform:rotateY(0deg);
            background-image:url(/public/images/jobs/hh/hh-white-short.png);
        }
    }
    &__help {
        @extend .t0;
        left:125px;
        @extend .w100;
        transform-origin:100% 100%;

        &:after {
            top:-80px;
            left:-90px;
            transform:scale3d(-1, -1, 1) rotate(36deg);
        }
        .help__text__back {
            @extend .w150;
        }
    }
}
.scroll {
    @include accelerate();
    @extend .pos-abs;
    @extend .t50;
    left:80.2%;
    transform:translate3d(-50%, -50%, 0) scale(0);
    @extend .pointerEvents-none;
    transition:transform .25s $cubic345;
}
html.d-no-mobile {
    .scroll {
        &__help {
            &[data-text="up"]{
                .scroll__text {
                    &[data-pos="up"]{
                        @extend .opacity-100;
                        transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
                    }
                }
            }
            &[data-text="down"]{
                .scroll__text {
                    &[data-pos="down"]{
                        @extend .opacity-100;
                        transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
                    }
                }
            }
        }
        &__text {
            @include accelerate();
            @extend .opacity-0;
            @extend .pos-abs;
            @extend .l--60;
            @extend .w120;
            @extend .text-right;
            @extend .zIndex-1;
            transition:transform 0.6s $cubic075, opacity 0.15s ease-in-out;
            transition-delay:0.2s;

            &[data-pos="up"]{
                @extend .b100;
                transform-origin:50% 0;
                transform:translate3d(0, 40px, 0) scale3d(0.4, 1, 1);
            }
            &[data-pos="down"]{
                @extend .t90;
                transform-origin:50% 100%;
                transform:translate3d(0, -40px, 0) scale3d(0.4, 1, 1);
            }
        }
        &__icon {
            @extend .pos-rel;
            @extend .display-block;
            @extend .w100;
            @extend .h100;
            @extend .opacity-80;
            @extend .zIndex-1;

            path {
                @extend .fill-blackLight;
            }
            &__arrow {
                @include accelerate();
                @extend .willChange-tp;
                transform:translate3d(0, 66%, 0);
                animation:scroll__arrow 1.4s infinite;
            }
            &__wheel {
                @include accelerate();
                @extend .willChange-transform;
                transform-origin:50% 0%;
                animation:scroll__wheel 1.4s infinite;
            }
        }
    }
}
html.d-mobile {
    .scroll {
        @extend .l80;

        &__help,
        &__icon {
            @extend .display-none;
        }
        &:after {
            @extend .content-empty;
            @extend .display-block;
            @extend .w90;
            @extend .h90;
            @extend .bg-cover;
            @extend .opacity-80;
            background-image:url(/preview/images/swipeDown.svg);
        }
    }
}
.icon {
    @extend .display-inlineBlock;
    @extend .vAlign-middle;

    path, rect, polygon, circle {
        transition:fill 0.08s;
    }
    &-fb {
        &.icon-m {
            width:24px;
            height:24px;
        }
    }
    &-dk {
        &.icon-m {
            width:24px;
            height:24px;
        }
    }
    &-vk {
        &.icon-m {
            width:30px;
            height:30px;
        }
    }
    &-tw {
        &.icon-m {
            width:24px;
            height:24px;
        }
    }
    &-gl {
        &.icon-m {
            width:32px;
            height:32px;
        }
    }
}
.btn {
    &-active {
        @extend .cursor-pointer;
        transition:all 0.2s $cubic215;

        &:active {
            transform:translate3d(0, 1px, 0) scale(0.8);
        }
    }
    &-hover {
        opacity:0.8;

        &:hover {
            opacity:1;
        }
    }
}

@keyframes scroll__wheel {
    0%, 100% {
        transform:scaleY(.4) translateY(0) translateZ(0);
    }
    20% {
        transform:scaleY(1) translateY(0) translateZ(0);
    }
    60% {
        transform:scaleY(.4) translateY(12px) translateZ(0);
    }
}
@keyframes scroll__arrow {
    from {
        transform:translate3d(0, -33%, 0);
    }
    to {
        transform:translate3d(0, 66%, 0);
        opacity:0;
    }
}
@media screen and (max-height: 620px){
    body#page .scroll {
        top:55%;
    }
}
