.menu {
    &__opener {
        @extend .pos-abs;
        @extend .t-25;
        @extend .l-30;
        @extend .transition-default;
        @extend .scale-0;
        @extend .opacity-70;
        @extend .pointerEvents-none;
        @extend .willChange-transform;
        @extend .cursor-pointer;
        transition:transform .25s $cubic345;

        &__line {
            width:29px;
            @extend .h4px;
            @extend .bg-steel;
            @extend .mb-xxs;
            @extend .borderRadius-xs;
            transition:transform 0.35s $cubic215;
        }
        &:hover {
            @extend .opacity-100;

            .menu__opener__line {
                &:first-child {
                    transform:translateY(-2px);
                }
                &:last-child {
                    transform:translateY(2px);
                }
            }
        }
        body[data-help="true"] & {
            @extend .scale-100;
            @extend .pointerEvents-all;
            transition:transform .55s $bounceForce, opacity .08s;
        }
    }
}
.button__like {
    @extend .pos-abs;
    top:22px;
    left:77px;

    &__opener {
        @extend .display-block;
        @extend .w35;
        @extend .h35;
        @extend .ml-xxs;
        @extend .bg-cover;
        @extend .opacity-50;
        @extend .cursor-pointer;
        @extend .transition-default;
        @extend .scale-0;
        @extend .pointerEvents-none;
        @extend .willChange-transform;
        background:url(/preview/images/like_fill.svg);

        &:hover {
            @extend .opacity-80;
        }
        &:active {
            @extend .scale-80;
        }
    }
    &:not([data-open="true"]){
        body[data-help="true"] & .button__like__opener {
            @extend .scale-100;
            @extend .pointerEvents-all;
            transition:transform .55s $bounceForce, opacity .08s;
        }
    }
    &__items {
        @extend .flex-row-left-center;
        @extend .pos-tl;
        @extend .nowrap;
        @extend .scale-0;
        @extend .pointerEvents-all;
        margin-top:-2px;
        transform-origin:50% 100%;
        transition:transform .25s $cubic345;

        a {
            @extend .outline-none;
        }
        html.d-tablet.r-landscape & {
            @extend .ml--xxs;
            margin-top:-3px;
        }
    }
    &__item {
        @extend .pos-rel;
        @include accelerate(true);
        @extend .flex-centered;
        @extend .w55;
        @extend .cursor-pointer;
        @extend .willChange-transform;
        transition:transform .5s $cubic075;

        &:hover {
            transform:translate3d(0, 0, 0) scale(1.25);
        }
        &:active {
            transform:translate3d(0, 1px, 0) scale(0.9);
        }
    }
    &[data-open="true"]{
        .button__like__opener {
            @extend .scale-0;
            @extend .pointerEvents-none;
        }
        body[data-help="true"] & {
            .button__like__items {
                @extend .scale-100;
                @extend .pointerEvents-all;
                transition:transform .55s $bounceForce;
            }
        }
        html.d-tablet.r-landscape & {
            .button__like__item {
                &[data-social="dk"] {
                    @extend .w10;

                    .icon {
                        @extend .display-none;
                    }
                }
            }
        }
    }
}
.button__editable {
    @extend .flex-centered;
    @extend .pos-tr;
    @extend .fontWeight-bold;
    @extend .fontSize-14;
    @extend .text-uppercase;
    @extend .cursor-pointer;
    @extend .textDecoration-none;
    @extend .scale-0;
    @extend .willChange-transform;
    @extend .pointerEvents-none;
    @extend .h40;
    @extend .pl25;
    @extend .pr-m;
    @extend .c-white;
    @extend .bg-blueLight;
    padding-bottom:2px;
    border-radius:0 0 0 100px;
    box-shadow:0 8.66px 30px 0 rgba(31,35,37,.078);
    transition:transform .25s $cubic345;

    body[data-help="true"] & {
        @extend .scale-100;
        @extend .pointerEvents-all;
        transition:transform .55s $bounceForce;
    }
    &:before {
        @extend .content-empty;
        @extend .display-block;
        width:16px;
        height:16px;
        @extend .mr-xs;
        @extend .bg-cover;
        @extend .opacity-70;
        background-image:url(/preview/images/pencil_white.svg);
    }
}
.button__import {
    @extend .pos-abs;
    @extend .b-l;
    @extend .l-l;
    @extend .w60;
    @extend .h60;
    @extend .opacity-0;
    @extend .scale-0;
    @extend .pointerEvents-none;
    transition:transform .55s $bounceForce, opacity .08s;

    body[data-help="true"] & {
        @extend .scale-100;
        @extend .opacity-100;
        @extend .pointerEvents-all;
        transition:transform .55s $bounceForce 0.3s, opacity .08s 0.3s;
    }
    &__item {
        @include accelerate();
        @include abs();
        @extend .bg-redBright;
        @extend .borderRadius-circle;
        @extend .cursor-pointer;
        @extend .zIndex-1;
        will-change:transform, box-shadow;
        transform-origin:50% 0%;
        transition:transform 0.35s $cubic40, box-shadow 0.35s $cubic40;
        box-shadow:0 12px 30px -10px rgba($redBright,.48), 0 4px 30px 0px rgba($redBright,.2), 0 7px 16px -5px rgba($redBright,.3);

        &:active {
            @extend .scale-85;
        }
        &:hover {
            @extend .trY--xs;
            box-shadow:0 22px 40px -10px rgba($redBright,.48), 0 14px 30px 0px rgba($redBright,.2), 0 14px 20px -5px rgba($redBright,.3);

            ~ .button__import__help {
                .help__text__front {
                    @extend .opacity-0;
                }
                .help__text__back {
                    @extend .opacity-100;
                }
            }
            &:after {
                transform:rotateY(360deg);
                transition:transform .7s;
            }
        }
        &:after {
            @include abs_50(32, 32);
            @extend .content-empty;
            @extend .bg-cover;
            @extend .willChange-transform;
            transform-origin:50%;
            transform:rotateY(0deg);
            background-image:url(/public/images/jobs/hh/hh-white-short.png);
        }
    }
    &__help {
        @extend .t0;
        left:125px;
        @extend .w100;
        transform-origin:100% 100%;

        &:after {
            top:-80px;
            left:-90px;
            transform:scale3d(-1, -1, 1) rotate(36deg);
        }
        .help__text__back {
            @extend .w150;
        }
    }
}
.addUser {
    @extend .pos-centered-v;
    right:-7px;
    @extend .w80;
    @extend .h80;
    @extend .bg-blackLight;
    @extend .cursor-pointer;
    border-radius:50% 0 0 50%;
    box-shadow:0 8.66px 30px 0 rgba(31,35,37,.078);
    @extend .zIndex-1;

    &__button {
        @include abs_50(42, 45);
        margin-left:-17px;
        @extend .bg-cover;
        background:url(/preview/images/addUser.svg);
    }
    &__help {
        @extend .t100;
        @extend .r-30;
        width:150px;
        @extend .mt60;
        transform-origin:0% 0%;

        &:after {
            top:-110px;
            left:-10px;
            transform:scale3d(1, -1, 1) rotate(90deg);
        }
    }
    &__help__color {
        @extend .b100;
        @extend .r-s;
        @extend .mb90;
        width:150px;
        transform-origin:0% 100%;

        &:after {
            @extend .l--xxs;
            bottom:-115px;
            transform:scale3d(1, 1, 1) rotate(110deg);
        }
    }
}
.scroll {
    @extend .pos-abs;
    @extend .t50;
    left:80.2%;
    transform:translate3d(-50%, -50%, 0) scale(0);
    @extend .w100;
    @extend .h100;
    @extend .opacity-80;
    @extend .pointerEvents-none;
    transition:transform .25s $cubic345;

    path {
        @extend .fill-blackLight;
    }
    &__arrow {
        @extend .willChange-tp;
        transform:translate3d(0, 66%, 0);
        animation:scroll__arrow 1.4s infinite;
    }
}
.vk__like {
    @extend .pos-abs;
    @extend .b-l;
    @extend .r-m;
}
.icon {
    @extend .display-inlineBlock;
    @extend .vAlign-middle;

    path, rect, polygon, circle {
        transition:fill 0.08s;
    }
    &-fb {
        &.icon-m {
            width:24px;
            height:24px;
        }
    }
    &-dk {
        &.icon-m {
            width:24px;
            height:24px;
        }
    }
    &-vk {
        &.icon-m {
            width:30px;
            height:30px;
        }
    }
    &-tw {
        &.icon-m {
            width:24px;
            height:24px;
        }
    }
    &-gl {
        &.icon-m {
            width:32px;
            height:32px;
        }
    }
}
.btn {
    &-active {
        @extend .cursor-pointer;
        transition:all 0.2s $cubic215;

        &:active {
            transform:translate3d(0, 1px, 0) scale(0.8);
        }
    }
    &-hover {
        opacity:0.8;

        &:hover {
            opacity:1;
        }
    }
}

@keyframes scroll__arrow {
    from {
        transform:translate3d(0, -33%, 0);
    }
    to {
        transform:translate3d(0, 66%, 0);
        opacity:0;
    }
}
