.resume__list-m {
    &:after {
        @extend .content-empty;
        @extend .pos-abs;
        @extend .t-xs;
        @extend .r-xs;
        @extend .bg-cover;
        @extend .w25;
        @extend .h25;
        background-image:url(/assets/images/favicons/60.png);
    }
    &__menu {
        @extend .pos-tl;
        width:110px;
        height:130px;
        @extend .bg-blue;
        @extend .overflow-hidden;

        &:before {
            @extend .content-empty;
            @extend .pos-abs;
            top:-20px;
            left:-30px;
            width:432px;
            height:486px;
            @extend .borderRadius-circle;
            @extend .bg-white;
        }
        &:after {
            @include accelerate();
            @extend .content-empty;
            @extend .pos-tl;
            @extend .mt-s;
            // @include ui-icon("more_v_white", 32px, 32px);
            @include ui-icon("coderwall_fill_white", 32px, 32px);
            transform:translate3d(10px, 0, 0) rotate(-90deg);
        }
    }
    &__scroll {
        @extend .pos-rel;
        @extend .minH-100v;
        @extend .pb70;
        @extend .bg-white;
        @extend .willChange-transform;

        &:before {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .b--l;
            @extend .l0;
            @extend .w100p;
            @extend .h40;
            @extend .bg-white;
            @extend .zIndex--1;
        }
    }
    &__title {
        @extend .c-blue;
        @extend .fontSize-20;
        @extend .fontWeight-8;
        @extend .text-uppercase;
        @extend .mtb-xxs;
    }
    &__subtitle {
        @extend .c-gray;
        font-size:16.5px;
        @extend .mb-s;
    }
    &__item {
        @extend .pos-rel;
        @extend .display-block;
        height:102px;
        border-bottom:1px solid $smoke;
        will-change:background-color;
        @extend .transition-default;
        @extend .userSelect-none;

        &__cell {
            height:102px;
        }
        &__cover {
            @include accelerate();
            @extend .flex-centered;
            width:48px;
            height:48px;
            @extend .borderRadius-circle;
            @extend .c-white;
            @extend .fontFamily-gotham;
            font-size:27.5px;
            @extend .fontWeight-8;
            @extend .text-uppercase;
            padding:4px 0 0 1px;
            @extend .transition-default;
        }
        &__title {
            @extend .fontSize-20;
            @extend .lineHeight-m;
            @include textEllipsis(100%, 54px, 2);
        }
        &__label {
            @include accelerate();
            @extend .zIndex-2;

            &[data-label="free"]{
                @extend .pos-tl;

                &:before {
                    @extend .pos-tl;
                    @extend .content-empty;
                    border-bottom:40px solid transparent;
                    border-left:40px solid $blue;
                    border-right:40px solid transparent;
                }
                &:after {
                    @include accelerate();
                    content:"FREE";
                    @extend .display-block;
                    @extend .c-white;
                    @extend .fontSize-12;
                    @extend .fontWeight-bold;
                    transform:rotate(-45deg) translate3d(-4px, -2px, 0);
                    @extend .p-xxs;
                }
            }
            &[data-label="premium"]{
                @extend .pos-abs;
                @extend .t-xs;
                @extend .r-xs;
                @include ui-icon("crown", 21px, 21px);
            }
        }
        &__percent {
            @extend .bg-smoke;
            @extend .c-grayDark;
            @extend .fontSize-22;
            @extend .fontWeight-bold;
            @extend .m0;
            will-change:background-color;
            @extend .transition-default;
        }
        &__menu {
            @include accelerate();
            @include ui-icon("more_v", 30px, 30px);
            @extend .transition-default;

            &:active {
                transform:translate3d(0, 0, 0) scale(1.1);
            }
        }
        $i: 0;
        @each $color in (#9471DB, #FFB84D, #B871B8, #71B84D, #FFDB71, #4DB8B8, #4DB8DB, #DB94DB, #FFACC5, #FF944D, #B8DB4D, #FF7194, #6AD19F){
            $i: $i + 1;
            &:nth-of-type(#{$i}) {
                .resume__list-m__item__cover {
                    background-color:saturate($color,5%);
                }
            }
        }
        &:active {
            background-color:rgba($blue,.1);

            .resume__list-m__item__cover {
                transform:scale(1.1);
            }
            .resume__list-m__item__percent {
                background-color:rgba($blue,.1);
            }
        }
        &[data-blank="true"]{
            .resume__list-m__item__cover {
                @extend .p0;
            }
            .resume__list-m__item__menu {
                @extend .bg-blue;
                @extend .w10;
                @extend .h30;
                @extend .opacity-25;
                @extend .borderRadius-l;
            }
        }
    }
}
