.resume__list-m {
    &__item {
        @include accelerate();
        @extend .pos-rel;
        @extend .display-block;
        @extend .userSelect-none;
        height:102px;
        border-bottom:1px solid $smoke;
        will-change:background-color;
        transition:background-color 0.08s;

        &:active {
            background-color:rgba($blue,.1);

            .resume__list-m__item__cover {
                transform:scale(1.1);
            }
            .resume__list-m__item__percent {
                background-color:rgba($blue,.1);
            }
        }
        &__cell {
            height:102px;
        }
        &__cover {
            @include accelerate();
            @extend .flex-centered;
            width:48px;
            height:48px;
            @extend .bg-blue;
            @extend .borderRadius-circle;
            @extend .c-white;
            @extend .fontFamily-gotham;
            font-size:27.5px;
            @extend .fontWeight-8;
            @extend .text-uppercase;
            padding:4px 0 0 1px;
            @extend .willChange-transform;
            @extend .transition-default;
        }
        &__title {
            @extend .fontSize-20;
            @extend .lineHeight-m;
            @include textEllipsis(100%, 54px, 2);
        }
        &__label {
            @include accelerate();
            @extend .zIndex-2;

            &[data-label="free"]{
                @extend .pos-tl;

                &:before {
                    @extend .pos-tl;
                    @extend .content-empty;
                    border-bottom:40px solid transparent;
                    border-left:40px solid $blue;
                    border-right:40px solid transparent;
                }
                &:after {
                    @include accelerate();
                    content:"FREE";
                    @extend .display-block;
                    @extend .c-white;
                    @extend .fontSize-12;
                    @extend .fontWeight-bold;
                    transform:rotate(-45deg) translate3d(-4px, -2px, 0);
                    @extend .p-xxs;
                }
            }
            &[data-label="premium"]{
                @extend .pos-abs;
                @extend .t-xs;
                @extend .r-xs;
                @include ui-icon("crown", 21px, 21px);
            }
        }
        &__percent {
            @extend .bg-smoke;
            @extend .c-grayDark;
            @extend .fontSize-22;
            @extend .fontWeight-bold;
            @extend .m0;
            will-change:background-color;
            transition:background-color 0.08s;
        }
        &__menu {
            @include accelerate();
            @include ui-icon("more_v", 30px, 30px);
            @extend .transition-default;

            &:active {
                transform:translate3d(0, 0, 0) scale(1.1);
            }
        }
        $i: 0;
        @each $color in ($violetLight, $green, $emerald, $pink, $blue){
        // @each $color in (#9471DB, #FFB84D, #B871B8, #71B84D, #FFDB71){
            $i: $i + 1;
            &[data-blank="true"]:nth-of-type(#{$i}) {
                .resume__list-m__item__cover {
                    background-color:$color;
                    // background-color:saturate($color,5%);
                }
            }
        }
        &[data-blank="true"]{
            .resume__list-m__item__cover {
                @extend .p0;
            }
            .resume__list-m__item__menu {
                @extend .bg-blue;
                @extend .w10;
                @extend .h30;
                @extend .opacity-25;
                @extend .borderRadius-l;
            }
        }
    }
}
