.resume__list-m {
    &:after {
        @extend .content-empty;
        @extend .pos-abs;
        @extend .t-xs;
        @extend .r-xs;
        @extend .bg-cover;
        @extend .w25;
        @extend .h25;
        background-image:url(/assets/images/favicons/60.png);
    }
    &__menu {
        @extend .pos-tl;
        width:110px;
        height:130px;
        @extend .bg-blue;
        @extend .overflow-hidden;

        &:before {
            @extend .content-empty;
            @extend .pos-abs;
            top:-20px;
            left:-30px;
            width:432px;
            height:486px;
            @extend .borderRadius-circle;
            @extend .bg-white;
        }
        &:after {
            @include accelerate();
            @extend .content-empty;
            @extend .pos-tl;
            @extend .mt-s;
            // @include ui-icon("more_v_white", 32px, 32px);
            @include ui-icon("coderwall_fill_white", 32px, 32px);
            transform:translate3d(10px, 0, 0) rotate(-90deg);
        }
    }
    &__scroll {
        @extend .pos-rel;
        @extend .minH-100v;
        @extend .pb70;
        @extend .bg-white;
        @extend .willChange-transform;

        &:before {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .b--l;
            @extend .l0;
            @extend .w100p;
            @extend .h40;
            @extend .bg-white;
            @extend .zIndex--1;
        }
    }
    &__title {
        @extend .c-blue;
        @extend .fontSize-20;
        @extend .fontWeight-8;
        @extend .text-uppercase;
        @extend .mtb-xxs;
    }
    &__subtitle {
        @extend .c-gray;
        font-size:16.5px;
        @extend .mb-s;
    }
}
