home-employers {
    .employers__items {
        div[class^="col-"]{
            @extend .pos-rel;
            @extend .h150;
            @extend .mtb-m;
        }
    }
    .employers__total {
        @extend .m0-auto;
        @extend .flex-column-centered;
        @extend .h160;
        @extend .borderRadius-l;
        @extend .cursor-pointer;
        box-shadow:0 0 0 1px rgba($white,.3);
        transition:box-shadow 0.3s $cubic215;

        &:hover {
            box-shadow:0 0 0 1px rgba($white,.4);
        }
        &__title {
            font-size:58px;
            line-height:70px;
            @extend .fontWeight-3;
            @extend .fontFamily-myriad;
        }
        &__text {
            @extend .c-breeze;
        }
    }
    .employers__logo {
        @extend .pos-centered;
        @extend .bg-cover;

        &[data-logo="google"]{
            width:190px;
            height:90px;
            background-image:url(/public/images/home/employers/google.png);
        }
        &[data-logo="cocacola"]{
            width:190px;
            height:90px;
            background-image:url(/public/images/home/employers/cocacola.png);
        }
        &[data-logo="archlinux"]{
            width:190px;
            height:90px;
            background-image:url(/public/images/home/employers/archlinux.png);
        }
        &[data-logo="budget"]{
            width:190px;
            height:90px;
            background-image:url(/public/images/home/employers/budget.png);
        }
        &[data-logo="aeroflot"]{
            width:190px;
            height:136px;
            background-image:url(/public/images/home/employers/aeroflot.png);
        }
        &[data-logo="enter"]{
            width:190px;
            height:136px;
            background-image:url(/public/images/home/employers/enter.png);
        }
        &[data-logo="nike"]{
            width:175px;
            height:125px;
            background-image:url(/public/images/home/employers/nike.png);
        }
        &[data-logo="ulmart"]{
            width:168px;
            height:120px;
            background-image:url(/public/images/home/employers/ulmart.png);
        }
        &[data-logo="lamoda"]{
            width:190px;
            height:136px;
            background-image:url(/public/images/home/employers/lamoda.png);
        }
        &[data-logo="deliveryclub"]{
            width:190px;
            height:136px;
            background-image:url(/public/images/home/employers/deliveryclub.png);
        }
        &[data-logo="facebook"]{
            width:190px;
            height:90px;
            background-image:url(/public/images/home/employers/facebook.png);
        }
        &[data-logo="sony"]{
            width:173px;
            height:82px;
            background-image:url(/public/images/home/employers/sony.png);
        }
        &[data-logo="walmart"]{
            width:190px;
            height:90px;
            background-image:url(/public/images/home/employers/walmart.png);
        }
        &[data-logo="x5"]{
            width:190px;
            height:136px;
            background-image:url(/public/images/home/employers/x5.png);
        }
        &[data-logo="adidas"]{
            width:190px;
            height:136px;
            background-image:url(/public/images/home/employers/adidas.png);
        }
        &[data-logo="apple"]{
            width:180px;
            height:129px;
            background-image:url(/public/images/home/employers/apple.png);
        }
    }
}
