.home__functions {
    @extend .pos-rel;
    @extend .text-center;
    @extend .bg-white;
    @extend .pt-xl;
    @extend .pb25;

    html.d-tablet.r-landscape & {
        padding-top:65px;
    }
    &__items {
        html.d-tablet.r-landscape & {
            margin-left:-25px;
            margin-right:-25px;
        }
    }
    &__item {
        @include accelerate(true);
        @extend .mb-l;
        will-change:transform;
        transition:transform 0.35s $cubic23;

        path, rect, polygon {
            transition:fill 0.35s $cubic23;
        }
        &__icon {
            @extend .flex-centered;
            @extend .w100p;
            height:148px;
        }
        .icon-pdf.icon-xl {
            width:114px;
            height:114px;
            margin-top:-17px;
            margin-bottom:-17px;
            transform:translateY(14px);
        }
        &__title {
            @extend .pos-abs;
            @extend .t100;
            @extend .l0;
            @extend .w100p;
            @extend .fontFamily-govern;
            @extend .c-blackLight;
            @extend .fontSize-22;
            @extend .willChange-tp;
            transition:all 0.5s $cubic22 0.3s;
            transform:translate3d(0, 0, 0);
        }
        &__text {
            @include accelerate();
            @extend .pos-bl;
            @extend .w100p;
            @extend .plr-m;
            @extend .pb-l;
            @extend .bg-white;
            @extend .borderRadius-xl;
            @extend .opacity-0;
            @extend .zIndex--1;
            font-size:19.5px;
            padding-top:185px;
            height:297px;
            will-change:opacity, box-shadow, transform;
            transition:all 0.35s $cubic23;
            transform:translate3d(0, 120px, 0) scale(0.95);
        }
        html.m-no-touch & {
            &:hover {
                transform:translateY(-15px);

                .home__functions__item__title {
                    @extend .opacity-0;
                    transition:none;
                    transform:translate3d(0, 20px, 0);
                }
                .home__functions__item__text {
                    @extend .opacity-100;
                    box-shadow:0 20px 25px rgba(31,35,37,.15);
                    transform:translate3d(0, 120px, 0) scale(1);
                }
                path, rect, polygon {
                    @extend .fill-blue;
                }
            }
        }
    }
}
