.home__functions {
    @extend .pos-rel;
    @extend .text-center;
    @extend .bg-white;
    padding-top:80px;
    padding-bottom:25px;

    html.d-tablet.r-landscape & {
        padding-top:65px;
    }
    html.d-phone & {
        @extend .bg-blackLight;
        padding-top:20px;
        padding-bottom:80px;
    }
    &__items {
        html.d-tablet.r-landscape & {
            margin-left:-25px;
            margin-right:-25px;
        }
    }
    .icon-pdf.icon-xl {
        width:114px;
        height:114px;
        margin-top:-17px;
        margin-bottom:-17px;
        transform:translateY(14px);
    }
}
