.home__header {
    @extend .pos-rel;
    height:105vh;
    @extend .text-center;
    @extend .c-white;
    @extend .overflow-hidden;

    &__video {
        @extend .pos-tl;
        @extend .minWH-100p;
        @extend .willChange-opacity;
        @extend .opacity-01;
        transition:opacity 0.5s $cubic2501;

        &[data-show="true"]{
            @extend .opacity-100;
        }
        html.d-mobile & {
            left:50%;
            transform:translateX(-50%) scale(1.2);
        }
    }
    &:after {
        @extend .content-empty;
        @include abs();
        background-color:rgba($blue,.85);
    }
    &__text {
        @include accelerate();
        @extend .pos-rel;
        padding-top:29.6vh;
        @extend .zIndex-2;

        html.d-tablet & {
            padding-top:27.6vh;
        }
    }
    &__title {
        @extend .fontSize-72;
        @extend .fontWeight-8;
        @extend .mb-l;
        @extend .textShadow-light;
        letter-spacing:-0.04em;

        html.d-tablet.r-landscape & {
            @extend .letterSpacing--xxxl;
            margin-left:-10px;
            margin-right:-10px;
        }
    }
    &__subtitle {
        font-size:30px;
        line-height:1.3;
        letter-spacing:-1.4px;
        @extend .mb-l;
    }
    .btn-white-hover {
        html.m-no-touch &:hover {
            @extend .bg-lime;
            @extend .c-blackLight;
            box-shadow:none;
        }
    }
    .buttonPremium {
        @extend .pos-rel;

        &:after {
            @include accelerate();
            @extend .content-empty;
            @extend .pos-abs;
            @extend .l50;
            top:16px;
            @extend .bg-cover;
            margin-left:2px;
            @extend .opacity-0;
            @extend .pointerEvents-none;
            @include ui-icon("like_fill_pink", 24px, 24px);
            @extend .willChange-tp;
            transition:transform 0.45s $bounceForce, opacity 0.2s $bounceForce;
            transform:translate3d(-50%, 10px, 0) scaleY(3);
            transform-origin:top;
        }
        &__halfleft,
        &__halfright {
            @extend .display-inlineBlock;
            @include accelerate(true);
            @extend .willChange-transform;
            transition:0.4s $cubic263, color 0.15s $cubic215;
        }
        html.m-no-touch &:hover {
            &:after {
                @extend .opacity-100;
                transform:translate3d(-50%, 0, 0) scaleY(1);
            }
            .buttonPremium__halfleft {
                transform:translate3d(-15px, 0, 0);
            }
            .buttonPremium__halfright {
                transform:translate3d(15px, 0, 0);
            }
        }
    }
}
