#home {
    @extend .display-block;
    @extend .bg-blackLight;
    @extend .overflow-hidden;

    .screen {
        @extend .display-block;
    }
    h2 {
        font-size:38px;
        line-height:46px;
    }
    small {
        @extend .display-block;
        @extend .fontSize-16;
        letter-spacing:5.5px;
        @extend .text-uppercase;
    }
    .ui-scroll {
        @extend .zIndex-101;
    }
    .ui-scroll__bar,
    .ui-scroll__handle__inner {
    	@extend .bg-lime;
    }
}
