section-plans {
    @extend .mb-xl;

    // &:after {
    //     @extend .mt-l;
    //     @extend .centered-h;
    //     @extend .display-block;
    //     @extend .content-empty;
    //     width:1376px;
    //     height:788px;
    //     @extend .bg-cover;
    //     background-image:url(/public/images/home/screen1_large.jpg);
    //
    //     html.d-retina.d-no-tablet & {
    //         background-image:url(/public/images/home/screen1_large_2x.jpg);
    //     }
    // }
    &.content__section {
        @extend .overflow-visible;
    }
    .content__block {
        @extend .pb0;
    }
    .premium {
        @extend .mlr-xs;
        height:240px;
        border:1px solid $smoke;
        @extend .borderRadius-xl;

        div[class^="col-"]{
            height:226px;
        }
        &__container {
            @extend .text-left;
        }
        &__title {
            font-size:25px;
            line-height:30px;
            @extend .fontFamily-myriad;
        }
        &__text {
            @extend .c-silver;
            @extend .fontSize-18;
            @extend .mt-xxs;
        }
        &__sale {
            @extend .flex-centered;
            @extend .pos-centered-h;
            @extend .t--xs;
            @extend .h28;
            @extend .c-white;
            @extend .bg-green;
            @extend .plr-xs;
            @extend .fontWeight-bold;
            @extend .fontSize-13;
            @extend .fontFamily-myriad;
            @extend .text-uppercase;
            @extend .borderRadius-s;
            @extend .ml--m;
        }
        .plan__price {
            @extend .trY--xss;
            @extend .ml-m;

            &__text {
                @extend .ml2;
                @extend .w70;
            }
        }
        .icon-premium {
            width:112px;
            height:112px;
            @extend .mt-m;
            @extend .trX-xs;
        }
    }
    .swither {
        .sw {
            &.-active {
                @extend .link-primary;
            }
            &:not(.-active){
                @extend .c-black;
                @extend .pointerEvents-none;
            }
        }
    }
    .plan {
        @extend .pos-rel;
        @extend .pt-xxs;
        @extend .plr-xs;
        padding-bottom:145px;
        @extend .m0-auto;
        width:320px;
        @extend .text-center;
        border:1px solid $smoke;
        transition:box-shadow 0.3s $cubic4001, border-color 0.3s $cubic4001;
        box-shadow:0 1px 1px 0 rgba($blackA,.05);
        @extend .borderRadius-xl;

        &:hover {
            border-color:transparent;
            box-shadow:0 45.4px 70px -20.4px rgba($blackA,.3), 1px 0 0 0 rgba($blackA,.08), 0 1px 0 0 rgba($blackA,.08), -1px 0 0 0 rgba($blackA,.08), 0 -1px 0 0 rgba($blackA,.08);

            .plan__item {
                @extend .c-slate;
            }
        }
        &__wrapper {
            @extend .plr-s;
        }
        &__header {
            @extend .pt-s;
            @extend .plr-s;
        }
        &[data-plan="free"]{
            .plan__title {
                @extend .c-blueA;
            }
        }
        &[data-plan="medium"]{
            .plan__title {
                @extend .c-violet;
            }
        }
        &[data-plan="premium"]{
            .plan__title {
                @extend .c-green;
            }
        }
        &__title {
            @extend .fontFamily-myriad;
            @extend .fontWeight-5;
            @extend .fontSize-22;
        }
        &__text {
            @extend .c-silver;
            @extend .mt-xxs;
        }
        &__price {
            @extend .display-inlineBlock;
            @extend .pos-rel;
            @extend .mt25;
            @extend .mb9;
            @extend .fontFamily-myriad;

            &__label {
                @extend .pos-tl;
                @extend .fontSize-22;
                transform:translate3d(-20px, 0, 0);
            }
            &__money {
                font-size:50px;
                line-height:50px;
            }
            &__text {
                @extend .pos-abs;
                @extend .b0;
                @extend .l100p;
                @extend .w60;
                font-size:13px;
                line-height:15px;
                @extend .text-left;
                transform:translate3d(12px, -7px, 0);
            }
        }
        &__items {
            @extend .pb-s;
            @extend .plr-s;
            @extend .mb-xxs;
        }
        &__item {
            @extend .pt-s;
            @extend .c-gray;
            transition:color 0.3s $cubic215;

            &__label {
                @extend .pos-rel;
                @extend .display-inlineBlock;
            }
            &__help {
                @extend .pos-rel;
                @extend .display-inlineBlock;
                @extend .ml-xxs;
                margin-right:-14px;
            }
            .badge {
                transform:translate3d(-20px, -3px, 0);
            }
        }
        &__progress {
            margin:0 -11px;
            @extend .mb-m;

            &__line {
                @extend .mt-m;
                @extend .pos-rel;
                @extend .h3px;
                @extend .overflow-hidden;

                &:after {
                    @extend .content-empty;
                    @extend .pos-tr;
                    @extend .w15p;
                    @extend .h100p;
                    background:linear-gradient(to left, $white, rgba($white,0));
                }
                &__item {
                    @include accelerate();
                    @extend .pos-tl;
                    width:320px;
                    @extend .h100p;
                    background:linear-gradient(to right, $red, $orange, $yellow, $yellowLight, $green, $greenLight, $emerald);
                    @extend .willChange-transform;
                    transform:translate3d(-100%, 0, 0);
                    transition:transform 1.7s $cubic215;

                    &.-anim {
                        @extend .transform-default;
                    }
                    &[data-delay="0.25"]{
                        transition-delay:0.25s;
                    }
                    &[data-delay="0.5"]{
                        transition-delay:0.5s;
                    }
                }
            }
        }
        &__footer {
            @extend .flex-centered;
            @extend .pos-bl;
            @extend .w100p;
            height:125px;
            @extend .pb-xxs;
            @extend .bg-snowA;
            @extend .borderRadiusBottom-xl;
        }
        &__or {
            @extend .display-inlineBlock;
            @extend .pos-rel;
            margin:50px auto 40px;
            @extend .c-primary;
            @extend .fontSize-14;
            @extend .letterSpacing-xxl;
            @extend .fontFamily-myriad;
            @extend .text-uppercase;

            &:before,
            &:after {
                @extend .content-empty;
                @extend .pos-centered-v;
                @extend .w80;
                @extend .h1px;
                @extend .bg-primary;
            }
            &:before {
                @extend .r100p;
                @extend .mr30;
            }
            &:after {
                @extend .l100p;
                @extend .ml30;
            }
        }
    }
}
