@media only screen and (min-height: 800px){
    home-professions.content__section {
        height:1200px;

        .section__professions {
            height:520px;
        }
        .prof__items__photo {
            height:575px;
        }
    }
}
