.home__section1__container,
.home__section2__container,
.home__section3__container,
.home__section4__container {
    height:720px;
}
.home__section2__container {
    html.d-tablet.r-portrait & {
        height:620px;
    }
}
.home__section1__header {
    padding-top:100px;
}
.home__section1__phone {
    @extend .pos-rel;
    @extend .centered;
    width:370px;
    height:752px;
    transform:translate3d(0, 105px, 0);
    @extend .bg-cover;
    background-image:url(/public/images/home/phone_black.png);

    &__viewport {
        @include accelerate();
        @extend .pos-abs;
        top:91px;
        left:26px;
        width:318px;
        height:564px;
        border:1px solid #000;
        @extend .overflow-hidden;

        &:after {
            @extend .content-empty;
            @extend .pos-tl;
            @extend .w100p;
            height:135px;
            @extend .bg-cover;
            background-image:url(/public/images/home/phone_nav.png);
        }
    }
    &__screen {
        @include accelerate(true);
        @extend .pos-tl;
        @extend .w100p;
        @extend .willChange-transform;
        width:316px;
        height:1686px;
        @extend .bg-cover;
        background-size:316px 1686px;
    }
}
.home__section2__ipad {
    @extend .pos-rel;
    @extend .centered;
    width:582px;
    height:720px;
    transform:translate3d(-15px, 67px, 0);
    @extend .bg-cover;
    background-image:url(/public/images/home/ipad_portrait.png);

    html.d-mobile & {
        transform:translate3d(0, 60px, 0);
    }
    &__viewport {
        @include accelerate();
        @extend .pos-abs;
        top:90px;
        left:134px;
        width:404px;
        height:539px;
        @extend .overflow-hidden;

        &:after {
            @extend .content-empty;
            @extend .pos-tl;
            @extend .w100p;
            height:110px;
            @extend .bg-cover;
            background-image:url(/public/images/home/ipad_portrait_nav.png);
        }
    }
    &__screen {
        @include accelerate(true);
        @extend .pos-tl;
        @extend .w100p;
        @extend .willChange-transform;
        width:404px;
        height:1412px;
        @extend .bg-cover;
        background-size:404px 1412px;
    }
    &__overphone {
        @extend .pos-bl;
        width:269px;
        height:516px;
        @extend .bg-cover;
        background-image:url(/public/images/home/ipad_overphone.png);
    }
}
.home__section2__plan__container {
    html.d-mobile & {
        @extend .text-center;
    }
}
.home__section3__container {
    .bg-cover {
        width:1952px;
        height:1160px;
        background-image:url('/public/images/home/ipad_screens.png');
        // background-image:url('/public/images/promo/premium/slide4_1_2.jpg');
        //
        // @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
        //     background-image:url('/public/images/promo/premium/slide4_1_2@2x.jpg');
        // }
    }
}
.home__section4 {
    .hh {
        &__link {
            &:hover {
                .hh__logo {
                    transform:rotateY(360deg);
                    transition:transform .7s;
                }
            }
        }
        .hh__logo {
            @include accelerate();
            @extend .willChange-transform;
            transform-origin:50%;
            transform:rotateY(0deg);
        }
    }
}
