<section-master class="section__master" data-open="false" data-menu="false" data-options="false">

    <div class="master__title__main hidden-xs">
        <div class="master__title master__title__main__inner">
            Я хочу
        </div>
        <div class="master__close">
            <div class="master__close__button" onClick={ hide } onUpdate="none"></div>
        </div>
    </div>

    <div onClick={ hide } onUpdate="none" class="master__close__mobile visible-xs"></div>
    <div onClick={ nextSlide } onUpdate="none" class="master__arrow__mobile visible-xs"></div>

    <section-master-options></section-master-options>

    <div name="screensEl" class="screens screens-phone" data-fixed="true">
        <div class="screens__content">
            <div class="master__block screen" data-pos={ left : !app.device.isPhone }>
                <div class="master__block__items">
                    <div if={ !item.hidden } onClick={ onSelect } onUpdate="none" each={ item in get.items("screen1") } no-reorder class="master__block__item">
                        <span class="master__block__link">{ item.title }</span>
                    </div>
                </div>
            </div>
            <div class="master__block screen" data-pos={ top : !app.device.isPhone }>
                <div class="master__block__items">
                    <div if={ !item.hidden } onClick={ onSelect } onUpdate="none" each={ item in get.items("screen2") } no-reorder class="master__block__item">
                        <span class="master__block__link">{ item.title }</span>
                    </div>
                </div>
            </div>
            <div class="master__block screen" data-pos={ bottom : !app.device.isPhone }>
                <div class="master__block__items">
                    <div if={ !item.hidden } onClick={ onSelect } onUpdate="none" each={ item in get.items("screen3") } no-reorder class="master__block__item">
                        <span class="master__block__link">{ item.title }</span>
                    </div>
                </div>
            </div>
            <div class="master__block screen" data-pos={ right : !app.device.isPhone }>
                <div class="master__block__items">
                    <div if={ !item.hidden } onClick={ onSelect } onUpdate="none" each={ item in get.items("screen4") } no-reorder class="master__block__item">
                        <span class="master__block__link">{ item.title }</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.default = function(){
        return {
            force: false,
            notHide: false,
            waterfall: false
        }
    };

    $.items = [
        {
            id: "stat",
            pos: "left",
            title: "Отчет о просмотрах резюме",
            waterfall: true,
            button: {
                title: "Смотреть статистику",
                callback: function(){
                    $Sections.resume.stat.show($.get.id());
                    app.metrika.set("master.stat", true);
                }
            }
        },
        {
            id: "sendmail",
            pos: "left",
            title: "Отправить резюме по почте",
            waterfall: true,
            button: {
                title: "Перейти к отправке",
                callback: function(){
                    $Sections.resume.sendmail.show($.get.id());
                    app.metrika.set("master.sendmail", true);
                }
            }
        },
        {
            id: "pdf",
            pos: "left",
            title: "Сохранить резюме в PDF",
            waterfall: true,
            button: {
                title: "Получить PDF",
                callback: function(){
                    $store.data.onGetPdf($store.data.select({"_id": $.get.id()}).get());
                    app.metrika.set("master.pdf", true);
                }
            }
        },
        {
            id: "removeLogo",
            pos: "left",
            title: "Резюме в PDF без логотипа",
            hidden: $account.get("plan") == "premium",
            callback: function(){
                $Sections.plan.show("premium");
                app.metrika.set("master.removeLogo", true);
            }
        },
        {
            id: "print",
            pos: "left",
            title: "Распечатать резюме",
            options: {
                force: true,
                notHide: true
            },
            waterfall: true,
            hidden: app.device.isPhone,
            button: {
                title: "Распечатать",
                callback: function(){
                    $store.data.onPrint($.get.id());
                    app.metrika.set("master.print", true);
                }
            }
        },
        {
            id: "import",
            pos: "top",
            title: "Импорт резюме из HH.ru",
            callback: function(){
                $Sections.resume.impt.show();
                app.metrika.set("master.import", true);
            }
        },
        {
            id: "payment",
            pos: "top",
            title: "Пополнить баланс",
            callback: function(){
                $Sections.payment.show();
                app.metrika.set("master.payment", true);
            }
        },
        {
            id: "inbox",
            pos: "top",
            title: "Посмотреть входящие",
            callback: function(){
                $Sections.inbox.section.show();
                app.metrika.set("master.inbox", true);
            }
        },
        {
            id: "support",
            pos: "top",
            title: "Обратиться в поддержку",
            callback: function(){
                $Sections.messenger.show();
                app.metrika.set("master.support", true);
            }
        },
        {
            id: "jobs",
            pos: "bottom",
            title: "Найти работу",
            options: {
                force: true,
                notHide: true,
            },
            callback: function(){
                _.opener("/jobs/search");
                app.metrika.set("master.jobs", true);
            }
        },
        {
            id: "profile",
            pos: "bottom",
            title: "Редактировать профиль",
            callback: function(){
                $Sections.profile.data.show();
                app.metrika.set("master.profile", true);
            }
        },
        {
            id: "password",
            pos: "bottom",
            title: !$account.get("login") ? 'Создать вход по паролю' : 'Сменить пароль',
            callback: function(){
                $Sections.profile.password.show();
                app.metrika.set("master.password", true);
            }
        },
        {
            id: "addHomeScreen",
            pos: "bottom",
            title: "Добавить на главный экран",
            hidden: !app.device.isPhone || app.isStandalone,
            options: {
                notHide: true
            },
            callback: function(){
                $Sections.popup.homescreen.show();
                app.metrika.set("master.addHomeScreen", true);
            }
        },
        {
            id: "createResume",
            pos: "right",
            title: "Создать резюме",
            hidden: !app.device.isPhone,
            callback: function(){
                $store.data.onSelect();
                app.metrika.set("master.createResume", true);
            }
        },
        {
            id: "createPremium",
            pos: "right",
            title: "Создать премиум резюме",
            callback: function(){
                $store.data.onCreate({
                    plan: "premium"
                });
                app.metrika.set("master.createPremium", true);
            }
        },
        {
            id: "createEng",
            pos: "right",
            title: "Создать резюме на английском",
            callback: function(){
                $store.data.onSelect("en");
                app.metrika.set("master.createEng", true);
            }
        },
        {
            id: "order",
            pos: "right",
            title: "Заказать написание резюме",
            callback: function(){
                $Sections.order.writing.show();
                app.metrika.set("master.order", true);
            }
        },
        {
            id: "samples",
            pos: "right",
            title: "Выбрать образец из базы",
            hidden: true,
            callback: function(){
                app.metrika.set("master.samples", true);
            }
        },
        {
            id: "jptest",
            pos: "right",
            title: "Пройти тест профориентации",
            options: {
                force: app.device.isMobile,
                notHide: app.device.isMobile,
            },
            callback: function(){
                if (app.device.isMobile){
                    _.opener("/jp-test/#run");
                }
                else {
                    $Sections.resume.list.hide();
                    $Sections.jptest.section.show(function(){
                        $Sections.resume.list.show();
                    });
                }
                app.metrika.set("master.jptest", true);
            }
        }
    ];

    $.screens = {};

    $.on("mount", function(){
        $.control = $.tags["section-master-options"];
        $.init.screens();
        // $afterlag.m(function(){
        //     $.show();
        // });
    });

    $.show = function(){
        $.root.setAttribute("data-open", true);
        $.root.setAttribute("data-menu", true);

        if (app.device.isPhone){
            $.screens.el.find(".screen:eq("+ $.screens.index +")")
            .attr("data-transform", "top")
            .attr("data-active", true);
        }
    };

    $.init = {
        screens: function(){
            if (app.device.isPhone){
                $.screens.plugin = new app.plugins.screens($.screensEl, {
                    static: true
                });

                $.screens.plugin.init();

                $.screens.el = $$($.screensEl);
                $.screens.items = $.screens.el.find(".screen");
                $.screens.index = 0;

                $.screens.items.on('show hide', function(e){
                    var $item = $$(this);
                    if (e.type == "show"){
                        var i = $item.index();
                        if (i > $.screens.index){
                            $item.attr("data-transform", "top");
                        }
                        else {
                            $item.attr("data-transform", "bottom");
                        }
                        $item.attr("data-active", true);
                        $.screens.index = i;
                        if ($.screens.items.length == $.screens.index + 1){
                            $scope.attr("data-last", true);
                        }
                        else {
                            if ($scope.attr("data-last")){
                                $scope.removeAttr("data-last");
                            }
                        }
                    }
                    else {
                        $item.removeAttr("data-active");
                    }
                });
            }
        }
    };

    $.nextSlide = function(){
        $.screens.plugin.nav($.screens.index + 1);
    };

    $.get = {
        items: function(num){
            if (app.device.isPhone){
                var kit = [];
                if (num === "screen1"){
                    kit = ['createResume', 'createPremium', 'createEng', 'order'];
                }
                else if (num === "screen2"){
                    kit = ['import', 'payment', 'support', 'stat'];
                }
                else if (num === "screen3"){
                    kit = ['sendmail', 'pdf', 'removeLogo', 'inbox', 'jptest'];
                }
                else if (num === "screen4"){
                    kit = ['jobs', 'profile', 'password', 'addHomeScreen'];
                }
                return _.filter($.items, function(item){
                    return _.indexOf(kit, item.id) > -1;
                });
            }
            else {
                     if (num === "screen1") num = "left";
                else if (num === "screen2") num = "top";
                else if (num === "screen3") num = "bottom";
                else if (num === "screen4") num = "right";

                return _.filter($.items, function(item){
                    return item.pos == num;
                });
            }
        },
        id: function(){
            $.control.tags["ui-select"].update();
            return $.control.tags["ui-select"].select.value;
        }
    };

    $.onSelect = function(){
        $.options = _.extend($.default(), this.item.options);
        if (this.item.callback){
            $.onEnd(this.item);
        }
        else if (this.item.button){
            if (this.item.waterfall){
                var items = $store.data.get();
                if (items && items.length){
                    if (items.length == 1){
                        $.onEnd(this.item.button);
                    }
                    else {
                        $.onControl(this.item.button);
                    }
                }
                else {
                    $Alert.show({
                        title: "У вас нет ни одного резюме",
                        subtitle: "Создайте и повторите операцию"
                    })
                }
            }
            else {
                $.onControl(this.item.button);
            }
        }
    };

    $.onSuccess = function(){
        $.onEnd($, $.onBack);
    };

    $.onEnd = function(item, callback){
        if ($.options.force){
            item.callback();
        }
        else {
            $.afterHide(item.callback);
        }
        if (!$.options.notHide) $.hide();
        else {
            if (_.isFunction(callback)){
                callback();
            }
        }
    };

    $.onControl = function(options){
        $.callback = options.callback;
        $.control.update({
            button: options.title
        })
        $.hide("menu");
    };

    $.onBack = function(){
        $.root.setAttribute("data-options", false);
        $.root.setAttribute("data-menu", true);
    };

    $.afterHide = function(callback){
        $afterlag.run(function(){
            callback();
        }, {
            iterations: 5,
            timeout: app.device.isPhone ? 400 : 700,
            delay: app.device.isPhone ? 400 : 700
        });
    };

    $.hide = function(option){
        if (option == "menu"){
            $.root.setAttribute("data-menu", false);
            $.root.setAttribute("data-options", true);
        }
        else {
            $.root.setAttribute("data-open", false);
            $.root.setAttribute("data-menu", false);
            $.root.setAttribute("data-options", false);

            if (app.device.isPhone){
                $.screens.el.find(".screen:eq("+ $.screens.index +")")
                .removeAttr("data-active");
            }
        }
    };

</script>

</section-master>
