<jptest-content class="oScreen" data-open={ active } data-show="down">

    <div class="oScreen__content overflow-hidden { bg ? 'bg-' + bg : '' }">

        <div class="screen bg-blackLight" data-screen="begin" data-active={ screen == "begin" } data-hidden={ hidden == "begin" }>
            <div class="container pos-centered">
                <div class="row c-white fontSize-24">
                    <div class="col-xs-24 col-md-16 col-lg-14 centered">
                        <div class="xs-plr-xs">
                            <div class="ui-icon-hand_cursor_white w95 h95 mlr-auto mb-l"></div>
                            <div class="mb-l">Необходимо помнить, результат будет зависеть от того, насколько честно вы отвечаете на все вопросы.</div>
                            <button onClick={ next.beginText } class="btn btn-xxl btn-white-hover">Готов начать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="screen bg-blue" data-screen="beginText" data-active={ screen == "beginText" } data-hidden={ hidden == "beginText" }>
            <div class="container pos-centered">
                <div class="row c-white { app.device.isPhone ? 'fontSize-26' : 'fontSize-28' } lineHeight-xxl">
                    <div class="col-xs-24 col-md-17 col-lg-14 centered">
                        <div class="xs-plr-xs">
                            <div class="mb-l">Вам будут предложены 24 пары ответов, вам нужно выбрать один вариант из пары, близкий вашим убеждениям.</div>
                            <button onClick={ next.test } class="btn btn-xxl c-blue btn-white-hover">Понятно</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rows screen bg-white" data-screen="test" data-active={ screen == "test" } data-hidden={ hidden == "test" } data-hide={ reload.hide } data-show={ reload.show }>
            <div class="row h100p">
                <div onClick={ select.q1 } class="que col-xs-24 col-sm-12">
                    <div class="que__item que__item1" ref="que__item" name="que__item">
                        <div class="que__text">{ que.q1() }</div>
                    </div>
                </div>
                <div onClick={ select.q2 } class="que col-xs-24 col-sm-12">
                    <div class="que__item que__item2">
                        <div class="que__text">{ que.q2() }</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="screen bg-blue { showAnim : animate }" data-screen="finish" data-active={ screen == "finish" } data-hidden={ hidden == "finish" }>
            <div class="pos-centered">
                <div ref="circuful" name="circuful" class="circuful anim anim-scale" data-duration={ 'm' : app.device.isPhone }></div>
            </div>
        </div>

    </div>

<script>

    var $ = this;

    $.result = [];

    $.circuful = $$($["circuful"]);

    $.on("before-mount", function(){
        $.reset();
    });

    $.on("mount", function(){
        $Sections.module("jptest.test", $);
        if ($.refs) $.circuful = $$($.refs.circuful);
    });

    $.reset = function(update){
        $.active = false;
        $.result = [];
        $.screen = null;
        $.hidden = null;
        $.counter = 0;
        $.cursor = $.data.root.down();
        $.reload = {
            show: true,
            hide: false
        };
        $.bg = null;
        $.animate = null;
        if (update) $.update();
    };

    $.show = function(){
        $.next.begin();
        $.update({
            active: true
        });
        app.metrika.set("jptest.start", true);
    };

    $.next = {
        begin: function(){
            $.screen = "begin";
            $.bg = "blackLight";
        },
        beginText: function(){
            $.hidden = $.screen;
            $.screen = "beginText";
            $.bg = "blue";
        },
        test: function(){
            $.hidden = $.screen;
            $.screen = "test";
            $.bg = "white";
        },
        finish: function(){
            $.hidden = $.screen;
            $.screen = "finish";
            $.bg = "blue";

            $afterlag.xl(function(){
                $.update({
                    animate: true
                });
                $.circuful.empty().circliful({
                    animation: 1,
                    animationStep: 2.25,
                    foregroundBorderWidth: app.device.isPhone ? 10.5 : 9.5,
                    backgroundBorderWidth: app.device.isPhone ? 5 : 5,
                    percentageTextSize: 28,
                    percent: 100,
                    backgroundColor: 'rgba(255,255,255,.2)',
                    foregroundColor: '#68fb98',
                    fontColor: '#fff'
                }, function(){
                    $.trigger('readyCircuful');
                });
            });

            $.one('readyCircuful', function() {
                $.next.result();
            });
        },
        result: function(){
            $.animate = false;
            $.update();

            var id = $.getResult($.result);

            $Sections.jptest.result.show(id, function(){
                $.reset(true);
                $.trigger("passed");
                app.request("addJptestResult", {
                    result: {
                        id: id,
                        hash: $Sections.jptest.result.getHash(id)
                    },
                    site: app.isSite || false
                }, {
                    notify: false,
                    loader: false
                })
                .then(function(){
                    app.metrika.set("jptest.passed", 1, {
                        action: "inc"
                    });
                });
            });
        }
    }

    $.select = {
        q1: function(){
            $.select.update($.counter + 1);
        },
        q2: function(){
            $.select.update($.counter + 2);
        },
        update: function(q){
            if ($.reload.hide) return;

            $.counter += 2;

            $.result.push(q);

            $.reload = {
                show: false,
                hide: true
            }
            _.onEndTransition($.refs ? $.refs["que__item"] : $["que__item"], function(){
                $.cursor = null;
                //$.cursor = $.cursor.right();

                if ($.cursor){
                    $.update({
                        reload: {
                            show: false,
                            hide: false
                        }
                    });
                    setTimeout(function(){
                        $.update({
                            reload: {
                                show: true,
                                hide: false
                            }
                        });
                    }, 5);
                }
                else {
                    $.next.finish();
                    $.update();
                }
            });
        }
    }

    $.que = {
        q1: function(){
            return $.cursor.get().q1;
        },
        q2: function(){
            return $.cursor.get().q2;
        }
    }

    $.data = new Baobab([
        {
            q1:'Мне легко в любое время организовать какое-нибудь многолюдное мероприятие.',
            q2:'Мне проще выполнять локальные поручения в организованных другими мероприятиях.'
        },
        {
            q1:'В компании незнакомых людей я охотно принимаю участие в коллективных обсуждениях.',
            q2:'Мне интереснее и проще вести локальную беседу с тем, кого всерьез интересует тема разговора.'
        },
        {
            q1:'В компании я, как правило, первым завожу беседу.',
            q2:'В компании я, как правило, жду, когда со мной заговорят.'
        },
        {
            q1:'Мне интересно и у меня это легко получается - свободно расширять свою деятельность, привлекая смежные области.',
            q2:'Мне проще погружаться в одну свою деятельность, углублять  и далее осваивать ее.'
        },
        {
            q1:'Чтобы быстрее снять усталость, мне необходима компания и общение с людьми.',
            q2:'Чтобы быстрее снять усталость, мне необходимо немного побыть в одиночестве для восстановления энергии.'
        },
        {
            q1:'Чем бы я не был занят, я как правило, замечаю, что делают окружающие люди.',
            q2:'Если, я занят, то практически не замечаю, что делают окружающие меня люди.'
        },
        {
            q1:'Как бы не изменились обстоятельства, я всегда довожу начатое дело до конца.',
            q2:'Меня угнетает необходимость доводить дело до конца, когда оно уже не актуально.'
        },
        {
            q1:'Я думаю, что здравый смысл и логика редко ошибаются.',
            q2:'Я думаю, что инерция прошлого опыта может помешать во время перемен.'
        },
        {
            q1:'Если необходимо принять решение, то я чаще опираюсь на  проверенные временем принципами.',
            q2:'Если необходимо принять решение, то я чаще руководствуюсь своим собственным опытом и видением ситуации.'
        },
        {
            q1:'Я ставлю в жизни конкретные цели и ищу способы их достичь.',
            q2:'Я стараюсь не упустить возможности, подвернувшиеся «заодно».'
        },
        {
            q1:'Чтобы принять решение я должен заранее удостовериться, что все подготовлено и улажено.',
            q2:'Я чаще принимаю решение по наитию, полагаясь на интуицию.'
        },
        {
            q1:'Мне кажется, что не так уж плохо придерживаться «проторенной дорожки».',
            q2:'Мне кажется, что не так уж плохо «витать в облаках».'
        },
        {
            q1:'Я предпочитаю конкретность и определенность.',
            q2:'Я предпочитаю открытость, многовариантность.'
        },
        {
            q1:'Мне проще действовать, как человеку практичному.',
            q2:'Я чаще действую, как человек оригинальный.'
        },
        {
            q1:'Я больше доверяю тому, что попробовал.',
            q2:'Я предпочитаю пробовать новое.'
        },
        {
            q1:'Меня больше привлекают вопросы производства и сбыта товаров.',
            q2:'Меня больше привлекают вопросы проектирования и исследования.'
        },
        {
            q1:'Моя работоспособность, как правило, равномерна.',
            q2:'Моя работоспособность подвержена периодическим подъемам и спадам.'
        },
        {
            q1:'На мою территорию никто не претендует (по крайней мере второй раз).',
            q2:'Я стараюсь оградить себя от возможных покушенийна мою территорию заранее.'
        },
        {
            q1:'Общаясь с людьми, я стараюсь соблюдать общепринятые правила этикета.',
            q2:'Общаясь с людьми, я стараюсь проявлять свое личное обаяние.'
        },
        {
            q1:'Мне нравится проявлять себя в стройных логических построениях.',
            q2:'Мне нравится проявлять себя в гармонизации человеческих отношений.'
        },
        {
            q1:'Мне кажется, что самое неприятное в людях — ненадежность, нарушение договоров.',
            q2:'Мне кажется, что самое неприятное в людях — формализм, расчетливость.'
        },
        {
            q1:'Свои отношения с людьми я строю, учитывая взаимные интересы.',
            q2:'Свои отношения с людьми я строю, принимая во внимание только чувства и настроения.'
        },
        {
            q1:'Мне приносит удовлетворение выявление истины в спорном вопросе.',
            q2:'Мне приносит удовлетворение достижение согласия по спорным вопросам.'
        },
        {
            q1:'Я считаю, что наибольшего одобрения заслуживает разумный подход к проблемам.',
            q2:'Я считаю, что наибольшего одобрения заслуживает способность с сопереживанию.'
        }
    ]);

    $.getResult = function(data){
        if (data){
            var pl = 0, pr = 0, p1, p2, p3, p4, p5, p6, p7, p8, r = 1;

            _.each(data, function(i){
                if (i < 13){
                    if (i%2==0){pr += 1;} else {pl += 1;}
                }
                else if (i > 12 && i < 25){
                    if (!p1 && !p2){

                        if (pl > pr){p1 = 1;} else {p2 = 1;}
                        pl = 0, pr = 0;
                    }
                    if (i%2==0){pr += 1;} else {pl += 1;}
                }
                else if (i > 24 && i < 37){
                    if (!p3 && !p4){
                        if (pl > pr){p3 = 1;} else {p4 = 1;}
                        pl = 0, pr = 0;
                    }
                    if (i%2==0){pr += 1;} else {pl += 1;}
                }
                else if (i > 36 && i < 49){
                    if (!p5 && !p6){
                        if (pl > pr){p5 = 1;} else {p6 = 1;}
                        pl = 0, pr = 0;
                    }
                    if (i%2==0){pr += 1;} else {pl += 1;}
                }
            });

            if (pl > pr){p7 = 1;} else {p8 = 1;}

                 if (p2 && p4 && p6 && p8){r = 1;}
            else if (p2 && p4 && p5 && p8){r = 2;}
            else if (p2 && p4 && p6 && p7){r = 3;}
            else if (p2 && p4 && p5 && p7){r = 4;}
            else if (p2 && p3 && p6 && p8){r = 5;}
            else if (p2 && p3 && p5 && p8){r = 6;}
            else if (p2 && p3 && p6 && p7){r = 7;}
            else if (p2 && p3 && p5 && p7){r = 8;}
            else if (p1 && p4 && p6 && p8){r = 9;}
            else if (p1 && p4 && p5 && p8){r = 10;}
            else if (p1 && p4 && p6 && p7){r = 11;}
            else if (p1 && p4 && p5 && p7){r = 12;}
            else if (p1 && p3 && p6 && p8){r = 13;}
            else if (p1 && p3 && p5 && p8){r = 14;}
            else if (p1 && p3 && p6 && p7){r = 15;}
            else if (p1 && p3 && p5 && p7){r = 16;}

            return r;
        }
    };

</script>

</jptest-content>
