.section__editable {
    @extend .display-block;
    @extend .opacity-01;
    @include abs(fixed);
    @include accelerate();
    @extend .userSelect-none;
    @extend .visibility-hidden;
    @extend .willChange-opacity;
    transform-style:preserve-3d;
    transition:opacity 0.2s $cubic57, visibility 0s 0.25s;
    @extend .overflow-hidden;
    @extend .c-white;
    @extend .fontFamily-futura;
    @extend .pointerEvents-none;
    @extend .zIndex-100;

    &:after {
        @extend .opacity-0;
        @extend .content-empty;
        @include abs();
        @extend .pointerEvents-none;
        @extend .visibility-hidden;
        @extend .bg-overlay;
        @extend .zIndex-2;
        transition:opacity .3s $cubic28, visibility 0s .3s;
    }
    &--overlay {
        &:after {
            @extend .opacity-100;
            @extend .pointerEvents-all;
            @extend .visibility-visible;
            transition:opacity .3s $cubic28;
        }
    }
    &[data-target="true"]{
        .section__editable__container#active {
            .target-visible {
                @extend .zIndex-1;
            }
            .target-hidden,
            .title-main,
            #activity {
                @extend .opacity-30;
                @extend .pointerEvents-none;
            }
        }
        .help__for__switch__visible {
            @extend .display-none;
        }
    }
    &__scroll {
        @include abs();
        @include accelerate();
        @extend .overflowY-scroll;
        @extend .overflowX-hidden;
        @extend .willChange-transform;
        -webkit-overflow-scrolling:touch;
        transform-style:preserve-3d;
        transition:transform .4s $cubic2501;
        @extend .zIndex-1;
    }
    &__wrapper {
        @include accelerate();
        @extend .pos-rel;
        @extend .pb-l;
        min-height:480px;

        html.d-no-mobile & {
            @extend .willChange-transform;
            transform:translate3d(0, -10vh, 0) perspective(500px) rotateX(30deg) scale3d(0.8, 0.8, 1);
            transition:transform 0.25s $cubic2501;

            &[data-large="true"]{
                transform:translate3d(0, 0, 0) scale3d(0.95, 0.95, 1);
            }
        }
    }
    &__container {
        @extend .display-none;
        @include accelerate();
        @extend .willChange-transform;
        transform:translateY(28.6vh);
        margin-bottom:14.3vh;
        transition:transform 0.6s $cubic28;

        &#active {
            @extend .display-block;
        }
        &[data-editing="tags"]{
            transform:translateY(25.6vh);
            margin-bottom:12.8vh;
        }
        &[data-editing="textarea"],
        &[data-editing="more"]{
            transform:translateY(22.6vh);
            margin-bottom:7.8vh;
        }
        &[data-editing="social"],
        &[data-editing="salaryGraph"]{
            transform:translateY(14.6vh);
            margin-bottom:7.3vh;
        }
        &[data-editing="works"],
        &[data-editing="skills"],
        &[data-editing="jobs"],
        &[data-editing="hobby"]{
            transform:translateY(7.2vh);
            margin-bottom:3.6vh;
        }
        &[data-editing="visible"],
        &[data-editing="hobbyText"]{
            transform:translateY(17.6vh);
            margin-bottom:8.8vh;
        }
        &[data-editing="education"],
        &[data-editing="courses"],
        &[data-editing="languages"] {
            transform:translateY(8.6vh);
            margin-bottom:4.3vh;
        }
        &[data-editing="photo"]{
            transform:translateY(8.6vh);
            margin-bottom:4.3vh;

            html.d-phone & {
                @include abs();
                @extend .m0;
                @extend .p0;
            }
        }
        html.d-no-phone & {
            @extend .pb-m;
        }
        html.d-phone & {
            @extend .transform-default;
            @extend .mtb0;
        }
        html.d-phone &[data-uploaded="true"]{
            .image-editor {
                @extend .bg-black;
            }
        }
    }
    &__content {
        @extend .pos-rel;
        @extend .willChange-opacity;
        transition:opacity .25s $cubic215;

        &.hide {
            @extend .opacity-50;
            @extend .userSelect-none;
            @extend .pointerEvents-none;

            &:after {
                @extend .content-empty;
                @include abs();
                @extend .zIndex-10;
            }
        }
        &__screen {
            @extend .pos-tl;
            @include accelerate();
            @extend .opacity-0;
            @extend .visibility-hidden;
            @extend .willChange-tp;
            transition:transform 0.6s $cubic345 0.01s, opacity 0.3s $cubic345 0.01s, visibility 0s 0.61s;

            &[data-pos="left"]{
                transform:translate3d(-100%, 0, 0) scale3d(0.7, 0.4, 1);
            }
            &[data-pos="right"]{
                transform:translate3d(100%, 0, 0) scale3d(0.7, 0.4, 1);
            }
            &[data-active="true"]{
                @extend .pos-static;
                @extend .opacity-100;
                @extend .visibility-visible;
                transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
                transition:transform 0.6s $cubic345 0.01s, opacity 0.3s $cubic345 0.05s, visibility  0.01s;
            }
            html.d-phone & {
                @extend .pt-xs;
                @extend .visibility-visible;
                @extend .pointerEvents-none;
                transition:opacity 0.3s $cubic2501;

                &[data-active="true"]{
                    @extend .transform-default;
                }
                #activity {
                    top:5px !important;
                }
            }
            html.d-phone .section__editable[data-open="true"] & {
                &[data-active="true"]{
                    @extend .pointerEvents-all;
                }
            }
        }
    }
    &__arrow {
        @include accelerate();
        @extend .flex-centered;
        @extend .pos-abs;
        @extend .t0;
        font-size:24px;
        line-height:30px;
        @extend .opacity-0;
        @extend .cursor-pointer;
        @extend .pointerEvents-none;
        @extend .letterSpacing--s;
        @extend .mt45;
        width:242px;
        @extend .willChange-tp;
        transition:transform 0.3s $cubic345, opacity 0.3s $cubic345;

        html.d-phone & {
            @extend .flex-row-left-center;
            @extend .t-m;
            @extend .mt0;
            @extend .w-auto;
            font-size:18px;
            line-height:1;
            @extend .text-uppercase;
            @extend .fontWeight-bold;
            @extend .transition-none;
            border-bottom:3px solid rgba($lime,.7);
            @extend .zIndex-1;
        }
        &:after {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .t50;
            @extend .willChange-transform;
            @include ui-icon("back_white", 48px, 48px);
            transition:transform 0.35s $cubic215;

            html.d-phone & {
                @include ui-icon("back_lime", 30px, 30px);
                @extend .transition-none;
            }
        }
        html.d-phone & {
            &[data-pos="left"],
            &[data-pos="right"]{
                @extend .l-l;
                @extend .r-auto;
                @extend .ml0;
                @extend .mt0;
                @extend .plr-xxs;
                @extend .trX--xs;
                @extend .text-left;

                &:after {
                    @extend .l--l;
                    @extend .r-auto;
                    transform:translate3d(10px, -50%, 0);
                    @extend .transition-none;
                }
            }
        }
        html.d-no-phone & {
            &[data-closer="true"]{
                @extend .mt65;

                &[data-pos="left"]{
                    @extend .mr--l;
                }
                &[data-pos="right"]{
                    @extend .ml--l;
                }
            }
        }
        html.d-tablet & {
            &[data-closer="true"]{
                &[data-pos="left"]{
                    @extend .mr0;
                }
                &[data-pos="right"]{
                    @extend .ml0;
                }
            }
        }
        &[data-pos="left"]{
            @extend .r100;
            @extend .mr-l;
            @extend .pl-xl;
            @extend .pr-m;
            @extend .text-left;
            transform:translate3d(-100%, 0, 0);

            &:after {
                @extend .l-s;
                transform:translate3d(0, -50%, 0);
            }
        }
        &[data-pos="right"]{
            @extend .l100;
            @extend .ml-l;
            @extend .pl-m;
            @extend .pr-xl;
            @extend .text-right;
            transform:translate3d(100%, 0, 0);

            &:after {
                @extend .r-s;
                transform:translate3d(0, -50%, 0) scaleX(-1);
            }
        }
        &[data-active="true"]{
            @extend .opacity-100;
            @extend .pointerEvents-all;
            @extend .transform-default;
        }
        html.m-no-touch &:hover {
            &[data-pos="left"]{
                &:after {
                    transform:translate3d(-12px, -50%, 0) scale3d(1, 1.35, 1);
                }
            }
            &[data-pos="right"]{
                &:after {
                    transform:translate3d(12px, -50%, 0) scale3d(-1, 1.35, 1);
                }
            }
        }
    }
    &__footer {
        text-align:right;
        @extend .nowrap;
        @extend .mt-l;

        &.text-center {
            .btn {
                html.d-no-phone & {
                    @extend .mlr-xs;
                }
            }
        }
        .btn {
            html.d-phone & {
                font-size:17px;
            }
        }
    }
    &__close {
        @extend .pos-tr;
        @extend .cursor-pointer;
        @include ui-icon(minus_white, 38px, 38px);
        transform:translate3d(-22px, 22px, 0);
        @extend .zIndex-1001;

        &:after {
            @extend .content-empty;
            @include abs();
            transform:scale(2);
        }
        html.d-phone & {
            transform:translate3d(-12px, 15px, 0);
        }
    }
    &:before {
        @extend .content-empty;
        @extend .pos-bl;
        @extend .w100p;
        @extend .h50p;
    }
    &[data-open="true"]{
        @extend .opacity-100;
        @extend .visibility-visible;
        @extend .pointerEvents-all;
        transition:opacity 0.25s $cubic2501, visibility 0s;

        html.d-no-mobile & {
            .section__editable__wrapper {
                transform:translate3d(0, 0, 0) perspective(500px) rotateX(0deg) scale3d(1, 1, 1);
                transition:transform 0.4s $cubic2501;

                &[data-large="true"]{
                    transform:translate3d(0, 0, 0) perspective(1000px) rotateX(0deg) scale3d(1, 1, 1);
                }
            }
        }
    }
    #activity {
        @extend .pos-abs;
        @extend .zIndex-3;

        html.d-no-phone & {
            top:13px;
            @extend .r-xss;
        }
        html.d-phone & {
            @extend .t-s;
            @extend .r0;
        }
    }
    .title {
        @extend .fontWeight-bold;

        &-main {
            @extend .letterSpacing--xl;
            @extend .mb-l;

            html.d-no-phone & {
                font-size:46px;
                line-height:46px;
                margin-left:-3px;
            }
            html.d-phone & {
                font-size:34px;
                line-height:38px;
                margin-left:-2px;
                @extend .pt-l;
            }
        }
        &-xl {
            height:60px;
            font-size:34px;
            line-height:38px;
            margin-left:-3px;
            @extend .letterSpacing--l;

            html.d-phone & {
                height:40px;
                line-height:40px;
                margin-left:-2px;
            }
        }
        &-l {
            height:50px;
            font-size:28px;
            line-height:50px;
            margin-left:-2px;
            @extend .letterSpacing--m;
        }
        &-m {
            height:40px;
            font-size:24px;
            line-height:40px;
            @extend .letterSpacing--m;
        }
        &-s {
            height:30px;
            font-size:22px;
            line-height:30px;
            @extend .letterSpacing--m;
        }
    }
    .hr {
        @extend .w100p;
        @extend .mtb-m;
        border-bottom:3px dashed rgba($white,.5);
    }
	.btn {
        @extend .c-white;
        @extend .bg-transparent;
		box-shadow:0 0 0 2px rgba($white,.5);

		html.m-no-touch &:hover {
            @extend .bg-white;
			box-shadow:0 0 0 2px $white;
		}
        &-loading {
            color:$white !important;
            box-shadow:0 0 0 2px rgba($white,.5) !important;

            &:before {
                border-color:$white;
                border-right-color:transparent;
            }
        }
        &-svg-plus {
            width:24px;
            height:24px;
            margin-left:-11px;
            transform:translate3d(2px, 0, 0);
        }
        &-svg-edit {
            width:22px;
            height:22px;
            margin-left:-11px;
            transform:translate3d(-1px, -2px, 0);

            html.d-phone & {
                width:20px;
                height:20px;
            }
        }
        span {
            @extend .display-inlineBlock;
            transform:translateY(1px);
        }
	}
    .input-autosuggest-items {
        width:calc(100% + 4px);
        transform:translate3d(-2px, 0, 0);

        html.d-phone & {
            transform:translate3d(-2px, -1px, 0);
        }
    }
}

html.d-phone {
    .section__editable {
        .btn {
            @extend .pl30;
            @extend .pr30;
        }
        &__container {
            @extend .pt-xs;
            @extend .mt-m;
            @extend .mlr-xs;
            @extend .transform-default;

            &[data-editing="visible"]{
                @extend .mlr-s;
            }
        }
        &__footer {
            @extend .text-center;
        }
    }
}
html.d-tablet.r-portrait {
    .section__editable {
        &__container {
            @extend .plr-s;
        }
    }
}
