.info {
    @include accelerate();
    @extend .display-block;
    @extend .pos-fixed;
    @extend .zIndex-10;
    @extend .perspective-500;

    &[data-open="true"]{
        .info-opener {
            .d-no-phone & {
                @extend .scale-0;
                @extend .pointerEvents-none;
            }
            .d-phone & {
                .info-opener-icon {
                    @extend .scale-0;
                }
                .info-opener-close {
                    @extend .scale-100;
                }
            }
        }
        .info-wrapper {
            @extend .opacity-100;
            @extend .scale-100;
            @extend .pointerEvents-all;
            transition:transform .3s $cubic345, opacity .3s $cubic345, background-color 0.2s $cubic215;
        }
    }
    &-opener {
        @include accelerate();
        @extend .pos-abs;
        @extend .t-l;
        @extend .l-l;
        @extend .w60;
        @extend .h60;
        @extend .userSelect-none;
        @extend .flex-centered;
        @extend .btn-active;
        @extend .bg-blackLight;
        @extend .borderRadius-circle;
        @extend .boxShadow-default;
        will-change:transform, background-color;
        transition:transform .3s $cubic345, background-color 0.2s $cubic215;

        .d-phone & {
            @extend .t-m;
            @extend .l-m;
            @extend .w40;
            @extend .h40;
            @extend .bg-primary;
            @extend .transition-default;

            .info-opener-close {
                @extend .display-block;
                @include abs_50(40, 40);
                margin-top:-16px;
                @extend .scale-0;
                width:40px;
                height:40px;
                transition:transform .3s $cubic345;

                &-color {
                    @extend .fill-white;
                    @extend .transition-default;
                }
            }
        }
        &-icon {
            @extend .display-block;
            width:29px;
            height:29px;

            &-color {
                @extend .fill-white;
                @extend .transition-default;
            }
            .d-phone & {
                width:28px;
                height:28px;
                transition:transform .3s $cubic345;
            }
        }
        &-close {
            @extend .display-none;
        }
    }
    &-wrapper {
        @include accelerate();
        @extend .pos-abs;
        @extend .t-l;
        @extend .l-l;
        @extend .fontFamily-helvetica;
        @extend .fontSize-16;
        @extend .c-steel;
        @extend .bg-white;
        @extend .boxShadow-30;
        @extend .ptb-m;
        @extend .pl30;
        @extend .pr30;
        @extend .pointerEvents-none;
        @extend .opacity-0;
        will-change:transform, opacity, background-color;
        border-radius:15px;
        transform-origin:0% 50%;
        transform:translate3d(-20%, 0, 0) scale3d(1, 0.5, 1);
        transition:transform .2s $cubic345, opacity .2s $cubic345;
        width:340px;

        .d-phone & {
            @extend .t-xl;
            @extend .l--s;
            @extend .pl-l;
            @extend .pr-s;
            @extend .c-white;
            @extend .bg-primary;
            @extend .fontSize-18;
            @extend .mt-m;
            @extend .w100v;
            box-shadow:5px 10px 35px 0 rgba(31,35,37,.35);
        }
        #app[data-font="gotham"] &,
        #app[data-font="myriad"] & {
            @extend .pt-m;
        }
    }
    &-photo {
        @extend .pos-abs;
        @extend .b100;
        @extend .borderRadius-circle;
        @extend .bg-cover;
        @extend .trY-m;
        box-shadow:0 0 0 3px rgba($white,.6), 5px 10px 30px 0 rgba(31,35,37,.15);

        .d-no-phone & {
            @extend .l-m;
            @extend .w40;
            @extend .h40;
        }
        .d-phone & {
            @extend .r-l;
            width:46px;
            height:46px;
        }
    }
    &-name {
        @extend .f-primary;
        @extend .fontSize-20;
        @extend .fontWeight-bold;

        .d-no-phone & {
            @extend .c-primary;
        }
        .d-phone & {
            @extend .fontSize-24;
            @extend .ptb-xxs;
        }
    }
    &-salary {
        @extend .fontFamily-helvetica;
        @extend .nowrap;
    }
    &-email {
        @extend .pb-xs;

        .d-no-phone & {
            @extend .c-primary;

            a {
                @extend .border-primary;
            }
        }
        .d-phone & {
            @extend .c-white;
            @extend .fontSize-20;

            a {
                @extend .borderColor-white;
            }
        }
        a {
            @extend .borderStyle-solid;
            @extend .borderBottomWidth-1;
        }
    }
    &-phone {
        @extend .fontSize-18;
        @extend .mb-xxs;
        @extend .fontWeight-bold;

        .d-phone & {
            @extend .fontSize-22;
            @extend .pt-xxs;
            @extend .mb-xs;
        }
    }
    &-post {
        .d-phone & {
            @extend .pb-xxs;
        }
    }
    &-social {
        @extend .pt-s;

        .d-no-phone & {
            @extend .mb--xxs;
        }
        .social-btn {
            @extend .bg-smoke;
        }
    }
    &-close {
        @extend .pos-abs;
        @extend .t-xs;
        @extend .r-xs;
        @extend .btn-active;
        @include ui-icon(close_fill_gray, 28px, 28px);

        .d-phone & {
            @extend .display-none;
        }
    }
}
