.template1 {
    @extend .fontFamily-helvetica;

    .overlay {
        @extend .pos-tl-fixed;
        @extend .h100p;
        @extend .bg-primary;
        @extend .zIndex-1;

        html.d-tablet.r-landscape & {
            @extend .ml--s;
        }
    }
    .main-line {
        @include accelerate(true);
        @extend .pos-fixed;
        @extend .t0;
        @extend .l0;
        @extend .h100p;
        @extend .zIndex-3;

        &:before {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .t0;
            right:174px;
            @extend .h100p;
            border-left:2px dashed $white;
            @extend .opacity-40;

            html.d-tablet.r-landscape & {
                right:135px;
            }
        }
        html.d-tablet.r-portrait &,
        html.d-phone & {
            @extend .display-none;
        }
        &-bg {
            @extend .pos-tl;
            height:350px;
            @extend .bg-primary;
            @extend .zIndex-4;

            html.d-tablet.r-portrait &,
            html.d-phone & {
                @extend .display-none;
            }
        }
    }
    html.d-no-phone & {
        section {
            margin-bottom:195px;
        }
        .screen--first {
            padding-top:250px;
        }
        *[data-scrollin],
        *[data-scrollin-icon]{
            @extend .willChange-tp;
        }
    }
    .screen1 {
        &-col-left {
            @extend .text-right;
            @extend .pt-l;
            @extend .fontSize-0;
        }
        &-col-right {
            @extend .pl-xl;
            @extend .pr-l;
        }
    }
    .screen2 {
        &-col-left {
            @extend .pr-s;
        }
    }
    .screen {
        &:before,
        .work-items:before,
        .job-items:before {
            @extend .bg-primary;
            @extend .md-ml--s;

            html.d-tablet.r-portrait &,
            html.d-phone & {
                @extend .display-none;
            }
        }
        &[data-section="contacts"]{
            html.d-tablet.r-landscape & {
                margin:0 -28px;
            }
            html.d-tablet.r-portrait & {
                margin:0 -50px;
            }
        }
        html.d-no-phone & {
            @extend .pos-rel;

            .work-items,
            .job-items {
                @extend .pos-rel;

                &:before {
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .b100;
                    @extend .bg-cover;
                    @extend .zIndex-5;
                }
            }
            .work-items {
                &:before {
                    @extend .l-s;
                    width:167px;
                    height:167px;
                    @extend .trY-l;
                    @extend .work-icon;
                }
            }
            .job-items {
                &:before {
                    @extend .l-xs;
                    width:192px;
                    height:192px;
                    @extend .trY-m;
                    @extend .job-icon;
                    @extend .md-ml--xs;
                }
            }
            &[data-section="commons"]{
                min-height:1050px;
            }
            &[data-section="commons"],
            &[data-section="contacts"]{
                @extend .zIndex-4;
            }
            &[data-section="contacts"]{
                margin:0 -9px;
            }
            &[data-section="works"],
            &[data-section="jobs"]{
                @extend .zIndex-3;

                .edit-pointer {
                	@extend .l0;
                }
            }
            &[data-section="jobs"]{
                @extend .mt--50;
            }
            &[data-section="skills"],
            &[data-section="education"],
            &[data-section="courses"],
            &[data-section="languages"],
            &[data-section="hobby"]{
                margin-top:-195px;
                padding-top:145px;

                .edit-pointer {
                	left:-45px;
                }
                &:before {
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .t0;
                    @extend .l--xs;
                    @extend .bg-cover;
                    @extend .zIndex-5;
                }
            }
            &[data-section="skills"]{
                padding-bottom:145px;

                &:before {
                    width:192px;
                    height:192px;
                    @extend .trY-l;
                    background-image:url(/public/images/resume/skills_white.svg);
                }
            }
            &[data-section="education"]{
                margin-bottom:170px;
                min-height:640px;

                &:before {
                    width:192px;
                    height:192px;
                    transform:translateY(70px);
                    @extend .md-ml--xs;
                    background-image:url(/public/images/resume/education_white.svg);
                }
            }
            &[data-section="courses"]{
                margin-top:-275px;
                margin-bottom:170px;

                &:before {
                    @extend .t-xl;
                    @extend .l-xs;
                    width:148px;
                    height:202px;
                    @extend .trY-xs;
                    @extend .md-ml-s;
                    background-image:url(/public/images/resume/courses_white.svg);
                }
            }
            &[data-section="languages"]{
                margin-top:-105px;
                padding-bottom:105px;

                &:before {
                    @extend .l-xs;
                    width:164px;
                    height:164px;
                    transform:translateY(70px);
                    @extend .md-ml-xs;
                    background-image:url(/public/images/resume/languages_white.svg);
                }
            }
            &[data-section="hobby"]{
                &:before {
                    width:164px;
                    height:164px;
                    @extend .trY-l;
                    @extend .md-ml-xs;
                    background-image:url(/public/images/resume/hobby_white.svg);
                }
            }
            &[data-section="contacts"]{
                .edit-pointer {
                    @extend .t-xxs;
                    @extend .l-auto;
                    @extend .r-l;
                }
            }
        }
        html.d-tablet.r-landscape &[data-section="contacts"]{
            .edit-pointer {
                @extend .r-xs;
            }
        }
        html.d-phone &[data-section="works"],
        html.d-phone &[data-section="jobs"]{
            .screen__content {
                @extend .pb0;
            }
        }
        html.d-phone &[data-section="coverletter"]{
            .screen__content {
                @extend .ptb-l;
            }
        }
        html.d-phone &[data-section="feedback"]{
            .screen__content {
                @extend .pb50;
            }
        }
    }
    .job-empty,
    .work-empty {
        @extend .zIndex-1;
    }
    .work-empty:before {
        @extend .content-empty;
        @extend .pos-centered;
        width:585px;
        height:585px;
        @extend .work-icon;
        @extend .opacity-10;
        @extend .mt--xxs;
    }
    .job-empty:before {
        @extend .content-empty;
        @extend .pos-centered;
        width:585px;
        height:585px;
        @extend .job-icon;
        @extend .opacity-10;
        @extend .mt--xxs;
        @extend .ml-m;
    }
    .work-empty-text,
    .job-empty-text {
        @extend .pos-centered;
        @extend .mt60;
        @extend .pt-xl;
        @extend .w70p;
        @extend .c-white;
        font-size:20px;
        @extend .lineHeight-xxl;
        @extend .text-center;

        html.d-tablet.r-portrait & {
            @extend .w100p;
            @extend .pt-l;
        }
        html.d-phone & {
            @extend .display-none;
        }
    }
    .screen__inner {
        @extend .pl-l;
        @extend .pr-m;
        @extend .md-pl-m;
    }
    html.d-tablet & {
        .screen2 {
            &-col-right {
                @extend .plr0;
            }
        }
    }
    html.d-tablet.r-landscape & {
        .screen2 {
            &-col-right {
                @extend .plr0;
            }
        }
    }
    html.d-tablet.r-portrait & {
        .screen--first {
            padding-top:200px;
        }
        .screen__content {
            @extend .plr-l;
        }
        .photo {
            width:600px;
            height:800px;
            @extend .mt0;
        }
        .screen1 {
            &-col-left {
                @extend .pt0;
                @extend .pb-l;
            }
            &-col-right {
                @extend .pt-m;
                @extend .plr0;
            }
        }
        .screen__inner {
            @extend .plr0;
        }
    }
    html.d-phone & {
        .screen--first {
            @extend .bg-black;
            @extend .h100v;
            @extend .maxH-100p;

            .screen__content {
                @include abs();
            }
        }
        .screen:not(.screen--first) {
            @extend .plr-m;
            @extend .breakWord;

            .screen__content {
                padding:120px 12.5px 95px 12.5px;
            }
            // .col-xs-24:first-child {
            //     @extend .plr0;
            // }
            // .col-xs-24 .col-xs-24:first-child {
            //     @extend .plr-xs;
            // }
            // .title {
            //     @extend .ml0;
            //     padding-left:2px;
            // }
        }
        .screen__post {
            @extend .pos-bl;
            @extend .w100p;
            @extend .p-l;
            @extend .c-white;
            @extend .fontFamily-helvetica;
            @extend .fontWeight-5;
            @extend .letterSpacing--m;
            text-shadow:0 2px 5px rgba($blackDark,.5);
            min-height:180px;
            font-size:38px;
            line-height:44px;
            background:linear-gradient(to top, $steelDark, rgba($steelDark,0));
            @extend .zIndex-1;

            &__text {
                @include textEllipsis(100%, 175px, 4);
            }
        }
        .screen__location {
            @extend .flex-row-left-center;
            @extend .pos-bl;
            @extend .w100p;
            height:72px;
            @extend .c-blackLight;
            @extend .fontFamily-helvetica;
            font-size:19px;
            line-height:70px;
            @extend .bg-white;
            @extend .zIndex-2;
            @extend .pl25;
            @extend .letterSpacing--xs;
            padding-bottom:4px;

            &:before {
                @extend .content-empty;
                @extend .display-block;
                @extend .mr-s;
                @extend .opacity-40;
                @include ui-icon("location_gray", 28px, 28px);
                transform:translateY(-2px);
            }
        }
        .screen__progress {
            @extend .pos-bl;
            @extend .h4px;
            @extend .overflow-hidden;

            &__line {
                @include abs();
                @extend .w100v;
                background:linear-gradient(to right, $red, $pink, $orange, $yellow, $yellowLight, $green, $greenLight, $emerald);
            }
        }
        .screen1 {
            &-col-left {
                @extend .text-center;
                @extend .plr0;
            }
            &-col-right {
                @extend .plr0;
            }
        }
        .screen2 {
            &-col-right {
                @extend .pl0;
                @extend .pt-xs;
            }
        }
        .screen__inner {
            @extend .plr0;
        }
    }
    .work-icon {
        @extend .bg-cover;
        background-image:url(/public/images/resume/works_white.svg);
    }
    .job-icon {
        @extend .bg-cover;
        background-image:url(/public/images/resume/jobs_white.svg);
    }
}

@media screen and (min-width: 1281px) {
    .template1 .main-line:before {
        right:auto;
        left:14vw;
    }
}
@media screen and (min-width: 1400px) {
    .screens {
        margin-left:-236px;
        padding-left:25%;
        width:calc(1200px + 25%);
    }
    .template1 .main-line:before {
        right:auto;
        left:calc(20vw - 50px);
    }
    .screen[data-section="courses"]:before {
        margin-left:20px;
    }
}
@media screen and (max-height: 639px) {
    html.d-phone .template1 {
        .screen__location {
            display:none !important;
        }
    }
}
@media screen and (min-height: 640px) {
    html.d-phone #app {
         .screen__post {
            padding-bottom:100px;
        }
    }
}
@media screen and (min-height: 700px) {
    html.d-phone #app {
        .screen__post {
            padding-bottom:120px;
            padding-right:60px;
        }
    }
}
@media screen and (min-width: 400px) {
    html.d-phone #app {
        .screen__content {
             .title {
                padding-right:15px;
            }
        }
    }
}
