.salary-graph {
    @extend .pos-tr-fixed;
    width:720px;
    @extend .h100p;
    @extend .pt100;
    @extend .pr-m;
    @extend .bg-white;
    @extend .zIndex-8;

    .d-no-phone & {
        &.section-hidden {
            transition:transform .5s $cubic40, visibility 0s .5s;

            &[data-open="true"]{
                transition:transform .55s $cubic28, visibility 0s;
            }
        }
    }
    .d-tablet.r-landscape & {
        width:680px;
    }
    .d-phone &,
    .d-tablet.r-portrait & {
        @extend .w100p;
    }
    &-title {
        @extend .pos-abs;
        @extend .t-m;
        @extend .l-xl;
        @extend .pt-xs;
        @extend .pr-xl;
        @extend .f-primary;

        .d-no-phone & {
            @extend .fontSize-22;
        }
        .d-tablet.r-portrait & {
            @extend .ml-l;
        }
        .d-phone & {
            @extend .fontSize-18;
        }
    }
    &-item {
        @extend .pos-rel;
        @include flex("row", "space-between", "center");
        @extend .pl-xl;
        @extend .pr-l;
        @extend .pt-m;
        @extend .md-pt-xs;
        @extend .sm-pt-m;
        @extend .xs-pl-l;
        @extend .xs-pr0;
        @extend .fontFamily-gotham;
        height:calc((100vh - 140px) / 6);
        border-bottom:2px dashed $smokeLight;

        .d-tablet.r-portrait & {
            height:calc((100vh - 180px) / 6);
        }
        &:nth-child(1),
        &:nth-child(3),
        &:last-child {
            .salary-graph-item-month {
                @extend .c-primary;
                @extend .fontWeight-bold;
            }
            .salary-graph-item-amount {
                @extend .c-primary;

                &-ruble-color {
                    @extend .fill-primary;
                }
                &:after {
                    @extend .borderBottom-primary;
                }
            }
            border-color:#D3DCE6;
        }
        &-month {
            @extend .c-grayDark;
            @extend .fontSize-14;
            @extend .text-uppercase;
            @extend .nowrap;

            .d-tablet.r-portrait & {
                @extend .fontSize-18;
            }
        }
        &-amount {
            @extend .pos-rel;
            @extend .flex-centered;
            @extend .c-gray;
            font-size:20px;
            @extend .fontWeight-bold;
            @extend .pl-l;
            @extend .h100p;

            .d-tablet & {
                padding-left:30px;
            }
            .d-tablet.r-portrait & {
                font-size:25px;
            }
            &-ruble {
                @extend .display-block;
                @extend .fontFamily-roboto;
                width:22px;
                height:22px;
                transform:translateY(1px);

                &-color {
                    @extend .fill-gray;
                }
                .d-tablet.r-portrait & {
                    width:27px;
                    height:27px;
                }
            }
            &:after {
                @extend .content-empty;
                @extend .pos-centered-h;
                @extend .t100;
                border-top:0;
                border-bottom-width:12px;
                border-bottom-style:solid;
                border-bottom-color:$gray;
                border-right:10px solid transparent;
                border-left:10px solid transparent;
                @extend .mt--xxs;

                .d-tablet.r-portrait & {
                    border-bottom-width:17px;
                    border-right-width:14px;
                    border-left-width:14px;
                    @extend .mt--xs;
                }
            }
        }
    }
    &-opener {
        @extend .display-block;
        @extend .pos-fixed;
        top:130px;
        @extend .r-45;
        @extend .w60;
        @extend .h60;
        @extend .userSelect-none;
        @extend .flex-centered;
        @extend .btn-active;
        @extend .borderRadius-circle;
        @extend .boxShadow-default;
        @extend .zIndex-5;
        @extend .bg-primary;
        will-change:transform, background-color;

        .d-phone & {
            @extend .t-90;
            @extend .r-m;
            @extend .w50;
            @extend .h50;
        }
        &-ruble {
            width:38px;
            height:38px;

            &-color {
                @extend .fill-white;
            }
            .d-phone & {
                width:36px;
                height:36px;
            }
        }
        &-valuta {
            @extend .fontFamily-gotham;
            @extend .c-white;
            font-size:36px;
            transform:translateY(2px);

            .d-phone & {
                font-size:33px;
            }
        }
    }
}
