.jobs__list {
    &__empty {
        @include flex("column", "center", "center");
        height:calc(100vh - 224px);
    }
    &__item {
        @extend .pos-rel;
        @extend .plr-m;
        @extend .pt-m;
        @extend .pb30;
        @extend .xs-plr0;
        border-bottom:1px solid $smokeLight;

        html.d-phone & {
            @extend .borderColor-smokeDarken;
            @extend .borderStyle-dashed;
        }
        &:before {
            @extend .content-empty;
            @include abs();
            @extend .opacity-0;
            @extend .scale-80;
            @extend .pointerEvents-none;
            @extend .willChange-tp;
            @extend .bg-snowSilver;
            @extend .boxShadow-raise;
            transition:transform 0.3s $cubic68, opacity 0.3s $cubic68;
        }
        html.m-no-touch &:hover {
            &:before {
                @extend .opacity-100;
                @extend .scale-100;
            }
            .jobs__list__item__buttons {
                @extend .opacity-100;
                @extend .pointerEvents-all;
            }
        }
        html.d-mobile & {
            .jobs__list__item__buttons {
                @extend .opacity-100;
                @extend .pointerEvents-all;
            }
        }
        &__content {
            @extend .pos-rel;

            html.d-phone & {
                @extend .w-mobile;
                @extend .m0-auto;
            }
        }
        &__title {
            @extend .display-inlineBlock;
            @extend .c-blueBright;
            @extend .fontFamily-graphik;
            @extend .fontWeight-bold;
            @extend .fontSize-18;
            @extend .breakWord;
            margin-bottom:1px;

            .d-no-touch &:hover {
                @extend .transition-default;
            }
            html.d-tablet & {
                @extend .mb0;
            }
            html.d-phone & {
                @extend .fontSize-22;
                line-height:26px;
                margin-bottom:2px;
                @extend .pr30;
            }
            &:visited {
                @extend .c-violet;
            }
            html.m-no-touch &:hover,
            html.m-no-touch &:visited:hover {
                @extend .c-green;
            }
        }
        &__salary {
            @extend .c-grayDarken;
            margin:1px 0 2px;

            html.d-phone & {
                @extend .fontFamily-roboto;
                @extend .fontWeight-5;
                @extend .fontSize-20;
                @extend .letterSpacing--xs;
                margin:1px 0 3px;
            }
            &__rub {
                font-family:$systemFont;
                @extend .fontWeight-normal;
            }
        }
        &__text {
            @extend .c-gray;
            @extend .fontSize-14;
            line-height:19px;

            html.d-tablet & {
                line-height:21px;
            }
            html.d-phone & {
                @extend .fontSize-16;
                line-height:24px;
            }
            strong {
                @extend .c-blackLight;
                @extend .fontFamily-graphik;
                @extend .fontWeight-bold;
                @extend .fontSize-16;
            }
            highlighttext {
                @extend .c-pink;
                @extend .fontWeight-bold;
            }
        }
        &__company,
        &__address {
            @extend .fontSize-15;
        }
        &__company {
            @extend .clear;
            margin-top:9px;
            padding-top:9px;
            margin-left:-6px;
            padding-left:6px;
            @extend .borderColor-smokeDark;
            border-top:1px solid;

            &__text {
                @extend .float-left;
                @extend .pos-rel;
                @extend .text-truncate;
                @extend .maxW-75p;
                padding-right:19px;

                html.d-phone & {
                    @extend .maxW-100p;
                }
                &[data-trusted="true"]{
                    &:after {
                        @extend .content-empty;
                        @extend .display-block;
                        @extend .pos-centered-v;
                        @extend .r0;
                        margin-top:-1px;
                        @include ui-icon("mark_gray", 16px, 16px);
                    }
                }
            }
        }
        &__address {
            @extend .text-truncate;
            @extend .maxW-75p;
            @extend .c-gray;
            margin-top:1px;

            html.d-phone & {
                @extend .maxW-100p;
            }
            &__city {
                @extend .c-redBright;
            }
            &__metro {
                @extend .c-grayDarken;
            }
        }
        &__buttons {
            @extend .flex-row-right-center;
            @extend .pos-abs;
            @extend .r0;
            @extend .b--xxs;
            @extend .opacity-0;
            @extend .userSelect-none;
            @extend .pointerEvents-none;
            @extend .transition-default;

            html.d-phone & {
                top:-9px;
                right:-9px;
                @extend .b-auto;
            }
            .icon-like,
            .icon-like-fill {
                @extend .pos-rel;
                @extend .display-block;
                @extend .cursor-pointer;
                @extend .btn-active;
                transform-origin:50% 200%;
                margin-right:7px;

                html.d-tablet & {
                    margin-bottom:1px;
                }
            }
            .icon-like-fill {
                margin-right:9px;
            }
            .icon-like {
                html.d-phone & {
                    @extend .opacity-85;
                    @extend .mr0;
                }
            }
            .icon-like-fill {
                html.d-phone & {
                    @extend .pos-rel;
                    @extend .display-block;
                    @extend .cursor-pointer;
                    @extend .btn-active;
                    margin:2px 2px 0 0;
                    transform-origin:50% 100%;
                }
            }
            .btn-default {
                html.d-phone & {
                    @extend .display-none;
                }
            }
        }
    }
}
