.jobs__search__pages {
    @extend .pos-centered-h;
    @extend .pos-fixed;
    @extend .b0;
    @extend .userSelect-none;
    @extend .pointerEvents-none;

    html.d-phone & {
        @extend .pos-static;
        @extend .mt--1;
        @extend .mlr0;
        @extend .plr0;
        @extend .transform-default;
    }
    &__items {
        @extend .pos-rel;
        width:120%;
        @extend .ml-s;
        @extend .pointerEvents-all;

        html.d-phone & {
            @extend .w100v;
            @extend .ml0;
            @extend .flex-row-left-center;
        }
    }
    &__arrows {
        @include flex("row", "space-between", "flex-start");
        @extend .pos-abs;
        @extend .b-50;
        @extend .l0;
        @extend .hidden-xs;
        width:84%;
    }
    &__arrow {
        @extend .c-silver;
        @extend .fontSize-13;
        @extend .w50p;
        @extend .opacity-75;
        @extend .btn-active;
        @extend .pointerEvents-none;
        @extend .letterSpacing-s;

        &[data-arrow="prev"]{
            @extend .text-left;
            transform-origin:25% 50%;

            html.d-tablet & {
                @extend .opacity-0;

                &:after {
                    content:"←";
                }
            }
            &[data-active="true"]{
                @extend .c-blackLight;

                html.d-tablet & {
                    @extend .opacity-100;
                    @extend .c-blueBright;
                }
                html.m-no-touch &:hover {
                    @extend .c-blueBright;
                }
            }
        }
        &[data-arrow="next"]{
            @extend .text-right;
            transform-origin:75% 50%;

            html.d-tablet & {
                &:after {
                    content:"→";
                }
            }
            &[data-active="true"]{
                @extend .c-blueBright;
            }
        }
        &[data-active="true"]{
            @extend .pointerEvents-all;
        }
        html.d-tablet & {
            @extend .fontSize-0;

            &:after {
                @extend .fontSize-24;
            }
        }
    }
    &__item {
        @extend .flex-centered;
        @extend .h40;
        @extend .bg-snowSilver;
        @extend .btn-active;

        html.d-phone & {
            @extend .w16p;
            height:9vh;
            min-height:54px;
            @extend .fontSize-18;
            border-top:1px solid;
            border-bottom:1px solid;
            @extend .borderColor-smoke;
            @extend .borderRadius-none;

            &:not(:nth-of-type(1), [data-active="true"]){
                border-left:1px solid;
                @extend .borderColor-smoke;
            }
        }
        &:nth-of-type(1) {
            border-radius:4px 0 0 0;
        }
        &:last-child {
            border-radius:0 4px 0 0;
        }
        &[data-active="true"]{
            @extend .c-white;
            @extend .bg-silver;
            @extend .pointerEvents-none;

            html.d-phone & {
                @extend .borderTopWidth-1;
                @extend .borderColor-blueBright;
                @extend .bg-blueBright;
            }
            + .jobs__search__pages__item {
                @extend .borderLeft-none;
            }
        }
        html.m-no-touch &:hover {
            @extend .c-white;
            @extend .bg-blueBright;
        }
        &__arrow {
            @extend .display-none;
            @extend .borderLeft-none;

            html.d-no-phone & {
                @extend .display-none;
            }
            &[data-active="true"]{
                html.d-phone & {
                    @extend .flex-centered;
                    @extend .pointerEvents-all;
                }
                &:after {
                    @extend .content-empty;
                    @extend .display-block;
                    @include ui-icon("back_white", 28px, 28px);
                    transform:scaleX(-1) translateX(-2px);
                }
            }
            &:not([data-active="true"]){
                @extend .display-none;
            }
        }
    }
}
