jobs-search-content {
    .jobs__list {
        .d-phone & {
            @extend .w100v;
            @extend .overflow-hidden;
        }
    }
}
.jobs {
    &__search {
        @extend .pb-xl;

        &__nav {
            @include accelerate(true);
            @extend .pos-tl;
            @extend .w100p;
            margin-bottom:24px;

            &[data-show="true"]{
                .jobs__search__nav {
                    &__header,
                    &__panel {
                        transform:translate3d(0, 94px, 0);

                        .d-phone & {
                            transform:translate3d(0, 296px, 0);
                        }
                    }
                    &__panel {
                        @extend .boxShadow-close;
                    }
                    &__form {
                        @extend .opacity-0;
                        @extend .pointerEvents-none;
                    }
                    &__menu {
                        .jobs[data-fixed="true"] & {
                            @extend .opacity-100;
                            @extend .pointerEvents-all;
                        }
                    }
                    &__subpanel__logo {
                        @extend .opacity-0;
                        @extend .pointerEvents-none;
                    }
                }
            }
            &__panel {
                &[data-turn="true"]{
                    .jobs__search__nav__opener__mobile {
                        @extend .opacity-100;
                        @extend .pointerEvents-all;
                    }
                }
                &[data-show="true"]{
                    .d-phone & {
                        box-shadow:0 20px 62px rgba($black,.3);
                    }
                    .jobs__search__nav__form__wrapper {
                        @extend .col-xs-24;

                        input {
                            padding-right:105px;
                        }
                    }
                    .jobs__search__nav__form__button {
                        @extend .flex-centered;
                    }
                    .jobs__search__nav__form__settings {
                        @extend .opacity-100;
                        @extend .pointerEvents-all;
                    }
                    .jobs__search__nav__options__wrapper {
                        @extend .hidden-xs;
                    }
                    .jobs__search__nav__opener__mobile {
                        @extend .display-none;
                    }
                }
                .input-autosuggest-items {
                    .d-phone & {
                        @extend .w100v;
                        @extend .ml--xss;
                    }
                }
            }
        }
        &__content {
            .d-tablet.r-landscape & {
                @extend .trX-s;
            }
        }
    }
    &[data-fixed="true"]{
        .jobs__search__nav {
            @extend .pos-fixed;
            transform:translate3d(0, -94px, 0);

            .d-phone & {
                transform:translate3d(0, -296px, 0);
            }
            &__menu {
                @extend .opacity-0;
                @extend .pointerEvents-none;
            }
            &__form {
                @extend .opacity-100;
                @extend .pointerEvents-all;
            }
            &__subpanel__logo {
                @extend .opacity-100;
                @extend .pointerEvents-all;
            }
        }
    }
    &[data-list="more"]{
        .jobs__list__item {
            @extend .pt-s;
            padding-bottom:21px;
        }
        .jobs__list__item__text {
            @extend .display-none;
        }
    }
    &[font-soft="true"]{
        .jobs__list__item {
            &__title {
                @extend .fontFamily-roboto;
                @extend .fontWeight-normal;
                @extend .letterSpacing--xs;
            }
            &__text {
                strong {
                    @extend .fontFamily-roboto;
                    @extend .letterSpacing--xs;
                }
            }
        }
        .jobs__search__filter {
            &__title {
                @extend .fontFamily-helvetica;
            }
        }
    }
    .d-no-phone & {
        .jobs__list__item__title,
        .jobs__list__item__salary,
        .jobs__list__item__text,
        .jobs__list__item__address,
        .jobs__list__item__company__text {
            @extend .pos-rel;
            will-change:color;
            transition:none;

            &:before {
                @extend .opacity-0;
                @extend .content-empty;
                @extend .pos-tl;
                @extend .h90p;
                @extend .bg-smokeLight;
                @extend .pointerEvents-none;
                @extend .willChange-opacity;
                transition:none;
                @extend .zIndex-1;
            }
        }
        .jobs__list__item__title:before,
        .jobs__list__item__text:before,
        .jobs__list__item__address:before,
        .jobs__list__item__company__text:before {
            @extend .w100p;
        }
        .jobs__list__item__salary:before {
            @extend .w35p;
        }
        &[data-search="true"]{
            .jobs__list__item {
                @extend .pointerEvents-none;
            }
            .jobs__list__item__title,
            .jobs__list__item__salary,
            .jobs__list__item__text,
            .jobs__list__item__address,
            .jobs__list__item__company__text {
                @extend .c-white;

                &:before {
                    @extend .opacity-100;
                }
            }
        }
    }
    .d-no-mobile & {
        &[data-search="true"]{
            .jobs__list__item__title,
            .jobs__list__item__salary,
            .jobs__list__item__text,
            .jobs__list__item__address,
            .jobs__list__item__company__text {
                transition:color 0.1s 0.35s;

                &:before {
                    transition:opacity 0.1s 0.35s;
                }
            }
        }
    }
    .d-tablet & {
        &[data-search="true"]{
            .jobs__list__item__buttons {
                @extend .opacity-0;
                @extend .pointerEvents-none;
            }
        }
    }
    .d-phone & {
        .section {
            &[data-search="true"]{
                @extend [data-loading="true"];

                .section__loading {
                    &__text,
        			&:before {
        				@extend .opacity-100;
        			    @extend .transition-none;
        			}
        		}
            }
            &__loading {
                &:before {
                    @extend .content-empty;
                    @extend .pos-centered;
                    @extend .w46;
                    @extend .h46;
                    @extend .willChange-opacity;
                    @extend .bg-cover;
                    @extend .opacity-0;
                    transition:opacity 0.08s;
                    background-image:url(/public/images/jobs/hh/min-hh-red.png);
                }
                &__text {
                    @extend .pos-centered;
                    padding-top:110px;
                    @extend .c-grayDarken;
                    @extend .willChange-opacity;
                    @extend .opacity-0;
                    transition:opacity 0.08s;
                }
            }
        }
    }
}
