$c_blue: #265cdc;
$c_blueLight: #0084ff;
$c_green: #74b027;
$c_emerald: #0bb5b7;
$c_pink: #ff7272;
$c_red: #d93663;
$c_brown: #c1a16b;
$c_orange: #ea7f07;
$c_violet: #5856d6;
$c_violetLight: #ab81cd;

premium-select {
    .phone__screen {
        &__nav {
            @extend .display-block;
            @extend .pos-tl;
            @extend .w100p;
            @extend .userSelect-none;
            @extend .pointerEvents-none;
            @extend .zIndex-2;
            height:111px;
            @extend .bg-cover;

            @each $color in ($c_blue, $c_blueLight, $c_green, $c_emerald, $c_orange, $c_red, $c_violet, $c_violetLight, $c_brown, $c_pink){
                &[data-color="#{$color}"]{
                    .phone__screen__nav {
                        &__item {
                            background-color:$color;
                        }
                    }
                }
            }
            &__item {
                @extend .pos-abs;
                @extend .borderRadius-circle;
                will-change:background-color;
                transition:background-color 0.3s $cubic215;
            }
            &__info {
                top:12px;
                left:12px;
                @extend .w28;
                @extend .h28;

                &__icon {
                    @extend .pos-centered;
                    @extend .w20;
                    @extend .h20;

                    &__color {
                        @extend .fill-white;
                    }
                }
            }
            &__sendmail {
                @extend .flex-centered;
                top:10px;
                right:10px;
                @extend .w42;
                @extend .h42;

                &__icon {
                    @extend .display-block;
                    @extend .w42;
                    @extend .h42;
                    transform:translate3d(0, 5px, 0) scale3d(1, 1.18, 1);

                    &__color {
                        @extend .fill-white;
                    }
                }
            }
            &__salary {
                @extend .fontFamily-helvetica;
                @extend .fontWeight-3;
                @extend .flex-centered;
                top:61px;
                right:14px;
                width:33px;
                height:33px;
                @extend .c-white;
                @extend .pt3;
                font-size:22.5px;

                span {
                    @extend .display-block;
                    transform:translate3d(1px, 0, 0) scale3d(1.16, 1, 1);
                }
            }
        }
    }
}
