body {
	.d-tablet.d-ios & {
		&:before {
			content:"";
			width:1px;
			float:left;
			height:calc(100% + 100px);
			margin-left:-1px;
		}
		&:after {
			content:"";
			width:100%;
			clear:both;
		}
	}
	.d-phone & {
		&.d-no-ios {
			@extend .perspective-500;
		}
		background-color:#171719;
	}
}
#app[data-app="premium"]{
	.d-no-phone & {
		@extend .overflowX-hidden;
	}
	.d-phone & {
		@include abs();
		@extend .overflow-hidden;
	}
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, strong {
    @extend .f-primary;
}
.ui-scroll__bar,
.ui-scroll__handle__inner {
	@extend .bg-primary;
}
#app {
	.tutorial__message {
		border-radius:18px;
	}
	.tutorial__shape {
		@extend .bg-white;
		border-color:rgba($steel,.8);
	}
}
