<section-alert class="alert" data-open="{ active }">

    <div name="wrapper" class="alert__wrapper">
        <div class="alert__header">
            <h3 class="alert__title">{ data.title }</h3>
            <p if={ data.subtitle } class="alert__subtitle">{ data.subtitle }</p>
        </div>
        <div class="alert__buttons">
            <div onClick={ onCancel } onUpdate="none" class="alert__button { alert__button--active : data.button === "cancel" }">{ data.cancel && data.cancel.title ? data.cancel.title : "Отмена" }</div>
            <div onClick={ onSuccess } onUpdate="none" class="alert__button { alert__button--active : data.button === "success" }">{ data.success && data.success.title ? data.success.title : "OK" }</div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.default = function(){
        return {
            title: null,
            subtitle: null
        }
    };

    $.show = function(data){
        if (data){
            $.data = _.extend($.default(), data);
            $.update({
                active: true
            })
        }
    };

    $.onSuccess = function(){
        if ($.data.success && typeof $.data.success.callback === "function"){
            $.data.success.callback();
        }
        $.data.button = "success";
        $.hide();
    };

    $.onCancel = function(){
        if ($.data.cancel && typeof $.data.cancel.callback === "function"){
            $.data.cancel.callback();
        }
        $.data.button = "cancel";
        $.hide();
    };

    $.hide = function(){
        if ($.data.afterHide && _.isFunction($.data.afterHide)){
            _.onEndTransition($.wrapper, function(){
                if ($.data.afterHide) $.data.afterHide();
            });
        }
        $.update({
            active: false
        })
    };

    $.handleClickOutside = function(e){
        if (!$.wrapper.contains(e.target)) $.hide();
    };

    $.on("updated", function(){
        if ($.active){
            setTimeout(function(){
                document.addEventListener('click', $.handleClickOutside);
            }, 0);
        }
        else {
            document.removeEventListener('click', $.handleClickOutside)
        }
    });

</script>

</section-alert>
