<section-loader class="loader" data-show="{ active }" data-color="{ color }">

    <div class="loader-spinner"></div>

<script>

    var $ = this;

    $.default = function(){
        return {
            color: null,
            active: true
        }
    };

    $.show = function(options){
        $.update(_.extend($.default(), options));

        return new Promise(function(resolve, reject){
            _.onEndTransition($.root, function(){
                return resolve();
            });
        });
    };

    $.hide = function(){
        $.update({
            active: false
        });
    };

</script>

</section-loader>
