<section-loader class="loader" data-show="{ active }">

    <div class="loader-spinner"></div>

<script>

    var $ = this;

    $.active = false;

    $.show = function(){
        $.update({
            active: true
        });

        return new Promise(function(resolve, reject){
            _.onEndTransition($.root, function(){
                return resolve();
            });
        });
    };

    $.hide = function(){
        $.update({
            active: false
        });
    };

</script>

</section-loader>
