<share-button class="shareButton" data-pos={ opts.pos }>

    <div class="shareButton__opener"></div>
    <div class="shareButton__items">
        <div class="shareButton__item" data-share="fb" data-balloon="Поделиться в Facebook" data-balloon-color="blue">
            <icon-fb></icon-fb>
        </div>
        <div class="shareButton__item" data-share="vk" data-balloon="Поделиться в ВКонтакте" data-balloon-pos="left" data-balloon-color="blue">
            <icon-vk></icon-vk>
        </div>
        <div class="shareButton__item" data-share="tw" data-balloon="Поделиться в Twitter" data-balloon-pos="left" data-balloon-color="blue">
            <icon-tw></icon-tw>
        </div>
        <div class="shareButton__item" data-share="dk" data-balloon="Поделиться в Одноклассниках" data-balloon-pos="left" data-balloon-color="blue">
            <icon-dk></icon-dk>
        </div>
    </div>

</share-button>
