<text-edit class="oScreen zIndex-{ opts.zindex || '101' } c-{ opts.textcolor || 'white' }" data-show="modal" data-color="{ opts.color || 'blue' }" data-open={ active }>

    <div name="content" class="oScreen__content">
        <div class="pos-centered">
            <div class="container">
                <div class="row">
                    <div class="textEdit col-sm-22 col-md-20 col-lg-17 centered">
                        <div class="textEdit__buttons">
                            <div onClick={ hide } onUpdate="none" class="textEdit__button" data-item="close"></div>
                            <div onClick={ save } onUpdate="none" class="textEdit__button" data-item="save"></div>
                        </div>
                        <textarea name="textarea" class="textarea textarea-xl" placeholder={ item.placeholder }>{ item.cursor ? item.cursor.get() : item.value }</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.active = false;

    $.show = function(options){
        var options = options || {};
        $.textarea.value = options.cursor ? options.cursor.get() : options.value;
        $.update({
            active: true,
            item: options
        })
    };

    $.save = function(){
        if ($.item.cursor) $.item.cursor.set($.textarea.value);
        if ($.item.callback) $.item.callback($.textarea.value);
        $.hide();
    };

    $.hide = function(){
        $.update({
            active: false
        })
    };

</script>

</text-edit>
