.screens {
    @extend .display-block;
}
.d-mobile .screens-mobile,
.d-phone .screens-phone,
.d-tablet .screens-tablet,
.d-no-mobile .screens-desktop {
    &.screens {
        @include abs();
        @include accelerate(true);
        @extend .overflow-hidden;
        background-color:#171719;
        perspective:500px;
        will-change:transform, opacity;
        transform-origin:0% 50%;
        transition:transform 0.5s $cubic40, opacity 0.5s $cubic40;
        @extend .zIndex-1;

        // &:after,
        // &:before {
        //     content:"";
        //     opacity:0;
        //     @include abs();
        //     will-change:opacity;
        //     transform:translate3d(999em, 0, 0);
        //     transition:none;
        //     z-index:10;
        // }
        // &:after {
        //     @include abs_50(58, 58);
        //     // @include ui-loading(white);
        //     will-change:opacity, transform;
        //     z-index:10;
        // }
        // &:before {
        //     background-color:rgba($blackDark,.4);
        // }
        // &[data-loading="true"] {
        //     &:after,
        //     &:before {
        //         opacity:1;
        //         transform:translate3d(0, 0, 0);
        //         transition:opacity 0.3s $cubic34, transform 0s;
        //     }
        //     &:after {
        //         animation:WD__section__spinner 1s infinite linear;
        //     }
        // }
        &[data-hidden="true"] {
            // opacity:0.4;
            // transform:translate3d(10%, 0, 0) scale(.83);
            // transition:transform 0.6s $cubic645 0.1s, opacity 0.6s $cubic645 0.1s;
            @extend .opacity-50;
            transform:perspective(500px) scale(.96) translateX(4%) rotateY(4deg);
            transition:transform 0.42s $cubic645, opacity 0.42s $cubic645;
        }
    }
    .screen {
        @include abs();
        @include accelerate(true);
        opacity:0;
        @extend .bg-white;
        will-change:transform, opacity;
        @extend .overflow-hidden;

        &--long {
            @extend .h-auto;
            min-height:100%;
        }
        &--active {
            @extend .display-block;
            @extend .opacity-100;
        }
    }
    .screen__content {
        @extend .display-block;
        @extend .pos-rel;
        @extend .w100p;
    }
    .vertical__space,
    .horizontal__space {
        @extend .pos-tl;
        @extend .w100p;
    }
    .horizontal__space {
        top:-200%;
        width:20000%;

        &__screen {
            @extend .float-left;
        }
    }
    .iScrollVerticalScrollbar,
    .ui-scroll {
        @extend .pos-tr;
        @extend .h100p;
        width:4px;
        transition:width .175s;
        @extend .overflow-visible;
    }
    .ui-scroll__bar,
    .ui-scroll__handle {
        @extend .pos-tl;
        @extend .w100p;
    }
    .ui-scroll__bar {
        @extend .content-empty;
        @extend .h100p;
        // @extend .bg-white;
        @extend .opacity-10;
    }
    .ui-scroll__handle__inner {
        @include abs();
        // @extend .bg-white;
        @extend .opacity-95;
    }
    .ui-scroll__bar,
    .ui-scroll__handle__inner {
        transition:background-color .6s;
    }
}
