<ux-contacts class="slider__item" style="background-color: { $root.colors.contacts }" data-slide="contacts" data-color="black">

    <div class="slider__item__container">
        <div class="row">
            <div class="col-md-24 slider__item__content">
                <div class="slider__item__label c-white -left">{ $i18n("resume.medium.template.Contacts") }</div>
                <div class="slider__item__label c-white -right hidden-xs"></div>
                <div class="row content content__scroll" data-track="box">
                    <div class="col-xs-24 col-md-18 centered content__scroll__track">
                        <div class="row contacts">
                            <div class="col-xs-24 col-sm-12">
                                <div class="item animate" data-anim="1">
                                    <div class="item__icon">
                                        <icon-city color="black"></icon-city>
                                    </div>
                                    <h4 class="item__title">
                                        { $resume.commons.contacts.city.name }<span class="plr-xs">/</span>{ $store.country.getTitleById($resume.commons.citizenship) }
                                    </h4>
                                </div>
                            </div>
                            <div class="col-xs-24 col-sm-12">
                                <div class="item animate" data-anim="{ app.device.isPhone ? '2' : '1' }">
                                    <div class="item__icon">
                                        <icon-phone color="black"></icon-phone>
                                    </div>
                                    <a href="{ $store.resume.take.phoneLink() }" class="item__title">
                                        { $store.resume.take.phone() }
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-24 col-sm-12">
                                <div class="item animate" data-anim="{ app.device.isPhone ? '3' : '2' }">
                                    <div class="item__icon">
                                        <icon-feedback color="black"></icon-feedback>
                                    </div>
                                    <a href="mailto:{ $resume.commons.contacts.email }" class="item__title">
                                        { $resume.commons.contacts.email }
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-24 col-sm-12">
                                <div class="item animate" data-anim="{ app.device.isPhone ? '4' : '2' }">
                                    <div class="item__icon">
                                        <icon-skype color="black"></icon-skype>
                                    </div>
                                    <a href="skype:{ $resume.commons.contacts.skype }" class="item__title">
                                        { $resume.commons.contacts.skype }
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row relocation">
                            <div class="divider animate" data-anim="{ app.device.isPhone ? '5' : '3' }"></div>
                            <div class="col-xs-24 col-md-12">
                                <div class="item animate" data-anim="{ app.device.isPhone ? '5' : '4' }">
                                    <div class="item__label">
                                        { $i18n("resume.medium.template.Relocation") }
                                    </div>
                                    <h4 class="item__name">
                                        { $store.dictionary.getTitleById($resume.commons.relocation, "relocation") }
                                    </h4>
                                </div>
                                <div class="item animate" data-anim="{ app.device.isPhone ? '6' : '4' }">
                                    <div class="item__label">
                                        { $i18n("resume.medium.template.Business trip") }
                                    </div>
                                    <h4 class="item__name">
                                        { $store.dictionary.getTitleById($resume.commons.businessTrip, "businessTrip") }
                                    </h4>
                                </div>
                            </div>
                            <div class="col-xs-24 col-md-12 animate" data-anim="{ app.device.isPhone ? '7' : '4' }">
                                <ux-social-items classname="social"></ui-social-items>
                            </div>
                        </div>
                    </div>
                    <div class="content__gradient -top" style="background-image:linear-gradient(to bottom, { $root.colors.contacts } 50%, { _.hexToRgb($root.colors.contacts, 0) });"></div>
                    <div class="content__gradient -bottom" style="background-image:linear-gradient(to top, { $root.colors.contacts }, { _.hexToRgb($root.colors.contacts, 0) });"></div>
                </div>
            </div>
        </div>
    </div>

</ux-contacts>
