.screens-mobile {
    .screen {
        &__image {
            @extend .pos-centered;
            @extend .w100p;
        }
        img {
            @extend .display-block;
        }
        &__button {
            @extend .pos-centered;
        }
        &__arrow {
            @include accelerate();
            @extend .pos-abs;
            @extend .l50;
            @extend .b-25;
            margin-left:-12px;
            transform:translate3d(0, 66%, 0);
            @extend .pointerEvents-none;
            @extend .willChange-tp;
            @extend .zIndex-2;
            animation:scroll__arrow 1.4s infinite;

            &:before {
                @extend .display-block;
                @extend .content-empty;
                @extend .w20;
                @extend .h20;
                border:4px solid $blue;
                border-left:none;
                border-top:none;
                transform:rotate(45deg) translateZ(0);
            }
        }
        @keyframes scroll__arrow {
            from {
                transform:translate3d(0, -33%, 0);
            }
            to {
                transform:translate3d(0, 66%, 0);
                opacity:0;
            }
        }
        .btn-xl {
            @extend .flex-centered;

            &.btn-success,
            &.btn-danger {
                @extend .fontSize-24;
                @extend .m0;
                @extend .letterSpacing-0;
                height:64px;
            }
            &.btn-success {
                box-shadow:0 12px 30px -10px rgba($green,.48), 0 4px 30px 0px rgba(31,35,37,.2), 0 7px 16px -5px rgba($green,.3);
            }
            &.btn-danger {
                box-shadow:0 12px 30px -10px rgba($red,.48), 0 4px 30px 0px rgba(31,35,37,.2), 0 7px 16px -5px rgba($red,.3);
            }
            &.btn-primary {
                font-size:21px;
                box-shadow:0 12px 20px -10px rgba($blue,.28), 0 4px 20px 0px rgba($blue,.12), 0 7px 8px -5px rgba($blue,.2);
            }
        }
        &__text {
            @extend .pos-bl;
            @extend .w100p;
            @extend .plr-l;
            @extend .bg-white;
            @extend .text-center;
            @extend .zIndex-1;

            &:before {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .t--l;
                @extend .l0;
                @extend .h80;
                @extend .w100p;
                background:linear-gradient(to top, #fff 0%, #fff 68%, rgba(#fff,0));
            }
        }
        h2 {
            @extend .ml0;
        }
        h2, p {
            @extend .pos-rel;
            @extend .zIndex-1;
        }
        strong {
            @extend .c-blue;
        }
        &[data-section="intro"]{
            img {
                @extend .maxW-100p;
            }
            h2 {
                font-size:33px;
                line-height:38px;
            }
            .screen__button {
                @extend .pt30;
            }
            .screen__text {
                @extend .pl35;
                @extend .pr35;
            }
        }
        &[data-section="premium-account"]{
            img {
                max-height:58vh;
                @extend .ml35;
            }
        }
        &[data-section="premium-mobile"]{
            &:before {
                @extend .content-empty;
                @extend .pos-tl;
                @extend .w100p;
                height:58vh;
                @extend .bg-blue;
            }
            img {
                max-height:58vh;
                @extend .m0-auto;
            }
        }
        &[data-section="premium-responsive"]{
            img {
                max-height:54vh;
                @extend .ml30;
            }
        }
        &[data-section="easy-setup"],
        &[data-section="help"]{
            img {
                @extend .w85p;
                max-width:540px;
                @extend .pl25;
                @extend .pr25;
                @extend .m0-auto;
            }
        }
        &[data-section="easy-setup"]{
            .screen__text {
                @extend .pl30;
                @extend .pr30;
            }
        }
        &[data-section="pdf"]{
            &:before {
                @extend .content-empty;
                @extend .pos-tl;
                @extend .w100p;
                @extend .h65v;
                background:url(/public/images/home/mobile/pattern.gif) repeat;
            }
            img {
                width:88%;
                max-width:540px;
                @extend .m0-auto;
            }
        }
        &[data-section="coverletter"]{
            &:before {
                @extend .content-empty;
                @extend .pos-tl;
                @extend .w100p;
                @extend .h65v;
                background:url(/public/images/home/mobile/pattern.gif) repeat;
            }
            img {
                @extend .w70p;
                max-width:540px;
                @extend .m0-auto;
            }
        }
        &[data-section="premium-colors"]{
            img {
                width:88%;
                max-width:540px;
                @extend .m0-auto;
            }
            .screen__text {
                @extend .pl35;
                @extend .pr35;
            }
        }
        &[data-section="back-office-mobile"]{
            img {
                max-height:48vh;
                @extend .ml-l;
            }
        }
        &[data-section="back-office-stat"]{
            background-color:#f8f8f8 !important;

            img {
                @extend .float-right;
                max-height:55vh;
            }
        }
        &[data-section="back-office-inbox"]{
            img {
                @extend .float-right;
                max-height:51vh;
            }
        }
        &[data-section="plans"]{
            .plan {
                &__controls {
                    @include flex("row", "center", "flex-end");
                    @extend .h20v;
                }
                &__control__item {
                    @extend .pos-rel;
                    @extend .plr-xs;
                    @extend .mlr-s;
                    @extend .c-gray;
                    @extend .fontWeight-bold;
                    @extend .fontSize-15;
                    @extend .text-uppercase;
                    padding-bottom:6px;

                    &:before {
                        @extend .content-empty;
                        @extend .pos-bl;
                        @extend .w100p;
                        @extend .h2px;
                        @extend .opacity-20;
                        @extend .borderRadius-m;
                    }
                    &[data-active="true"] {
                        @extend .c-blue;
                        @extend .fontWeight-8;
                        @extend .pointerEvents-none;

                        &:before {
                            @extend .bg-steel;
                        }
                    }
                    &__discount {
                        @extend .flex-centered;
                        @extend .pos-abs;
                        @extend .t100;
                        @extend .l100;
                        @extend .c-white;
                        @extend .fontWeight-bold;
                        @extend .fontSize-16;
                        @extend .plr-xxs;
                        @extend .h20;
                        @extend .bg-red;
                        @extend .borderRadius-m;
                        transform:translateY(25px);

                        &:before {
                            @extend .content-empty;
                            @extend .pos-abs;
                            @extend .b0;
                            @extend .r100;
                            width:70px;
                            height:70px;
                            @extend .bg-cover;
                            transform:translate3d(10px, 15%, 0) scaleX(-1);
                            background-image:url(/public/images/arrow.svg);
                        }
                    }
                }
                &__items {
                    @extend .pos-rel;
                    @extend .mlr-xxs;
                    @extend .trY--xxs;
                    @extend .nowrap;

                    &:before {
                        @extend .content-empty;
                        @extend .pos-abs;
                        @extend .t35;
                        @extend .l50;
                        @extend .w1px;
                        @extend .h100p;
                        transform:translate3d(-50%, -50%, 0) rotate(45deg);
                        background:linear-gradient(to top, rgba($gray,0), rgba($steel,.3), rgba($gray,0));
                    }
                }
                &__item {
                    @extend .text-center;
                    @extend .w60p;

                    &[data-item="free"]{
                        @include flex("column", "flex-end", "center");
                        @extend .pos-tl;
                        @extend .h35p;

                        .plan__checkbox {
                            @extend .pos-abs;
                            @extend .t100;
                            @extend .l-50;
                            @extend .pt-xxs;
                            transform-origin:50% 150%;
                        }
                        &:before {
                            @extend .content-empty;
                            @extend .pos-abs;
                            @extend .t100;
                            @extend .l0;
                            @extend .w80p;
                            @extend .h50p;
                        }
                    }
                    &[data-item="premium"]{
                        @include flex("column", "flex-start", "center");
                        @extend .pos-br;
                        @extend .h60p;

                        .plan__checkbox {
                            @extend .pos-abs;
                            @extend .b100;
                            @extend .r-l;
                            @extend .pb50;
                            transform-origin:50% 50%;
                        }
                        &:before {
                            @extend .content-empty;
                            @extend .pos-abs;
                            @extend .b100;
                            @extend .r0;
                            @extend .w80p;
                            @extend .h50p;
                        }
                    }
                    &[data-active="true"]{
                        @extend .pointerEvents-none;

                        .plan__checkbox {
                            @extend .scale-100;
                        }
                        .plan__price {
                            @extend .c-blue;
                        }
                    }
                }
                &__checkbox {
                    @extend .willChange-transform;
                    @extend .scale-0;
                    transition:transform .4s $cubic089;
                }
                &__price {
                    @extend .c-gray;
                    @extend .fontWeight-8;
                    @extend .letterSpacing--xl;
                    font-size:60px;
                    will-change:color;
                    transition:color .4s $cubic089;
                }
                &__button {
                    @extend .pos-centered-h;
                    @extend .b-45;
                }
            }
            .rub:after {
                content:"₽";
                font:bold 57px/60px $roboto;
                padding-left:12px;
            }
            small {
                @extend .display-block;
                @extend .c-gray;
                @extend .fontSize-16;
                letter-spacing:5.5px;
                @extend .text-uppercase;
                @extend .pt-xxs;
            }
            .checkbox-control {
                @extend .w35;
                @extend .h35;

                &:after {
                    width:24px;
                    height:24px;
                }
            }
            &[data-period="year1"]{
                .plan__item[data-item="premium"]{
                    @extend .pr-xs;
                }
            }
        }
        &[data-section="community"]{
            img {
                @extend .pos-centered;
                width:130%;
                max-width:540px;
            }
            .screen__button {
                @extend .pt55;
            }
        }
        &[data-section="jp-test"]{
            img {
                @extend .float-left;
                @extend .ml-l;
                max-height:48vh;
            }
            .screen__button {
                @extend .pt85;
            }
        }
        &[data-section="free-makets"]{
            .screen__image {
                @extend .w100p;
                height:58vh;

                &__container {
                    @extend .pos-centered;
                    @extend .h100p;
                    width:58vw;
                    max-width:280px;
                    @extend .perspective-500;
                }
            }
            .screen__image__item {
                @include accelerate();
                @extend .pos-centered-v;
                @extend .t50;
                @extend .userDrag-none;
                @extend .userSelect-none;
                @extend .willChange-tp;

                img {
                    @include accelerate();
                    @extend .display-block;
                    @extend .w100p;
                    @extend .willChange-tp;
                    transition:transform 0.35s $bounceForce, opacity 0.35s $bounceForce;
                    border:1px solid $smokeDark;
                    box-shadow:0 6px 22px -6px rgba(31,35,37,.25);
                }
                &:nth-child(1) img {
                    @extend .opacity-70;
                    transform:rotate(15deg) translateZ(0);
                }
                &:nth-child(2) img {
                    @extend .opacity-80;
                    transform:rotate(-15deg) translateZ(0);
                }
                &:nth-child(3) img {
                    @extend .opacity-90;
                    transform:rotate(9deg) translateZ(0);
                }
                &:nth-child(4) img {
                    transform:rotate(-9deg) translateZ(0);
                }
            }
        }
    }
    &[data-theme="white"]{
        .logotype {
            @extend .logotype[data-color="white"];
        }
        .menu__opener {
            @extend .menu__opener[data-color="white"];
        }
    }
}
@media screen and (max-height: 565px) {
    .screens-mobile {
        h2 {
            font-size:30px;
            line-height:33px;
            margin-bottom:10px;
        }
        p {
            font-size:17px;
            line-height:28px;
        }
        .screen {
            &[data-section="intro"]{
                .screen__image {
                    margin-top:-45px;
                }
                .screen__text {
                    padding-bottom:60px;
                }
            }
            &[data-section="easy-setup"],
            &[data-section="premium-colors"],
            &[data-section="pdf"],
            &[data-section="back-office-inbox"],
            &[data-section="community"],
            &[data-section="jp-test"]{
                .screen__image {
                    margin-top:-45px;
                }
                .screen__text {
                    padding-bottom:35px;
                }
            }
            &[data-section="premium-account"],
            &[data-section="premium-responsive"],
            &[data-section="back-office-mobile"],
            &[data-section="back-office-stat"],
            &[data-section="help"]{
                .screen__image {
                    margin-top:-40px;
                }
                .screen__text {
                    padding-bottom:30px;
                }
            }
            &[data-section="premium-mobile"],
            &[data-section="free-makets"]{
                .screen__image {
                    margin-top:-50px;
                }
                .screen__text {
                    padding-bottom:30px;
                }
            }
            &[data-section="premium-responsive"]{
                img {
                    margin-left:0;
                    float:right;
                }
            }
            &[data-section="back-office-mobile"]{
                img {
                    float:right;
                }
            }
            &[data-section="plans"]{
                .plan__controls {
                    padding-bottom:15px;
                }
                .plan__items {
                    height:calc(100% - 30vh);
                }
            }
        }
    }
}
@media screen and (min-height: 566px) {
    .screens-mobile {
        h2 {
            font-size:32px;
            line-height:35px;
            margin-bottom:15px;
        }
        p {
            font-size:17px;
            line-height:28px;
        }
        .screen {
            &[data-section="intro"],
            &[data-section="easy-setup"],
            &[data-section="pdf"],
            &[data-section="coverletter"],
            &[data-section="premium-colors"],
            &[data-section="community"]{
                .screen__image {
                    margin-top:-40px;
                }
                .screen__text {
                    padding-bottom:45px;
                }
            }
            &[data-section="intro"]{
                h2 {
                    font-size:33px;
                    line-height:38px;
                    margin-bottom:10px;
                }
                .screen__image {
                    margin-top:-40px;
                }
                .screen__text {
                    padding-bottom:65px;
                }
            }
            &[data-section="premium-account"],
            &[data-section="back-office-mobile"]{
                .screen__image {
                    margin-top:-40px;
                }
                .screen__text {
                    padding-bottom:35px;
                }
            }
            &[data-section="premium-mobile"] {
                .screen__image {
                    margin-top:-50px;
                }
                .screen__text {
                    padding-bottom:35px;
                }
            }
            &[data-section="premium-responsive"],
            &[data-section="back-office-stat"]{
                .screen__image {
                    margin-top:-40px;
                }
                .screen__text {
                    padding-bottom:40px;
                }
            }
            &[data-section="free-makets"],
            &[data-section="back-office-inbox"],
            &[data-section="jp-test"]{
                .screen__image {
                    margin-top:-50px;
                }
                .screen__text {
                    padding-bottom:40px;
                }
            }
            &[data-section="help"]{
                .screen__image {
                    margin-top:-50px;
                }
                .screen__text {
                    padding-bottom:45px;
                }
            }
            &[data-section="plans"]{
                .plan__controls {
                    padding-bottom:15px;
                }
                .plan__items {
                    height:calc(100% - 20vh);
                }
            }
        }
    }
}
@media screen and (min-height: 640px) and (max-height: 700px) {
    .screens-mobile {
        h2 {
            font-size:33px;
            line-height:36px;
        }
        p {
            font-size:18px;
            line-height:30px;
        }
    }
}
@media screen and (min-height: 700px) {
    .screens-mobile {
        h2 {
            font-size:36px;
            line-height:38px;
            padding-bottom:10px;
        }
        p {
            font-size:20px;
            line-height:30px;
        }
        .screen {
            &[data-section="plans"]{
                .plan__button {
                    margin-bottom:10px;
                }
            }
        }
    }
}
