body {
    @extend .overflowX-hidden;
}
.screens-mobile {
    .d-mobile &.screens {
        @extend .bg-white;
    }
    .screens__content {
        @extend .ml--xss;
        @extend .mr--xss;
    }
    .ui-scroll__bar,
    .ui-scroll__handle__inner {
        @extend .bg-green;
    }
}
#loader {
	@extend .loader;
}
.appLoading {
	#loader {
		@extend .loader[data-show="true"];
	}
}

@media screen and (min-width: $w768) {
    body {
        position:absolute;
        top:0;
        left:50%;
        width:375px;
        height:100vh;
        transform:translateX(-50%);
        box-shadow:0 45px 100px rgba(31,35,37,.15);
    }
}
