.screenMobile {
    @include abs();
    @extend .display-block;
    @extend .bg-white;
    @extend .overflow-hidden;

    &[data-screen="cover"]{
        .screenMobile__header {
            @include accelerate(true);
            @extend .pos-rel;
            @extend .w100p;
            height:52vh;
            max-height:343px;
            @extend .overflow-hidden;

            &__cover {
                @extend .flex-centered;
                @extend .pos-centered;
                width:108px;
                height:108px;
                @extend .c-white;
                @extend .fontSize-46;
                @extend .fontWeight-8;
                @extend .borderRadius-circle;
                @extend .text-uppercase;
                @extend .zIndex-1;

                @each $title, $color in (blue: $blue, blueLight: $blueLight, brown: $brown, red: $red, pink: $pink, orange: $orange, violet: $violet, violetLight: $violetLight, green: $green, emerald: $emerald){
                    &[data-color="#{$color}"]{
                        @extend .bg-#{$title};
                        @extend .boxShadow-3d-#{$title};
                    }
                }
                &[data-color="blue"]{
                    @extend .bg-blue;
                    @extend .boxShadow-3d-blue;
                }
                &__photo {
                    @include accelerate();
                    @extend .pos-tr;
                    @extend .w45;
                    @extend .h45;
                    @extend .borderRadius-circle;
                    @extend .overflow-hidden;
                    @extend .bg-cover;
                    @extend .boxShadow-30;
                    transform:translate3d(6px, -6px, 0);
                }
            }
            &__photo {
                @extend .pos-centered;
                width:118px;
                height:118px;
                @extend .bg-cover;
                @extend .overflow-hidden;
                @extend .borderRadius-circle;
                @extend .boxShadow-24;
                @extend .zIndex-1;
            }
        }
        .screenMobile__content {
            margin-top:-11vh;
        }
    }
    &__navbar {
        @include flex("row", "space-between", "center");
        @extend .pos-tl;
        @extend .w100p;
        @extend .h60;
        @extend .plr-xs;
        @extend .zIndex-5;
        @extend .c-blue;

        &[data-color="white"]{
            @extend .c-white;

            .screenMobile__nav__close {
                @extend .opacity-95;
                @include ui-icon("close_fill_gray");
            }
            .screenMobile__nav__back {
                @include ui-icon("back_white");
            }
            .screenMobile__nav__options {
                @include ui-icon("more_v_white");
            }
        }
        &[data-gradient="black"]{
            background:linear-gradient(to bottom, rgba($blackLight,.7), rgba($blackLight,0));
        }
        &[data-gradient="white"]{
            background:linear-gradient(to bottom, $white, rgba($white,0));

            &:before {
                @extend .content-empty;
                @include abs();
                background:linear-gradient(to bottom, $white, rgba($white,0));
                @extend .zIndex--1;
            }
        }
    }
    &__nav {
        &__title {
            @extend .fontSize-18;
            @extend .fontWeight-bold;
            @extend .text-uppercase;
        }
        &__close {
            @include ui-icon("close_fill", 34px, 34px);
            transform:translateX(4px);
        }
        &__back {
            @include ui-icon("back_gray", 26px, 26px);
            transform:translateX(2px);
        }
        &__options {
            @include ui-icon("more_v", 28px, 28px);
            transform:translateX(2px);
        }
        &__buttons {
            @extend .pos-tr;
            @extend .flex-row-right-center;
            @extend .plr-xss;
            @extend .h100p;

            &__item {
                @extend .flex-centered;
                width:46px;
                @extend .h100p;
            }
        }
    }
    &__content {
        @include accelerate(true);
        padding-left:5vw;
        padding-right:5vw;
        @extend .pb70;
        @extend .c-blackLight;
        @extend .willChange-transform;

        &__fit {
            margin-left:-5vw;
            margin-right:-5vw;
            @extend .w100v;
        }
        .title {
            @extend .c-gray;
            @extend .fontSize-14;
            @extend .fontWeight-8;
            @extend .text-uppercase;
            @extend .mb-xs;
        }
        .text {
            @extend .fontFamily-helvetica;
            @extend .fontSize-16;
            @extend .lineHeight-l;
            @extend .whiteSpace-preLine;

            &[data-truncate="m"]{
                &[data-hidden="true"]{
                    @include textEllipsis(100%, 112px, 4);
                }
            }
        }
    }
    .switcher {
        html.d-phone & {
            transform:translateY(-4px);
        }
    }
}
