.section {
    &__menu {
        @include abs();
        @extend .display-block;
        @extend .overflowY-auto;
        @extend .section-hidden;
        padding:100px 20px 70px;

        &[data-color="white"]{
            .section__menu__item {
                @extend .c-white;
                border-bottom-color:rgba($white,.3);
            }
        }
        &__title {
            @extend .pos-tl;
            @extend .pt-m;
            @extend .pl-m;
            @extend .ml-xxs;
            @extend .c-white;
            @extend .fontSize-18;
            @extend .fontWeight-8;
            @extend .text-uppercase;
        }
        &__item {
            @extend .pos-rel;
            @include flex("row", "flex-start", "center");
            padding:30px 10px 30px 70px;
            border-bottom:1px solid $grayLighten;

            &__icon {
                @extend .flex-centered;
                @extend .pos-tl;
                @extend .h100p;
                @extend .w80;
            }
            &__title {
                @extend .pl-m;
                @extend .fontSize-28;
                @extend .text-truncate;
                max-width:100%;

                .d-phone & {
                    font-size:27.5px;
                }
            }
        }
    }
}
