.section {
	@extend .display-block;

    &__overlay {
        @include abs(fixed);
        @extend .bg-overlay;
        @extend .visibility-hidden;
        @extend .pointerEvents-none;
        @extend .opacity-0;
        will-change:opacity;
        transition:opacity .3s $cubic28, visibility 0s .3s;
        @extend .zIndex-5;
    }
    &[data-overlay="true"] {
        .section__overlay {
            @extend .opacity-100;
            @extend .visibility-visible;
            @extend .pointerEvents-all;
            transition:opacity .3s $cubic28;
        }
    }
	&-hidden {
		@include accelerate();
		@extend .display-block;
		@extend .visibility-hidden;
		@extend .pointerEvents-none;
		@extend .willChange-transform;
		transition:transform .5s $cubic645, visibility 0s .5s;

		.d-phone & {
			transition:transform .42s $cubic645, visibility 0s .42s;
		}
		&[data-short="true"]{
			transition:transform .4s $cubic40, visibility 0s .4s;

			.d-phone & {
				transition:transform .3s $cubic28, visibility 0s .3s;
			}
		}
		&[data-slow="true"]{
			transition:transform .7s $cubic60, visibility 0s .7s;

			.d-phone & {
				transition:transform .4s $cubic40, visibility 0s .4s;
			}
		}
		&[data-pos="up"]{
			transform-origin:50% 0%;
			transform:perspective(500px) translate3d(0, -101%, 0);

			&[data-short="true"]{
				transform:perspective(500px) translate3d(0, -120%, 0);
			}
			&[data-shadow="true"] {
				box-shadow:0 8.66px 30px 0 rgba(31,35,37,.078);
			}
		}
		&[data-pos="bottom"]{
			transform-origin:50% 0%;
			transform:perspective(500px) translate3d(0, 101%, 0);

			&[data-short="true"]{
				transform:perspective(500px) translate3d(0, 120%, 0);
			}
			&[data-shadow="true"] {
				box-shadow:0 -8.66px 30px 0 rgba(31,35,37,.078);
			}
		}
		&[data-pos="left"]{
			transform-origin:0% 50%;
			transform:perspective(500px) translate3d(-101%, 0, 0);

			&[data-short="true"],
			&[data-notfully="true"] {
				transform:perspective(500px) translate3d(-120%, 0, 0);
			}
			&[data-shadow="true"] {
				box-shadow:5px 8.66px 30px 0 rgba(31,35,37,.078);
			}
		}
		&[data-pos="right"]{
			transform-origin:0% 50%;
			transform:perspective(500px) translate3d(101%, 0, 0);

			&[data-short="true"],
			&[data-notfully="true"] {
				transform:perspective(500px) translate3d(120%, 0, 0);
			}
			&[data-shadow="true"] {
				box-shadow:-5px 8.66px 30px 0 rgba(31,35,37,.078);
			}
		}
		&[data-open="true"] {
			@extend .visibility-visible;
			@extend .pointerEvents-all;
			@extend .transform-default;
			transition:transform .7s $cubic60, visibility 0s;

			.d-phone & {
				transition:transform .42s $cubic645, visibility 0s;
			}
			&[data-notfully="true"] {
				transform:translate3d(15.5%, 0, 0);
			}
			&[data-short="true"]{
				@extend .transform-default;
				transition:transform .55s $cubic28, visibility 0s;

				.d-phone & {
					transition:transform .42s $cubic645, visibility 0s;
				}
			}
			&[data-slow="true"]{
				transition:transform 1s $cubic60, visibility 0s;

				.d-phone & {
					transition:transform .5s $cubic32, visibility 0s;
				}
			}
	    }
		&[data-notfully="true"] {
			.button__close {
				margin-right:calc(15.5% + 17px);
			}
		}
	}
}
