.vacancy {
    padding-bottom:42px;

    .title {
        @extend .mb-m;
        @extend .pr-l;
    }
    &__header {
        width:calc(100% + 80px);
        min-height:112px;
        @extend .display-table;
        @extend .mt25;
        @extend .c-white;
        @extend .bg-blueBright;
        @extend .ml--l;
        @extend .plr-xs;
        @extend .borderRadius-l;
        @include boxShadow-3d($blueBright);

        &__fixed {
            @extend .pos-tl-fixed;
            @extend .w100p;
            @extend .bg-blueBright;
            @extend .zIndex-2;

            .vacancy {
                &__container {
                    @extend .ptb0;
                }
                &__header {
                    @extend .mt0;
                    @extend .bg-none;
                    @extend .borderRadius-none;
                    @extend .boxShadow-none;
                }
            }
        }
        &__item {
            @extend .display-tableCell;
            @extend .w33p;
            @extend .p30;
            @extend .vAlign-top;

            &__title {
                @extend .fontSize-12;
                @extend .mb-xss;
                @extend .text-uppercase;
                @extend .opacity-75;
                margin-top:-1px;
            }
            &__text {
                @extend .fontFamily-roboto;
                @extend .fontSize-18;
                @extend .fontWeight-bold;
            }
        }
    }
}
