.vacancy {
    &__content {
        @extend .fontSize-15;

        .d-phone & {
            @extend .fontSize-16;
        }
    }
    .share {
        .d-no-phone & {
            @extend .pos-abs;
            @extend .t--xxs;
            @extend .r--m;
        }
        &__opener {
            .d-phone & {
                @extend .pos-abs;
                bottom:13px;
                right:12px;
            }
        }
    }
    .employer__link {
        .d-no-phone & {
            max-width:calc(100% - 165px);
        }
        .d-phone & {
            max-width:calc(100% - 65px);
        }
    }
    &__description {
        @extend .c-blackLight;
        @extend .pl-xs;
        @extend .pt-l;
        @extend .md-pr-l;
        @extend .breakWord;

        .d-phone & {
            @extend .pt30;
        }
        p {
            margin-top:23px;

            &:first-child {
                @extend .mt0;
            }
            .d-phone &:not(:first-child) {
                @extend .mt25;
            }
        }
        p.h {
            margin-bottom:14px;

            .d-phone & {
                @extend .mb-s;
            }
            strong {
                @extend .c-blueBright;
                @extend .fontFamily-graphik;
                @extend .fontSize-15;
                line-height:24px;
                @extend .text-uppercase;
                @extend .letterSpacing--xs;

                .d-phone & {
                    font-size:18px;
                }
            }
        }
        ul, ol {
            @extend .pl-xs;
            @extend .xs-pl-xxs;
            @extend .pb-xxs;

            > li {
                @extend .ml-xs;

                &:not(:last-child) {
                    @extend .mb-s;
                }
            }
        }
        ul {
            list-style-type:disc;
        }
        ol {
            list-style-type:decimal;
        }
        ul ul,
        ol ol {
            @extend .mt-xs;
        }
        li strong,
        p:not(.h) strong {
            font-size:15.5px;

            .d-phone & {
                font-size:16.5px;
            }
        }
        li.s {
            strong {
                color:darken($pink,9%);
                font-size:16.5px;
                @extend .letterSpacing--xs;
            }
        }
        p:empty,
        ul:empty,
        ol:empty,
        li:empty {
            @extend .display-none;
        }
        a {
            @extend .display-inlineBlock;
            @extend .vAlign-middle;
            @extend .c-blueBright;
            @extend .text-truncate;
            @extend .maxW-100p;
            @extend .transition-default;
            border-bottom:1px solid rgba($blueLight,.3);

            &:hover {
                @extend .c-redBright;
                border-color:rgba($redBright,.3);
            }
        }
        iframe {
            @extend .mtb-xss;

            .d-no-phone & {
                @extend .w100p;
                height:335px;
            }
            .d-phone & {
                @extend .w100v;
                @extend .h40v;
                @extend .mlr--mobile;
            }
        }
    }
}
