<popup-premium class="popup popup-m" data-pos="bottom-right" data-active={ active }>

    <div onClick={ close } onUpdate="none" class="popup__close"></div>

    <div class="popup__inner">
        <div class="popup__image">
            <img src="/assets/images/popup/premium.png">
        </div>
        <div class="popup__content">
            <div class="popup__title c-blueLight"><strong>Premium</strong> резюме</div>
            <div class="popup__text">Новый формат резюме еще заметней и привлекательней, поможет выделить вас среди соискателей.</div>
            <div onClick={ success } onUpdate="none" class="btn btn-info">Подробнее</div>
        </div>
    </div>

<script>

    var $ = this;

    $.show = function(){
        if ($.active) return;

        $.update({
            active: true
        })

        app.metrika.set("offers.popup.premium.show", true);

        return new Promise(function(resolve, reject){
            $.resolve = resolve;
        });
    };

    $.success = function(){
        $.hide();
        $.resolve();
        app.metrika.set("offers.popup.premium.success", true);
    };

    $.close = function(){
        $.hide();
        app.metrika.set("offers.popup.premium.hide", true);
    };

    $.hide = function(){
        if (!$.active) return;

        $.update({
            active: false
        })
    };

</script>

</popup-premium>
