<resume-basic-template7 id="t7">

	<div id="t-header">
		<div id="t-header-names">
			{ $resume.get('commons', 'surname') } { $resume.get('commons', 'name') }
		</div>
		<div id="t-header-post">
			{ $resume.get('post') }
		</div>
		<div if={ $resume.get('salary', 'active') && $resume.get('salary', 'amount') } id="t-header-salary">
			{ $resume.take.salary.amount() }
			<rub if={ $resume.get('salary', 'currency') == "1" }></rub>
			<valuta if={ $resume.get('salary', 'currency') != "1" }>{ $resume.take.salary.currency() }</valuta>
			<sup class="t-header-salary-currency">{ $resume.take.salary.worktime() }</sup>
		</div>
	</div>
	<div if={ $resume.get('commons', 'photo') } id="upload-photo" class="t-header-photo">
		<div class="t-header-photo-image" style="background-image:url({ $resume.get('commons', 'photo') })"></div>
		<i class="icon"></i>
	</div>
	<div if={ !$resume.get('commons', 'photo') } id="upload-photo" class="t-header-photo place">
		<i class="icon"></i>
		<span>загрузить свою фотографию</span>
	</div>
	<div id="t-container-wrapper">
		<div class="t-container-string t-container-table">
			<div class="t-container-string-left">
				<div class="t-container-string-element">
					<span class="cell cell-name">{ $i18n("resume.basic.template.Age") }:</span>
					<span class="cell"><virtual if={ !$resume.get('commons', 'birthday', 'hidden') }>{ $resume.take.birthday.date() }&nbsp;</virtual>({ $resume.take.birthday.age() })</span>
				</div>
				<div if={ $resume.get('commons', 'contacts', 'city') } class="t-container-string-element">
					<span class="cell cell-name">{ $i18n("resume.basic.template.City") }:</span>
					<span class="cell">{ $resume.get('commons', 'contacts', 'city') }</span>
				</div>
			</div>
			<div class="t-container-string-left">
				<div if={ $resume.get('commons', 'contacts', 'email') } class="t-container-string-element">
					<span class="cell cell-name">Email:</span>
					<span class="cell cell-email">{ $resume.get('commons', 'contacts', 'email') }</span>
				</div>
				<div if={ $resume.get('commons', 'contacts', 'phone') } class="t-container-string-element">
					<span class="cell cell-name">{ $i18n("resume.basic.template.Phone") }:</span>
					<span class="cell">{ $resume.get('commons', 'contacts', 'phone') }</span>
				</div>
				<div if={ $resume.get('commons', 'contacts', 'skype') } class="t-container-string-element">
					<span class="cell cell-name">Skype:</span>
					<span class="cell">{ $resume.get('commons', 'contacts', 'skype') }</span>
				</div>
			</div>
		</div>
		<div if={ $resume.get('education', 'items').length } class="t-container-string t-container-string-edu">
			<virtual each={ edu, i in $resume.take.education.items() }>
				<div if={ edu.level != 8 } class="t-container-string-element">
					<span class="cell cell-name">{ i == 0 ? $i18n("resume.basic.template.Education") : '' }</span>
					<span class="cell cell-text">
						<strong>{ edu.year }, { $store.education.getTitleById(edu.level) }</strong>
						<div>{ edu.title }</div>
						<div><strong>{ edu.faculty }</strong></div>
						<div if={ edu.speciality } class="speciality"><strong>{ $i18n("resume.basic.template.Specialty") }</strong> &ndash; { edu.speciality }</div>
					</span>
				</div>
				<div if={ edu.level == 8 } class="t-container-string-element">
					<span class="cell cell-name">{ i == 0 ? $i18n("resume.basic.template.Education") : '' }</span>
					<span class="cell cell-text">
						<strong>{ edu.year }, { $store.education.getTitleById(edu.level) }</strong>
						<div>{ edu.title }</div>
						<div>{ edu.faculty }</div>
						<div if={ edu.speciality } class="speciality"><strong>{ $i18n("resume.basic.template.Specialty") }</strong> &ndash; { edu.speciality }</div>
					</span>
				</div>
			</virtual>
		</div>
		<div class="t-container-string t-container-string-lang">
			<virtual each={ lang, i in $resume.get('languages', 'items') }>
				<div if={ lang.title == "native" } class="t-container-string-element mt-10">
					<span class="cell cell-name">{ $i18n("resume.basic.template.Languages") }</span>
					<span class="cell">
						<div><strong class="t-container-string-lang-title">{ $store.languages.getTitleById(lang.title) }</strong>&nbsp; &nbsp; { $store.languages.native.getTitleById(lang.value) }</div>
					</span>
				</div>
				<div if={ lang.title != "native" } class="t-container-string-element mt-10">
					<span class="cell cell-name"></span>
					<span class="cell cell-text">
						<div><strong class="t-container-string-lang-title">{ $store.languages.getTitleById(lang.title) }</strong>&nbsp; &nbsp; { $store.languages.select.getTitleById(lang.value) }</div>
					</span>
				</div>
			</virtual>
		</div>
		<div if={ $resume.get('jobs', 'items').length } class="t-container-string t-container-string-job">
			<div each={ job, i in $resume.take.jobs.items() } class="t-container-string-element { 'mt-10' : i != 1 }">
				<span class="cell cell-name">{ i == 0 ? $i18n("resume.basic.template.Experience") : ''  }</span>
				<span class="cell cell-text">
					<div><strong>{ job.title }</strong></div>
					<div>{ job.city }</div>
					<div><strong>{ job.post }</strong></div>
					<div>{ $resume.take.jobs.period(job) }</div>
					<div class="mt5 preline">{ job.text }</div>
				</span>
			</div>
		</div>
		<div if={ $resume.get('about').length } class="t-container-string t-container-string-about">
			<div class="t-container-string-element">
				<span class="cell cell-name">{ $i18n("resume.basic.template.About me") }</span>
				<span class="cell cell-text preline">{ $resume.get('about') }</span>
			</div>
		</div>
	</div>

</resume-basic-template7>
