<resume-basic-template8 id="t8">

	<div id="t-circle-bg"></div>
	<div id="t-header">
		<div if={ $resume.get('photo') } id="upload-photo" class="t-header-photo">
			<div class="t-header-photo-image" style="background-image:url({ $resume.get('photo') })"></div>
			<i class="icon"></i>
			<div class="img-shadow"></div>
		</div>
		<div if={ !$resume.get('photo') } id="upload-photo" class="t-header-photo place">
			<i class="icon"></i>
			<span>загрузить свою фотографию</span>
		</div>
		<div id="t-header-names" data-long={ $resume.get('commons', 'name').length > 9 || $resume.get('commons', 'surname').length > 9 }>
			<div if={ !$resume.get('commons', 'surname') } class="t-header-name">
				{ $resume.get('commons', 'name') }
			</div>
			<div if={ $resume.get('commons', 'surname') } class="t-header-name">
				{ $resume.get('commons', 'surname') } <span>{ $resume.get('commons', 'name') }</span>
			</div>
		</div>
		<div id="t-header-post">
			{ $resume.get('post') }
		</div>
		<div if={ $resume.get('salary', 'active') && $resume.get('salary', 'amount') } id="t-header-salary">
			{ $resume.take.salary.amount() }
			<rub if={ $resume.get('salary', 'currency') == "1" }></rub>
			<valuta if={ $resume.get('salary', 'currency') != "1" }>{ $resume.take.salary.currency() }</valuta>
			<sup class="t-header-salary-currency">{ $resume.take.salary.worktime() }</sup>
		</div>
		<div id="t-header-string">
			<div class="t-header-string-container">
				<div class="t-header-string-element w40p"><span>{ $i18n("resume.basic.template.Citizenship") }:</span> <em>{ $resume.take.citizenship() }</em></div>
				<div if={ $resume.get('commons', 'contacts', 'city') } class="t-header-string-element"><span>{ $i18n("resume.basic.template.City") }:</span> <em>{ $resume.get('commons', 'contacts', 'city', 'name') }</em></div>
				<div class="t-header-string-element"><span>{ $i18n("resume.basic.template.Age") }:</span> <em><virtual if={ !$resume.get('commons', 'birthday', 'hidden') }>{ $resume.take.birthday.date() }&nbsp;</virtual>({ $resume.take.birthday.age() })</em></div>
			</div>
			<div class="t-header-string-container">
				<div if={ $resume.get('commons', 'contacts', 'phone') } class="t-header-string-element  w40p"><span>{ $i18n("resume.basic.template.Phone") }:</span> <a href="tel:{ $resume.get('commons', 'contacts', 'phone').replace(/[\s|\-|\(|\)]/g, "") }">{ $resume.get('commons', 'contacts', 'phone') }</a></div>
				<div if={ $resume.get('commons', 'contacts', 'email') } class="t-header-string-element"><span>Email:</span> <a href="mailto:{ $resume.get('commons', 'contacts', 'email') }">{ $resume.get('commons', 'contacts', 'email') }</a></div>
				<div if={ $resume.get('commons', 'contacts', 'skype') } class="t-header-string-element"><span>Skype:</span> <a href="skype:{ $resume.get('commons', 'contacts', 'skype') }">{ $resume.get('commons', 'contacts', 'skype') }</a></div>
			</div>
			<div class="t-header-string-container">
				<div class="t-header-string-element w40p"><span>{ $i18n("resume.basic.template.Relocation") }:</span> { $resume.take.relocation() }</div>
				<div class="t-header-string-element w40p"><span>{ $i18n("resume.basic.template.Business trip") }:</span> { $resume.take.businessTrip() }</div>
			</div>
		</div>
	</div>
	<div id="t-container-wrapper">
		<div id="t-column-left">
			<div class="t-container t-container-about">
				<h3>{ $i18n("resume.basic.template.About me") }</h3>
				<div class="preline">{ $resume.get('about') }</div>
			</div>
			<div if={ $resume.get('languages', 'items').length } class="t-container t-container-lang">
				<h3>{ $i18n("resume.basic.template.Languages") }</h3>
				<virtual each={ lang, i in $resume.get('languages', 'items') } no-reorder>
					<div if={ lang.title == "native" } class="t-container-item">
						<div class="t-container-item-title">{ $store.languages.getTitleById(lang.title) }</div>
						<div class="t-container-item-value">{ $store.languages.native.getTitleById(lang.value) }</div>
					</div>
					<div if={ lang.title != "native" } class="t-container-item">
						<div class="t-container-item-title">{ $store.languages.getTitleById(lang.title) }</div>
						<div class="t-container-item-value { 't-gray' : lang.value == 'not' }">{ $store.languages.select.getTitleById(lang.value) }</div>
					</div>
				</virtual>
			</div>
		</div>
		<div id="t-container-content">
			<div if={ $resume.get('tags').length } class="t-container t-container-tags">
				<h3>{ $i18n("resume.basic.template.Main skills") }</h3>
				<div class="t-container-item">
					<div class="t-container-dates"></div>
					<div class="t-container-desc">
						<span each={ item in $resume.get('tags') } no-reorder class="t-tag">{ item }</span>
					</div>
				</div>
			</div>
			<div if={ $resume.get('education', 'items').length } class="t-container t-container-edu">
				<h3>{ $i18n("resume.basic.template.Education") } <span>{ $resume.take.education.level() }</span></h3>
				<virtual each={ edu, i in $resume.take.education.items() } no-reorder>
					<div class="t-container-item">
						<div class="t-container-dates">
							<div class="t-container-dates-year">{ edu.year }</div>
						</div>
						<div class="t-container-desc">
							<div class="t-container-desc-title">{ edu.title }</div>
							<div if={ edu.speciality } class="t-container-desc-name">{ edu.speciality }</div>
							<div if={ edu.faculty } class="t-container-desc-name">{ edu.faculty }</div>
						</div>
					</div>
				</virtual>
			</div>
			<div if={ $resume.get('jobs', 'items').length } class="t-container t-container-job">
				<h3>{ $i18n("resume.basic.template.Experience") } <span>{ $resume.take.jobs.experience() }</span></h3>
				<div each={ job, i in $resume.take.jobs.items() } no-reorder class="t-container-item">
					<div class="t-container-dates">
						<div class="t-container-dates-year">{ job.from.year }-<span if={ job.last }>NOW</span><span if={ !job.last }>{ job.to.year }</span></div>
						<div if={ job.city } class="t-container-dates-title">{ job.city }</div>
					</div>
					<div class="t-container-desc">
						<div class="t-container-desc-title">{ job.title }</div>
						<div class="t-container-desc-name">{ job.post } <span>&nbsp;&mdash; &nbsp;{ $resume.take.jobs.period(job, true) }</span></div>
						<div class="t-container-desc-text preline">{ job.text }</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<style>

@font-face {
  font-family: 'Bebas';
  src: url('/assets/css/appResume/basic/templates/template8/fonts/bebasneue-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/appResume/basic/templates/template8/fonts/bebasneue-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/appResume/basic/templates/template8/fonts/bebasneue-regular.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template8/fonts/bebasneue-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template8/fonts/bebasneue-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/appResume/basic/templates/template8/fonts/bebasneue-regular.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(/assets/css/appResume/basic/templates/template8/fonts/b9QBgL0iMZfDSpmcXcE8nBV4f1rh352p76gXHS_gk9g.woff2) format('woff2'), url(/assets/css/appResume/basic/templates/template8/fonts/b9QBgL0iMZfDSpmcXcE8nANHRvH4E1CCxguZf4zS03A.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/css/appResume/basic/templates/template8/fonts/xjAJXh38I15wypJXxuGMBhLwxQbNcFnuWuPk3YnjToI.woff2) format('woff2'), url(/assets/css/appResume/basic/templates/template8/fonts/xjAJXh38I15wypJXxuGMBmOb2gHztoQeulij-1lvl-8.woff) format('woff');
}

</style>

</resume-basic-template8>
