<resume-basic-template3 id="t3">

	<div id="t-header">
		<div id="t-header-contacts">
			<div if={ $resume.get('commons', 'contacts', 'city') } id="t-header-city">{ $resume.get('commons', 'contacts', 'city', 'name') }</div>
			<div if={ $resume.get('commons', 'contacts', 'phone', 'number') } id="t-header-phone"><a href="{ $store.resume.take.phoneLink() }">{ $store.resume.take.phone() }</a></div>
			<div if={ $resume.get('commons', 'contacts', 'skype') } id="t-header-skype">Skype: <a href="skype:{ $resume.get('commons', 'contacts', 'skype') }">{ $resume.get('commons', 'contacts', 'skype') }</a></div>
		</div>
		<div if={ !$resume.get('commons', 'surname') } id="t-header-names" data-long={ $resume.get('commons', 'name').length > 8 }>
			<div id="t-header-surname" class="t-header-name small">&nbsp;</div>
			<div id="t-header-name" class="t-header-name big">{ $resume.get('commons', 'name') }</div>
		</div>
		<div if={ $resume.get('commons', 'surname') } id="t-header-names" data-long={ $resume.get('commons', 'name').length > 8 || $resume.get('commons', 'surname').length > 8 }>
			<div if={ $resume.get('commons', 'name').length > $resume.get('commons', 'surname').length }>
				<div id="t-header-surname" class="t-header-name small">{ $resume.get('commons', 'surname') }</div>
				<div id="t-header-name" class="t-header-name big">{ $resume.get('commons', 'name') }</div>
			</div>
			<div if={ $resume.get('commons', 'surname').length > $resume.get('commons', 'name').length }>
				<div id="t-header-name" class="t-header-name small">{ $resume.get('commons', 'name') }</div>
				<div id="t-header-surname" class="t-header-name big">{ $resume.get('commons', 'surname') }</div>
			</div>
		</div>
	</div>
	<div id="t-container-wrapper">
		<div id="t-container-string">
			<div if={ $resume.get('commons', 'contacts', 'email').length } class="t-container-string-element"><a class="t-container-string-element-email" href="mailto:{ $resume.get('commons', 'contacts', 'email') }">{ $resume.get('commons', 'contacts', 'email') }</a></div>
			<div class="t-container-string-element birthday">
				<span if={ !$resume.get('commons', 'birthday', 'hidden') }>{ $resume.take.birthday.date() }</span>
				<span class="age t-gray">({ $resume.take.birthday.age() })</span>
			</div>
		</div>
		<div if={ $resume.get('post').length } id="t-container-post">{ $resume.get('post') }</div>
		<div if={ $resume.get('salary', 'active') && $resume.get('salary', 'amount') } id="t-container-salary">
			{ $resume.take.salary.amount() }
			<rub if={ $resume.get('salary', 'currency') == "1" }></rub>
			<valuta if={ $resume.get('salary', 'currency') != "1" }>{ $resume.take.salary.currency() }</valuta>
			<sup>{ $resume.take.salary.worktime() }</sup>
		</div>
		<div if={ $resume.get('tags').length } class="t-container t-container-tags">
			<div class="t-container-name"><i></i>{ $i18n("resume.basic.template.Main skills") }</div>
			<div class="t-container-item">
				<div class="t-container-dates"></div>
				<div class="t-container-desc">
					<span each={ item in $resume.get('tags') } no-reorder class="t-tag">{ item }</span>
				</div>
			</div>
		</div>
		<div if={ $resume.get('education', 'items').length } class="t-container t-container-edu">
			<div class="t-container-name"><i></i>{ $i18n("resume.basic.template.Education") }</div>
			<div class="t-container-item t-container-item--line">
				<div class="t-container-dates-title">{ $resume.take.education.level() }</div>
			</div>
			<div each={ edu, i in $resume.take.education.items() } no-reorder class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-year">{ edu.year }</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">{ edu.title }</div>
					<div if={ edu.speciality } class="t-container-desc-name">{ edu.speciality }</div>
					<div if={ edu.faculty } class="t-container-desc-title">{ edu.faculty }</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('languages', 'items').length } class="t-container t-container-lang">
			<div class="t-container-name"><i></i>{ $i18n("resume.basic.template.Languages") }</div>
			<div each={ lang, i in $resume.get('languages', 'items') } no-reorder class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-title { 't-gray' : lang.title != 'native' && lang.value == 'not' }">{ $store.languages.getTitleById(lang.title) }</div>
				</div>
				<div class="t-container-desc">
					<div if={ lang.title == "native" } class="t-container-desc-title">
						{ $store.languages.native.getTitleById(lang.value) }
					</div>
					<div if={ lang.title != "native" } class="t-container-desc-title { 't-gray' : lang.value == 'not' }">
						{ $store.languages.select.getTitleById(lang.value) }
					</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('jobs', 'items').length } class="t-container t-container-job">
			<div class="t-container-name"><i></i>{ $i18n("resume.basic.template.Experience") }</div>
			<div class="t-container-item t-container-item--line">
				<div class="t-container-dates-title">{ $resume.take.jobs.experience() }</div>
			</div>
			<div each={ job, i in $resume.take.jobs.items() } no-reorder class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-year">{ $store.month.getTitleById(job.from.month) } { job.from.year } &mdash;</div><br>
					<div if={ job.last } class="t-container-dates-year">{ $i18n("resume.basic.template.Until Now") }</div><div if={ !job.last } class="t-container-dates-year">{ $store.month.getTitleById(job.to.month) } { job.to.year }</div><br>
					<div class="t-container-dates-title">{ job.title }</div><br>
					<div if={ job.city } class="t-container-dates-name">{ job.city }</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">{ $resume.take.jobs.period(job, true) }</div>
					<div class="t-container-desc-name">{ job.post }</div>
					<div class="t-container-desc-text preline">
						{ job.text }
					</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('courses', 'items').length } class="t-container t-container-courses">
			<div class="t-container-name"><i></i>{ $i18n("resume.basic.template.Courses") }</div>
			<div each={ edu, i in $resume.take.courses.items() } no-reorder class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-year">{ edu.year }</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">{ edu.title }</div>
					<div class="t-container-desc-name">{ edu.name }</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('about').length } class="t-container t-container-about">
			<div class="t-container-name"><i></i>{ $i18n("resume.basic.template.About me") }</div>
			<div class="t-container-item">
				<div class="t-container-dates">
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-text preline">
						 { $resume.get('about') }
					</div>
				</div>
			</div>
			<div class="t-container-stroke"></div>
		</div>
		<div class="t-container t-container-lang">
			<div class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-title t-black">
						{ $i18n("resume.basic.template.Citizenship") }
					</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">
						{ $resume.take.citizenship() }
					</div>
				</div>
			</div>
			<div class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-title t-black">
						{ $i18n("resume.basic.template.Relocation") }
					</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">
						{ $resume.take.relocation() }
					</div>
				</div>
			</div>
			<div class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-title t-black">
						{ $i18n("resume.basic.template.Business trip") }
					</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">
						{ $resume.take.businessTrip() }
					</div>
				</div>
			</div>
		</div>
	</div>

<style>

@font-face {
  font-family: 'PFSquareLight';
  src: url('/assets/css/appResume/basic/templates/template3/fonts/pfsquaresanspro-light-webfont.eot');
  src: url('/assets/css/appResume/basic/templates/template3/fonts/pfsquaresanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/css/appResume/basic/templates/template3/fonts/pfsquaresanspro-light-webfont.woff') format('woff'), url('/assets/css/appResume/basic/templates/template3/fonts/pfsquaresanspro-light-webfont.ttf') format('truetype'), url('/assets/css/appResume/basic/templates/template3/fonts/pfsquaresanspro-light-webfont.svg#PFSquareSansProLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansProRegular';
  src: url('/assets/css/appResume/basic/templates/template3/fonts/NeoSansPro-Regular.eot');
  src: local('O'), url('/assets/css/appResume/basic/templates/template3/fonts/NeoSansPro-Regular.woff') format('woff'), url('/assets/css/appResume/basic/templates/template3/fonts/NeoSansPro-Regular.ttf') format('truetype'), url('/assets/css/appResume/basic/templates/template3/fonts/NeoSansPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansProMedium';
  src: url('/assets/css/appResume/basic/templates/template3/fonts/NeoSansPro-Medium.eot');
  src: local('O'), url('/assets/css/appResume/basic/templates/template3/fonts/NeoSansPro-Medium.woff') format('woff'), url('/assets/css/appResume/basic/templates/template3/fonts/NeoSansPro-Medium.ttf') format('truetype'), url('/assets/css/appResume/basic/templates/template3/fonts/NeoSansPro-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaB';
  src: url('/assets/css/appResume/basic/templates/template3/fonts/ikea_sans-webfont.eot');
  src: url('/assets/css/appResume/basic/templates/template3/fonts/ikea_sans-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/css/appResume/basic/templates/template3/fonts/ikea_sans-webfont.woff') format('woff'), url('/assets/css/appResume/basic/templates/template3/fonts/ikea_sans-webfont.ttf') format('truetype'), url('/assets/css/appResume/basic/templates/template3/fonts/ikea_sans-webfont.svg#ikea_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avant';
  src: url('/assets/css/appResume/basic/templates/template3/fonts/avantgardectt-boldallfontru.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/appResume/basic/templates/template3/fonts/avantgardectt-boldallfontru.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/appResume/basic/templates/template3/fonts/avantgardectt-boldallfontru.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template3/fonts/avantgardectt-boldallfontru.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template3/fonts/avantgardectt-boldallfontru.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/appResume/basic/templates/template3/fonts/avantgardectt-boldallfontru.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

</style>

</resume-basic-template3>
