<resume-basic-template1 id="t1">

	<div id="t-header">
		<div if={ $resume.get('commons', 'contacts', 'city') } id="t-header-city">{ $resume.get('commons', 'contacts', 'city', 'name') }</div>
		<div id="t-header-names">
			<div if={ $resume.get('commons', 'surname').length >= $resume.get('commons', 'name').length }>
				<div id="t-header-name" class="{ short : $resume.get('commons', 'name').length > 9 }">{ $resume.get('commons', 'name') }</div>
				<div id="t-header-surname" class="{ short : $resume.get('commons', 'surname').length > 9 }">{ $resume.get('commons', 'surname') }</div>
			</div>
			<div if={ $resume.get('commons', "name").length > $resume.get('commons', "surname").length }>
				<div id="t-header-surname" class="{ short : $resume.get('commons', 'surname').length > 9 }">{ $resume.get('commons', 'surname') }</div>
				<div id="t-header-name" class="{ short : $resume.get('commons', 'name').length > 9 }">{ $resume.get('commons', 'name') }</div>
			</div>
		</div>
		<div id="t-header-string">
			<div if={ $resume.get('salary', 'active') && $resume.get('salary', 'amount') } class="t-header-string-element t-header-salary">
				{ $resume.take.salary.amount() }
				<rub if={ $resume.get('salary', 'currency') == "1" }></rub>
				<valuta if={ $resume.get('salary', 'currency') != "1" }>{ $resume.take.salary.currency() }</valuta>
				<sup>{ $resume.take.salary.worktime() }</sup>
			</div>
			<div if={ $resume.get('commons', 'contacts', 'skype').length } class="t-header-string-element">Skype: <a href="skype:{ $resume.get('commons', 'contacts', 'skype') }">{ $resume.get('commons', 'contacts', 'skype') }</a></div>
			<div if={ $resume.get('commons', 'contacts', 'phone', 'number') } class="t-header-string-element"><a href="{ $store.resume.take.phoneLink() }">{ $store.resume.take.phone() }</a></div>
			<div if={ $resume.get('commons', 'contacts', 'email').length } class="t-header-string-element"><a href="mailto:{ $resume.get('commons', 'contacts', 'email') }">{ $resume.get('commons', 'contacts', 'email') }</a></div>
			<div class="t-header-string-element">
				<span if={ !$resume.get('commons', 'birthday', 'hidden') }>{ $resume.take.birthday.date() }</span>
				<span class="t-gray">({ $resume.take.birthday.age() })</span>
			</div>
		</div>
		<div if={ $resume.get('post').length } id="t-header-post" class="t-gray">{ $resume.get('post') }</div>
	</div>
	<div id="t-container-wrapper">
		<div if={ $resume.get('tags').length } class="t-container t-container-tags">
			<div class="t-container-name">{ $i18n("resume.basic.template.Main skills") }</div>
			<div class="t-container-item">
				<div class="t-container-dates"></div>
				<div class="t-container-desc">
					<div class="t-container-desc-name">
						<span each={ item in $resume.get('tags') } no-reorder class="t-tag">{ item }</span>
					</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('education', 'items').length } class="t-container t-container-edu">
			<div class="t-container-name">{ $i18n("resume.basic.template.Education") }</div>
			<div class="t-container-item t-container-item--line">
				<div class="t-container-dates-title">{ $resume.take.education.level() }</div>
			</div>
			<div each={ edu, i in $resume.take.education.items() } no-reorder class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-year t-gray">{ edu.year }</div>
				</div>
				<div class="t-container-desc">
					<div if={ edu.speciality } class="t-container-desc-title">{ edu.title }</div>
					<div class="t-container-desc-name">{ edu.speciality }</div>
					<div if={ edu.faculty } class="t-container-desc-name">{ edu.faculty }</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('languages', 'items').length } class="t-container t-container-lang">
			<div class="t-container-name">{ $i18n("resume.basic.template.Languages") }</div>
			<div each={ lang, i in $resume.get('languages', 'items') } no-reorder class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-title { 't-gray' : lang.title != 'native' && lang.value == 'not' }">{ $store.languages.getTitleById(lang.title) }</div>
				</div>
				<div class="t-container-desc">
					<div if={ lang.title == "native" } class="t-container-desc-title">
						{ $store.languages.native.getTitleById(lang.value) }
					</div>
					<div if={ lang.title != "native" } class="t-container-desc-title { 't-gray' : lang.value == 'not' }">
						{ $store.languages.select.getTitleById(lang.value) }
					</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('jobs', 'items').length } class="t-container t-container-job">
			<div class="t-container-name">{ $i18n("resume.basic.template.Experience") }</div>
			<div class="t-container-item t-container-item--line">
				<div class="t-container-dates-title">{ $resume.take.jobs.experience() }</div>
			</div>
			<div each={ job, i in $resume.take.jobs.items() } no-reorder class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-company"><span>{ job.title }</span></div>
					<div if={ job.city } class="t-container-dates-city">{ job.city }</div>
					<div class="t-container-dates-period">
						<div>{ $store.month.getTitleById(job.from.month) } { job.from.year } &mdash;</div>
						<div if={ job.last }>{ $i18n("resume.basic.template.Until Now") }</div>
						<div if={ !job.last }>{ $store.month.getTitleById(job.to.month) } { job.to.year }</div>
					</div>
					<div class="t-container-dates-length">
						{ $resume.take.jobs.period(job, true) }
					</div>
					<div class="t-container-dates-post">{ job.post }</div>
				</div>
				<div class="t-container-desc preline">
				   { job.text }
				</div>
			</div>
		</div>
		<div if={ $resume.get('courses', 'items').length } class="t-container t-container-edu">
			<div class="t-container-name">{ $i18n("resume.basic.template.Courses") }</div>
			<div each={ edu, i in $resume.take.courses.items() } no-reorder class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-year t-gray">{ edu.year }</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">{ edu.title }</div>
					<div class="t-container-desc-name">{ edu.name }</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('about').length } class="t-container t-container-about">
			<div class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-about">{ $i18n("resume.basic.template.About me") }</div>
				</div>
				<div class="t-container-desc preline">
				   { $resume.get('about') }
				</div>
			</div>
		</div>
		<div class="t-container">
			<div class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-title">{ $i18n("resume.basic.template.Citizenship") }</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">{ $resume.take.citizenship() }</div>
				</div>
			</div>
		</div>
		<div class="t-container">
			<div class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-title">{ $i18n("resume.basic.template.Relocation") }</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">{ $resume.take.relocation() }</div>
				</div>
			</div>
		</div>
		<div class="t-container">
			<div class="t-container-item">
				<div class="t-container-dates">
					<div class="t-container-dates-title">{ $i18n("resume.basic.template.Business trip") }</div>
				</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">{ $resume.take.businessTrip() }</div>
				</div>
			</div>
		</div>
		<div id="t-container-colors">
			<div id="t-color1" class="t-container-colors-item"></div>
			<div id="t-color2" class="t-container-colors-item"></div>
			<div id="t-color3" class="t-container-colors-item"></div>
			<div id="t-color4" class="t-container-colors-item"></div>
			<div id="t-color5" class="t-container-colors-item"></div>
			<div id="t-color6" class="t-container-colors-item"></div>
		</div>
	</div>

<style>

@font-face {
  font-family: 'LynoCyr';
  src: url('/assets/css/appResume/basic/templates/template1/fonts/Lyno_Stan_CYR.eot');
  src: local('O'), url('/assets/css/appResume/basic/templates/template1/fonts/Lyno_Stan_CYR.woff') format('woff'), url('/assets/css/appResume/basic/templates/template1/fonts/Lyno_Stan_CYR.ttf') format('truetype'), url('/assets/css/appResume/basic/templates/template1/fonts/Lyno_Stan_CYR.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDin';
  src: url('/assets/css/appResume/basic/templates/template1/fonts/pfdintextcondpro-medium-webfont.eot');
  src: url('/assets/css/appResume/basic/templates/template1/fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/css/appResume/basic/templates/template1/fonts/pfdintextcondpro-medium-webfont.woff') format('woff'), url('/assets/css/appResume/basic/templates/template1/fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'), url('/assets/css/appResume/basic/templates/template1/fonts/pfdintextcondpro-medium-webfont.svg#PFDinTextCondProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avant';
  src: url('/assets/css/appResume/basic/templates/template1/fonts/avantgardectt-boldallfontru.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/appResume/basic/templates/template1/fonts/avantgardectt-boldallfontru.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/appResume/basic/templates/template1/fonts/avantgardectt-boldallfontru.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template1/fonts/avantgardectt-boldallfontru.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template1/fonts/avantgardectt-boldallfontru.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/appResume/basic/templates/template1/fonts/avantgardectt-boldallfontru.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

</style>

</resume-basic-template1>
