<resume-basic-template4 id="t4">

	<div id="t-header">
		<div if={ !$resume.get('commons', 'surname') } id="t-header-names" data-long={ $resume.get('commons', 'name').length > 8 }>
			<div id="t-header-name" class="t-header-name bold">{ $resume.get('commons', 'name') }</div>
		</div>
		<div if={ $resume.get('commons', 'surname') } id="t-header-names" data-long={ $resume.get('commons', 'name').length > 8 || $resume.get('commons', 'surname').length > 8 }>
			<div if={ $resume.get('commons', 'name').length > $resume.get('commons', 'surname').length }>
				<div id="t-header-surname" class="t-header-name bold">{ $resume.get('commons', 'surname') }</div>
				<div id="t-header-name" class="t-header-name">{ $resume.get('commons', 'name') }</div>
			</div>
			<div if={ $resume.get('commons', 'surname').length > $resume.get('commons', 'name').length }>
				<div id="t-header-name" class="t-header-name bold">{ $resume.get('commons', 'name') }</div>
				<div id="t-header-surname" class="t-header-name">{ $resume.get('commons', 'surname') }</div>
			</div>
		</div>
		<div id="t-header-string">
			<div class="t-header-string-element">
				<i></i><span if={ !$resume.get('commons', 'birthday', 'hidden') }>{ $resume.take.birthday.date() }&nbsp;</span><span class="age">({ $resume.take.birthday.age() })</span>
			</div>
			<div if={ $resume.get('commons', 'contacts', 'city') || $resume.get('commons', 'contacts', 'phone', 'number') } class="t-header-string-element">
				<i></i><span if={ $resume.get('commons', 'contacts', 'city') }>{ $resume.get('commons', 'contacts', 'city', 'name') }</span><span if={ $resume.get('commons', 'contacts', 'phone', 'number') }>,&nbsp; <a href="{ $store.resume.take.phoneLink() }">{ $store.resume.take.phone() }</a></span>
			</div>
			<div if={ $resume.get('commons', 'contacts', 'email') } class="t-header-string-element"><i></i><a href="mailto:{ $resume.get('commons', 'contacts', 'email') }">{ $resume.get('commons', 'contacts', 'email') }</a></div>
			<div if={ $resume.get('commons', 'contacts', 'skype') } class="t-header-string-element"><i></i>Skype: <a href="skype:{ $resume.get('commons', 'contacts', 'skype') }">{ $resume.get('commons', 'contacts', 'skype') }</a></div>
			<div if={ $resume.get('salary', 'active') && $resume.get('salary', 'amount') } class="t-header-string-element t-header-string-salary">
				<i></i>
				{ $resume.take.salary.amount() }
				<rub if={ $resume.get('salary', 'currency') == "1" }></rub>
				<valuta if={ $resume.get('salary', 'currency') != "1" }>{ $resume.take.salary.currency() }</valuta>
				<sup>{ $resume.take.salary.worktime() }</sup>
			</div>
		</div>
		<div if={ $resume.get('post').length } id="t-header-post">{ $resume.get('post') }</div>
	</div>
	<div id="t-container-wrapper">
		<div if={ $resume.get('tags').length } class="t-container">
			<div class="t-container-name">{ $i18n("resume.basic.template.Main skills") }</div>
			<div class="t-container-item">
				<span each={ item, i in $resume.get('tags') } no-reorder><span if={ i > 0 }>,</span> { item }</span>
			</div>
		</div>
		<div if={ $resume.get('education', 'items').length } class="t-container t-container-edu">
			<div class="t-container-name">{ $i18n("resume.basic.template.Education") }</div>
			<div class="t-container-item t-container-item--line">
				{ $resume.take.education.level() }
			</div>
			<div each={ edu, i in $resume.take.education.items() } no-reorder class="t-container-item">
				<div class="t-container-title"><span>{ edu.speciality }</span> &nbsp; { edu.year }</div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">{ edu.title }</div>
					<div if={ edu.faculty } class="t-container-desc-title speciality"><strong>{ edu.faculty }</strong></div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('languages', 'items').length } class="t-container t-container-lang">
			<div class="t-container-name">{ $i18n("resume.basic.template.Languages") }</div>
			<div each={ lang, i in $resume.get('languages', 'items') } no-reorder class="t-container-item">
				<div if={ lang.title == "native" } class="t-container-title">
					<span>{ $store.languages.getTitleById(lang.title) }</span>
					{ $store.languages.native.getTitleById(lang.value) }
				</div>
				<div if={ lang.title != "native" } class="t-container-title { 't-gray' : lang.value == 'not' }">
					<span>{ $store.languages.getTitleById(lang.title) }</span>
					{ $store.languages.select.getTitleById(lang.value) }
				</div>
			</div>
		</div>
		<div if={ $resume.get('jobs', 'items').length } class="t-container t-container-job">
			<div class="t-container-name">{ $i18n("resume.basic.template.Experience") }</div>
			<div class="t-container-item t-container-item--line">
				{ $resume.take.jobs.experience() }
			</div>
			<div each={ job, i in $resume.take.jobs.items() } no-reorder class="t-container-item">
				<div class="t-container-year">
					<div class="t-container-job-cell t-container-job-cell-left">
						{ $store.month.getTitleById(job.from.month) } { job.from.year } —
						<span if={ job.last }>{ $i18n("resume.basic.template.Until Now") }</span>
						<span if={ !job.last }>{ $store.month.getTitleById(job.to.month) } { job.to.year }</span>
					</div>
					<div class="t-container-job-cell t-container-job-cell-line">
						<div class="t-container-job-line"><i></i></div>
					</div>
					<div class="t-container-job-cell t-container-job-cell-right">
						<div class="t-container-length">{ $resume.take.jobs.period(job, true) }</div>
					</div>
				</div>
				<div class="t-container-title">
					<span>{ job.title }</span>
					<div if={ job.city } class="t-container-city">— &nbsp;{ job.city }</div>
				</div>
				<div class="t-container-post">{ job.post }</div>
				<div class="t-container-desc">
					<div class="t-container-desc-text">
						{ job.text }
					</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('courses', 'items').length } class="t-container t-container-edu">
			<div class="t-container-name">{ $i18n("resume.basic.template.Courses") }</div>
			<div each={ edu, i in $resume.take.courses.items() } no-reorder class="t-container-item">
				<div class="t-container-title"><span>{ edu.title }</span><em> &nbsp; { edu.year }</em></div>
				<div class="t-container-desc">
					<div class="t-container-desc-title">{ edu.name }</div>
				</div>
			</div>
		</div>
		<div if={ $resume.get('about').length } class="t-container t-container-about">
			<div class="t-container-name">{ $i18n("resume.basic.template.About me") }</div>
			<div class="t-container-item">
				<div class="t-container-desc">
					<div class="t-container-desc-text preline">
						{ $resume.get('about') }
					</div>
				</div>
			</div>
		</div>
		<div class="t-container">
			<div class="t-container-name">{ $i18n("resume.basic.template.Citizenship") }</div>
			<div class="t-container-item">
				{ $resume.take.citizenship() }
			</div>
		</div>
		<div class="t-container">
			<div class="t-container-name">{ $i18n("resume.basic.template.Relocation") }</div>
			<div class="t-container-item">
				{ $resume.take.relocation() }
			</div>
		</div>
		<div class="t-container">
			<div class="t-container-name">{ $i18n("resume.basic.template.Business trip") }</div>
			<div class="t-container-item">
				{ $resume.take.businessTrip() }
			</div>
		</div>
	</div>

<style>

@font-face {
  font-family: 'HypatiaLight';
  src: url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Light.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Light.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Light.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HypatiaRegular';
  src: url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Regular.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HypatiaSemibold';
  src: url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Semibold.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Semibold.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Semibold.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/appResume/basic/templates/template4/fonts/HypatiaSansPro-Semibold.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeL';
  src: url('/assets/css/appResume/basic/templates/template4/fonts/SegoeL.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/appResume/basic/templates/template4/fonts/SegoeL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/appResume/basic/templates/template4/fonts/SegoeL.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template4/fonts/SegoeL.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/appResume/basic/templates/template4/fonts/SegoeL.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/appResume/basic/templates/template4/fonts/SegoeL.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

</style>

</resume-basic-template4>
