.resumeBasic {
    .title {
        @extend .pos-abs;
        @extend .c-blue;
        @extend .fontFamily-gotham;
        font-size:42px;
        line-height:44px;
        margin-left:-2px;
        @extend .fontWeight-bold;
        @extend .letterSpacing--xl;
        @extend .t-l;
        @extend .l-xl;
        @extend .pt-s;
        @extend .pl-l;

        html.d-tablet & {
            @extend .pl0;
            @extend .pt-xs;
            @extend .ml--m;
        }
        html.d-phone & {
            @extend .pos-rel;
            @extend .t0;
            @extend .l0;
            @extend .ptb-l;
            @extend .pl-m;
            @extend .pr25;
            @extend .ml0;
            font-size:38px;
            line-height:38px;
        }
    }
    .subtitle {
        @extend .c-blue;
        @extend .breakWord;
        @include textEllipsis(100%, 64px, 2);
    }
    .content {
        width:780px;
        @extend .text-right;
        padding:215px 0 18.5vh;

        &[data-content="commons"]{
            html.d-no-mobile & {
                padding-bottom:22.5vh;
            }
            html.d-tablet.r-portrait & {
                @extend .trX--m;
            }
            html.d-phone & {
                @extend .pt-xs;
                @extend .pb100;
            }
        }
        &[data-content="education"],
        &[data-content="courses"],
        &[data-content="jobs"]{
            padding-top:245px;
            padding-left:7.5px;
            padding-right:7.5px;

            html.d-tablet.r-portrait & {
                width:620px;
                padding-top:225px;
            }
            html.d-phone & {
                @extend .pt-l;
                @extend .mt-s;
            }
            .btn-l2 {
                height:53px;

                html.d-phone & {
                    padding-top:2px;
                    @extend .pl30;
                    @extend .pr30;
                }
            }
            .btn-primary {
                box-shadow:0 0 0 1px $blue;
            }
        }
        &[data-content="languages"],
        &[data-content="about"]{
            html.d-phone & {
                @extend .pb-l;
            }
            html.d-tablet.r-portrait & {
                width:640px;
            }
        }
        &[data-content="skills"]{
            @extend .pb70;

            html.d-no-mobile & {
                width:850px;
            }
            html.d-tablet.r-landscape & {
                width:800px;
            }
            html.d-tablet.r-portrait & {
                width:640px;
            }
        }
        &[data-content="settings"]{
            @extend .p0;
        }
        &[data-editing="true"]{
            @extend .pb0;
        }
        html.d-tablet.r-landscape & {
            width:750px;
        }
        html.d-tablet.r-portrait & {
            width:700px;
            padding-top:195px;
        }
        html.d-phone & {
            @extend .w100p;
            padding:0 20px 70px;
        }
        h2, h3 {
            html.d-phone & {
                @extend .ml0;
            }
        }
    }
    .select-education {
        html.d-no-mobile & {
            @extend .mr--xl;
            margin-top:-165px;
            margin-bottom:130px;
        }
        html.d-tablet.r-landscape & {
            margin-top:-165px;
            margin-bottom:105px;
        }
        html.d-tablet.r-portrait & {
            @extend .mt--100;
            @extend .mb-xl;
        }
        html.d-phone & {
            @extend .mt--45;
            @extend .mb-xl;
        }
    }
    .row-hidden {
        @extend .pos-rel;
        @extend .opacity-50;

        &:before {
            @extend .content-empty;
            @extend .display-block;
            @extend .pos-tl;
            @extend .w100p;
            @extend .zIndex-10;
            height:130%;
        }
    }
    .dateToNow .fontSize-22 {
        html.d-tablet.r-portrait & {
            @extend .fontSize-0;
            @extend .pl-m;
        }
    }
}
