.overview-premium {
    .slide1-1 {
        @extend .mlr-auto;
        @extend .bg-cover;
        width:1087px;
        height:638px;
        background-image:url('/public/images/promo/premium/slide1_1_large.png');

        html.d-tablet & {
            background-image:url('/public/images/promo/premium/slide1_1_medium_2x.png');
        }
        html.d-tablet.r-landscape & {
            width:837px;
            height:492px;
        }
        html.d-tablet.r-portrait & {
            width:750px;
            height:440px;
            @extend .trX-m;
        }
        html.d-retina.d-no-tablet & {
            background-image:url('/public/images/promo/premium/slide1_1_large_2x.png');
        }
    }
    .slide2-1 {
        @extend .mlr-auto;
        @extend .bg-cover;
        width:734px;
        height:907px;
        background-image:url('/public/images/promo/premium/slide2_1_large.png');

        html.d-tablet & {
            background-image:url('/public/images/promo/premium/slide2_1_medium_2x.png');
        }
        html.d-tablet.r-landscape & {
            width:565px;
            height:698px;
        }
        html.d-tablet.r-portrait & {
            width:506px;
            height:626px;
        }
        html.d-retina.d-no-tablet & {
            background-image:url('/public/images/promo/premium/slide2_1_large_2x.png');
        }
    }
    .slide3-1 {
        @extend .mlr-auto;
        @extend .bg-cover;
        @extend .mt-m;
        width:921px;
        height:591px;
        background-image:url('/public/images/promo/premium/slide3_1_2_large.jpg');

        html.d-tablet & {
            background-image:url('/public/images/promo/premium/slide3_1_2_medium_2x.png');
        }
        html.d-tablet.r-landscape & {
            width:709px;
            height:455px;
        }
        html.d-tablet.r-portrait & {
            width:635px;
            height:408px;
            @extend .centered-h;
        }
        html.d-retina.d-no-tablet & {
            background-image:url('/public/images/promo/premium/slide3_1_2_large_2x.jpg');
        }
    }
    .slide4-1 {
        @extend .pos-centered-h;
        @extend .h100p;
        width:1952px;
        height:1160px;

        html.d-tablet.r-landscape & {
            width:1503px;
            height:893px;
        }
        html.d-tablet.r-portrait & {
            width:1347px;
            height:800px;
        }
        &__wrapper {
            @extend .pos-rel;
            @extend .overflow-hidden;
            @extend .w100p;
            @extend .bg-cover;
            height:1160px;
            background-image:url('/public/images/promo/premium/slide4_1_2_large.jpg');

            html.d-tablet.r-landscape & {
                height:893px;
            }
            html.d-tablet.r-portrait & {
                height:800px;
            }
            html.d-retina.d-no-tablet &,
            html.d-tablet & {
                background-image:url('/public/images/promo/premium/slide4_1_2_large_2x.jpg');
            }
        }
    }
    .slide5-1 {
        @extend .mlr-auto;
        @extend .mt-m;
        @extend .bg-cover;
        width:1000px;
        height:615px;
        background-image:url('/public/images/promo/premium/slide5_1_large.png');

        html.d-tablet & {
            background-image:url('/public/images/promo/premium/slide5_1_medium_2x.png');
        }
        html.d-tablet.r-landscape & {
            width:770px;
            height:474px;
        }
        html.d-tablet.r-portrait & {
            width:690px;
            height:424px;
        }
        html.d-retina.d-no-tablet & {
            background-image:url('/public/images/promo/premium/slide5_1_large_2x.png');
        }
    }
    .slide6-1m {
        @extend .pos-abs;
        @extend .t0;
        @extend .r35;
        width:559px;
        height:682px;
        background-image:url('/public/images/promo/premium/slide6_1m_large.png');

        html.d-tablet & {
            width:431px;
            height:525px;
            background-image:url('/public/images/promo/premium/slide6_1m_medium_2x.png');
        }
        html.d-tablet.r-portrait & {
            @extend .pos-centered-h;
        }
        html.d-retina.d-no-tablet & {
            background-image:url('/public/images/promo/premium/slide6_1m_large_2x.png');
        }
        &__container {
            @extend .pos-rel;
            height:682px;

            html.d-tablet & {
                height:525px;
            }
            html.d-tablet.r-portrait & {
                @extend .mt-l;
            }
        }
    }
    .slide6 {
        .chart__radial {
            html.d-tablet.r-portrait & {
                @extend .pos-abs;
                @extend .opacity-0;
                @extend .pointerEvents-none;
            }
        }
        &__wrapper {
            height:1007px;
            @extend .zIndex-0;

            html.d-tablet.r-landscape & {
                height:775px;
            }
            html.d-tablet.r-portrait & {
                height:727px;
            }
        }
        &__container {
            @extend .pos-abs;
            left:-150px;
            top:120px;
            width:1065px;
            height:897px;

            html.d-tablet.r-landscape & {
                left:-80px;
                top:80px;
            }
            html.d-tablet.r-portrait & {
                left:-50px;
                top:50px;
                width:820px;
                height:691px;
            }
        }
        &-1 {
            @extend .pos-rel;
            @extend .bg-cover;
            @extend .zIndex-1;
            @extend .b0;
            left:210px;
            width:854px;
            height:739px;
            background-image:url('/public/images/promo/premium/slide6_1_large.png');
            -webkit-mask-size:854px 739px;
            -webkit-mask-image:url('/public/images/promo/premium/slide6_1_mask.svg');

            html.d-tablet.r-portrait & {
                width:658px;
                height:569px;
                background-image:url('/public/images/promo/premium/slide6_1_medium_2x.png');
                -webkit-mask-size:658px 569px;
            }
            html.d-retina.d-no-tablet &,
            html.d-tablet.r-landscape & {
                background-image:url('/public/images/promo/premium/slide6_1_large_2x.png');
            }
            html.d-firefox & {
                clip-path:url("/public/images/promo/premium/slide6_1_clip.svg#mask");
            }
        }
        &-2 {
            @extend .pos-bl;
            @extend .bg-cover;
            @extend .zIndex-0;
            width:1049px;
            height:523px;
            background-image:url('/public/images/promo/premium/slide6_2_large.jpg');

            html.d-tablet.r-portrait & {
                width:808px;
                height:403px;
                @extend .l-l;
                background-image:url('/public/images/promo/premium/slide6_2_medium_2x.jpg');
            }
            html.d-retina.d-no-tablet &,
            html.d-tablet.r-landscape & {
                background-image:url('/public/images/promo/premium/slide6_2_large_2x.jpg');
            }
        }
        &__small-text {
            @extend .pos-bl;
            @extend .w100p;
            transform:translate3d(280px, 235px, 0);
            line-height:38px;

            html.d-tablet & {
                width:120%;
                line-height:44px;
                transform:translate3d(320px, 135px, 0);
            }
        }
    }
    .slide7 {
        &__wrapper {
            height:1493px;
            @extend .zIndex-0;

            html.d-tablet & {
                height:1203px;
            }
        }
        &__container {
            @extend .pos-abs;
            left:-543px;
            top:65px;
            width:1858px;
            height:1433px;

            html.d-tablet & {
                width:1430px;
                height:1203px;
            }
        }
        &-1 {
            @extend .pos-rel;
            @extend .bg-cover;
            @extend .zIndex-0;
            top:1039px;
            left:842px;
            width:1036px;
            height:388px;
            background-image:url('/public/images/promo/premium/slide7_1_shadow.png');

            html.d-tablet & {
                top:841px;
                width:798px;
                height:299px;
            }
            html.d-tablet.r-portrait & {
                left:772px;
            }
        }
        &-2 {
            @extend .pos-tl;
            @extend .bg-cover;
            @extend .zIndex-0;
            width:1349px;
            height:1179px;
            background-image:url('/public/images/promo/premium/slide7_2_large.jpg');

            html.d-tablet & {
                width:1039px;
                height:908px;
                left:140px;
                background-image:url('/public/images/promo/premium/slide7_2_medium_2x.jpg');
            }
            html.d-retina.d-no-tablet & {
                background-image:url('/public/images/promo/premium/slide7_2_large_2x.jpg');
            }
        }
        &-3 {
            @extend .pos-abs;
            @extend .bg-cover;
            @extend .zIndex-1;
            left:840px;
            top:535px;
            width:828px;
            height:856px;
            background-image:url('/public/images/promo/premium/slide7_3_large.jpg');
            -webkit-mask-size:828px 856px;
            -webkit-mask-image:url('/public/images/promo/premium/slide7_3_mask.svg');

            html.d-firefox & {
                clip-path:url("/public/images/promo/premium/slide7_3_clip.svg#mask");
            }
            html.d-tablet & {
                top:455px;
                width:638px;
                height:659px;
                -webkit-mask-size:638px 659px;
                background-image:url('/public/images/promo/premium/slide7_3_medium_2x.jpg');
            }
            html.d-tablet.r-portrait & {
                left:770px;
            }
            html.d-retina.d-no-tablet & {
                background-image:url('/public/images/promo/premium/slide7_3_large_2x.jpg');
            }
        }
    }
    .slide8-1 {
        @extend .pos-abs;
        @extend .bg-cover;
        left:-25px;
        top:0px;
        width:729px;
        height:874px;
        background-image:url('/public/images/promo/premium/slide8_1_large.png');

        html.d-tablet & {
            width:562px;
            height:673px;
            left:7.5px;
            background-image:url('/public/images/promo/premium/slide8_1_medium_2x.png');
        }
        html.d-tablet.r-portrait & {
            @extend .pos-centered-h;
        }
        html.d-retina.d-no-tablet & {
            background-image:url('/public/images/promo/premium/slide8_1_large_2x.png');
        }
        &__container {
            height:874px;

            html.d-tablet & {
                @extend .overflow-hidden;
                height:673px;
            }
        }
        &__viewport {
            @extend .pos-centered-h;
            top:94px;
            @extend .bg-white;
            width:635px;
            @extend .h90p;
            @extend .overflow-hidden;

            html.d-tablet & {
                top:72px;
                width:489px;
            }
        }
        &__nav {
            height:190px;
            background-image:url('/public/images/promo/premium/tablet_resume_nav.png');

            html.d-tablet & {
                @extend .display-none;
            }
        }
        &__screen {
            @include accelerate(true);
            @extend .pos-tl;
            @extend .w100p;
            @extend .mt--l;
            width:635px;
            height:1897px;
            @extend .bg-cover;
            @extend .willChange-transform;
            background-image:url('/public/images/promo/premium/tablet_screen_blue_large.png');

            html.d-tablet & {
                width:489px;
                height:922px;
                @extend .m0;
                background-image:url('/public/images/promo/premium/tablet_screen_blue_medium_2x.png');
            }
            html.d-retina.d-no-tablet & {
                background-image:url('/public/images/promo/premium/tablet_screen_blue_large_2x.png');
            }
        }
    }
    .slide9 {
        &__wrapper {
            height:1140px;

            html.d-tablet.r-landscape & {
                height:1000px;
            }
            html.d-tablet.r-portrait & {
                height:860px;
            }
            .overview__ipad {
                transform:translate3d(-55px, 160px, 0);

                html.d-tablet.r-portrait & {
                    transform:translate3d(-40px, 0, 0);
                }
            }
        }
    }
    .slide10-1 {
        @extend .pos-tl;
        width:1969px;
        height:1060px;
        @extend .bg-cover;
        background-image:url('/public/images/promo/premium/slide10_1_large.jpg');
        transform:translate3d(-590px, 0, 0);

        html.d-tablet & {
            background-image:url('/public/images/promo/premium/slide10_1_medium_2x.jpg');
            transform:translate3d(-420px, 40px, 0);
        }
        html.d-tablet.r-landscape & {
            width:1516px;
            height:816px;
        }
        html.d-tablet.r-portrait & {
            width:1359px;
            height:731px;
        }
        html.d-retina.d-no-tablet & {
            background-image:url('/public/images/promo/premium/slide10_1_large_2x.jpg');
        }
        &__wrapper {
            @extend .pos-rel;
            @extend .w100p;
            height:1060px;
            @extend .mt--xl;
            @extend .md-mt0;
            @extend .sm-mt0;

            html.d-tablet.r-landscape & {
                height:856px;
            }
            html.d-tablet.r-portrait & {
                height:771px;
            }
        }
    }
    .slide11-1 {
        @include accelerate(true);
        @extend .centered;
        width:1144px;
        height:973px;
        @extend .bg-cover;
        @extend .willChange-transform;
        background-image:url('/public/images/promo/premium/slide_finish_large.jpg');

        html.d-tablet & {
            width:881px;
            height:749px;
            @extend .centered-h;
            background-image:url('/public/images/promo/premium/slide_finish_medium_2x.jpg');
        }
        html.d-retina.d-no-tablet & {
            background-image:url('/public/images/promo/premium/slide_finish_large_2x.jpg');
        }
        &__wrapper {
            @extend .pos-rel;
            @extend .w100p;
            height:973px;
            margin-bottom:-340px;
            @extend .mt-xl;

            html.d-tablet & {
                height:749px;
                margin-bottom:-260px;
            }
        }
    }
    .overview__section {
        html.d-tablet.r-portrait & {
            @extend .mt0;
            @extend .ptb0;
            margin-bottom:80px;
        }
        &[data-section="clouds"] {
            @extend .mt--xl;
            @extend .mb--xl;
        }
        &.bg-snow,
        &[data-section="finish"] {
            html.d-tablet.r-portrait & {
                @extend .mb0;
            }
        }
        &[data-section="finish"] {
            .btn {
                @extend .plr-l;
                box-shadow:inset 0 0 0 2px rgba($white,.3);
            }
        }
    }
    .row {
        html.d-tablet.r-portrait & {
            @extend .mtb0;
            @extend .ptb0;
            padding-left:37.5px;
            padding-right:37.5px;
        }
    }
    .col-md-12 {
        html.d-tablet.r-portrait & {
            @extend .plr0;
        }
    }
}
