premium-samples-slider {
    @extend .display-block;
    @extend .pos-rel;
    @extend .bg-snow357;

    .slider {
        @extend .pt-xl;

        .slick-list {
            width:120vw;
            transform:translate3d(-20vw, 0, 0);
        }
        .slick-arrow {
            @extend .pos-abs;
            top:52px;
            @extend .w60;
            @extend .h60;
            @extend .border-none;
            @extend .fontSize-0;
            @extend .opacity-100;
            @extend .bg-none;
            @extend .transition-default;
            @extend .borderRadius-circle;
            @extend .cursor-pointer;
            box-shadow:inset 0 0 0 1px #d8dadc;
            @extend .zIndex-1;

            &.slick-disabled {
                @extend .opacity-0;
                @extend .pointerEvents-none;
            }
            &:before,
            &:after {
                @extend .content-empty;
                @include abs_50(20, 12);
                @extend .bg-cover;
                @extend .transition-default;
            }
            &:before {
                @extend .opacity-0;
                background:url('/public/images/premium/samples/arrow_white.svg');
            }
            &:after {
                background:url('/public/images/premium/samples/arrow.svg');
            }
            &:hover {
                @extend .bg-primary;
                @extend .cursor-pointer;
                box-shadow:inset 0 0 0 1px $primary;

                &:before {
                    @extend .opacity-100;
                }
                &:after {
                    @extend .opacity-0;
                }
            }
        }
        .slick-prev {
            @extend .l-l;

            &:before,
            &:after {
                transform:translate3d(0, 0, 0) rotate(-90deg);
            }
        }
        .slick-next {
            @extend .r-l;

            &:before,
            &:after {
                transform:translate3d(0, 0, 0) rotate(90deg);
            }
        }
        .slick-track {
            @extend .bg-snow357;
        }
        &__total {
            @extend .flex-column-centered;
            @extend .pos-centered-v;
            @extend .l--70;
            width:320px;
            height:320px;
            @extend .fontFamily-myriad;
            @extend .bg-white;
            @extend .borderRadius-circle;
            @extend .willChange-opacity;
            transition:opacity 0.3s $cubic28 0.2s;

            &__title {
                @extend .c-blueLight;
                @extend .fontSize-64;
            }
            &__text {
                @extend .c-gray;
                @extend .fontSize-14;
                @extend .text-uppercase;
            }
        }
        &__item {
            @extend .pos-rel;
            @extend .bg-white;
            padding:96px 82px 0;
            width:530px;
            height:660px;
            margin:0 22.5px;
            @extend .fontWeight-3;
            @extend .fontFamily-myriad;
            will-change:box-shadow;
            transition:transform .3s $cubic28, box-shadow .3s $cubic28;

            &:hover {
                box-shadow:0 37.125px 70px -12.125px rgba($slate,.3);

                .slider__item__share__link {
                    @extend .opacity-100;
                }
            }
            &__photo {
                @extend .pos-abs;
                @extend .t35;
                @extend .l35;
                @extend .w48;
                @extend .h48;
                @extend .borderRadius-circle;
                @extend .bg-cover;
            }
            &__title {
                @extend .c-primary;
                @extend .mb-m;
                @extend .fontSize-24;
            }
            &__text {
                @extend .pos-rel;
                @extend .c-black;
                font-size:24px;
                line-height:35px;
                @extend .mb-m;

                &:before,
                span:before {
                    content:'"';
                    @extend .c-gray;
                    @extend .fontWeight-1;
                    @extend .fontSize-52;
                    @extend .fontStyle-italic;
                }
                &:before {
                    @extend .pos-tl;
                    transform:translate3d(-28px, -8px, 0);
                }
                span {
                    @extend .pos-rel;
                    @extend .display-inlineBlock;
                    @extend .vAlign-middle;

                    &:before {
                        @extend .pos-br;
                        transform:translate3d(10px, 32px, 0);
                    }
                }
            }
            &__share {
                @extend .flex-row-right-center;
                @extend .pos-abs;
                @extend .t-l;
                @extend .r35;

                &__link {
                    @extend .pos-rel;
                    width:43px;
                    @extend .h16;
                    @extend .opacity-0;
                    @extend .cursor-pointer;
                    @extend .willChange-opacity;
                    transition:opacity 0.3s $cubic28;

                    $n:-1;
                    @for $i from 1 through 4 {
                        $n: $n + 1;
                        &:nth-child(#{$i}) {
                            transition-delay:0.05s * $n;
                        }
                    }
                    &:before {
                        @extend .content-empty;
                        @extend .pos-centered;
                    }
                    &[data-item="fb"]:before {
                        @include ui-icon("facebook", 9px, 22px);
                    }
                    &[data-item="vk"]:before {
                        @include ui-icon("vkontakte", 27px, 15px);
                    }
                    &[data-item="gl"]:before {
                        @include ui-icon("google", 19px, 19px);
                        @extend .ml2;
                    }
                    &[data-item="tw"]:before {
                        @include ui-icon("twitter", 22px, 17px);
                    }
                }
            }
            .btn:hover {
                ~ .slider__item__icons {
                    .slider__item__icon__desktop {
                        &:before {
                            @extend .opacity-0;
                        }
                        &:after {
                            @extend .opacity-100;
                        }
                    }
                }
            }
            &__icons {
                @extend .flex-centered;
                @extend .pos-abs;
                @extend .r45;
                bottom:150px;
            }
            &__icon {
                @extend .flex-centered;
                @extend .pos-rel;
                @extend .ml25;
                @extend .h40;
                @extend .cursor-pointer;

                &:hover div {
                    &:before {
                        @extend .opacity-0;
                    }
                    &:after {
                        @extend .opacity-100;
                    }
                }
                &__desktop {
                    @extend .pos-rel;
                    width:61px;
                    height:32px;
                    @extend .mt7;
                    @extend .pointerEvents-none;

                    &:before,
                    &:after {
                        @extend .content-empty;
                        @extend .pos-centered;
                        width:61px;
                        height:32px;
                        transition:opacity 0.2s $cubic215;
                    }
                    &:before {
                        @include ui-icon("device_desktop_silver");
                    }
                    &:after {
                        @extend .opacity-0;
                        @include ui-icon("device_desktop");
                    }
                }
                &__phones {
                    @extend .pos-rel;
                    width:30px;
                    height:37px;
                    @extend .pointerEvents-none;

                    &:before,
                    &:after {
                        @extend .content-empty;
                        @extend .pos-centered;
                        width:30px;
                        height:37px;
                        transition:opacity 0.2s $cubic215;
                    }
                    &:before {
                        @include ui-icon("device_phones_silver");
                    }
                    &:after {
                        @extend .opacity-0;
                        @include ui-icon("device_phones");
                    }
                }
            }
        }
    }
    @media screen and (max-width:$w1068){
        .slider {
            &__item {
            }
        }
    }
    @media only screen and (max-width:$w860){
        .slider {
            &__item {
            }
        }
    }
    .c-dots {
        bottom:125px;
    }
    .c-dots_list {
        @extend .pt45;
        @extend .pb45;
    }
    .c-dots_list .slick-list {
        @extend .overflow-visible;
    }
    .c-dots_link {
        @extend .bg-none;
        @extend .border-none;
        @extend .cursor-pointer;
    }
    .c-dots_dot {
        box-shadow:inset 0 0 0 1px rgba($blueLight,.85);

        &:before {
            @extend .w70;
            @extend .h70;
            @extend .opacity-65;
            @extend .borderColor-blueLight;
            border-width:1px;
            margin-left:-29px;
            margin-top:-29px;
        }
    }
    .c-dots_item.slick-current {
        @extend .pointerEvents-none;

        .c-dots_dot {
            @extend .bg-blueLight;

            &:before {
                @extend .scale-100;
            }
        }
        .c-dots_image {
            @extend .scale-100;
            transition:transform 0.9s $cubic4001;
        }
    }
    .c-dots_item {
        html.m-no-touch &:hover {
            .c-dots_image {
                @extend .scale-85;
            }
        }
    }
    .c-dots.-horizontal .c-dots_item:first-child::before, .c-dots.-horizontal .c-dots_item:last-child::before, .c-dots.-horizontal .c-dots_link::after, .c-dots.-horizontal .c-dots_link::before {
        border-bottom-color:$gray;
    }
    .c-dots.-vertical .c-dots_item:first-child::before, .c-dots.-vertical .c-dots_item:last-child::before, .c-dots.-horizontal .c-dots_item:first-child::after, .c-dots.-horizontal .c-dots_item:last-child::after, .c-dots.-vertical .c-dots_link::after, .c-dots.-vertical .c-dots_link::before {
        @extend .display-none;
        border-left-color:$gray;
    }
    .c-dots.-vertical .c-dots_item:first-child::after, .c-dots.-vertical .c-dots_item:last-child::after {
        border-top-color:$gray;
    }
    .c-dots_image {
        @include abs_50(60, 60);
        @extend .bg-cover;
        @extend .borderRadius-circle;
        @extend .scale-0;
        @extend .zIndex-1;
        @extend .willChange-transform;
        @extend .pointerEvents-none;
        transition:transform 0.3s $cubic4001;
    }
}
