$c_blue: #265cdc;
$c_blueLight: #0084ff;
$c_green: #74b027;
$c_emerald: #0bb5b7;
$c_pink: #ff7272;
$c_red: #d93663;
$c_brown: #c1a16b;
$c_orange: #ea7f07;
$c_violet: #5856d6;
$c_violetLight: #ab81cd;

premium-samples {
    .section__phone__track {
        @each $title, $color in ($c_blue: #EEF2FC, $c_blueLight: #EBF5FF, $c_green: #F4F9EE, $c_emerald: #EBF9F9, $c_orange: #FDF5EB, $c_red: #FCEFF3, $c_violet: #F2F1FC, $c_violetLight: #F8F5FB, $c_brown: #FAF7F3, $c_pink: #FFF4F4){
            &[data-color="#{$title}"][data-colorful="true"]{
                .section__phone__track {
                    &__bg,
                    &__figure:before,
                    &__figure:after {
                        background-color:$color;
                    }
                    &__captions h2 {
                        color:$title;
                    }
                }
            }
        }
    }
}
