$c_blue: #265cdc;
$c_blueLight: #0084ff;
$c_green: #74b027;
$c_emerald: #0bb5b7;
$c_pink: #ff7272;
$c_red: #d93663;
$c_brown: #c1a16b;
$c_orange: #ea7f07;
$c_violet: #5856d6;
$c_violetLight: #ab81cd;

premium-samples {
    .section__phone__track {
        @each $title, $color in ($c_blue: #EEF2FC, $c_blueLight: #EBF5FF, $c_green: #F4F9EE, $c_emerald: #EBF9F9, $c_orange: #FDF5EB, $c_red: #FCEFF3, $c_violet: #F2F1FC, $c_violetLight: #F8F5FB, $c_brown: #FAF7F3, $c_pink: #FFF4F4){
            &[data-color="#{$title}"][data-colorful="true"]{
                .section__phone__track {
                    &__bg,
                    &__figure:before,
                    &__figure:after {
                        background-color:$color;
                    }
                    &__captions h2 {
                        color:$title;
                    }
                }
            }
        }
    }
    .phone__screen {
        &__nav {
            @extend .display-block;
            @extend .pos-tl;
            @extend .w100p;
            @extend .userSelect-none;
            @extend .pointerEvents-none;
            @extend .zIndex-2;
            height:111px;
            @extend .bg-cover;

            @each $color in ($white, $c_blue, $c_blueLight, $c_green, $c_emerald, $c_orange, $c_red, $c_violet, $c_violetLight, $c_brown, $c_pink){
                &[data-color="#{$color}"]{
                    .phone__screen__nav {
                        &__item {
                            background-color:$color;
                        }
                    }
                }
                &[data-color-icons="#{$color}"]{
                    .phone__screen__nav__salary {
                        color:$color;
                    }
                    path {
                        fill:$color !important;
                    }
                }
            }
            &__item {
                @extend .pos-abs;
                @extend .borderRadius-circle;
                will-change:background-color;
                transition:background-color 0.2s $cubic215;
            }
            &__info {
                top:12px;
                left:12px;
                @extend .w28;
                @extend .h28;
                box-shadow:0 1px 15px 0 rgba(#000,.1);

                &__icon {
                    @extend .pos-centered;
                    @extend .w20;
                    @extend .h20;

                    &__color {
                        @extend .fill-white;
                    }
                }
            }
            &__sendmail {
                @extend .flex-centered;
                top:10px;
                right:10px;
                @extend .w42;
                @extend .h42;
                box-shadow:0 6px 22px -6px rgba(#000,.18);

                &__icon {
                    @extend .display-block;
                    @extend .w42;
                    @extend .h42;
                    transform:translate3d(0, 5px, 0) scale3d(1, 1.18, 1);

                    &__color {
                        @extend .fill-white;
                    }
                }
            }
            &__salary {
                @extend .fontFamily-default;
                @extend .fontWeight-3;
                @extend .flex-centered;
                top:61px;
                right:14px;
                width:33px;
                height:33px;
                @extend .c-white;
                @extend .pt3;
                font-size:22.5px;
                box-shadow:0 6px 22px -6px rgba(#000,.18);

                span {
                    @extend .display-block;
                    transform:translate3d(1px, 0, 0) scale3d(1.16, 1, 1);
                }
            }
        }
    }
}
