<section-likes-list if={ !_.isEmpty($store.likes.get()) } class="section">

    <div each={ item, i in $store.likes.get() } no-reorder class="resume__list-m__item">
        <div class="col-xs-5 flex-centered resume__list-m__item__cell">
            <div class="resume__list-m__item__cover" data-color={ item.plan == "premium" ? item.color : null }>{ item.post[0] }</div>
        </div>
        <div class="col-xs-12 flex-row-left-center resume__list-m__item__cell text-left">
            <div class="resume__list-m__item__title">{ item.post }</div>
        </div>
        <div class="col-xs-7 flex-centered resume__list-m__item__cell">
            <div class="resume__list-m__item__like">{ item.likes.length }</div>
        </div>
    </div>

</section-likes-list>
