resume-edit-finish {
    &:before {
        @extend .display-none;
    }
    &:after {
        @include accelerate();
        @extend .content-empty;
        @extend .pos-abs;
        @extend .t50;
        @extend .l50;
        @extend .w100;
        @extend .h100;
        @extend .bg-white;
        @extend .borderRadius-circle;
        @extend .opacity-80;
        @extend .zIndex--1;
        transform:translate3d(-50%, -50%, 0) scale(0.01);
        @extend .visibility-hidden;
        @extend .pointerEvents-none;
        @extend .willChange-tp;
        transition:transform 0.3s $cubic345, opacity 0s 0.3s, visibility 0s 0.3s;
    }
    &[data-open="true"]{
        &:after {
            @extend .opacity-100;
            @extend .visibility-visible;
            transform:translate3d(-50%, -50%, 0) scale(20);
            transition:transform 1s $cubic345, opacity 0.5s $cubic2501;
        }
    }
    .logo {
        @extend .pos-centered-h;
        @extend .t-l;

        &__icon {
            @extend .bg-cover;
            width:128px;
            height:48px;
            background-image:url(/public/images/logotype_b.png);

            html.d-phone & {
                width:112px;
                height:42px;
            }
        }
        html.d-phone & {
            @extend .t-25;
        }
    }
    .percentage__circuful {
        @extend .pos-br;
        @extend .pointerEvents-none;
        @extend .hidden-xs;
    }
    .circuful {
        width:420px;
        height:420px;
    }
    .circle {
        @include accelerate();
        @extend .flex-centered;
        @extend .fontFamily-helvetica;
        @extend .borderRadius-circle;
        @extend .btn-active;
        @extend .userSelect-none;
        @extend .plr-m;

        &:before {
            @include abs();
            @extend .content-empty;
            @extend .borderRadius-circle;
            @extend .willChange-transform;
            @extend .zIndex--1;
            transition:transform 0.8s $cubic075;
        }
        &-l {
            width:196px;
            height:196px;
            font-size:18px;
            @extend .lineHeight-m;
        }
        &-xl {
            width:240px;
            height:240px;
            font-size:20px;
            @extend .lineHeight-l;
        }
    }
    .circle1 {
        @extend .pos-centered;

        html.d-phone & {
            @extend .mt30;
        }
        .circle {
            &:before {
                background-color:rgba($blueLight,.2);
            }
            html.m-no-touch &:hover:before {
                @extend .scale-110;
            }
        }
    }
    .circle2 {
        @extend .pos-abs;
        @extend .t10;
        @extend .r15;

        html.d-phone & {
            top:12%;
            @extend .r0;
        }
        .circle {
            &:before {
                background-color:rgba($greenLight,.2);
            }
            html.m-no-touch &:hover:before {
                @extend .scale-115;
            }
        }
    }
    .circle3 {
        @extend .pos-abs;
        @extend .t15;
        @extend .l15;

        html.d-phone & {
            top:17%;
            @extend .l0;
            @extend .zIndex-1;
        }
        .circle {
            &:before {
                background-color:rgba($orange,.2);
            }
            html.m-no-touch &:hover:before {
                @extend .scale-115;
            }
        }
    }
    .share {
        @extend .pos-abs;
        @extend .b-l;
        @extend .l-l;

        html.d-phone & {
            @extend .w100p;
            @extend .plr-m;
            @extend .l0;
            @extend .b-30;
        }
        &__title {
            @extend .c-blackLight;
            font-size:13px;
            @extend .text-uppercase;
            @extend .text-left;
            @extend .mb-s;
            @extend .xs-mb-m;
            @extend .pl-s;
            @extend .xs-pl0;
            @extend .text-center-xs;

            html.d-phone & {
                @extend .letterSpacing-xxl;
            }
        }
        &__items {
            @extend .flex-row-left-center;
        }
        &__item {
            @include accelerate(true);
            @extend .flex-centered;
            @extend .w60;
            @extend .h35;
            @extend .cursor-pointer;
            @extend .willChange-transform;
            transition:transform .5s $cubic075;

            html.d-phone & {
                @extend .w20p;
            }
            &:hover {
                transform:translate3d(0, 0, 0) scale(1.25);
            }
            &:active {
                transform:translate3d(0, 1px, 0) scale(0.9);
            }
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) .icon {
                    transition-delay:0s;
                }
            }
        }
        .icon {
            @extend .willChange-transform;
            @extend .scale-0;
            transition:transform .6s $bounceForce;
        }
    }
    .text {
        @extend .pos-centered-h;
        @extend .t90;
        @extend .nowrap;
        @extend .visible-lg;

        &__content {
            font-size:16px;
            @extend .c-blackLight;
            @extend .text-uppercase;
            @extend .letterSpacing-xl;
        }
    }
    &.showAnim .share__item {
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) .icon {
                transition-delay:#{0.65 + ($i / 7.5)}s;
            }
        }
        .icon {
            @extend .scale-100;
        }
    }
}

@media screen and (min-width: 400px) {
    html.d-phone #app {
        resume-edit-finish {
            .logo {
                &__icon {
                    width:128px;
                    height:48px;
                }
            }
            .circle2 {
                right:15px;
            }
            .circle3 {
                left:15px;
            }
        }
    }
}
@media screen and (max-width: 360px) {
    html.d-phone #app {
        resume-edit-finish {
            .circle2 {
                right:-10px;
            }
            .circle3 {
                left:-10px;
            }
        }
    }
}
@media screen and (max-height: 565px) {
    html.d-phone #app {
        resume-edit-finish {
            .logo {
                top:20px;
            }
            .share {
                bottom:20px;

                &__title {
                    display:none;
                }
            }
        }
    }
}
