<ui-input>

    <input name="input" onInput={ onInput } onUpdate={ opts.onupdate ? opts.onupdate : "none" } class="input input-{ opts.size ? opts.size : 'm' } { opts.color } { opts.align ? 'text-' + opts.align : '' } { input-rounded : opts.rounded }" value={ value } placeholder={ opts.placeholder } disabled={ typeof opts.disabled !== 'undefined' } type="text" autocomplete="off" spellcheck="false">

<script>

    var $ = this;

    $.on("before-mount", function(){
        if ($.opts.update && $.opts.cursor){
            $.value = $.opts.cursor.get($.opts.update);
        }
        else {
            $.value = $.opts.value;
        }
    });

    $.on("mount", function(){
        if (!window.$$ || window.$$ && !$$.fn.mask) return;
        if ($.opts.pattern || $.opts.mask){
            var $input = $$($.input);
            if ($.opts.pattern){
                $input.mask($.opts.pattern);
            }
            else if ($.opts.mask){
                if ($.opts.mask == "phone"){
                    $input.mask("(000) 000-0000");
                }
            }
        }
    });

    $.on("update", function(){
        if ((!$.opts.value || !$.opts.onupdate) && $.opts.update && $.opts.cursor){
            $.value = $.opts.cursor.get($.opts.update);
            $.input.value = $.value;
        }
        else if ($.opts.value && $.opts.value !== $.value){
            $.value = $.opts.value;
            $.input.value = $.value;
        }
    });

    $.onInput = function(e){
        var value = e.target.value;

        if ($.opts.update && $.opts.cursor){
            $.opts.cursor.set($.opts.update, value);
        }
        if ($.opts.commit === true || $.opts.commit == "true") $.parent.update();
        else if (_.isFunction($.opts.commit)) {
            $.opts.commit.call(this, value, $.opts.i);
        }
        else if ($.opts.commit && $.parent[$.opts.commit]){
            $.parent[$.opts.commit](value, $.opts.i);
        }
    };

    $.on("unmount", function(){
        if ($.opts.pattern || $.opts.mask){
            $$($.input).unmask();
        }
    });

</script>

</ui-input>
