<ui-select class="select select-{ opts.size ? opts.size : 'm' } { opts.color } { short : typeof opts.short !== 'undefined' }">

    <select name="select" onChange={ onChange } onUpdate={ opts.onupdate ? opts.onupdate : "none" } disabled={ disable }>
        <option each={ item, i in opts.items } no-reorder selected={ item._id == value || item == value || (value === null && i == 0) } value={ item._id ? item._id : item }>{ item.title ? item.title : item }</option>
    </select>

<script>

    var $ = this;

    $.on("before-mount", function(){
        if ($.opts.update && $.opts.cursor){
            $.value = $.opts.cursor.get($.opts.update);
        }
        else {
            $.value = $.opts.value;
        }
        $.disable = $.opts.disable;
    });

    $.on("update", function(){
        if ((!$.opts.value || !$.opts.onupdate) && $.opts.update && $.opts.cursor){
            $.value = $.opts.cursor.get($.opts.update);
            if ($.value !== null && $.value !== undefined) $.select.value = $.value;
        }
        else if ($.opts.value && $.opts.value !== $.value){
            $.value = $.opts.value;
            if ($.value !== null && $.value !== undefined) $.select.value = $.value;
        }
        if (_.isBoolean($.opts.disable) && $.opts.disable !== $.disable){
            $.disable = $.opts.disable;
        }
    });

    $.onChange = function(e){
        var value = e.target.value;

        if ($.opts.update && $.opts.cursor){
            $.opts.cursor.set($.opts.update, value);
        }
        if ($.opts.commit === true || $.opts.commit == "true") $.parent.update();
        else if (_.isFunction($.opts.commit)) {
            $.opts.commit.call(this, value, $.opts.i);
        }
        else if ($.opts.commit && $.parent[$.opts.commit]){
            $.parent[$.opts.commit](value, $.opts.i);
        }
    };

</script>

</ui-select>
