<root-main class="pos-abs-full" data-app="private">

    <resume-list if={ !app.device.isPhone }></resume-list>
    <resume-list-mobile if={ app.device.isPhone }></resume-list-mobile>
    <resume-edit></resume-edit>
    <resume-select></resume-select>
    <section-notify></section-notify>
    <section-alert></section-alert>
    <section-tutorial></section-tutorial>
    <section-jqtest></section-jqtest>
    <section-payment></section-payment>
    <section-plan if={ !app.device.isPhone }></section-plan>
    <section-plan-mobile if={ app.device.isPhone }></section-plan-mobile>
    <section-loader-ajax></section-loader-ajax>

    <app-sections>
        <resume-stat></resume-stat>
        <section-menu></section-menu>
        <section-inbox></section-inbox>

        <section-profile></section-profile>
        <section-profile-data></section-profile-data>
        <photo-upload></photo-upload>
        <section-loader></section-loader>

        <ui-dropmenu></ui-dropmenu>
    </app-sections>

    <app-offers>
        <offer-welcome></offer-welcome>
        <offer-plan></offer-plan>
        <offer-votes></offer-votes>
        <offer-jqtest></offer-jqtest>
    </app-offers>

    <app-overviews>
        <overview-premium></overview-premium>
        <overview-jqtest></overview-jqtest>
        <overview-functions></overview-functions>
    </app-overviews>

<script>

    $$ = window.jQuery || window.Zepto;

    $root = this;
    $rootScope = $$(this.root);

    $store.inbox.set([]);
    // $store.data.set([]);

    this.on("before-mount", function(){
        this.init();
    });

    this.on("mount", function(){
        if (!app.device.isMobile && !app.metrika.get("offers.welcome.show")){
            $Sections.offers.welcome.show();
        }
        else {
            $root.one("ready", function(){
                $Sections.resume.list.start();
            });
        }
        $afterlag.xs(function(){
            app.$dom.body.removeClass("appLoading");
            $root.trigger("ready");
        });
    });

    this.focus = function(value){
        $rootScope.attr("data-focus", value);
    };

    this.init = function(){
        $Sections = {
            profile: {
                section: $root.tags["section-profile"],
                data: $root.tags["section-profile-data"]
            },
            resume: {
                navbar: $root.tags["resume-list"].tags["resume-navbar"],
                list: app.device.isPhone ? $root.tags["resume-list-mobile"] : $root.tags["resume-list"],
                edit: $root.tags["resume-edit"],
                stat: $root.tags["resume-stat"],
                select: $root.tags["resume-select"]
            },
            offers: {
                welcome: $root.tags["offer-welcome"],
                plan: $root.tags["offer-plan"],
                jqtest: $root.tags["offer-jqtest"],
                votes: $root.tags["offer-votes"]
            },
            overview: {
                premium: $root.tags["overview-premium"],
                jqtest: $root.tags["overview-jqtest"],
                functions: $root.tags["overview-functions"]
            },
            jqtest: {
                section: $root.tags["section-jqtest"],
                list: $root.tags["section-jqtest"].tags["jqtest-list"],
                test: $root.tags["section-jqtest"].tags["jqtest-content"],
                result: $root.tags["section-jqtest"].tags["jqtest-result"]
            },
            plan: app.device.isPhone ? $root.tags["section-plan-mobile"] : $root.tags["section-plan"],
            inbox: $root.tags["section-inbox"],
            payment: $root.tags["section-payment"],
            menu: $root.tags["section-menu"],
            photoUpload: $root.tags["photo-upload"]
        };

        $Tutorial = $root.tags["section-tutorial"];
        $Notify = $root.tags["section-notify"];
        $Loader = $root.tags["section-loader"];
        $LoaderAjax = $root.tags["section-loader-ajax"];
        $Alert = $root.tags["section-alert"];
        $DropMenu = $root.tags["ui-dropmenu"];

        if (app.config.changeStyles){
            app.plugins.styles.init({
                elem: "#styles",
                default: "normal",
                screens: [
                    {
                        title: "small",
                        maxWidth: 360,
                        path: "/assets/css/style.smallScreen.css"
                    },
                    {
                        title: "normal",
                        minWidth: 360,
                        maxWidth: 1440,
                        path: "/assets/css/style.css"
                    },
                    {
                        title: "large",
                        minWidth: 1440,
                        path: "/assets/css/style.largeScreen.css"
                    }
                ],
                callback: function(screen){
                    if ($Sections && $Sections.resume && $Sections.resume.edit && $Sections.resume.edit.active){
                        $afterlag.run(function(){
                            $Sections.resume.edit.section.refresh();
                        });
                    }
                }
            });
        }
    };

</script>

</root-main>
