<root-main-mobile class="pos-abs-full" data-app="private">

    <resume-list-mobile></resume-list-mobile>
    <resume-edit></resume-edit>
    <resume-section-mobile></resume-section-mobile>
    <resume-select></resume-select>
    <resume-preview></resume-preview>
    <resume-sendmail></resume-sendmail>
    <section-notify></section-notify>
    <section-alert></section-alert>
    <section-pointer></section-pointer>
    <section-jptest></section-jptest>
    <section-payment-mobile></section-payment-mobile>
    <section-plan-mobile></section-plan-mobile>
    <section-loader-ajax></section-loader-ajax>
    <section-loader></section-loader>
    <section-progress></section-progress>
    <photo-upload></photo-upload>

    <app-sections>
        <resume-stat-mobile></resume-stat-mobile>
        <section-inbox-mobile></section-inbox-mobile>
        <section-inbox-content-mobile></section-inbox-content-mobile>

        <section-likes-mobile></section-likes-mobile>

        <section-profile-mobile></section-profile-mobile>
        <section-profile-data-mobile></section-profile-data-mobile>

        <ui-dropmenu></ui-dropmenu>
    </app-sections>

    <app-popups>
        <popup-premium></popup-premium>
        <popup-jptest></popup-jptest>
    </app-popups>

    <app-offers>
        <offer-plan></offer-plan>
        <offer-votes></offer-votes>
    </app-offers>

    <app-overviews>
        <overview-premium></overview-premium>
        <overview-jptest></overview-jptest>
        <overview-functions></overview-functions>
    </app-overviews>

<script>

    $$ = window.jQuery || window.Zepto;

    $root = this;
    $rootScope = $$(this.root);

    $resume = $store.resume;

    // $store.inbox.set([]);
    // $store.data.set([]);
    // $store.likes.set([]);

    this.on("before-mount", function(){
        this.init();
    });

    this.on("mount", function(){
        $afterlag.xs(function(){
            app.$dom.body.removeClass("appLoading");
            $root.trigger("ready");
            // $afterlag.xl(function(){
            //     $Sections.offers.votes.show();
            // })
        });
    });

    this.focus = function(value){
        $rootScope.attr("data-focus", value);
    };

    this.init = function(){
        $Sections = {
            profile: {
                section: $root.tags["section-profile-mobile"],
                data: $root.tags["section-profile-data-mobile"]
            },
            resume: {
                list: $root.tags["resume-list-mobile"],
                edit: $root.tags["resume-edit"],
                stat: $root.tags["resume-stat-mobile"],
                select: $root.tags["resume-select"],
                preview: $root.tags["resume-preview"],
                section: $root.tags["resume-section-mobile"],
                sendmail: $root.tags["resume-sendmail"]
            },
            popup: {
                premium: $root.tags["popup-premium"],
                jptest: $root.tags["popup-jptest"]
            },
            offers: {
                plan: $root.tags["offer-plan"],
                votes: $root.tags["offer-votes"]
            },
            overview: {
                premium: $root.tags["overview-premium"],
                jptest: $root.tags["overview-jptest"],
                functions: $root.tags["overview-functions"]
            },
            jptest: {
                section: $root.tags["section-jptest"],
                list: $root.tags["section-jptest"].tags["jptest-list"],
                test: $root.tags["section-jptest"].tags["jptest-content"],
                result: $root.tags["section-jptest"].tags["jptest-result"]
            },
            plan: $root.tags["section-plan-mobile"],
            likes: {
                section: $root.tags["section-likes-mobile"]
            },
            inbox: {
                section: $root.tags["section-inbox-mobile"],
                content: $root.tags["section-inbox-content-mobile"]
            },
            navbar: $root.tags["resume-list-mobile"].tags["navbar-mobile"],
            payment: $root.tags["section-payment-mobile"],
            photoUpload: $root.tags["photo-upload"],
            progress: $root.tags["section-progress"]
        };

        $Sections = new app.plugins.define("$Sections");

        $Pointer = $root.tags["section-pointer"];
        $Notify = $root.tags["section-notify"];
        $Loader = $root.tags["section-loader"];
        $LoaderAjax = $root.tags["section-loader-ajax"];
        $Alert = $root.tags["section-alert"];
        $DropMenu = $root.tags["ui-dropmenu"];

        if (app.config.changeStyles){
            app.plugins.styles.init({
                elem: "#styles",
                screens: [
                    {
                        title: "small",
                        maxWidth: 360,
                        path: "/assets/css/style.smallScreen.css?" + _.newId(),
                        refresh: true
                    },
                    {
                        title: "phone",
                        minWidth: 360,
                        maxWidth: 735,
                        path: "/assets/css/style.css?" + _.newId()
                    },
                    {
                        title: "tablet",
                        minWidth: 736,
                        reload: true
                    }
                ],
                callback: function(screen){
                    if ($Sections && $Sections.resume && $Sections.resume.edit && $Sections.resume.edit.active){
                        $afterlag.run(function(){
                            $Sections.resume.edit.section.refresh();
                        });
                    }
                }
            });
        }
    };

</script>

</root-main-mobile>
