@font-face {
  font-family: 'Avant';
  src: url('/assets/css/fonts/Avant/avantgardecttallfontru.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/fonts/Avant/avantgardecttallfontru.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/fonts/Avant/avantgardecttallfontru.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/fonts/Avant/avantgardecttallfontru.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/fonts/Avant/avantgardecttallfontru.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/fonts/Avant/avantgardecttallfontru.svg') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avant';
  src: url('/assets/css/fonts/Avant/avantgardectt-boldallfontru.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/fonts/Avant/avantgardectt-boldallfontru.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/fonts/Avant/avantgardectt-boldallfontru.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/fonts/Avant/avantgardectt-boldallfontru.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/fonts/Avant/avantgardectt-boldallfontru.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/fonts/Avant/avantgardectt-boldallfontru.svg') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
