body > #app {
    @each $font in ('myriad', 'museo', 'futura', 'gotham', 'proxima'){
        &[data-font="#{$font}"]{
            .f-primary {
                font-family:$font;
            }
        }
    }
    &[data-font="sfdisplay"]{
        .f-primary {
            font-family:'SF Display';
        }
    }
    &[data-font="thin"]{
        .f-primary {
            @extend .fontFamily-myriad;
        }
        h1, h2, h3, h4,
        .slider__item__label,
        .highlight {
            @extend .fontWeight-3;
        }
        .age {
            @extend .fontFamily-myriad;
            @extend .fontWeight-normal;
            font-size:16px;
            @extend .pt1;
        }
        .slider__item__label {
            html.d-no-phone & {
                &.-left {
                    @extend .fontSize-36;
                }
                @extend .fontWeight-2;
            }
        }
        .slider__item {
            @extend .c-blackDark;

            a {
                @extend .c-blackDark;
            }
            &[data-slide="commons"]{
                .post {
                    @extend .mt-xxs;
                    @extend .pt-xs;

                    &:before {
                        @extend .h1px;
                    }
                    html.d-phone & {
                        @extend .mt-xs;
                    }
                }
                .salary {
                    margin-top:11px;
                    @extend .fontWeight-normal;
                }
            }
            &[data-slide="courses"]{
                .item__name {
                    @extend .fontWeight-3;
                }
            }
            &[data-slide="languages"]{
                .item__lower {
                    @extend .fontWeight-3;
                }
            }
            &__label__count {
                @extend .w25;
                @extend .h25;
                @extend .pt3;
                @extend .fontSize-16;
                @extend .fontWeight-normal;
            }
            .item {
                &__title,
                &__name {
                    @extend .fontWeight-normal;
                }
                &__label {
                    @extend .fontFamily-myriad;
                }
            }
            .text,
            .larger {
                @extend .fontFamily-helvetica;
                @extend .fontWeight-3;
            }
            .larger {
                font-size:23px;
                line-height:37px;

                html.d-phone & {
                    font-size:22px;
                    line-height:34px;
                }
            }
        }
        .o-button_label {
            @extend .pt2;
            @extend .fontWeight-3;
            @extend .fontFamily-helvetica;
        }
        @media (max-width:699px) {
            .o-button_label {
                font-size: 20px !important;
            }
        }
        @media (min-width:700px) {
            .o-button_label {
                font-size: 22px !important;
            }
        }
    }
}
