global-menu {
    @extend .text-left;
    @extend .fontFamily-myriad;

    .menu {
        &.-padding {
            padding-top:27px;
        }
        &__label {
            @extend .c-slate;
            @extend .fontWeight-5;
        }
        &__item {
            @include flex("row", "flex-start", "flex-end");
            @extend .fontSize-15;
            @extend .h28;
        }
    }
    a {
        @extend .transition-default;

        &:hover {
            @extend .c-blue;
        }
    }
}
global-dropmenu {
    @extend .display-block;
    @extend .pos-fixed;
    @extend .t95;
    @extend .l0;
    @extend .w100v;
    @extend .visibility-hidden;
    @extend .pointerEvents-none;
    @extend .zIndex-5;
    height:calc(100vh - 95px);
    transition:visibility 0s 0.2s;

    &[data-open="true"]{
        @extend .visibility-visible;
        @extend .pointerEvents-all;
        @extend .transition-none;

        &:before {
            @extend .opacity-100;
        }
        .wrapper {
            @extend .bg-white;
            @extend .opacity-100;
            @extend .transform-default;
            transition:transform 0.3s $cubic28, background-color 0.03s ease;
        }
        .menu {
            &,
            &__label {
                @extend .opacity-100;
                @extend .scale-100;
            }
        }
    }
    &[data-open="false"]{
        .menu {
            &,
            &__label {
                transition:opacity 0s 0.2s, transform 0s 0.2s !important;
            }
        }
    }
    &:before {
        @extend .content-empty;
        @include abs();
        @extend .opacity-0;
        @extend .willChange-opacity;
        background-color:rgba(#000,.2);
        transition:opacity 0.2s ease;
    }
    .wrapper {
        @include accelerate();
        @extend .pos-rel;
        @extend .opacity-0;
        background-color:rgba($white,.95);
        padding:28px 0 54px;
        border-bottom:1px solid #d6d6d6;
        transform:translate3d(0, -100%, 0);
        will-change:opacity, transform, background-color;
        transition:opacity 0.2s ease, transform 0s 0.2s, background-color 0.03s ease;
        @extend .zIndex-1;

        global-nav[color="snow"] & {
            @extend .bg-snow7;
        }
    }
    .container {
        @extend .pos-rel;
        max-width:995px;
        @extend .zIndex-1;
    }
    [class^="col-"]{
        transform:translateX(12.5px);

        &:first-child {
            @extend .transform-default;
        }
        $delay: 0.2;
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
                .menu {
                    transition-delay:#{($i / 15) + $delay}s;

                    &__label {
                        transition-delay:#{($i / 20) + $delay}s;
                    }
                }
            }
        }
    }
    global-menu {
        .menu {
            @extend .pos-rel;

            &,
            &__label {
                @include accelerate();
                @extend .opacity-0;
                @extend .willChange-tp;
                transform:translate3d(20px, 0, 0) scale(0.98);
                transition:transform 0.3s $cubic4021, opacity 0.2s $cubic4021;
            }
            &.-divider:after {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .t0;
                right:12.5px;
                @extend .h100p;
                @extend .w1px;
                @extend .bg-smoke;
            }
            &.-padding {
                padding-top:29px;
            }
            &__label {
                font-size:17px;
                @extend .ml--1;
            }
            &__item {
                @extend .c-gray;
                @extend .h34;
                @extend .fontSize-16;
            }
        }
    }
}
