.menu {
    @include abs("fixed");
    @include accelerate();
    @extend .h100v;
    @extend .bg-white;
    @extend .text-center;
    @extend .zIndex-1000;
    @extend .opacity-0;
    @extend .visibility-hidden;
    @extend .pointerEvents-none;
    @extend .willChange-opacity;
    transition:opacity 0.35s $cubic40 0.1s, visibility 0.45s 0s;

    &__items {
        width:600px;
        margin-top:3.5vh;
        @extend .pos-centered;
    }
    &__item {
        @include accelerate();
        margin:8.5vh 0;
        @extend .opacity-0;
        @extend .willChange-tp;
        transform-origin:50% 0;
        transform:translate3d(0, -35px, 0) scale3d(0.7, 0.4, 0);
        transition:transform 0.4s $bounceForce, opacity 0.4s $bounceForce;

        &__link {
            @extend .c-black;
            @extend .fontFamily-myriad;
            font-size:18px;
            @extend .fontWeight-5;
            letter-spacing:5px;
            @extend .text-uppercase;
            @extend .textDecoration-none;
            transition:all 0.3s $cubic4001;

            html.m-no-touch &:hover,
            &[data-active="true"] {
                @extend .c-pink;
                @extend .fontWeight-bold;
                letter-spacing:6px;
            }
        }
    }
    &__close {
        @include accelerate();
        @extend .pos-abs;
        top:6vh;
        @extend .l50;
        @extend .w40;
        @extend .h40;
        @extend .borderRadius-circle;
        @extend .bg-blackLight;
        @extend .cursor-pointer;
        transition:transform 0.3s $cubic215, background-color 0.2s $cubic215;
        transform:translate3d(-50%, 0, 0) scale3d(0, 0, 1);

        html.m-no-touch &:hover {
            @extend .bg-pink;
            transition-delay:0s;
        }
        &:before,
        &:after {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .t50;
            @extend .l50;
            @extend .w33p;
            @extend .h2px;
            @extend .bg-white;
            @extend .opacity-0;
            @extend .willChange-tp;
            transition:transform 0.4s $cubic215, opacity 0.4s $cubic215;
        }
        &:before {
            transform:translate3d(-50%, -50%, 0) rotate(0deg);
        }
        &:after {
            transform:translate3d(-50%, -50%, 0) rotate(0deg);
        }
    }
    &[data-open="true"]{
        @extend .opacity-100;
        @extend .visibility-visible;
        @extend .pointerEvents-all;
        transition:opacity 0.35s $cubic40, visibility 0s;

        .menu {
            &__item {
                @extend .opacity-100;
                transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
                transition:transform 0.6s $bounceForce, opacity 0.35s $cubic40;

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}){
                        transition-delay:#{($i / 20)}s;
                    }
                }
            }
            &__close {
                transform:translate3d(-50%, 0, 0) scale3d(1, 1, 1);
                transition-delay:.5s;

                &:before,
                &:after {
                    @extend .opacity-100;
                    transition-delay:.55s;
                }
                &:before {
                    transform:translate3d(-50%, -50%, 0) rotate(45deg);
                }
                &:after {
                    transform:translate3d(-50%, -50%, 0) rotate(-45deg);
                }
            }
        }
        &[data-showed="true"]{
            .menu__close {
                transition-delay:0s;
            }
        }
    }
}
