.d-phone {
    .nav {
        @extend .border-none;

        &__container {
            @include abs();
            @extend .h100v;
            @extend .bg-white;
            @extend .pointerEvents-none;
            @extend .visibility-hidden;
            transform:translate3d();
        }
        &__opener {
            @extend .pos-tl;
            @extend .opacity-100;
            @extend .zIndex-2;
            @include ui-icon(menu2_white, 35px, 35px);
            transform:translate3d(22px, 22px, 0) scale3d(1.2, 1, 1) scaleX(-1);
        }
        &__close {
            @extend .pos-abs;
            @extend .btn-active;
            top:15px;
            right:15px;
            @include ui-icon(close_strong, 48px, 48px);
        }
        &__cell {
            @extend .h-auto;
        }
        &__border {
            @extend .display-none;
        }
        &__menu {
            @extend .pos-tl;
            @extend .display-block;
            @extend .plr-l;
            @extend .pt-xl;
            @extend .h-auto;
            transform:translateY(45px);

            &__item {
                @extend .c-blackLight;
                @extend .fontSize-24;
                @extend .mb-l;

                &:after {
                    @extend .display-none;
                }
                &[data-active="true"] {
                    @extend .c-blue;
                }
            }
        }
        &__button {
            @extend .btn-primary;
            @extend .boxShadow-none;
            font-size:16px;

            &:active,
            &:hover {
                @extend .c-white;
            }
        }
        &__buttons {
            @extend .pos-tl;
            transform:translate3d(25px, 40px, 0);
        }
        &__langs {
            &__item {
                @extend .c-gray;
                font-size:18px;
                @extend .w-auto;
                @extend .ml-l;

                &[data-active="true"]{
                    @extend .c-blue;
                }
            }
        }
    }
}
