$navHeightSmall: 60px;

.nav {
    &[data-fixed="true"]{
        @include accelerate();
        @extend .pos-fixed;
        @extend .t0;
        @extend .l0;
        background-color:rgba(#fff,.97);
        height:$navHeightSmall;
        @extend .boxShadow-close;
        @extend .willChange-transform;
        border-bottom-color:transparent;
        transition:all .5s;
        // box-shadow:0 0 12px rgba(28,28,28,.25);
        // box-shadow:5px 8.66px 30px 0 rgba(31,35,37,.078);

        .nav__cell {
            padding-bottom:2px;
        }
        .nav__cell,
        .nav__border,
        .nav__menu {
            height:$navHeightSmall;
        }
        .nav__menu__item {
            color:#3F4555;
            font-size:15px;

            &:after {
                @extend .bg-blue;
            }
            &:hover {
                @extend .c-black;
            }
            &__badge {
                top:-13px;
                font-size:10.5px;
                line-height:11px;
                padding:1px 3px;

                &:after {
                    @extend .display-none;
                }
            }
            &--opener {
                &:before {
                    @include ui-icon("more_h");
                }
            }
        }
        .nav__logotype {
            width:109px;
            height:40px;
            transform:translateY(2px);
            background-image:url(/public/images/logotype_b.png);

            html.d-tablet & {
                @extend .pos-centered-v;
                width:104px;
                height:38px;
                margin-top:1px;
            }
            html.d-tablet.r-portrait & {
                @extend .pos-centered-v;
                width:96px;
                height:35px;
                margin-top:1px;
            }
        }
        .nav__button {
            @extend .c-blue;
            @extend .boxShadow-none;

            &:hover {
                @extend .bg-blue;
                color:$white !important;
            }
            &__reg {
                &:after {
                    @include ui-icon("addUser");
                }
                &:hover:after {
                    @include ui-icon("addUser_white");
                }
            }
            &__exit {
                &:after {
                    @include ui-icon("exit");
                }
                &:hover:after {
                    @include ui-icon("exit_white");
                }
            }
        }
        .nav__langs {
            &__item {
                @extend .c-blue;

                &:hover,
                &[data-active="true"]{
                    @extend .bg-blue;
                    @extend .c-white;
                }
            }
        }
    }
    &[data-hidden="true"]{
        transform:translate3d(0, -100%, 0);

        &[data-fixed="true"]{
            box-shadow:0 1px 2px rgba(31,45,61,.15), 0 -10px 50px 10px rgba(#000,.1);
        }
    }
}
