$navHeight: 94px;

.nav {
    @extend .display-block;
    @extend .pos-tl;
    @extend .w100p;
    @extend .c-white;
    @extend .zIndex-5;
    height:$navHeight;
    will-change:height, border-color, background-color, box-shadow;
    transition:all 0.4s $cubic28;
    border-bottom:1px solid rgba(189,189,189,.2);

    &[data-color="blueLight"] {
        &:before {
            @extend .content-empty;
            @include abs();
            background:linear-gradient(to bottom, rgba(42,49,57,.3), rgba(42,49,57,0));
        }
    }
    &__cell {
        @extend .flex-row-left-center;
        height:$navHeight;
    }
    &__border {
        @extend .pos-tl;
        @extend .h100p;
        @extend .w1px;
        height:$navHeight;
        background-color:rgba(189,189,189,.2);
    }
    &__logotype {
        width:130px;
        height:48px;
        @extend .bg-cover;
        transform:translateY(3px);
        background-image:url(/public/images/logotype_w.png);
    }
    &__menu {
        @include flex("row", "flex-end", "center");
        height:$navHeight;
        @extend .w100p;
        @extend .pr-l;
        @extend .sm-pr-m;

        &__item {
            @extend .pos-rel;
            @extend .display-block;
            @extend .text-uppercase;
            @extend .fontWeight-8;
            @extend .letterSpacing--xs;
            @extend .cursor-pointer;
            @extend .opacity-70;
            @extend .ml-l;

            &:after {
                @extend .content-empty;
                @extend .pos-bl;
                @extend .w0;
                @extend .h2px;
                @extend .bg-lime;
                margin-bottom:-4px;
                transition:width .4s;

                .nav[data-color="blueLight"] & {
                    @extend .bg-blueLight;
                }
            }
            &[data-active="true"],
            &:hover {
                @extend .opacity-100;

                &:after {
                    @extend .w100p;
                }
            }
        }
    }
    &__button {
        @extend .pos-rel;
        @extend .fontWeight-8;
        padding-top:1px;
        margin-top:-1px;

        &:hover {
            .m-no-touch & {
                color:$blue !important;
            }
        }
        &__reg {
            &:after {
                @extend .content-empty;
                @extend .pos-centered;
                @include ui-icon("addUser_white", 34px, 34px);
            }
            &:hover:after {
                @include ui-icon("addUser");
            }
        }
    }
}
