$navHeight: 94px;

.nav {
    @extend .display-block;
    @extend .pos-tl;
    @extend .w100p;
    @extend .c-white;
    @extend .zIndex-5;
    height:$navHeight;
    will-change:height, border-color, background-color, box-shadow;
    transition:all 0.4s $cubic28;
    border-bottom:1px solid rgba(189,189,189,.2);

    &[data-color="blueLight"] {
        &:before {
            @extend .content-empty;
            @include abs();
            background:linear-gradient(to bottom, rgba(42,49,57,.3), rgba(42,49,57,0));
        }
    }
    &__cell {
        @extend .flex-row-left-center;
        height:$navHeight;
    }
    &__border {
        @extend .pos-tl;
        @extend .h100p;
        @extend .w1px;
        height:$navHeight;
        background-color:rgba(189,189,189,.2);
    }
    &__logotype {
        width:130px;
        height:48px;
        @extend .bg-cover;
        transform:translateY(3px);
        background-image:url(/public/images/logotype_w.png);

        html.d-tablet & {
            @extend .pos-centered-v;
            width:122px;
            height:45px;
            margin-top:1px;
        }
        html.d-tablet.r-portrait & {
            @extend .l-s;
        }
    }
    &__menu {
        @include flex("row", "flex-end", "center");
        height:$navHeight;
        @extend .w100p;
        @extend .pr-l;
        @extend .sm-pr-m;

        &__item {
            @extend .pos-rel;
            @extend .display-block;
            @extend .text-uppercase;
            @extend .fontWeight-8;
            @extend .letterSpacing--xs;
            @extend .cursor-pointer;
            @extend .opacity-70;
            @extend .ml-l;
            will-change:opacity, color;
            transition:color 0.4s $cubic28, opacity .15s;

            &:after {
                @extend .content-empty;
                @extend .pos-bl;
                @extend .w0;
                @extend .h2px;
                @extend .bg-lime;
                margin-bottom:-4px;
                transition:width .4s;

                .nav[data-color="blueLight"] & {
                    @extend .bg-blueLight;
                }
            }
            &[data-active="true"],
            html.m-no-touch &:hover {
                @extend .opacity-100;

                &:after {
                    @extend .w100p;
                }
            }
            &[data-hidden="true"]{
                @extend .opacity-100;
                @extend .pointerEvents-none;

                .nav__menu__item__inner {
                    @extend .opacity-70;
                }
                &:after {
                    @extend .display-none;
                }
            }
            &__badge {
                @extend .pos-abs;
                @extend .flex-centered;
                @extend .t--m;
                @extend .l100;
                @extend .trX--m;
                @extend .ml--xxs;
                @extend .fontWeight-bold;
                @extend .bg-pink;
                @extend .c-white;
                font-size:12px;
                line-height:12px;
                padding:2px 4px;
                @extend .borderRadius-m;

                html.d-ie & {
                    @extend .display-block;
                }
                &:after {
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .t100;
                    @extend .l0;
                    width:8px;
                    height:8px;
                    @extend .bg-pink;
                    transform:rotate(60deg) translate3d(-2px, -8px, 0);
                    @extend .zIndex--1;
                }
            }
            &--opener {
                @extend .visible-sm;
                @extend .opacity-100;
                @extend .mr-xxs;

                &:before {
                    @extend .content-empty;
                    @extend .display-block;
                    @include ui-icon("more_h_white", 26px, 26px);
                }
            }
        }
    }
    &__button {
        @extend .pos-rel;
        @extend .fontWeight-8;
        padding-top:1px;
        margin-top:-1px;

        &:hover {
            html.m-no-touch & {
                color:$blue !important;
            }
        }
        &__reg {
            &:after {
                @extend .content-empty;
                @extend .pos-centered;
                @include ui-icon("addUser_white", 34px, 34px);
            }
            &:hover:after {
                @include ui-icon("addUser");
            }
        }
        &__exit {
            &:after {
                @extend .content-empty;
                @extend .pos-centered;
                margin:-1px 0 0 2px;
                @include ui-icon("exit_white", 38px, 38px);
            }
            &:hover:after {
                @include ui-icon("exit");
            }
        }
    }
}
