<root-main class="appResume section" data-color="{ $State.get('color') }" data-font="{ $State.get('font') }" data-mode="{ $State.get('mode') }" data-coverletter={ $State.get('mode') !== "editing" && $store.resume.select("sections").get({"name": "coverletter"}).active } data-app="premium">

    <section-nav if={ !app.device.isMobile }></section-nav>

    <section-info if={ $State.get('mode') !== "editing" }></section-info>
    <section-sendmail if={ $State.get('mode') !== "editing" }></section-sendmail>
    <salary-graph-opener if={ $State.get('mode') !== "editing" && $resume.salary.graph.active }></salary-graph-opener>
    <salary-graph></salary-graph>

    <sections-control if={ $State.get('mode') === "editing" }>

        <section-menu></section-menu>
        <menu-opener></menu-opener>

        <control-fonts></control-fonts>
        <control-colors></control-colors>
        <control-sections></control-sections>
        <control-public></control-public>
        <section-editable></section-editable>
        <section-percentage if={ !app.device.isMobile }></section-percentage>
        <text-edit></text-edit>
        <resume-button-save section={ $Sections.finish }></resume-button-save>

    </sections-control>

    <resume-template1></resume-template1>

    <div class="section__overlay zIndex-7"></div>

    <resume-edit-finish percentage={ $Sections.percentage }></resume-edit-finish>

    <section-loader></section-loader>
    <section-notify if={ $State.get('mode') === "editing" }></section-notify>
    <section-tutorial if={ $State.get('mode') === "editing" }></section-tutorial>

<script>

    $root = this;

    $$ = window.jQuery || window.Zepto;

    var store = Store.get("resume"),
        recovery = false;

    if (!app.demo && store && store._id == $store.resume.get("_id") && store.plan == $store.resume.get("plan") && moment(store.update).diff(moment($store.resume.get("update"))) > 0){
        $store.resume.set(store);
        recovery = true;
    }

    $resume = app.demo ? $store.resume.prepare.demo() : $store.resume.prepare.premium($store.resume.get(), true);

    $i18n.lang($resume.lang);
    moment.locale($resume.lang);

    var mode = this.opts.editing == "true" ? "editing" : "view",
        config = $store.resume.select("config").deepClone();

    config.mode = mode;

    $State = new Baobab(config, { autoCommit: true });

    $Sections = {
        percentage: $root.tags["section-percentage"],
        textEdit: $root.tags["text-edit"],
        finish: $root.tags["resume-edit-finish"]
    }

    this.on("before-mount", function(){

        $Menu = $root.tags["section-menu"];
        $Nav = $root.tags["section-nav"];
        $Info = $root.tags["section-info"];
        $Sendmail = $root.tags["section-sendmail"];
        $Editable = $root.tags["section-editable"];
        $Helper = $Editable.tags["ui-help"];
        $Loader = $root.tags["section-loader"];
        $Notify = $root.tags["section-notify"];
        $Tutorial = $root.tags["section-tutorial"];

        $Control = {
            fonts: $root.tags["control-fonts"],
            colors: $root.tags["control-colors"],
            sections: $root.tags["control-sections"],
            public: $root.tags["control-public"]
        }
        $Salary = {
            opener: $root.tags["salary-graph-opener"],
            graph: $root.tags["salary-graph"]
        }
        $Resume = $root.tags["resume-template1"];
    });

    this.one("ready", function(){
        app.$dom.body.removeClass("appLoading")
        .attr("id", "ready");

        if (app.demo){
            if (window.parent && window.parent){
                window.parent.postMessage('ready', '*');
            }
            app.$dom.window.on("message", function(e){
                var data = e.originalEvent.data;
                if (data){
                    if (data.color){
                        $State.select('color').set(data.color);
                    }
                }
            });
            $store.resume.select('commons', 'photo')
            .set("/preview/images/photo/photo_" + app.device.is + ".jpg");

            $Resume.sections.photo.update();

            app.config.request.handler = function(method){
                if (method.match(/Suggest/)){
                    return true;
                }
            }
        }
        else {
            // app.$dom.body.scrollTop(0);
            // app.$dom.body.addClass("overflow-hidden");
            //
            // $Tutorial.show(app.$dom.body, "resumePremiumMain");
            //
            // $Tutorial.one("hide", function(){
            //     app.$dom.body.removeClass("overflow-hidden");
            // });
            if (recovery){
                $Notify.show({
                    color: "dark",
                    text: "Резюме восстановлено из резервной копии"
                })
            }
            $root.autoSave();
        }
        if (app.device.isPhone){
            new app.plugins.scroll.refreshFix($root.root);
        }
        $root.ready = true;
    });

    this.on("mode", function(mode, value){
        if (mode == "hidden"){
            if (app.device.isPhone){
                $Resume.root.setAttribute("data-hidden", value);
            }
            else {
                $root.root.setAttribute("data-overlay", value);
            }
        }
        else if (mode == "menu"){
            $root.root.setAttribute("data-menu", value);
        }
        else if (mode == "coverletter"){
            $root.root.setAttribute("data-coverletter", value);
        }
    });

    this.autoSave = function(){
        $root.autoSaveInterval = setInterval(function(){

            $store.resume.select("update").set(moment().format());
            Store.set("resume", $store.resume.get());

        }, app.config.resume.premium.autoSave.interval * 1000);
    };

    if (app.config.changeStyles){
        app.plugins.styles.init({
            elem: "#styles",
            screens: [
                {
                    title: "small",
                    maxWidth: 360,
                    path: "/assets/css/premium.smallScreen.css?" + _.newId(),
                    refresh: true
                },
                {
                    title: "phone",
                    minWidth: 360,
                    maxWidth: 767,
                    reload: true
                },
                {
                    title: "normal",
                    minWidth: 768,
                    maxWidth: 1681,
                    path: "/assets/css/premium.css?" + _.newId(),
                    reload: true
                },
                {
                    title: "large",
                    minWidth: 1682,
                    path: "/assets/css/premium.largeScreen.css?" + _.newId(),
                    refresh: true
                }
            ]
        });
    }

</script>

</root-main>
