<root-main-view class="appResume section" data-lang="{ $resume.lang }" data-color="{ $State.get('color') }" data-font="{ $State.get('font') }" data-mode="{ $State.get('mode') }" data-coverletter={ $State.get('mode') !== "editing" && $store.resume.select("sections").get({"name": "coverletter"}).active } data-animation={ !app.device.isPhone && $State.get('mode') === 'view' && $State.get('animate') } data-app="premium">

    <section-nav if={ !app.device.isMobile }></section-nav>

    <section-info></section-info>
    <section-sendmail></section-sendmail>
    <salary-graph-opener></salary-graph-opener>
    <salary-graph></salary-graph>

    <sections-control if={ $State.get('mode') === "editing" }>
        <control-colors></control-colors>
    </sections-control>

    <resume-template1></resume-template1>

    <div class="section__overlay zIndex-7"></div>

<script>

    $root = this;

    $$ = window.jQuery || window.Zepto;

    $resume = app.demo ? $store.resume.prepare.demo() : $store.resume.get();

    this.init = function(){
        $i18n.lang($resume.lang);
        moment.locale($resume.lang);

        var mode = this.opts.editing == "true" ? "editing" : "view",
            config = $store.resume.select("config").deepClone();

        config.mode = mode;
        config.public = $store.resume.get("public");
        config.lang = $store.resume.get("lang");

        $State = new Baobab(config, { autoCommit: true });
    };

    this.init();

    this.on("before-mount", function(){

        $Menu = $root.tags["section-menu"];
        $Nav = $root.tags["section-nav"];
        $Info = $root.tags["section-info"];
        $Sendmail = $root.tags["section-sendmail"];

        $Control = {
            colors: $root.tags["control-colors"]
        }
        $Salary = {
            opener: $root.tags["salary-graph-opener"],
            graph: $root.tags["salary-graph"]
        }

        $Resume = $root.tags["resume-template1"];
    });

    this.one("ready", function(){
        if (!app.device.isMobile && $State.get("animate") === true){
            var photoParallax = new app.plugins.scroll.ParallaxController({
                items: [
                    {
                        selector: "ux-photo",
                        from: 100,
                        to: -150,
                        off: 0
                    }
                ]
            });
            photoParallax.start();
        }

        app.$dom.body.removeClass("appLoading")
        .attr("id", "ready");

        if (!app.device.isPhone && $State.get("animate") === true){
            $afterlag.run(function(){
                if (!app.device.isMobile){
                    var scrollAnimation = new app.plugins.scroll.AnimationController({
                        container: $root.root
                    });
                    scrollAnimation.start();
                }
                var progressAnimation = new app.plugins.scroll.animate({
                    container: $root.root,
                    onlyItems: true,
                    items: [
                        {
                            elem: ".skills-progress",
                            callback: function($elem, i){
                                $elem.addClass("animated");
                            }
                        },
                        {
                            elem: ".choose__contact",
                            callback: function($elem, i){
                                $elem.addClass("animated");
                            }
                        }
                    ]
                });
                progressAnimation.start();
            });
        }
        if (app.demo && window.parent){
            window.parent.postMessage('ready', '*');

            if (app.device.isPhone){
                var $screens = $Resume.el.find(".screen");

                $screens.on('show', function(){
                    var section = this.getAttribute("data-section");
                    window.parent.postMessage({
                        screen: section
                    }, '*');
                });
            }
            app.$dom.window.on("message", function(e){
                var data = e.originalEvent.data;
                if (data){
                    if (data.color && $State.get('color') != data.color){
                        $State.select('color').set(data.color);
                    }
                    if (data.resume){
                        $Resume.unmount(true);
                        $resume = $store.resume.prepare.premium(data.resume, "demo");
                        $root.init();
                        $Resume = riot.mount("resume-template1")[0];
                        $Resume.one("updated", function(){
                            $Salary.opener.update();
                            $Salary.graph.update();
                            window.parent.postMessage({
                                resume: $store.resume.get()
                            }, '*');
                        });
                    }
                }
            });
        }

        $root.ready = true;
    });

    this.on("mode", function(mode, value){
        if (mode == "hidden"){
            if (app.device.isPhone){
                $Resume.root.setAttribute("data-hidden", value);
            }
            else {
                $root.root.setAttribute("data-overlay", value);
            }
        }
        else if (mode == "menu"){
            $root.root.setAttribute("data-menu", value);
        }
        else if (mode == "coverletter"){
            $root.root.setAttribute("data-coverletter", value);
        }
    });

    if (app.config.changeStyles){
        if (app.device.isPhone){
            app.plugins.styles.init({
                elem: "#styles",
                screens: [
                    {
                        title: "small",
                        maxWidth: 360,
                        path: "/assets/css/premium.smallScreen.css",
                        refresh: true
                    },
                    {
                        title: "normal",
                        minWidth: 360,
                        maxWidth: 767,
                        path: "/assets/css/premium.css"
                    },
                    {
                        title: "tablet",
                        minWidth: 768,
                        reload: true
                    }
                ]
            });
        }
        else {
            app.plugins.styles.init({
                elem: "#styles",
                screens: [
                    {
                        title: "small",
                        maxWidth: 767,
                        reload: true
                    }
                ]
            });
        }
    }

</script>

</root-main-view>
