@each $title, $size in (xxs: 18px, xs: 20px, s: 24px, m: 26px, l: 28px, xl: 32px, xxl: 34px, xxxl: 36px, xxxxl: 40px, xxxxxl: 44px, xxxxxxl: 56px, xxxxxxxl: 68px, xxxxxxxxl: 92px){
    .lineHeight-#{$title} {
        line-height:$size;
    }
}
@each $title, $size in (18: 18px, 20: 20px, 24: 24px, 26: 26px, 28: 28px, 32: 32px, 34: 34px, 36: 36px, 40: 40px, 44: 44px, 48: 48px, 52: 52px, 56: 56px, 68: 68px, 92: 92px){
    .lineHeight-#{$title} {
        line-height:$size;
    }
}
.lineHeight-1 {
    line-height:1;
}
