// @font-face {
// 	font-family: 'pfhighway';
// 	src: url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-extrathin.woff2') format('woff2'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-extrathin.woff') format('woff'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-extrathin.ttf')  format('ttf'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-extrathin.eot') format('eot');
// 	font-weight: 100;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'pfhighway';
// 	src: url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-thin.woff2') format('woff2'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-thin.woff') format('woff'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-thin.ttf')  format('ttf'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-thin.eot') format('eot');
// 	font-weight: 200;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'pfhighway';
// 	src: url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-light.woff2') format('woff2'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-light.woff') format('woff'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-light.ttf')  format('ttf'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-light.eot') format('eot');
// 	font-weight: 300;
// 	font-style: normal;
// }
@font-face {
	font-family: 'pfhighway';
	src: url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-regular.woff2') format('woff2'),
		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-regular.woff') format('woff'),
		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-regular.ttf')  format('ttf'),
		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-regular.eot') format('eot');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'pfhighway';
	src: url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-medium.woff2') format('woff2'),
		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-medium.woff') format('woff'),
		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-medium.ttf')  format('ttf'),
		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-medium.eot') format('eot');
	font-weight: 600;
	font-style: normal;
}
// @font-face {
// 	font-family: 'pfhighway';
// 	src: url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-bold.woff2') format('woff2'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-bold.woff') format('woff'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-bold.ttf')  format('ttf'),
// 		 url('/assets/css/fonts/Pfhighway/pfhighwaysanspro-bold.eot') format('eot');
// 	font-weight: 700;
// 	font-style: normal;
// }
