@media screen and (min-width: $w1200) {
    .nowrap-lg {
        white-space:nowrap;
    }
    .text-center-lg {
        text-align:center;
    }
}
@media screen and (min-width: $w992) and (max-width: $w1024) {
    .nowrap-md {
        white-space:nowrap;
    }
    .text-center-md {
        text-align:center;
    }
}
@media screen and (min-width: $w768) and (max-width: $w991) {
    .nowrap-sm {
        white-space:nowrap;
    }
    .text-center-sm {
        text-align:center;
    }
}
@media screen and (max-width: $w767) {
    .nowrap-xs {
        white-space:nowrap;
    }
    .text-center-xs {
        text-align:center;
    }
}
