<ux-commons class="slider__item" style="background-color: { $root.colors.commons }" data-slide="commons">

    <div class="slider__item__container">
        <div class="row">
            <div if={ !app.device.isPhone } class="hidden-xs col-md-10 slider__item__content">
                <div class="photo" style="background-image:url('{ $resume.commons.photo }')" data-filter={ $State.get('photo', 'filter') }></div>
            </div>
            <div class="col-xs-24 col-md-14 slider__item__content">
                <div class="content content__scroll" data-track="default">
                    <div class="content__scroll__track">
                        <h1 class="title highlight">{ $resume.commons.name } { $resume.commons.surname }</h1>
                        <h3 class="post">{ $resume.post }<div class="age">{ $store.resume.take.birthday.age() }</div></h3>
                        <div class="salary highlight">
                            { _.numberFormat($resume.salary.amount, 0, ".", ".") } <span class="salary__currency">{ $store.currency.getTitleById($resume.salary.currency) }</span>
                            <sup class="salary__schedule">{ $store.worktime.getTitleById($resume.salary.worktime) }</sup>
                        </div>
                        <div class="tag-list">
                            <div class="tag" each={ item in $resume.tags } no-reorder>{ item }</div>
                        </div>
                        <p class="larger highlight">{ $resume.appeal }</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content__gradient -bottom" style="background-image:linear-gradient(to top, { $root.colors.commons } { app.device.isPhone ? '25%' : '50%' }, { _.hexToRgb($root.colors.commons, 0) });"></div>

</ux-commons>
