.resume {
    .btn-editable {
        @extend .borderWidth-1;
        @extend .borderStyle-dashed;

        &:not(:hover){
            @extend .border-primary;
            @extend .boxShadow-none;
            @extend .c-primary;
            background-color:rgba($white,.22);
        }
        .d-mobile & {
            height:54px;
            font-size:17px;
            line-height:52px;
            @extend .pl35;
            @extend .pr35;
        }
        .btn-svg {
            transform:translateY(-1px);
        }
        &.btn-white {
            @extend .bg-white-transparent;
            border:2px dotted rgba($white,.7) !important;
            @extend .c-white;

            .btn-svg-color {
                @extend .fill-white;
            }
            &:hover {
                @extend .bg-white;
                @extend .c-primary;

                .btn-svg-color {
                    @extend .fill-primary;
                }
            }
        }
        &.btn-l {
            .btn-svg {
                width:18px;
                height:18px;
            }
        }
        &.btn-xl {
            .btn-svg {
                width:20px;
                height:20px;
            }
            .d-mobile & {
                padding-left:35px;
                padding-right:35px;
            }
        }
        &:not(.btn-white) {
            .btn-svg-color {
                @extend .fill-primary;
            }
            &:hover {
                @extend .c-white;
                @extend .bg-primary;
                @extend .border-primary;

                .btn-svg-color {
                    @extend .fill-white;
                }
            }
        }
    }
}
.section__editable {
    .btn {
        .btn-svg-color {
            @extend .fill-white;
        }
        &:hover {
            .btn-svg-color {
                @extend .fill-primary;
            }
        }
    }
}
