.component {
	@extend .display-block;
	@extend .pos-rel;
	@extend .cursor-default;

	&:before {
		@extend .content-empty;
		@extend .pos-abs;
		@extend .t--xs;
		@extend .l--l;
		@extend .w60;
		@extend .h100p;
	}
}
.edit-pointer {
	@extend .pos-abs;
	@extend .t--s;
	left:-35px;
	@extend .willChange-transform;
	@extend .scale-0;
	transition:transform 0.3s $cubic23;
	@extend .zIndex-1;

	&-item {
		@extend .w35;
		@extend .h35;
		@extend .flex-centered;
		@extend .boxShadow-default;
		@extend .borderRadius-circle;
		@extend .cursor-pointer;
		@extend .btn-active;
		@extend .bg-blue;

		&:after {
			@extend .content-empty;
			@extend .pos-rel;
			@extend .display-block;
			@include ui-icon(pencil_white, 17px, 17px);
		}
		&:before {
			@include abs();
			@extend .content-empty;
			@extend .bg-black;
			@extend .borderRadius-circle;
			@extend .opacity-0;
			transition:opacity 0.2s $cubic215;
		}
		&:hover:before {
			@extend .opacity-10;
		}
	}
}
.component {
	&:hover {
		.edit-pointer {
			@extend .scale-100;
			transition:transform 0.3s $cubic23 0.1s;
		}
	}
}
.editable-container {
	@extend .display-block;
}
.editable {
	@extend .display-block;
	@extend .zIndex-2;

	&.hide {
		@extend .display-none;
	}
}
.d-no-mobile {
	.blur {
		@include accelerate();
		@extend .userSelect-none;
		@extend .pointerEvents-none;
		@extend .opacity-30;
		@extend .scale-100;
		will-change:transform, filter, opacity;
		filter:blur(15px);
		transition:all 0.4s $cubic215;
	}
	.editable-container {
		&:hover {
			~ .blur {
				@extend .opacity-60;
				filter:blur(7px);
				transform:translate3d(0, 0, 0) scale(1.1);
			}
		}
	}
}
.d-mobile {
	.blur {
		@extend .opacity-0;
	}
}
.d-phone {
	.blur {
		max-height:180px;
		@extend .overflow-hidden;
	}
}
