@each $title, $size, $height in (10, 10px, 14px), (12, 12px, 16px), (13, 13px, 15px), (14, 14px, 18px), (15, 15px, 20px), (16, 16px, 22px), (18, 18px, 24px), (20, 20px, 28px), (22, 22px, 28px), (24, 24px, 32px), (28, 28px, 34px), (30, 30px, 36px), (32, 32px, 38px), (34, 34px, 38px), (38, 38px, 46px), (46, 46px, 46px), (64, 64px, 64px), (72, 72px, 86px){
    .fontSize-#{$title} {
        font-size:$size;
        line-height:$height;

        @if $title == 72 {
            margin-left:-4px;
            letter-spacing:-3px;
        }
        @if $title == 64 or $title == 46 {
            margin-left:-2px;
            letter-spacing:-2px;
        }
        @if $title == 38 or $title == 34 {
            margin-left:-2px;
            letter-spacing:-1.4px;
        }
        @if $title == 32 or $title == 30 or $title == 28 or $title == 24 {
            margin-left:-1px;
            letter-spacing:-1px;
        }
        @if $title == 22 or $title == 20 {
            letter-spacing:-0.4px;
        }
    }
}
@each $title, $size, $height in (xxs, 10px, 14px), (xs, 12px, 16px), (s, 14px, 18px), (m, 16px, 22px), (l, 18px, 24px), (xl, 20px, 28px), (xxl, 24px, 32px){
    .fontSize-#{$title} {
        font-size:$size;
        line-height:$height;

        @if $title == "xxl" {
            margin-left:-1px;
            letter-spacing:-1px;
        }
        @if $title == "xl" {
            letter-spacing:-0.4px;
        }
    }
}
#app[data-font="avant"] {
    .fontSize-72 {
        font-size:64px;
        line-height:80px;
        padding-bottom:5px;
    }
    .fontSize-64 {
        font-size:56px;
        line-height:56px;
    }
    .fontSize-46 {
        font-size:42px;
        line-height:42px;
    }
    .fontSize-34 {
        font-size:29px;
        line-height:45px;
        letter-spacing:-1px;
    }
    .fontSize-30 {
        font-size:28px;
    }
    .fontSize-24 {
        font-size:22px;
    }
    .fontSize-20 {
        font-size:18px;
    }
    .fontSize-16 {
        font-size:15px;
    }
    .fontSize-13 {
        font-size:12px;
    }
}
#app[data-font="gotham"] {
    .fontSize-72 {
        font-size:64px;
        line-height:80px;
        padding-bottom:5px;
        letter-spacing:-4.6px;
    }
    .fontSize-64,
    .fontSize-46 {
        letter-spacing:-0.4px;
    }
    .fontSize-46 {
        font-size:44px;
        line-height:44px;
    }
    .fontSize-34 {
        font-size:30px;
        line-height:46px;
        letter-spacing:-1.7px;
    }
    .fontSize-30 {
        font-size:27.5px;
    }
    .fontSize-24 {
        letter-spacing:-1.4px;
        font-size:22.5px;
    }
    .fontSize-20 {
        letter-spacing:-1px;
        font-size:18.5px;
    }
    .fontSize-16 {
        font-size:15px;
    }
    .fontSize-13 {
        font-size:11px;
    }
}
#app[data-font="proxima"] {
    .fontSize-72 {
        font-size:64px;
        line-height:80px;
        padding-bottom:5px;
        letter-spacing:-3.2px;
    }
    .fontSize-34 {
        font-size:30px;
        line-height:48px;
    }
}
#app[data-font="myriad"] {
    .fontSize-72 {
        font-size:70px;
        line-height:80px;
        padding-bottom:5px;
        letter-spacing:-3.2px;
    }
    .fontSize-64 {
        font-size:68px;
        line-height:68px;
    }
    .fontSize-46 {
        font-size:50px;
        line-height:50px;
    }
    .fontSize-34 {
        font-size:32px;
        line-height:48px;
    }
    .fontSize-30 {
        letter-spacing:-0.8px;
    }
}
.d-phone {
    #app[data-font="avant"],
    #app[data-font="gotham"],
    #app[data-font="proxima"],
    #app[data-font="myriad"] {
        .fontSize-72 {
            line-height:72px;
            padding-bottom:0px;
        }
    }
}
.fontSize-0 {
    font-size:0;
}
