.resume {
    .likes {
        @extend .flex-column-centered;

        &__cover {
            @extend .pos-rel;
            @extend .w130;
            @extend .h130;
            @extend .mb-s;

            &:before {
                @extend .content-empty;
                @extend .display-block;
                @extend .opacity-30;
                @include ui-icon("like_fill_white", 130px, 130px);
                animation:pulse-heart 1s infinite;
            }
            &__photo {
                @extend .pos-centered;
                width:62px;
                height:62px;
                @extend .bg-cover;
                @extend .borderRadius-circle;
                @extend .mt--s;
            }
            &__badge {
                @extend .pos-abs;
                bottom:65%;
                right:60%;
                width:29px;
                height:29px;
                @extend .fontFamily-futura;
                @extend .flex-centered;
                @extend .c-white;
                font-size:18px;
                @extend .fontWeight-8;
                @extend .borderRadius-circle;
                padding-top:1px;
            }
        }
        &__text {
            @extend .c-white;
            @extend .text-center;
        }
        &[data-gender="male"]{
            .likes__cover__badge {
                @extend .bg-blueLight;
            }
            .btn:before {
                @include ui-icon("like_fill_blue", 24px, 24px);
            }
        }
        &[data-gender="female"]{
            .likes__cover__badge {
                @extend .bg-pink;
            }
            .btn:before {
                @include ui-icon("like_fill_pink", 24px, 24px);
            }
        }
        .btn {
            @extend .bg-white;
            @extend .c-black;

            &:before {
                @extend .content-empty;
                @extend .display-inlineBlock;
                @extend .vAlign-middle;
                margin:0 12px 0 -10px;
            }
        }
    }
}
