.resume {
    .likes {
        html.d-phone & {
            @extend .flex-column-centered;
        }
        &__cover {
            @extend .pos-rel;
            @extend .w130;
            @extend .h130;
            @extend .mb-xs;

            html.d-no-phone #app[data-lang="ru"] & {
                @extend .mt--xxs;
                @extend .mb--m;
            }
            html.d-no-phone #app[data-lang="en"] & {
                @extend .trY-xs;
                @extend .mb-xxs;
            }
            &:before {
                @extend .content-empty;
                @extend .display-block;
                @extend .opacity-30;
                @extend .visible-xs;
                @include ui-icon("like_fill_white", 130px, 130px);
                animation:pulse-heart 1s infinite;
            }
            &__heart {
                @extend .w100p;
                @extend .h100p;
                @extend .opacity-30;
                animation:pulse-heart 1s infinite;

                path {
                    @extend .fill-primary;
                }
            }
            &__photo {
                @extend .pos-centered;
                @extend .w62;
                @extend .h62;
                @extend .bg-cover;
                @extend .borderRadius-circle;
                @extend .mt--s;

                html.d-no-phone & {
                    @extend .w64;
                    @extend .h64;
                    @extend .mt--m;
                }
            }
            &__badge {
                @extend .pos-abs;
                @extend .b65;
                @extend .r60;
                width:29px;
                height:29px;
                @extend .fontFamily-futura;
                @extend .flex-centered;
                @extend .c-white;
                font-size:18px;
                @extend .fontWeight-8;
                @extend .borderRadius-circle;
                padding-top:1px;

                html.d-no-phone & {
                    @extend .bg-pink;
                    @extend .pt0;
                    @extend .w24;
                    @extend .h24;
                    @extend .b70;
                    font-size:13px;
                }
            }
        }
        .popup__content {
            html.d-no-phone #app[data-lang="en"] & {
                @extend .pt-s;
            }
        }
        &__text {
            @extend .c-white;
            @extend .text-center;
        }
        &[data-gender="male"]{
            .likes__cover__badge {
                @extend .bg-blueLight;
            }
            .btn:before {
                @include ui-icon("like_fill_blue", 24px, 24px);
            }
        }
        &[data-gender="female"]{
            .likes__cover__badge {
                @extend .bg-pink;
            }
            .btn:before {
                @include ui-icon("like_fill_pink", 24px, 24px);
            }
        }
        &__checked {
            path {
                @extend .fill-primary;
            }
        }
        .btn {
            @extend .bg-white;
            @extend .c-black;

            &:before {
                @extend .content-empty;
                @extend .display-inlineBlock;
                @extend .vAlign-middle;
                margin:0 12px 0 -10px;

                html.d-no-phone & {
                    @extend .w20;
                    @extend .h20;
                    margin-top:1px;
                }
            }
            html.d-no-phone & {
                box-shadow:inset 0 -2px 0 rgba($white,.15), 1px 0 0 0 rgba(31,45,61,.2), 0 1px 0 0 rgba(31,45,61,.2), -1px 0 0 0 rgba(31,45,61,.2), 0 -1px 0 0 rgba(31,45,61,.2);

                &:hover {
                    box-shadow:inset 0 -2px 0 rgba(31,45,61,.1), 1px 0 0 0 rgba(31,45,61,.2), 0 1px 0 0 rgba(31,45,61,.2), -1px 0 0 0 rgba(31,45,61,.2), 0 -1px 0 0 rgba(31,45,61,.2);
                }
            }
        }
    }
}
