.resume {
    p, .p {
        @extend .c-gray;
        @extend .whiteSpace-preLine;

        .d-no-phone & {
            font-size:18px;
            @extend .lineHeight-l;
        }
        .d-phone & {
            font-size:20px;
            @extend .lineHeight-xl;
        }
        .d-tablet.r-landscape & {
            line-height:38px;
        }
        .d-tablet.r-portrait & {
            @extend .lineHeight-xxl;
        }
        &.c-black {
            @extend .c-black;
        }
        &.c-blackLight {
            @extend .c-blackLight;
        }
        &.c-white {
            @extend .c-white;
        }
        &.whiteSpace-normal {
            @extend .whiteSpace-normal;
        }
    }
    .title {
        @extend .pos-rel;
        @extend .c-black;
        @extend .fontSize-34;
        @extend .mb-l;
        @extend .pb25;

        &:after {
            @extend .content-empty;
            @extend .pos-bl;
            @extend .w80;
            @extend .h2px;
            @extend .bg-primary;

            #app[data-color="#26272d"] &,
            #app[data-color="#7f8c8d"] & {
                @extend .bg-blue;
            }
        }
        .d-phone #app:not([data-font="futura"]) & {
            line-height:38px;
        }
    }
    .larger {
        @extend .c-primary;
        @extend .fontWeight-normal;
        font-size:24px;
        @extend .lineHeight-xxl;
        letter-spacing:0 !important;

        .d-tablet.r-portrait & {
            @extend .lineHeight-xxxl;
        }
    }
    .name {
        @extend .c-black;
        @extend .fontSize-72;
        @extend .fontWeight-8;
        @extend .letterSpacing--xl;
        @extend .mb-xs;

        .d-phone & {
            @extend .fontWeight-bold;
            @extend .lineHeight-xxxxxl;
            @extend .letterSpacing--xxl;
            @extend .mb-m;
        }
    }
    .post {
        @extend .c-primary;
        @extend .mb-l;

        #app[data-font="futura"] &,
        #app[data-font="myriad"] & {
            font-size:26px;
        }
        .d-phone & {
            @extend .pt-xxs;
        }
    }
    .salary {
        @extend .pos-rel;
        @extend .float-left;
        @extend .display-inlineBlock;
        @extend .c-black;
        @extend .f-primary;
        @extend .fontSize-46;
        @extend .fontWeight-8;
        @extend .letterSpacing-0;
        @extend .mb-l;
        @extend .zIndex-1;

        &:before {
            @extend .content-empty;
            @extend .pos-bl;
            @extend .w100p;
            height:8px;
            @extend .bg-smoke;
            transform:translateY(-5px) scale3d(1.05, 1, 1);
            @extend .zIndex--1;
        }
        sup {
            #app[data-color="#26272d"] &,
            #app[data-color="#7f8c8d"] & {
                @extend .bg-blue;
            }
        }
        &-graph-mini {
            @extend .pos-rel;
            margin-top:-4px;
            @extend .mb-xxs;
            @extend .sm-mt0;
            @extend .cursor-pointer;

            .d-phone & {
                @extend .float-left;
            }
            &-title {
                @extend .flex-row-left-center;
                @extend .pos-abs;
                @extend .t0;
                @extend .l100;
                @extend .ml-m;
                @extend .nowrap;
                @extend .h40;
                @extend .f-primary;
                @extend .fontSize-14;
                @extend .fontWeight-bold;
                @extend .text-uppercase;
                @extend .c-blackLight;
                @extend .xs-ml-s;

                #app[data-font="gotham"] & {
                    @extend .letterSpacing--m;
                }
                &:before {
                    @extend .content-empty;
                    @extend .pos-bl;
                    @extend .w100p;
                    height:7px;
                    @extend .bg-smoke;
                    transform:translateY(-11px) scale3d(1.05, 1, 1);
                    @extend .zIndex--1;
                }
            }
            @for $i from 1 through 6 {
                rect:nth-child(#{$i}){
                    opacity:(16.66 * $i) / 100;
                }
            }
        }
    }
    .tag-list {
        @extend .ptb-xxs;
        @extend .mb-m;
    }
    .progress-line {
        @extend .bg-primary;
    }
    .bg-section {
        @include accelerate();
        @extend .pos-abs-full;
        @extend .w100v;

        .d-tablet.r-portrait & {
            width:120vw;
            left:-20vw;
        }
        .d-phone & {
            height:105%;
        }
    }
    .work-items,
    .job-items {
        @extend .fontSize-0;

        .d-phone & {
            margin-left:-32.5px;
        }
        .d-tablet.r-portrait & {
            @extend .mt-l;
        }
    }
    .works-item,
    .jobs-item {
        @include accelerate(true);
    }
    .works-item {
        @extend .display-inlineBlock;
        @extend .vAlign-top;
        @extend .float-none;
        @extend .mb-xl;

        .d-no-phone & {
            @extend .pr-l;
            min-height:140px;
        }
        .d-tablet.r-portrait & {
            @extend .pr0;
        }
    }
    .work-item {
        &-links {
            @extend .pos-rel;
            @extend .mt-l;

            &:before {
                @extend .content-empty;
                @extend .display-block;
                @extend .w75;
                @extend .h2px;
                @extend .bg-white;
            }
            &-container {
                @extend .pos-tl;
                @extend .fontSize-0;
                @extend .text-left;
                transform:translate(105px, -12px);
            }
        }
        &-link {
            @include accelerate();
            @extend .pos-rel;
            @extend .display-inlineBlock;
            @extend .vAlign-top;
            @extend .mr-m;

            &[data-icon="url"] {
                @include ui-icon(link_white, 24px, 24px);
            }
            &[data-icon="image"] {
                @include ui-icon(images_white, 30px, 30px);
                margin-top:-3px;
            }
            &[data-icon="video"] {
                @include ui-icon(video_white, 30px, 30px);
                margin-top:-3px;
            }
        }
    }
    .work-title {
        @extend .c-white;
        @extend .mb-xs;
    }
    .job-title {
        @extend .c-white;
        @extend .mb-xxs;
    }
    .job-subtitle {
        @extend .c-white;
        @extend .mb-m;
        @extend .opacity-70;
    }
    .work-text,
    .job-text {
        @extend .whiteSpace-preLine;
        @extend .lineHeight-l;
        @extend .c-white;
        @extend .opacity-85;

        .d-no-phone & {
            font-size:18px;
        }
        .d-phone & {
            @extend .fontSize-18;
            @extend .lineHeight-xl;
        }
        .d-tablet.r-portrait & {
            @extend .lineHeight-xxl;
        }
    }
    .work-text {
        .d-no-phone & {
            line-height:32px;
        }
    }
    .job-text {
        .d-no-phone & {
            line-height:34px;
        }
        &:after {
            @extend .content-empty;
            @extend .display-block;
            @extend .w75;
            @extend .h2px;
            @extend .bg-white;
            @extend .mt-l;
        }
    }
    .work-num,
    .job-year {
        @extend .c-white;
        @extend .pos-abs;
        @extend .t-l;
        @extend .l--s;
        font-size:100px;
        @extend .lineHeight-1;
        @extend .f-primary;
        @extend .fontWeight-8;
        @extend .letterSpacing--xl;
        @extend .opacity-10;
    }
    .form {
        &-wrapper {
            @extend .pos-rel;
            @extend .display-block;

            &[data-color="black"]{
                @extend .bg-blackLight;
                @extend .c-white;

                .form {
                    &-item {
                        &:before {
                            @extend .bg-white;
                            @extend .opacity-85;
                        }
                    }
                    &-title {
                        @extend .c-grayLight;
                        @extend .fontSize-15;
                        @extend .lineHeight-xs;
                    }
                    &-input,
                    &-textarea {
                        @extend .c-white;
                    }
                    &-input {
                        @extend .h40;
                    }
                }
            }
            &[data-color="white"]{
                .form {
                    &-item {
                        &:before {
                            @extend .bg-steel;
                            @extend .opacity-20;
                        }
                    }
                    &-title {
                        @extend .c-primary;
                        @extend .fontSize-18;
                    }
                    &-input,
                    &-textarea {
                        @extend .c-black;
                        @extend .fontSize-20;
                    }
                    &-input {
                        @extend .h50;
                    }
                }
            }
        }
        &-item {
            @extend .pos-rel;
            @extend .mb-l;
            @extend .overflow-hidden;

            &:before {
                @extend .content-empty;
                @extend .pos-bl;
                @extend .h2px;
                @extend .w100p;
            }
            &:after {
                @extend .content-empty;
                @extend .pos-bl;
                @extend .h2px;
                @extend .w100p;
                @extend .bg-primary;
                @extend .willChange-transform;
                transform:translate3d(-100%, 0, 0);
                transition:transform 0.4s;
            }
            &.focus {
                &:after {
                    @extend .transform-default;
                }
                .form-title {
                    @extend .c-primary;
                }
            }
            &[data-invalid="true"]{
                &:after {
                    background-color:$red !important;
                    @extend .transform-default;
                }
            }
        }
        &-title {
            @extend .display-block;
            @extend .f-primary;
            @extend .fontWeight-bold;
            @extend .mb-xxs;
            transition:color 0.4s;

            &:after {
                content:"*";
                @extend .pl-xxs;
                @extend .c-red;
            }
        }
        &-input,
        &-textarea {
            @extend .display-block;
            @extend .bg-none;
            @extend .border-none;
            @extend .lineHeight-1;
            @extend .w100p;
            @extend .plr-xs;
        }
        &-textarea {
            height:140px;
            @extend .pb-s;
            @extend .lineHeight-l;
        }
    }
    section[data-section="coverletter"] {
        &[data-color="black"]{
            .coverletter__text {
                @extend .c-white;
            }
        }
        &[data-color="white"]{
            @extend .bg-white;

            .coverletter__text {
                @extend .c-blackLight;
            }
        }
    }
    .coverletter {
        @extend .display-block;

        &__text {
            font-size:22px;
            @extend .lineHeight-xxl;
            @extend .text-center;
            @extend .whiteSpace-preLine;
        }
    }
}

.d-no-phone {
    .resume {
        section[data-section="coverletter"] {
            @include abs("fixed");
            @extend .willChange-opacity;
            @extend .pointerEvents-none;
            @extend .visibility-hidden;
            @extend .opacity-0;
            transition:opacity .35s $cubic32, visibility 0s .35s;
            @extend .zIndex-101;

            &[data-color="black"]{
                background:radial-gradient(rgba(64,64,75,.9), rgba(17,17,24,.9)) rgba(34,34,40,.52);
            }
            .screen__content {
                @extend .pos-centered;
                @extend .container;
            }
        }
        .coverletter {
            &__text {
                @extend .willChange-tp;
                @extend .opacity-0;
                @extend .scale-110;
                transition:transform .35s $cubic32, opacity .35s $cubic32;
            }
        }
    }
    ux-contacts {
        .likes {
            @include abs();
            @extend .bg-blackLight;

            &__text {
                font-size:19.5px;
                @extend .plr-l;
                @extend .mb-m;

                &--show {
                    @extend .pl60;
                    @extend .pr60;
                }
            }
        }
    }
    #app {
        &[data-coverletter="true"]{
            section[data-section="coverletter"] {
                @extend .pointerEvents-all;
                @extend .visibility-visible;
                @extend .opacity-100;
                @extend .transition-none;
            }
        }
    }
}
.d-phone {
    .resume {
        section[data-section="coverletter"] {
            &[data-color="black"]{
                background-color:#171719;
            }
            .screen__content {
                @extend .h100v;
                @extend .maxH-100p;
                @extend .pt-l;
                @extend .pb-xl;
                @extend .flex-centered;
            }
        }
        section[data-section="likes"] {
            background-color:#171719;

            .screen__content {
                @extend .h100v;
                @extend .maxH-100p;
                @extend .flex-centered;
                @extend .text-center;
            }
            .likes__text {
                font-size:22px;
                @extend .lineHeight-xxl;
            }
        }
    }
}
body#ready {
    #app[data-coverletter="true"]{
        .d-no-mobile & {
            section[data-section="commons"] {
                filter:blur(14px);
            }
        }
        .coverletter {
            &__text {
                @extend .opacity-100;
                @extend .scale-100;
                transition:transform .6s $cubic32 .2s, opacity .6s $cubic32 .2s;
            }
        }
    }
    .coverletter {
        &__photo {
            width:62px;
            height:62px;
            margin:-30px auto 15px;
            @extend .borderRadius-circle;
            @extend .bg-cover;
        }
    }
}
#app[data-coverletter="true"]{
    .d-phone & {
        .info-opener,
        section-sendmail,
        salary-graph-opener {
            @extend .scale-0;
        }
    }
}
