.tag {
    @extend .pos-rel;
    @extend .display-inlineBlock;
    @extend .vAlign-middle;
    @extend .plr-s;
    @extend .h40;
    @extend .borderRadius-xxl;
    @extend .c-blackLight;
    @extend .f-primary;
    @extend .bg-blackLight-transparent;
    @extend .fontSize-16;
    margin:5px 6px 5px 0;

    html.d-phone .screen__content & {
        @extend .text-truncate;
        @extend .maxW-100p;
    }
    .section__editable__content & {
        @extend .pr35;
        @extend .text-truncate;

        &:not(.tag-input){
            max-width:200px;
        }
    }
    &:not(.tag-input){
        @extend .cursor-default;
        @extend .fontWeight-bold;
        line-height:40px;

        #app[data-mode="editing"]{
            @extend .userSelect-none;
        }
    }
    &:first-letter {
        @extend .text-uppercase;
    }
    &.tag-white {
        @extend .c-white;
        background:none;
        margin-right:10px;
        margin-bottom:15px;
        @extend .transition-default;
        box-shadow:0 0 0 2px rgba($white,.8);

        &:hover {
            box-shadow:0 0 0 2px $white;
        }
    }
    &-remove {
        @extend .pos-centered-v;
        @extend .r-xs;
        @extend .opacity-90;
        @extend .cursor-pointer;
        @extend .transition-default;
        @include ui-icon(remove_fill_white, 21px, 21px);

        &:hover {
            @extend .opacity-100;
        }
    }
    &-input {
        @extend .tag;
        @extend .tag-white;
        @extend .lineHeight-1;
        @extend .border-none;
        font-family:$roboto !important;
        width:280px;
        @extend .pr-l;

        html.d-phone & {
            @extend .w100p;
        }
        &::-webkit-input-placeholder {
            color:rgba($white,.7);
            line-height:1;
        }
        &::-moz-input-placeholder {
            color:rgba($white,.7);
            line-height:1;
        }
        &:focus {
            box-shadow:0 0 0 2px $white;
        }
    }
    &.isAvail {
        animation:tag__isAvail 1.4s linear;
    }
    @keyframes tag__isAvail {
        25%, 75% {
            color:$blackLight;
            box-shadow:0 0 0 2px $lime;
            background:$lime;
        }
    }
    &-list {
        @extend .inline;
        margin:1px -6px -5px;

        &-add {
            @extend .pos-rel;

            &Button {
                position:absolute;
                top:4px;
                right:8px;
                @extend .bg-white;
                width:40px;
                height:42px;
                @extend .btn-active;
                border-radius:0 20px 20px 0;

                &-svg {
                    @extend .pos-centered;
                    width:23px;
                    height:23px;
                    margin-left:-1px;

                    &-color {
                        @extend .fill-primary;
                    }
                }
            }
        }
    }
}
