.section__editable {
    .textarea {
        &-xl {
            min-height:200px;
            box-shadow:0 0 0 2px $white;

            .d-phone & {
                padding-top:8px;
                padding-bottom:10px;
            }
        }
        &::placeholder {
            color:rgba($steel,.8);
            @extend .lineHeight-l;
        }
        &::-webkit-input-placeholder {
            color:rgba($steel,.8);
        }
        &::-moz-input-placeholder {
            color:rgba($steel,.8);
        }
    }
}
