.employer {
    &__vacancies {
        @extend .plr-m;
        @extend .mb100;
        @extend .xs-plr0;
        @extend .xs-mb-l;

        .screenMobile & {
            @extend .mlr--mobile;
        }
        h3 {
            @extend .fontSize-26;
            letter-spacing:-0.025em;
            @extend .c-grayDarken;
            @extend .mb-s;
            @extend .xs-mb-xs;
            @extend .plr-mobile;
        }
        &__item {
            @extend .display-table;
            @extend .w100p;
            padding-top:26px;
            padding-bottom:34px;
            @extend .c-blackLight;
            @extend .transition-default;
            @extend .borderColor-smoke;
            border-bottom:1px solid;

            html.d-phone & {
                padding-top:21px;
                padding-bottom:24px;
            }
            html.m-no-touch &:hover {
                @extend .bg-snowSilver;
            }
            &__name,
            &__salary,
            &__city {
                @extend .display-tableCell;
            }
            &__name {
                @extend .w60p;
                @extend .pl-m;
                @extend .pr30;
                @extend .plr-mobile;

                html.d-phone & {
                    @extend .w100p;
                }
            }
            &__date {
                @extend .mt-xxs;

                html.d-no-phone & {
                    @extend .fontSize-14;
                }
                html.d-phone & {
                    @extend .fontSize-12;
                    @extend .text-uppercase;
                }
            }
            &__salary {
                @extend .w20p;
                @extend .pl-m;
                @extend .xs-pl0;
                @extend .c-black;

                html.d-phone & {
                    @extend .c-blackLight;
                    @extend .pt-xxs;
                    @extend .fontFamily-roboto;
                    @extend .fontSize-18;
                    @extend .fontWeight-bold;
                }
            }
            &__city {
                @extend .c-gray;
                @extend .w20p;
                @extend .pr-m;
                @extend .fontSize-15;
            }
            &__title {
                @extend .c-blueBright;
                @extend .fontSize-15;
                @extend .fontWeight-bold;
                @extend .fontFamily-graphik;
                @extend .text-uppercase;
                @extend .transition-default;

                html.d-phone & {
                    @extend .fontSize-16;
                    @extend .lineHeight-24;
                }
                &:visited {
                    @extend .c-violet;
                }
                &:hover,
                &:visited:hover {
                    @extend .c-green;
                }
            }
        }
    }
}
