@font-face {
    font-family: "SourceSans";
    src: url("/assets/css/fonts/SourceSans/SourceSansProLight.eot");
    src: url("/assets/css/fonts/SourceSans/SourceSansProLight.eot?#iefix")format("embedded-opentype"),
    url("/assets/css/fonts/SourceSans/SourceSansProLight.woff") format("woff"),
    url("/assets/css/fonts/SourceSans/SourceSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "SourceSans";
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "SourceSans";
    src: url("../fonts/SourceSansProBold/SourceSansProBold.eot");
    src: url("../fonts/SourceSansProBold/SourceSansProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProBold/SourceSansProBold.woff") format("woff"),
    url("../fonts/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
