@each $icon in (
    swipeRight, facebook_white, vkontakte_white, twitter_white, eyes_white
){
    .ui-icon-#{$icon} {
        background:url('/public/images/ui/ui-#{$icon}.svg') no-repeat 0 0 / cover;
    }
}
@each $icon in (
    loading, loading_mini, loading_mini_white, close_fill, close_fill_gray, close_strong, close_strong_white, minus, minus_white, menu, menu_white, more_v_white, back_white, help, info_white, check_black, check_white, check_gray, check_muted, edit, remove_fill, check, user_oval_white, google, facebook, vkontakte, odnoklassniki, twitter, exit, exit_white, like_fill_pink
){
    .ui-icon-#{$icon} {
        background:url('/assets/images/ui/ui-#{$icon}.svg') no-repeat 0 0 / cover;
    }
}
@mixin ui-icon($icon, $width: false, $height: false) {
    @if $width {
        width:#{$width};
    }
    @if $height {
        height:#{$height};
    }
    @extend .ui-icon-#{$icon};
}
.icon {
    @extend .display-inlineBlock;
    @extend .vAlign-middle;

    path {
        transition:fill 0.2s $cubic215;
    }
    &-que {
        width:14px;
        height:14px;

        &:hover {
            path {
                fill:#1fb6ff;
            }
        }
    }
    &-fb,
    &-dk,
    &-tw {
        &.icon-xl {
            width:54px;
            height:54px;
        }
        &.icon-l {
            width:40px;
            height:40px;
        }
        &.icon-m {
            width:30px;
            height:30px;
        }
        &.icon-s {
            width:24px;
            height:24px;
        }
        &.icon-xs {
            width:20px;
            height:20px;
        }
    }
    &-gl,
    &-el {
        &.icon-xl {
            width:64px;
            height:64px;
        }
        &.icon-l {
            width:44px;
            height:44px;
        }
        &.icon-m {
            width:32px;
            height:32px;
        }
        &.icon-s {
            width:28px;
            height:28px;
        }
        &.icon-xs {
            width:21px;
            height:21px;
        }
    }
    &-vk,
    &-glc {
        &.icon-xl {
            width:54px;
            height:54px;
        }
        &.icon-l {
            width:40px;
            height:40px;
        }
        &.icon-m {
            width:32px;
            height:32px;
        }
        &.icon-s {
            width:24px;
            height:24px;
        }
        &.icon-xs {
            width:20px;
            height:20px;
        }
    }
    &-tg {
        &.icon-xl {
            width:74px;
            height:74px;
        }
        &.icon-l {
            width:64px;
            height:64px;
        }
        &.icon-m {
            width:56px;
            height:56px;
        }
        &.icon-s {
            width:44px;
            height:44px;
        }
        &.icon-xs {
            width:34px;
            height:34px;
        }
    }
}
