h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	@extend .c-steel;
	font-family:"HelveticaNeue-Thin", "HelveticaNeue", Helvetica, Arial, sans-serif;
	@extend .fontWeight-2;
}
h1, .h1 {
	font-size:45px;
    line-height:55px;
}
h2, .h2 {
    font-size:40px;
    line-height:50px;
}
h3, .h3 {
    font-size:35px;
    line-height:45px;
}
h4, .h4 {
	font-size:25px;
    line-height:35px;
}
sup, sub {
	font-size:75%;
}
