<resume-edit-content>

    <resume-screens></resume-screens>

    <resume-control-percentage if={ !app.device.isPhone }></resume-control-percentage>

    <resume-control-step if={ !app.device.isPhone }></resume-control-step>

    <resume-control-buttons if={ !app.device.isPhone }></resume-control-buttons>

    <div if={ app.device.isPhone } class="section control__buttons">
        <div onClick={ open.menu } onUpdate="none" class="control__buttons__item control__buttons__opener">
            <div class="control__buttons__item__icon control__buttons__opener__icon"></div>
        </div>
    </div>

    <resume-control-menu></resume-control-menu>

    <resume-button-save section={ sections.finish }></resume-button-save>

    <resume-settings></resume-settings>

    <resume-edit-finish percentage={ sections.percentage } preview={ sections.preview }></resume-edit-finish>

    <div if={ !app.device.isPhone } class="share__text">Поделиться своим резюме в социальных сетях</div>

<script>

    var $ = this;

    $.sections = {
        screens: $.tags["resume-screens"],
        menu: $.tags["resume-control-menu"],
        steps: $.tags["resume-control-step"],
        buttons: $.tags["resume-control-buttons"],
        percentage: $.tags["resume-control-percentage"],
        settings: $.tags["resume-settings"],
        finish: $.tags["resume-edit-finish"],
        shareButton: $.tags["share-button"]
    };

    $.on("before-mount", function(){

        $.scope = $.opts.scope;
        $.scroll = $.opts.scroll;
        $.content = $.opts.content;

        // $.sections.photo.init(
        //     $resume.get("config", "photo")
        // );
    });

    $.on("mount", function(){

        $store.resume.on("write", function(e){
            var prop = e.data.path[0];
            if (prop == "lang"){
                $i18n.lang($resume.get("lang"));
                moment.locale($resume.get("lang"));
                $.update();
            }
        });

        if (!app.device.isPhone){
            if (!app.metrika.get("resume.create.tutorial.show")){
                _.onEndTransition($.content, function(){
                    $Tutorial.show($$($.scope.root), "resumeFree", {
                        animate: false
                    });
                    $Tutorial.one("close", function(){
                        $Tutorial.off("success");
                        app.metrika.set("resume.create.tutorial.hide", true);
                    });
                    $Tutorial.one("success", function(){
                        $Tutorial.off("close");
                        app.metrika.set("resume.create.tutorial.success", true);
                    });
                    app.metrika.set("resume.create.tutorial.show", true);
                });
            }
        }

        $Sections.resume.preview.change($resume.get('template'));

        $.autoSave();
    });

    $.refresh = function(){
        if (!$.screens) return;

        $.screens.refresh();

        if ($.sections.steps){
            $.sections.steps.refresh();
        }
    };

    $.autoSave = function(){
        $.autoSaveInterval = setInterval(function(){

            $resume.select("update").set(moment().format());
            Store.set("resume", $resume.get());

        }, app.config.resume.free.autoSave.interval * 1000);
    };

    $.open = {
        menu: function(){
            if (app.device.isMobile){
                $.sections.menu.show();
            }
        },
        preview: function(){
            console.log("preview");
            $store.data.onPreview($resume.get());
            app.metrika.set("resume.create.control.preview", true);
        },
        photoUpload: function(){
            console.log("photoUpload", $resume.get("_id"));
            $store.data.onPhotoUpload($resume.get("_id"), function(image){
                $resume.select("photo").set(image);
            });
            app.metrika.set("resume.create.control.photo", true);
        },
        design: {
            free: function(){
                $Sections.resume.select.show({
                    plan: app.metrika.get("resume.select.default"),
                    control: false,
                    template: $resume.get("template")
                })
                .then(function(data){
                    $resume.select("template").set(data.template);
                    $Sections.resume.preview.change(data.template);
                })
                app.metrika.set("resume.create.control.design", true);
            },
            premium: function(){
                $Sections.resume.select.show({
                    plan: "premium"
                });
            }
        },
        print: function(){
            app.metrika.set("resume.create.control.print", true);
        },
        settings: function(){
            $.sections.settings.show();
        }
    };

    $.get = {
        pdf: function(){
            $store.data.onGetPdf($resume.get());
        }
    };

    $.on("unmount", function(){
        $.screens.destroy();
        $store.resume.off("write");
        clearInterval($.autoSaveInterval);
    });

</script>

</resume-edit-content>
