<resume-edit class="oScreen__section resumeBasic zIndex-2" data-open={ active } data-loader={ loading } data-show="down" data-overlay="false">

    <div name="scroll" class="oScreen__section__content overflow-hidden bg-blackDark">

        <div class="section__overlay"></div>

        <div class="oScreen__section__buttons" data-pos="top-right">
            <div onClick={ close } onUpdate="none" class="button__close"></div>
        </div>

        <oScreen-loader></oScreen-loader>

        <div name="content" class="oScreen__section__content__fadeIn"></div>

    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.loading = false;

    $.scroll = $$($["scroll"]);

    $.on("before-mount", function(){
        $.loader = $.tags["oscreen-loader"];
    });

    $.show = function(options){
        if ($.loading || $.active) return;

        var store = Store.get("resume"),
            recovery = false;

        if (options.id && store && $store.data.get({ "_id": options.id }) && store._id == options.id && store.plan == "free" && moment(store.update).diff(moment($store.data.get({ "_id": options.id }).update)) > 0){
            $store.resume.set(store);
            recovery = true;
        }
        else {
            $resume.set(
                options.id ? $store.data.get({ "_id": options.id }) : $resume.default.resume({
                    ACCOUNT_ID: $account.get("_id"),
                    plan: "free",
                    template: options.template,
                    photo: $account.get("photo"),
                    name: $account.get("name"),
                    surname: $account.get("surname"),
                    gender: $account.get("gender"),
                    birthday: $account.get("birthday"),
                    contacts: $account.get("contacts")
                })
            );

            if (!options.id){
                app.request("addResume", {
                    data: $resume.get()
                }, {
                    loader: false,
                    notify: false
                })
                .then(function(data){
                    if (data && data.id){
                        $resume.select("_id").set(data.id);
                        $store.data.push($resume.get());
                        Store.set('resume', $resume.get());
                    }
                })
            }
            else {
                Store.set('resume', $resume.get());
            }
        }

        $i18n.lang($resume.get("lang"));
        moment.locale($resume.get("lang"));

        $.loader.show(
            {
                scope: $.scroll,
                content: $.content,
                start: function(){
                    $.scroll[0].style.backgroundColor = '#ffffff';
                },
                tag: function(){
                    return $.section = riot.mount($.content, "resume-edit-content", {
                        scope: $,
                        scroll: $.scroll,
                        content: $.content
                    })[0];
                },
                mount: function(){
                    $.scroll[0].style.backgroundColor = '';
                    $root.focus("resume-edit");
                    $.ready = true;
                    if (recovery){
                        $Notify.show({
                            color: "primary",
                            text: "Резюме восстановлено из резервной копии"
                        })
                    }
                }
            }
        );

        app.metrika.set("resume.create.show", true);
    };

    $.close = function(){
        $.section.sections.finish.show();
        app.metrika.set("resume.create.hide", true);
    };

    $.hide = function(){
        $.update({
            active: false
        })
        _.onEndTransition($.scroll[0], function(){
            moment.locale("ru");
            $.section.unmount(true);
            $root.focus("all");
            $.ready = false;
        });
    };

</script>

</resume-edit>
