<resume-edit-content>

    <resume-screens></resume-screens>

    <resume-control-percentage if={ !app.device.isPhone }></resume-control-percentage>

    <resume-control-step if={ !app.device.isPhone }></resume-control-step>

    <resume-control-buttons if={ !app.device.isPhone }></resume-control-buttons>

    <div if={ app.device.isPhone } class="section control__buttons">
        <div onClick={ open.menu } onUpdate="none" class="control__buttons__item control__buttons__opener">
            <div class="control__buttons__item__icon control__buttons__opener__icon"></div>
        </div>
    </div>

    <resume-control-menu></resume-control-menu>

    <share-button pos="bottom-right" if={ !app.device.isPhone }></share-button>

    <resume-preview></resume-preview>

    <resume-settings></resume-settings>

    <photo-upload></photo-upload>

    <resume-edit-finish></resume-edit-finish>

    <div if={ !app.device.isPhone } class="share__text">Поделиться своим резюме в социальных сетях</div>

<script>

    var $ = this;

    $.on("before-mount", function(){

        $.scope = $.opts.scope;
        $.scroll = $.opts.scroll;
        $.content = $.opts.content;

        $.sections = {
            screens: $.tags["resume-screens"],
            menu: $.tags["resume-control-menu"],
            steps: $.tags["resume-control-step"],
            buttons: $.tags["resume-control-buttons"],
            percentage: $.tags["resume-control-percentage"],
            preview: $.tags["resume-preview"],
            settings: $.tags["resume-settings"],
            photo: $.tags["photo-upload"],
            finish: $.tags["resume-edit-finish"],
            shareButton: $.tags["share-button"]
        };

        $.sections.photo.init(
            $resume.get("config", "photo")
        );
    });

    $.on("mount", function(){

        $.shareButtonEl = $$($.sections.shareButton.root);

        $.shareButtonEl.on("mouseenter mouseleave", function(e){
            if (e.type === "mouseenter"){
                $.scope.root.setAttribute("data-overlay", "true");
            }
            else {
                $.scope.root.setAttribute("data-overlay", "false");
            }
        });

        $store.resume.on("write", function(e){
            var prop = e.data.path[0];
            if (prop == "lang"){
                $i18n.lang($resume.get("lang"));
                moment.locale($resume.get("lang"));
                $.update();
            }
        });

        if (!app.device.isPhone){
            if (!app.metrika.get("resume.create.tutorial.show")){
                _.onEndTransition($.content, function(){
                    $Tutorial.show($$($.scope.root), "resumeFree", {
                        animate: false
                    });
                    $Tutorial.one("close", function(){
                        $Tutorial.off("success");
                        app.metrika.set("resume.create.tutorial.hide", true);
                    });
                    $Tutorial.one("success", function(){
                        $Tutorial.off("close");
                        app.metrika.set("resume.create.tutorial.success", true);
                    });
                    app.metrika.set("resume.create.tutorial.show", true);
                });
            }
        }

        $.autoSave();
    });

    $.refresh = function(){
        if (!$.screens) return;

        $.screens.refresh();

        if ($.sections.steps){
            $.sections.steps.refresh();
        }
    };

    $.autoSave = function(){
        $.autoSaveInterval = setInterval(function(){

            Store.set("resume", $resume.get());

        }, app.config.resume.free.autoSave.interval);
    };

    $.open = {
        menu: function(){
            if (app.device.isMobile){
                $.sections.menu.show();
            }
        },
        preview: function(){
            $.sections.preview.show();
            app.metrika.set("resume.create.control.preview", true);
        },
        photoUpload: function(){
            $.sections.photo.show(function(image){
                app.request("setUploadPhoto", {
                    image: image
                }, {
                    loader: false
                })
                .then(function(data){
                    if (data && data.image){
                        $resume.select("photo").set(data.image);
                        $.sections.preview.template.update();
                    }
                });
            });
            app.metrika.set("resume.create.control.photo", true);
        },
        design: {
            free: function(){
                $Sections.resume.select.show("free");
                app.metrika.set("resume.create.control.design", true);
            },
            premium: function(){
                $Sections.resume.select.show("premium");
            }
        },
        print: function(){
            app.metrika.set("resume.create.control.print", true);
        },
        settings: function(){
            $.sections.settings.show();
        }
    };

    $.get = {
        pdf: function(){

            $Sections.progress.show();

            app.request('addConvertPdf', {
                id: $resume.get("_id"),
                template: $resume.get("template"),
                stamp: $resume.get("config", "pdf", "logotype"),
                content: $.sections.preview.get.content()
            }, {
                loader: false
            })
            .then(function(data){
                if (data && data.pdf){

                    var oReq = new XMLHttpRequest();
                    oReq.open("GET", data.pdf, true);
                    oReq.responseType = "arraybuffer";
                    oReq.onload = function() {

                        var response = this.response,
                            post = $resume.get("post");

                        $Sections.progress.hide(function(){
                            var file = new Blob([response], {type: "application/pdf"});
                            saveAs(file, post ? post : "MyResume.pdf");
                        });
                    };
                    oReq.send();
                }
            });

            app.metrika.set("resume.create.control.pdf", true);
        }
    };

    $.on("unmount", function(){
        $.screens.destroy();
        $store.resume.off("write");
        clearInterval($.autoSaveInterval);
        $.shareButtonEl.off();
    });

</script>

</resume-edit-content>
