blog-content {
    &.blog {
        @extend .bg-white;
        padding-bottom:145px;

        &:after {
            @extend .content-empty;
            @extend .pos-bl;
            @extend .w100p;
            @extend .h10;
            @extend .bg-blueLight;
        }
    }
    .blog__header {
        &:before {
            @extend .animation-none;
        }
        &__corner {
            @extend .pos-br;
            @extend .h15v;
            @extend .w70v;
            @extend .zIndex-1;
            @extend .bg-white;
            transform:rotate(-5deg) translate3d(2vw, 10.5vh, 0);
        }
        &__image {
            @include abs();
            @extend .bg-cover-center;
            transform:scale(1.2);
            filter:blur(14px);
        }
    }
}
.blog__item {
    @extend .pos-rel;
    @include flex("column", "center", "flex-start");
    margin-top:200px;
    height:300px;
    @extend .pr-m;

    &__image {
        @extend .pos-abs;
        @extend .t0;
        @extend .r100;
        @extend .borderRadius-circle;
        @extend .bg-cover;
        width:120px;
        height:120px;
        transform:translate3d(-80px, -20px, 0);
    }
    &__back {
        @extend .pos-abs;
        @extend .t0;
        @extend .b100;
        @extend .text-uppercase;
        @extend .fontWeight-8;
        transform:translate3d(-5px, -60px, 0);
        transition:transform 0.2s;

        &:before {
            @extend .content-empty;
            @extend .display-inlineBlock;
            @extend .vAlign-middle;
            @extend .opacity-70;
            @include ui-icon(back_white, 24px, 24px);
            transform:translate3d(-5px, -2px, 0);
        }
        &:hover {
            transform:translate3d(-10px, -60px, 0);
        }
    }
    &__date {
        @extend .fontWeight-8;
        @extend .opacity-70;
        @extend .text-uppercase;
        @extend .mb-xxs;
    }
    &__title {
        @extend .fontSize-72;
        @extend .fontWeight-8;
        @extend .mb-m;
        @extend .pb-xs;
        line-height:72px;
        text-shadow:0 2px 1px rgba(42,49,57,.6);
        will-change:filter;
        filter:blur(5px);
        transition:filter 0.6s $cubic2501;

        &[data-show="true"]{
            filter:none;
        }
    }
    &__tags {
        @extend .c-yellow;
        @extend .fontSize-20;
        @extend .text-uppercase;
        @extend .fontWeight-8;
        @extend .letterSpacing--s;
        text-shadow:0 2px 1px rgba(42,49,57,.4);
    }
    &__avatar {
        @extend .pos-tl;
        transform:translate3d(-80px, -50px, 0);

        &__image {
            @extend .borderRadius-circle;
            @extend .w90;
            @extend .h90;
        }
        &__title {
            @extend .display-inlineBlock;
            @extend .c-gray;
            font-size:17px;
            @extend .pl-s;
            @extend .trY-s;
        }
    }
    &__nearby {
        height:170px;
        margin-right:-20px;
        will-change:transform, box-shadow;
        transition:transform .3s $cubic28, box-shadow .3s $cubic28;

        &:first-child {
            margin-right:0;
            margin-left:-20px;
        }
        &:hover {
            box-shadow:0 20px 25px rgba(31,35,37,.15);
            transform:translateY(-15px);
        }
        &__title {
            @include textEllipsis(100%, 140px, 4);
        }
    }
}
.blog__content {
    &__wrapper {
        @extend .c-blackLight;
        @extend .pt-xl;
        @extend .mt-m;
        @extend .pl-m;
        @extend .pr-xl;
        @extend .fontFamily-helvetica;
        @extend .fontSize-18;
        @extend .lineHeight-xxl;
    }
    h1, h2, h3, h4 {
        @extend .pos-rel;
        font-size:38px;
        line-height:42px;
        @extend .c-blue;
        @extend .fontFamily-futura;
        @extend .fontWeight-8;
        @extend .letterSpacing--xl;
        @extend .pt-s;
        @extend .mb-l;
        @extend .maxW-80p;
        @extend .ml--s;

        &:before {
            @extend .content-empty;
            @extend .display-inlineBlock;
            @extend .vAlign-middle;
        }
        strong {
            @extend .c-blue;
            font-size:38px;
            line-height:42px;
            @extend .fontWeight-8;
            @extend .letterSpacing--xl;
        }
    }
    h5, h6 {
        @extend .fontFamily-futura;
        @extend .fontWeight-8;
        @extend .c-blue;
        @extend .fontSize-28;
        @extend .mb-s;

        strong {
            @extend .c-blue;
            @extend .fontSize-28;
            @extend .fontWeight-8;
        }
    }
    strong {
        @extend .fontFamily-futura;
        @extend .fontWeight-8;
        @extend .c-blackLight;
        @extend .fontSize-22;
    }
    p {
        @extend .mb-m;
        @extend .pb-m;
    }
    img {
        @include accelerate();
        margin:20px 0 15px -15px;
        @extend .borderRadius-xl;
        @extend .willChange-transform;
        transform:translateY(0px) translateZ(0);
        // will-change:transform, box-shadow;
        // transition:transform .3s $cubic28, box-shadow .3s $cubic28;

        // &:hover {
        //     box-shadow:0 20px 25px rgba(31,35,37,.15);
        //     transform:translateY(-15px);
        // }
    }
    blockquote {
        @extend .pt25;
        @extend .pb-m;
        @extend .pl-l;
        @extend .pr-m;
        @extend .mb-l;
        @extend .c-blackLight;
        @extend .fontFamily-futura;
        @extend .fontSize-22;
        @extend .lineHeight-34;
        @extend .fontStyle-normal;
        @extend .fontWeight-bold;
        border-left:5px solid $blue;

        strong, em, i {
            @extend .fontStyle-normal;
            @extend .fontWeight-bold;
            @extend .fontSize-22;
            @extend .lineHeight-34;
        }
    }
}
