.blog__grid {
    @extend .pos-rel;
    padding-top:61px;

    &__container {
        margin:0 -25px;
    }
    &__item {
        @include accelerate(true);
        @extend .pos-rel;
        @extend .display-block;
        @extend .overflow-hidden;
        @extend .borderRadius-xl;
        @extend .bg-white;
        height:629px;
        margin:0 7.5px 30px;
        will-change:transform, box-shadow;
        transition:transform .3s $cubic28, box-shadow .3s $cubic28;

        &:hover {
            box-shadow:5px 8.66px 30px 0 rgba(31,35,37,.078);
            transform:translateY(-15px);

            .blog__grid__item__title {
                @extend .c-blue;
            }
            .blog__grid__item__tag {
                @extend .bg-green;
            }
        }
        &__image {
            @extend .bg-cover;
            height:244px;
        }
        &__tag {
            @extend .pos-tl;
            @extend .bg-blue;
            @extend .c-white;
            @extend .text-uppercase;
            @extend .ptb-xxs;
            @extend .plr-s;
            @extend .text-truncate;
            max-width:164px;
            font-size:14px;
            transform:translate3d(30px, 226px, 0);
            border-radius:100px;
            transition:background-color .3s $cubic215;
        }
        &__content {
            @extend .pt-l;
            @extend .plr-l;
            @extend .bg-white;
            padding-bottom:95px;
        }
        &__title {
            font-size:23px;
            line-height:25px;
            @extend .c-blackLight;
            @extend .mb-m;
            @extend .letterSpacing--m;
            transition:color .3s $cubic215;

            span {
                border-bottom:1px solid rgba($blue,.6);
            }
        }
        &__text {
            @extend .c-gray;
            font-size:17px;
            @extend .lineHeight-m;
        }
        &__date {
            @extend .pos-bl;
            @extend .c-gray;
            @extend .text-uppercase;
            @extend .fontSize-14;
            transform:translate3d(40px, -40px, 0);
        }
        &__avatar {
            @extend .pos-br;
            width:38px;
            height:38px;
            @extend .borderRadius-circle;
            transform:translate3d(-25px, -35px, 0);
        }
        &[data-grid="v1"]{
            .blog__grid__item__text {
                @include textEllipsis(100%, 143px, 6);
            }
        }
        &[data-grid="v2"]{
            background-color:#202326;

            .blog__grid__item__image {
                @include abs();
                @extend .opacity-30;
            }
            .blog__grid__item__tag {
                transform:translate3d(30px, 30px, 0);
            }
            .blog__grid__item__content {
                @extend .pos-bl;
                @extend .bg-none;

                .col-md-8 & {
                    @extend .pos-tl;
                    @extend .pt-xl;
                }
            }
            .blog__grid__item__title {
                @extend .c-white;
                @extend .fontSize-34;
                @extend .fontWeight-8;

                span {
                    border-bottom-color:rgba($white,.7);
                }
            }
            .blog__grid__item__text {
                @extend .c-white;
                font-size:19px;
                @extend .lineHeight-l;

                .col-md-8 & {
                    @include textEllipsis(100%, 287px, 9);
                }
                .col-md-16 & {
                    @include textEllipsis(100%, 177px, 6);
                }
            }
            .blog__grid__item__date {
                @extend .c-grayLight;
            }
            &:hover {
                .blog__grid__item__title {
                    color:lighten($blueLight,36%);

                    span {
                        border-bottom-color:rgba(lighten($blueLight,36%),.7);
                    }
                }
            }
        }
        &--blockInfo {
            @extend .bg-blue;
            @extend .c-white;
            @extend .borderRadius-xl;
            @extend .pt-m;
            @extend .plr-l;
            padding-bottom:95px;
        }
    }
}
