$blogGrid_size_md_width: 980px;
$blogGrid_size_md_height: 382px;

$blogGrid_size_sm_width: 692px;
$blogGrid_size_sm_height: 270px;

@mixin blogGrid_width($width) {
    width:$width + 10px;
}
@mixin blogGrid_tile_content($width, $height) {
    width:$width + 20px;
    height:$height + 12px;
}
@mixin blogGrid_image_md($width, $height) {
    width:$width - 233px;
    height:$height + 12px;
}
@mixin blogGrid_image_sm($width, $height) {
    width:$width - 162px;
    height:$height + 12px;
}

section-blog {
    .loading {
        &[data-active="true"]{
            transition:all 0.2s $cubic215 0.1s;
        }
    }
}
.blog {
    &__grid {
        @include blogGrid_width($blogGrid_size_md_width);
        padding:28px 0 66px;
        @extend .m0-auto;
        @extend .clear;

        &__item {
            @extend .float-left;
            @extend .pos-rel;
            @extend .display-block;
            width:$blogGrid_size_md_width;
            height:$blogGrid_size_md_height;
            @extend .m-xxs;
            @extend .zIndex-0;

            &__content {
                @extend .pos-tl;
                @extend .w25p;
                @extend .h100p;
                padding:46px 40px 0;
            }
            &__tags,
            &__date {
                font-size:12px;
                @extend .text-truncate;
                @extend .text-uppercase;
                @extend .letterSpacing-xxl;
            }
            &__date {
                @extend .pt1;
            }
            &__title {
                @extend .mt30;
                @extend .fontFamily-myriad;
                font-size:25px;
                line-height:30px;
                @extend .fontWeight-5;
                @extend .breakWord;
                @include textEllipsis(100%, 170px, 5);
                letter-spacing:-0.012em;
            }
            &__image {
                @extend .pos-tr;
                @include blogGrid_image_md($blogGrid_size_md_width, $blogGrid_size_md_height);
                @extend .bg-cover;
            }
            &__text {
                @extend .opacity-0;
                @extend .content-empty;
                @include abs();
                @extend .willChange-opacity;
                background-color:rgba($blue,.85);
                transition:opacity 0.15s $cubic215;

                &__inner {
                    @extend .pos-tl;
                    @extend .pt-l;
                    @extend .pl-l;
                    @extend .pr40p;
                    @extend .c-white;
                    @extend .fontWeight-3;
                    font-size:18px;
                    line-height:34px;
                    @include textEllipsis(100%, 201px, 5);
                }
                &:after {
                    @include accelerate();
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .b35;
                    right:32px;
                    @extend .willChange-transform;
                    @include ui-icon("eyes_white", 62px, 42px);
                    transition:transform 0.15s $cubic215;
                    transform:translate3d(0, 0, 0) scale(.4);
                }
            }
            &__share {
                @extend .flex-row-left-center;
                @extend .pos-abs;
                @extend .b-l;
                left:28px;

                &__link {
                    @extend .pos-rel;
                    width:43px;
                    @extend .h16;
                    @extend .opacity-0;
                    @extend .cursor-pointer;
                    @extend .willChange-opacity;
                    transition:opacity 0.2s ease-out;

                    &:before {
                        @extend .content-empty;
                        @extend .pos-centered;
                    }
                    &[data-item="fb"]:before {
                        @include ui-icon("facebook", 9px, 22px);
                    }
                    &[data-item="vk"]:before {
                        @include ui-icon("vkontakte", 27px, 15px);
                    }
                    &[data-item="gl"]:before {
                        @include ui-icon("google", 19px, 19px);
                        @extend .ml2;
                    }
                    &[data-item="tw"]:before {
                        @include ui-icon("twitter", 22px, 17px);
                    }
                }
            }
            &:nth-child(odd){
                .blog__grid__item__tags {
                    @extend .c-orange;
                }
            }
            &:nth-child(even){
                .blog__grid__tile__content {
                    @extend .c-white;
                    @extend .bg-slateA;
                }
                .blog__grid__item__tags {
                    @extend .c-breeze;
                }
                .blog__grid__item__date {
                    @extend .c-white;
                }
                .blog__grid__item__title {
                    @extend .c-white;
                }
                .blog__grid__item__share__link {
                    &[data-item="fb"]:before {
                        @include ui-icon("facebook_white");
                    }
                    &[data-item="vk"]:before {
                        @include ui-icon("vkontakte_white");
                    }
                    &[data-item="tw"]:before {
                        @include ui-icon("twitter_white");
                    }
                }
            }
            &:nth-child(4n+3),
            &:nth-child(4n+4) {
                &,
                .blog__grid__tile,
                .blog__grid__tile__container {
                    width:($blogGrid_size_md_width / 2) - 5px;
                }
                .blog__grid__tile__content {
                    @extend .display-block;
                    width:($blogGrid_size_md_width / 2) + 15px;
                }
                .blog__grid__item__image {
                    width:($blogGrid_size_md_width / 4) + 7px;
                }
                .blog__grid__item__content {
                    @extend .w50p;
                }
                .blog__grid__item__text__inner {
                    @extend .pr-l;
                    @extend .breakWord;
                }
            }
            html.m-no-touch &:hover {
                @extend .zIndex-1;

                .blog__grid__tile {
                    padding:6px 10px;
                    margin:-6px -10px;
                    box-shadow:0 49.5px 70px -24.5px rgba($slate,.3);
                }
                .blog__grid__item__text,
                .blog__grid__item__share__link {
                    @extend .opacity-100;
                }
                .blog__grid__item__text:after {
                    @extend .transform-default;
                }
                $n:-1;
                @for $i from 1 through 4 {
                    $n: $n + 1;
                    .blog__grid__item__share__link {
                        &:nth-child(#{$i}) {
                            transition-delay:0.05s * $n;
                        }
                    }
                }
            }
        }
        &__tile {
            @include accelerate(true);
            @extend .boxSizing-contentBox;
            @extend .overflow-hidden;
            @extend .borderRadius-l;
            @extend .m0;
            will-change:padding, margin, box-shadow;
            transition:padding 0.15s $cubic4021, margin 0.15s $cubic4021, box-shadow 0.15s $cubic4021;

            &,
            &__container {
                width:$blogGrid_size_md_width;
                height:$blogGrid_size_md_height;
            }
            &__container {
                @extend .boxSizing-contentBox;
                padding:6px 10px;
                margin:-6px -10px;
            }
            &__content {
                @extend .pos-rel;
                @extend .overflow-hidden;
                @extend .display-table;
                @extend .bg-white;
                @include blogGrid_tile_content($blogGrid_size_md_width, $blogGrid_size_md_height);
                margin:-6px -10px;
                @extend .borderRadiusRight-l;
            }
        }
    }
}

@media only screen and (max-width: $w1068) and (min-width: $w736){
    .blog {
        &__grid {
            padding:15px 0 51px;
            @include blogGrid_width($blogGrid_size_sm_width);

            &__item {
                width:$blogGrid_size_sm_width;
                height:$blogGrid_size_sm_height;

                &__content {
                    padding:24px 20px 0 30px;
                }
                &__tags,
                &__date {
                    font-size:10px;
                }
                &__title {
                    font-size:18px;
                    line-height:24px;
                    max-height:137px;
                    transform:translateY(-10px);
                }
                &__text {
                    &__inner {
                        font-size:16px;
                        line-height:27px;
                        max-height:168px;
                        padding:30px 50% 0 30px;
                    }
                    &:after {
                        width:48px;
                        height:33px;
                        margin:0 -6px -5px 0;
                    }
                }
                &__share {
                    margin-bottom:-14px;
                    left:17px;

                    &__link {
                        width:35px;
                        transform:scale(0.8);
                    }
                }
                &__image {
                    @include blogGrid_image_sm($blogGrid_size_sm_width, $blogGrid_size_sm_height);
                }
                &:nth-child(4n+3),
                &:nth-child(4n+4) {
                    &,
                    .blog__grid__tile,
                    .blog__grid__tile__container {
                        width:($blogGrid_size_sm_width / 2) - 5px;
                    }
                    .blog__grid__tile__content {
                        width:($blogGrid_size_sm_width / 2) + 15px;
                    }
                    .blog__grid__item__image {
                        width:($blogGrid_size_sm_width / 4) + 7px;
                    }
                    .blog__grid__item__text__inner {
                        padding:30px 30px 0 30px
                    }
                }
            }
            &__tile {
                &,
                &__container {
                    width:$blogGrid_size_sm_width;
                    height:$blogGrid_size_sm_height;
                }
                &__content {
                    @include blogGrid_tile_content($blogGrid_size_sm_width, $blogGrid_size_sm_height);
                }
            }
        }
    }
}

@media only screen and (max-width: $w735){
    .blog {
        &__grid {
            padding:0 0 42px;

            &__item {
                float:none;
                width:100%;
                max-width:415px;
                margin:16px auto;
                min-height:164px;
                height:auto;

                &:nth-child(4n+3),
                &:nth-child(4n+4) {
                    &,
                    .blog__grid__item__content,
                    .blog__grid__tile,
                    .blog__grid__tile__container,
                    .blog__grid__tile__content,
                    .blog__grid__item__image {
                        body & {
                            width:100%;
                        }
                    }
                    .blog__grid__item__text__inner {
                        padding:0;
                    }
                }
                &__content {
                    position:static;
                    max-height:165px;
                    padding:24px 18px 0;
                    margin-top:170px;

                    body & {
                        width:100%;
                    }
                }
                &__image {
                    position:static;
                    width:100%;
                    height:170px;
                }
                &__tags,
                &__date {
                    font-size:11px;
                }
                &__title {
                    font-size:17px;
                    line-height:21px;
                    padding-right:30px;
                    letter-spacing:-.021em;
                }
                &__text,
                &__share {
                    body & {
                        display:none;
                    }
                }
                &:hover {
                    .blog__grid__tile {
                        padding:0 !important;
                        margin:0 !important;
                    }
                }
            }
            &__tile {
                &,
                &__container {
                    width:100%;
                    height:auto;
                    border-radius:0px !important;
                }
                &__container {
                    box-sizing:border-box;
                    padding:0;
                    margin:0;
                }
                &__content {
                    width:100%;
                    height:334px;
                    margin:auto;
                    padding:0;
                    border-radius:0px !important;
                }
            }
        }
    }
}
