.blog__header {
    @extend .pos-rel;
    @extend .c-white;
    @extend .overflow-hidden;
    @extend .bg-grayDarken;
    height:84vh;
    min-height:600px;
    max-height:670px;

    &__cover {
        @include abs();
        @extend .willChange-opacity;
        @extend .opacity-01;
        transition:opacity 0.5s $cubic2501;

        &[data-show="true"]{
            @extend .opacity-100;
        }
        &__image {
            @include accelerate();
            @include abs();
            @extend .bg-cover-center;
            @extend .willChange-transform;
            background-image:url(/public/images/blog/slide18.jpg);
            @include animation(bg-zoomer, linear, 40s, 0s, infinite);

            @for $i from 1 through 18 {
                &[data-cover="#{$i}"] {
                    background-image:url(/public/images/blog/slide#{$i}.jpg);
                }
            }
        }
    }
    &:after {
        @extend .content-empty;
        @include abs();
        background-color:rgba(42,49,57,.5);
    }
    &__container {
        @extend .pos-rel;
        @extend .zIndex-1;
    }
    &__post {
        padding-top:240px;

        &__date {
            @extend .fontWeight-8;
            @extend .opacity-70;
            @extend .text-uppercase;
        }
        &__time {
            @extend .fontWeight-normal;
        }
        &__avatar {
            width:48px;
            height:48px;
            @extend .borderRadius-circle;
            @extend .ml-m;
            margin-top:-48px;
        }
        &__tags {
            @extend .display-inlineBlock;
            @extend .bg-blue;
            @extend .c-white;
            @extend .fontWeight-bold;
            @extend .ptb-xxs;
            @extend .plr-s;
            @extend .text-truncate;
            max-width:164px;
            font-size:14px;
            border-radius:100px;
            transform:translateX(5px);
        }
        &__title {
            @extend .display-block;
            @extend .fontWeight-8;
            @extend .mr-l;
            text-shadow:0 2px 1px rgba(42,49,57,.15);
            transform-origin:0 50%;
            transition:transform 0.25s $cubic28, color 0.08s $cubic215;

            span {
                @extend .transition-default;
                border-bottom:1px solid rgba($white,.5);
            }
            html.m-no-touch &:hover {
                @extend .c-yellowLight;
                transform:translate3d(10px, 0, 0);

                span {
                    border-bottom-color:rgba($yellowLight,.7);
                }
            }
            &:active {
                transform:translate3d(10px, 0, 0) scale(0.95);
            }
        }
    }
    &__list {
        padding-top:190px;

        &__item {
            @extend .display-block;
            @extend .opacity-75;
            @extend .plr-m;
            @extend .pt-s;
            @extend .pb-m;
            @extend .borderRadius-xl;
            @extend .mb-xxs;
            min-height:110px;
            will-change:transform, background-color;
            transition:transform .25s $cubic28, background-color .2s;

            html.m-no-touch &:hover {
                @extend .opacity-100;
                @extend .bg-white;
                transform:translateY(-10px);
                box-shadow:0 20px 25px rgba(31,35,37,.15);

                .blog__header__list__item__date {
                    @extend .c-blue;
                    @extend .opacity-100;
                }
                .blog__header__list__item__time {
                    @extend .c-gray;
                    @extend .opacity-100;
                }
                .blog__header__list__item__title {
                    @extend .c-blackLight;

                    span {
                        border-bottom-color:rgba($blue,.6);
                    }
                }
            }
            html.m-no-touch &:active {
                transform:translateY(-5px);
                transition:transform .2s, background-color .2s;
            }
            &[data-first="true"] {
                @extend .opacity-100;
                @extend .bg-blue;
                transform:translateY(-10px);
                box-shadow:0 20px 25px rgba(31,35,37,.15);
            }
            &:not([data-first="true"]) {
                .blog__header__list__item__title {
                    @include textEllipsis(100%, 52px, 2);
                    padding-bottom:2px;
                }
            }
            &__date {
                @extend .display-block;
                @extend .fontWeight-8;
                @extend .opacity-70;
                @extend .text-uppercase;
                @extend .fontSize-14;
            }
            &__time {
                @extend .display-block;
                @extend .pos-tr;
                @extend .opacity-70;
                @extend .text-uppercase;
                @extend .fontSize-14;
                transform:translate3d(-20px, 15px, 0);
            }
            &__title {
                font-size:21px;
                @extend .letterSpacing--s;

                span {
                    border-bottom:1px solid rgba($white,.5);
                }
            }
        }
    }
}
