.blog__pagination {
    @extend .pos-bl;
    @extend .w100p;
    @extend .bg-white;
    height:130px;

    &__item {
        @extend .flex-centered;
        height:130px;
        border-left:1px solid $smoke;
        font-size:44px;
        @extend .c-grayDark;
        @extend .fontWeight-8;
        @extend .btn-active;
        @extend .transition-default;

        &:not([data-active="true"]):hover {
            @extend .c-white;
            @extend .bg-blackLight;
        }
        &[data-active="true"] {
            @extend .c-white;
            @extend .bg-blue;
            @extend .zIndex-1;

            &:before {
                @extend .content-empty;
                @extend .pos-tl;
                @extend .w1px;
                @extend .h100p;
                @extend .bg-blue;
                transform:translateX(-1px);
            }
            &:after {
                @extend .content-empty;
                @extend .pos-tr;
                @extend .w1px;
                @extend .h100p;
                @extend .bg-blue;
                transform:translateX(1px);
            }
        }
    }
}
