body > #app {
    &[data-theme="white"]{
        .slider__item {
            &__label,
            .highlight,
            .text,
            .larger,
            .item__label {
                @extend .c-slate;
            }
            &[data-slide="commons"]{
                .post {
                    &:before {
                        @extend .h1px;
                    }
                }
            }
            &[data-slide="contacts"]{
                .divider:before {
                    @extend .opacity-20;
                }
            }
            .content__scroll {
                &[data-track="default"]{
                    .iScrollIndicator {
            			background-color:silver;
                    }
                }
                &[data-track="box"]{
                    .iScrollIndicator {
                        right:-4px;
                        width:4px !important;
                        height:20px !important;
                        @extend .borderRadius-none;
                        background-color:silver;

                        &:hover {
                            @extend .bg-gray;
                        }
                        &:before {
                            right:1px;
                            background-color:rgba($black,.1);
                        }
                        &:after {
                            @extend .display-none;
                        }
                    }
                }
            }
        }
        html.d-no-phone & {
            .slider__item {
                background-color:$snow !important;
            }
            .content__gradient {
                &.-top {
                    background-image:linear-gradient(to bottom, $snow 50%, rgba($snow,0)) !important;
                }
                &.-bottom {
                    background-image:linear-gradient(to top, $snow, rgba($snow,0)) !important;
                }
            }
        }
        html.d-phone & {
            .slider__item {
                background-color:$white !important;
            }
            .content__gradient {
                &.-top {
                    background-image:linear-gradient(to bottom, $white 50%, rgba($white,0)) !important;
                }
                &.-bottom {
                    background-image:linear-gradient(to top, $white, rgba($white,0)) !important;
                }
            }
        }
        .c-dots_dot {
            background-color:#d2d2d2;
            transition:background-color 0.3s $cubic4001;

            &:before {
                border-color:#d2d2d2;
                border-width:2px;
            }
        }
        .c-dots_link {
            html.m-no-touch &:hover {
                .c-dots_dot {
                    @extend .bg-gray;
                }
            }
        }
        .c-dots.-horizontal .c-dots_item:first-child::before, .c-dots.-horizontal .c-dots_item:last-child::before, .c-dots.-horizontal .c-dots_link::after, .c-dots.-horizontal .c-dots_link::before {
            border-bottom-color:$black
        }
        .c-dots.-vertical .c-dots_item:first-child::before, .c-dots.-vertical .c-dots_item:last-child::before, .c-dots.-horizontal .c-dots_item:first-child::after, .c-dots.-horizontal .c-dots_item:last-child::after, .c-dots.-vertical .c-dots_link::after, .c-dots.-vertical .c-dots_link::before {
            border-left-color:$black;
        }
        .c-dots.-vertical .c-dots_item:first-child::after, .c-dots.-vertical .c-dots_item:last-child::after {
            border-top-color:$black;
        }
    }
}
