<section-inbox-list if={ parent.id } class="section">

    <div onClick={ parent.onSelect } each={ item, i in _.sortByDate($store.inbox.get(), "create", "desc") } no-reorder class="inbox__list__item" data-new={ item.new } data-active={ parent.parent.id == item._id }>
        <div class="inbox__list__item__icon bg-{ item.color }">{ item.title.charAt(0) }</div>
        <div class="inbox__list__item__container">
            <div class="inbox__list__item__date">{ get.date(item.create) }</div>
            <div class="inbox__list__item__title">{ item.title }</div>
            <div class="inbox__list__item__text">{ item.text }</div>
        </div>
    </div>

<script>

    var $ = this;

    $.onSelect = function(){
        $.parent.id = this.item._id;
        $.parent.onViewed($.parent.id);
        $.parent.content.update();
    };

</script>

</section-inbox-list>
