<section-inbox class="oScreen { showAnim-group1 : active }" data-open={ active }>

    <div class="anim-group1 anim-rl" data-duration="l" delay-show="m">
        <div class="button__close" data-color="white"></div>
    </div>

    <div class="pos-centered">
        <div class="container">
            <div class="row">
                <div name="wrapper" class="col-md-20 centered">
                    <div name="popup" class="inbox anim-group1 anim-bt-ease" duration-show="s" duration-hide="xs" delay-show="xs">
                        <div class="row">
                            <div class="col-md-8">
                                <div name="listEl" class="inbox__list">
                                    <div class="inbox__list__scroll">
                                        <section-inbox-list></section-inbox-list>
                                        <section-inbox-list-blank></section-inbox-list-blank>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-16">
                                <section-inbox-content></section-inbox-content>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <inbox-offer></inbox-offer>

<script>

    var $ = this;

    $.viewedList = [];

    $.scroll = {
        list: null,
        content: null
    };

    $.on("before-mount", function(){
        $.list = $.tags["section-inbox-list"];
        $.content = $.tags["section-inbox-content"];
        $.offer = $.tags["inbox-offer"];
    });

    $.on("mount", function(){
        $afterlag.run(function(){
            $.scroll.list = new app.plugins.scroll.content($.listEl);
            $.scroll.list.init();
            $.scroll.content = new app.plugins.scroll.content($.content.root);
            $.scroll.content.init();
            //$.show();
        });
    });

    $.show = function(id){
        if (id) $.id = id;
        if (!$.id){
            var items = _.sortByDate($store.inbox.get(), "create", "desc");
            if (items.length){
                $.id = items[0]._id;
            }
        }

        if ($account.get('plan') == 'premium'){
            $.onViewed($.id);
        }

        if (!$store.inbox.get({'_id': $.id})){
            $.id = null;
        }

        $.active = true;
        $.update();
        $.scroll.list.refresh();
        $.scroll.content.refresh();

        if ($account.get('plan') != 'premium'){
            _.onEndTransition($.popup, function(){
                $.offer.show();
            });
        }
    };

    $.onViewed = function(id){
        var item = $store.inbox.select({"_id": $.id});

        if (item.get("new")){
            item.select("new").set(false);
            $.viewedList.push(id);
        }
    };

    $.handleClickOutside = function(e){
        if (!$.wrapper.contains(e.target)) $.hide();
    };

    $.hide = function(){
        $.update({
            active: false
        });

        if ($.viewedList.length){
            $Sections.resume.list.update();
        }
    };

    $.on("updated", function(){
        if ($.active){
            document.addEventListener('click', $.handleClickOutside);
        }
        else {
            document.removeEventListener('click', $.handleClickOutside)
        }
    });

</script>

</section-inbox>
