<section-inbox-list if={ $store.inbox.get().length } class="section">

    <div onClick={ parent.parent.onSelect } onUpdate="{ app.device.isPhone ? 'none' : 'parent' }" each={ item, i in _.sortByDate(opts.items, "create", "desc") } no-reorder class="inbox__list__item" data-new={ item.new } data-active={ parent.parent.id == item._id }>
        <div class="inbox__list__item__icon bg-{ item.color }">{ item.title.charAt(0) }</div>
        <div class="inbox__list__item__container">
            <div class="inbox__list__item__date">{ get.date(item.create) }</div>
            <div class="inbox__list__item__title">{ item.title }</div>
            <div class="inbox__list__item__text">{ item.text }</div>
        </div>
    </div>

<script>

    var $ = this;

    $.get = {
        date: function(date){
            var days = moment(date).diff(moment(), 'days');
            if (days === 0) return moment(date).format('HH:mm');
            else if (days === -1) return "вчера";
            else {
                return moment(date).format('D MMM');
            }
        }
    };

</script>

</section-inbox-list>
