jptest-result-finish {
    @extend .c-white;
    @extend .bg-blue;

    &:before {
        @extend .content-empty;
        @extend .pos-tr;
        @extend .w100p;
        @extend .bg-blue;
        height:150px;
        transform:translate3d(10px, -20px, 0) rotate(4deg) scale(1.1);
    }
    .smile {
        width:280px;
        height:280px;
        @extend .trY--m;
        @extend .mb--45;

        html.d-phone & {
            @extend .mt--m;
            @extend .mb--xl;
        }
    }
    .text {
        @extend .fontFamily-gotham;
        @extend .fontWeight-8;
        @extend .fontSize-34;
        @extend .lineHeight-xxxxl;
        @extend .pr-l;
        @extend .ml0;
        @extend .xsm-plr-m;
        @extend .text-center-xs;

        html.d-phone & {
            @extend .fontWeight-bold;
            @extend .fontFamily-futura;
            @extend .fontSize-30;
            @extend .lineHeight-xxxxl;
        }
    }
    .jptest-result-share {
        @extend .flex-centered;
        @extend .xs-mb-l;

        &-item {
            @extend .pos-rel;
            @extend .w20p;
            @extend .h120;
        }
        .icon {
            @extend .pos-centered;
            @extend .willChange-transform;
            @extend .cursor-pointer;
            transition:transform 0.5s $cubic075;

            &:hover {
                transform:translate3d(-50%, -50%, 0) scale(1.25, 1.25);

                path {
                    @extend .fill-yellowBright;
                }
            }
            svg {
                @extend .btn-active;
            }
        }
    }
    .button-mail {
        @extend .flex-centered;
        @extend .pos-br;
        @extend .w150;
        @extend .h150;
        @extend .overflow-hidden;

        html.d-phone & {
            @extend .overflow-visible;
            @extend .pos-abs;
            @extend .t100;
            @extend .l50;
            transform:translate3d(-50%, -90px, 0);
        }
        html.m-no-touch &:hover {
            svg {
                @extend .scale-110;
            }
        }
        &:before {
            @extend .content-empty;
            @include abs();
            border-radius:50% 0 0 0;
            @extend .bg-blackLight;
            transform:translate3d(15px, 30px, 0);

            html.d-phone & {
                @extend .bg-white;
                @extend .boxShadow-default;
                @extend .transform-default;
                @extend .borderRadius-circle;
            }
        }
        .icon {
            @extend .pos-rel;
            @extend .mt50;
            @extend .ml25;
            @extend .xs-ml0;
            @extend .btn-active;

            html.d-phone & {
                @extend .mt--s;
                @extend .pos-centered;
            }
        }
        svg {
            transition:transform 0.5s $cubic075;

            html.d-phone & {
                @extend .w54;
                @extend .h54;
            }
        }
    }
}
