jptest-result {
    #renderSide & {
        @extend .zIndex-6;
    }
    .title {
        .d-phone & {
            @extend .display-block;
            @extend .pos-rel;
            @extend .pb-l;
            @extend .pl-m;
            @extend .pr-s;
            @extend .fontFamily-futura;
            @extend .fontSize-26;
            @extend .fontWeight-8;
            letter-spacing:0.16em;
            @extend .text-uppercase;
            @extend .text-left;
            @extend .ml-xs;

            &:after {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .b-m;
                @extend .l0;
                @extend .h5;
                @extend .w80;
                @extend .bg-white;
                @extend .opacity-20;
                @extend .borderRadius-xxxxxl;
                @extend .trY-xxs;
            }
        }
    }
    .subtitle {
        .d-phone & {
            @extend .display-block;
            @extend .pb-l;
            @extend .pl-m;
            @extend .pr-s;
            @extend .fontFamily-futura;
            @extend .fontSize-18;
            @extend .lineHeight-l;
            @extend .fontWeight-normal;
            @extend .letterSpacing-xxxxl;
            @extend .text-uppercase;
            @extend .text-left;
            @extend .ml-xxs;
        }
    }
    .screen__content {
        .d-phone & {
            padding-top:140px;
            @extend .pb85;
            @extend .plr0;
        }
    }
    .container {
        .d-tablet.r-portrait & {
            @extend .plr-s;
        }
    }
    h2 {
        @extend .fontFamily-gotham;
        font-size:40px;
    }
    p {
        @extend .fontFamily-helvetica;
        @extend .fontSize-18;
        @extend .lineHeight-xxxl;
        @extend .letterSpacing-0;
        @extend .ml0;

        .d-phone & {
            font-size:19px;
            line-height:24px;
            @extend .lineHeight-xxl;
            @extend .mlr-m;
        }
        .title {
            .d-phone & {
                margin-left:-12px;
            }
        }
        strong {
            @extend .fontFamily-futura;
            font-size:30px;
            @extend .lineHeight-xxl;
            @extend .letterSpacing--s;
            margin-left:-1px;
        }
        .larger {
            @extend .fontSize-20;
            @extend .lineHeight-xxl;
            @extend .letterSpacing-0;
        }
        .marker {
            @extend .pos-rel;
            @extend .display-inlineBlock;
            @extend .fontSize-18;
            @extend .lineHeight-xxl;
            @extend .c-white;
            @extend .plr-xs;

            &:before {
                @extend .content-empty;
                @include abs();
                @extend .borderRadius-l;
                @extend .zIndex--1;
                transform:skewX(-6deg);
            }
        }
    }
    .screen {
        @extend .display-block;
        @extend .pos-rel;
        @extend .text-left;

        .d-phone & {
            @extend .m0;
            @extend .p0;
        }
        &[data-marquee="columns"] {
            min-height:100vh;

            &:before {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .t50;
                @extend .l0;
                @extend .w100p;
                @extend .zIndex--1;
                border-top:4px dashed rgba($blue,.2);
            }
            &:after {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .t50;
                @extend .l0;
                @extend .w100p;
                @extend .zIndex--1;
                height:4px;
                background:linear-gradient(to right, rgba(#fff,1) 10%, rgba(#fff,0))
            }
        }
        &[data-marquee="orientation"],
        &[data-marquee="skills"] {
            margin-bottom:120px;

            .larger {
                @extend .c-blackLight;
            }
            .marker:before {
                background-color:#ff82c3;
            }
            .d-tablet.r-portrait & {
                margin-top:195px;
                @extend .mb-xl;
            }
        }
        &[data-marquee="stimulus"] {
            margin-bottom:138px;

            .marker:before {
                background-color:#A783ED;
            }
            .d-tablet.r-landscape & {
                margin-bottom:195px;
            }
        }
        &[data-marquee="graph"],
        &[data-marquee="specialties"],
        &[data-marquee="strengths"],
        &[data-marquee="finish"] {
            .d-phone & {
                @extend .bg-blue;
            }
        }
        &[data-marquee="notengage"] {
            @extend .bg-blue;
            @extend .c-white;
            padding-bottom:168px;

            .d-tablet.r-portrait & {
                padding-bottom:148px;
            }
            .d-phone & {
                @extend .bg-blackLight;
            }
        }
        &[data-marquee="strengths"] {
            @extend .bg-blue;
            @extend .c-white;
            padding-bottom:100px;
            margin-bottom:160px;

            .corner {
                @extend .pos-br;
                @extend .w100p;
                @extend .bg-blue;
                @extend .zIndex--1;
                height:150px;
                transform:translate3d(10px, 40px, 0) rotate(4deg) scale(1.1);
            }
            .d-tablet.r-portrait & {
                @extend .pb-xl;
                margin-bottom:130px;
            }
        }
        &[data-marquee="weaksides"] {
            margin-bottom:118px;

            .d-phone & {
                @extend .bg-grayDark;
                @extend .c-white;
            }
            .title,
            .subtitle {
                .d-phone & {
                    @extend .c-white;
                }
            }
        }
        &[data-marquee="strengths"],
        &[data-marquee="weaksides"] {
            &:hover,
            .d-tablet.r-portrait & {
                .header__lines {
                    &:before {
                        transform:translateX(-30px) rotate(30deg);
                    }
                    &:after {
                        transform:translateX(30px) rotate(-30deg);
                    }
                }
            }
        }
        &[data-marquee="development"] {
            min-height:1600px;
            margin-bottom:205px;

            .d-phone & {
                min-height:auto;
                @extend .mb0;
            }
        }
        &[data-marquee="personality"] {
            padding-bottom:120px;
            background:linear-gradient(to bottom, #fff 0%, #fff 68%, #f2f2f2 100%);

            .path__num {
                width:84px;
                height:84px;
                @extend .mlr-auto;

                .d-phone & {
                    @extend .w100;
                    @extend .h100;
                }
            }
            .path__text {
                @extend .bg-none;
            }
        }
        &[data-marquee="finish"] {
            @extend .bg-blue;
            @extend .c-white;

            .button {
                @include accelerate(true);
                @extend .flex-centered;
                @extend .bg-white;
                @extend .c-blue;
                @extend .ptb-l;
                @extend .fontSize-24;
                @extend .borderRadius-xl;
                @extend .userSelect-none;
                @extend .cursor-pointer;
                width:330px;
                height:168px;
                box-shadow:5px 8.66px 30px 0 rgba(31,35,37,.078);
                will-change:box-shadow, transform;
                transform-style:preserve-3d;
                transition:box-shadow .4s, transform .4s;

                .d-tablet.r-landscape & {
                    width:350px;
                }
                &__icon {
                    @extend .w30p;
                    @extend .pr-l;
                    @extend .flex-centered;
                }
                &__print {
                    svg {
                        width:80px;
                        height:80px;
                    }
                }
                &__pdf {
                    svg {
                        width:90px;
                        height:132px;
                        transform:translate3d(5px, 22px, 0);
                    }
                }
                &__repeat {
                    @include flex("column", "center", "center");

                    &:before {
                        @extend .content-empty;
                        @extend .display-block;
                        margin:-2px 0 10px;
                        @include ui-icon("repeat", 54px, 54px);
                    }
                    &:hover {
                        &:before {
                            animation:spinner 0.6s;
                        }
                    }
                }
                .m-no-touch & {
                    &:hover {
                        box-shadow:0 20px 25px rgba(0,0,0,.2);
                        transform:translateY(-15px);
                    }
                    &:active {
                        transform:translate3d(0, 10px, 0);
                    }
                }
                &__cell {
                    @extend .flex-centered;

                    .d-tablet.r-landscape & {
                        &:nth-child(1) {
                            @extend .flex-row-right-center;
                        }
                        &:nth-child(3) {
                            @extend .flex-row-left-center;
                        }
                    }
                }
            }
            &:before {
                @extend .content-empty;
                @extend .pos-tr;
                @extend .w100p;
                @extend .bg-blue;
                height:150px;
                transform:translate3d(10px, -20px, 0) rotate(4deg) scale(1.1);
            }
        }
    }
    .text {
        @extend .whiteSpace-preLine;
    }
    .header__lines {
        @extend .display-inlineBlock;
        @extend .pos-rel;
        @extend .mlr-auto;

        &:before {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .b60;
            @extend .r100;
            width:180px;
            @extend .h2px;
            transform:translateX(-40px) rotate(-10deg);
        }
        &:after {
            @extend .content-empty;
            @extend .pos-abs;
            @extend .b60;
            @extend .l100;
            width:180px;
            @extend .h2px;
            transform:translateX(40px) rotate(10deg);
        }
        &:before,
        &:after {
            @extend .willChange-transform;
            transition:transform 0.3s $cubic28;

            .d-phone & {
                @extend .display-none;
            }
        }
        &[data-color="white"]{
            &:before,
            &:after {
                @extend .bg-white;
            }
        }
        &[data-color="blue"]{
            &:before,
            &:after {
                @extend .bg-blue;
            }
        }
    }
    .ui-scroll__bar {
        @extend .bg-snow;
    }
    .ui-scroll__handle__inner {
        box-sizing:content-box;
        @extend .ptb-s;
    	background-color:#ff82c3;
        box-shadow:0 12px 20px -10px rgba(#ff82c3, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(#ff82c3, 0.2);
    }
}
