jptest-result-development {
    .path {
        &__circle {
            @extend .pos-tl;
            @extend .borderRadius-circle;
            width:1600px;
            height:1600px;
            transform:translate3d(-800px, 80px, 0);
            border:2px dashed darken($smokeLight,20%);
        }
        &__item {
            @extend .pos-rel;
            @extend .float-none;
            height:340px;
            @extend .zIndex-1;

            html.d-tablet.r-portrait &,
            html.d-phone & {
                @extend .h-auto;
                @extend .mb-xl;
            }
            &[data-item="1"]{
                @extend .col-lg-offset-11;
                @extend .col-lg-13;
                @extend .col-md-offset-9;
                @extend .col-md-15;
                @extend .text-right;
                padding-top:115px;

                html.d-tablet & {
                    height:400px;
                }
                html.d-phone & {
                    @extend .pt0;
                    @extend .mt-l;
                }
                .path__num {
                    transform:translate3d(-210px, 80px, 0);

                    html.d-tablet & {
                        transform:translate3d(-140px, 40px, 0);
                    }
                }
                .path__text {
                    html.d-tablet & {
                        @extend .bg-white;
                        @extend .pl-m;
                    }
                }
            }
            &[data-item="2"]{
                @extend .col-lg-12;
                @extend .col-md-15;
                @extend .text-right;

                html.d-phone & {
                    @extend .text-left;
                }
                .path__num {
                    transform:translate3d(590px, 0, 0);

                    html.d-tablet & {
                        transform:translate3d(625px, -10px, 0);
                    }
                }
            }
            &[data-item="3"]{
                @extend .col-md-offset-1;
                @extend .col-lg-14;
                @extend .col-md-17;
                @extend .text-right;
                height:480px;

                .path__num {
                    transform:translate3d(685px, 60px, 0);

                    html.d-tablet & {
                        transform:translate3d(690px, 20px, 0);
                    }
                }
            }
            &[data-item="4"]{
                @extend .col-lg-offset-9;
                @extend .col-lg-15;
                @extend .col-md-offset-6;
                @extend .col-md-18;
                @extend .text-left;
                padding-top:100px;

                html.d-tablet.r-portrait &,
                html.d-phone & {
                    @extend .pt0;
                }
                .path__num {
                    transform:translate3d(225px, -40px, 0);

                    html.d-tablet & {
                        transform:translate3d(385px, -40px, 0);
                    }
                }
                .path__text {
                    @extend .bg-white;
                    @extend .ptb-m;
                    @extend .pl-m;

                    html.d-phone & {
                        @extend .p0;
                        @extend .bg-none;
                    }
                }
            }
        }
        &__num {
            @extend .pos-tl;
            width:120px;
            height:120px;
            border:18px solid $white;
        }
        &__text {
            @extend .pos-rel;
            @extend .display-block;
            @extend .zIndex-1;
        }
    }
}
jptest-result-development,
jptest-result-personality {
    .path__num {
        @extend .flex-centered;
        @extend .c-white;
        font-size:53px;
        line-height:53px;
        @extend .fontWeight-8;
        @extend .bg-blue;
        @extend .borderRadius-circle;
        @extend .zIndex-1;

        html.d-tablet.r-portrait & {
            @extend .display-none;
        }
    }
    html.d-phone & {
        .path__num {
            @extend .pos-abs;
            @extend .t0;
            @extend .border-none;
            @extend .w100;
            @extend .h100;
            @extend .opacity-15;
            font-size:56px;
        }
        .path__item {
            &:nth-child(odd) {
                .path__num {
                    @extend .l0;
                    transform:translate3d(-10px, -35px, 0);
                }
                .path__text {
                    @extend .text-right;
                }
            }
            &:nth-child(even) {
                .path__num {
                    @extend .r0;
                    @extend .l-auto;
                    transform:translate3d(10px, -35px, 0);
                }
                .path__text {
                    @extend .text-left;
                }
            }
            $i: 0;
            @each $color in (#9471DB, #FFB84D, #B871B8, #71B84D, #4DB8B8, #4DB8DB, #DB94DB, #FFACC5, #FF944D, #B8DB4D, #FF7194, #6AD19F){
                $i: $i + 1;
                &:nth-child(#{$i}) .path__num {
                    background-color:saturate($color,10%);
                }
            }
        }
    }
}
