jptest-result-orientation,
jptest-result-skills-mobile {
    .skills__item {
        @extend .pos-rel;
        @include flex("row", "flex-start", "center");
        @extend .h40;
        @extend .mb-m;
        @extend .nowrap;
        @extend .cursor-default;

        &:last-child {
            .d-phone & {
                @extend .mb0;
            }
        }
        .d-tablet.r-portrait & {
            @extend .h50;
        }
        .d-phone & {
            @extend .h45;
            transform:translateX(-20px);
        }
        &__line {
            @extend .pos-tl;
            @extend .h100p;
            @extend .opacity-15;

            .d-tablet.r-portrait &,
            .d-phone & {
                @extend .opacity-100;
                border-radius:100px;
            }
        }
        &__title {
            @extend .c-grayDark;
            @extend .pos-rel;
            @extend .pl-l;
            padding-bottom:2px;
            @extend .fontSize-18;
            @extend .fontWeight-bold;
            transition:color .3s $cubic215, transform .3s $cubic215;
            @extend .zIndex-1;

            .d-tablet.r-portrait &,
            .d-phone & {
                @extend .flex-row-left-center;
                @extend .c-white;
                @extend .fontFamily-gotham;
                @extend .pb0;
                @extend .pr-l;
                padding-top:3px;
                border-radius:100px;
                text-shadow:0 1px 1px rgba(31,35,37,.3);
            }
            .d-tablet.r-portrait & {
                @extend .fontSize-20;
                @extend .h50;
            }
            .d-phone & {
                @extend .h45;
                @extend .letterSpacing--xs;
            }
        }
        &__percent {
            @extend .pos-tr;
            @extend .opacity-0;
            @extend .c-blue;
            @extend .fontSize-24;
            @extend .fontWeight-bold;
            @extend .trX-xs;
            @extend .letterSpacing-0;
            padding-top:3px;
            transition:opacity .3s $cubic215, transform .3s $cubic215;

            .d-tablet.r-portrait &,
            .d-phone & {
                padding-top:8px;
            }
            .d-tablet.r-portrait & {
                @extend .opacity-100;
                @extend .c-blackLight;
            }
            .d-phone & {
                @extend .c-gray;
                @extend .opacity-50;
            }
        }
        .m-no-touch &:hover {
            .skills__item__title {
                @extend .c-blackLight;
                transform:scale(1.2);
            }
            .skills__item__percent {
                @extend .opacity-100;
                @extend .transform-default;
            }
        }
    }
}
