.jobs__search__nav {
    @extend .bg-white;
    @extend .boxShadow-close;
    @extend .zIndex-2;

    &__panel,
    &__subpanel,
    &__form,
    &__menu,
    &__menu__item,
    &__options,
    &__options__item {
        height:46px;

        html.d-phone & {
            height:54px;
        }
    }
    &__header,
    &__panel {
        @include accelerate(true);
        @extend .willChange-transform;
        transition:transform 0.3s;
    }
    &__panel {
        @extend .pos-rel;
        @extend .flex-row-between-center;
        @extend .w100p;
        @extend .plr-l;
        @extend .bg-white;

        .row {
            html.d-phone & {
                @extend .pos-rel;
                @extend .bg-white;
                @extend .zIndex-1;
            }
        }
        html.d-phone & {
            @extend .display-block;
            @extend .pos-tl-fixed;
            @extend .plr-xss;
            @extend .boxShadow-close;
            @extend .zIndex-3;
        }
    }
    &__opener__mobile {
        @extend .flex-centered;
        @extend .pos-abs;
        @extend .t100;
        @extend .l0;
        @extend .w100p;
        @extend .h42;
        @extend .c-white;
        @extend .bg-blueBright;
        @extend .opacity-0;
        @extend .pointerEvents-none;
        @extend .willChange-opacity;
        transition:opacity 0.2s;

        &__close {
            @extend .pos-tr;
            @extend .w40;
            @extend .h100p;

            &:after {
                @extend .pos-centered;
                @extend .content-empty;
                @include ui-icon("close_strong_white", 28px, 28px);
            }
        }
        &.display-none {
            @extend .display-none;
        }
    }
    &__menu,
    &__form {
        @extend .willChange-opacity;
        transition:opacity 0.1s $cubic215;
    }
    &__buttons {
        @extend .nowrap;
        @extend .pos-centered-v;
        @extend .r-l;
        @extend .flex-row-right-center;
        @extend .userSelect-none;
        @extend .zIndex-1;

        &__item {
            @extend .pos-rel;
            @extend .display-block;
            @extend .btn-active;
            @extend .ml-m;

            &:hover {
                @extend .c-blueBright;

                .icon {
                    animation:pulse-heart .6s infinite;
                }
            }
            &[data-active="true"]{
                @extend .pos-rel;
                @extend .c-blueBright;
                @extend .pointerEvents-none;

                &:before {
                    @extend .content-empty;
                    @extend .pos-abs;
                    @extend .b0;
                    @extend .l--xxs;
                    width:calc(100% + 10px);
                    @extend .h2px;
                    @extend .bg-blueBright;
                }
            }
            &__counter {
                @extend .pos-tl;
                width:18px;
                height:18px;
                @extend .borderRadius-circle;
                @extend .bg-pink;
                @extend .c-white;
                font-size:12px;
                line-height:20px;
                @extend .text-center;
                @extend .fontWeight-bold;
                @extend .zIndex-1;
                transform:translate3d(-4px, 0, 0);
            }
        }
        .icon {
            @extend .mr-xxs;
            @extend .willChange-transform;
        }
    }
    &__subpanel {
        @extend .pos-centered-h;
        @extend .b0;

        &__logo {
            @extend .pos-rel;
            @extend .opacity-0;
            @extend .display-block;
            width:77px;
            height:29px;
            @extend .bg-cover;
            @extend .pointerEvents-none;
            background-image:url(/public/images/logotype_br.png);
            transform:translate3d(13px, 11px, 0);

            &:after {
                @extend .content-empty;
                @extend .pos-abs;
                @extend .t0;
                @extend .r0;
                @extend .w16;
                @extend .h16;
                @extend .bg-cover;
                @extend .borderRadius-circle;
                box-shadow:0 0 0 4px $white;
                transform:translate3d(-4px, -4px, 0);
                background-image:url(/public/images/jobs/hh/min-hh-red.png);
            }
        }
    }
    &__form {
        @extend .opacity-0;
        @extend .w100p;
        @extend .flex-row-left-center;
        @extend .pointerEvents-none;

        html.d-phone & {
            @extend .pos-rel;
            @extend .opacity-100;
            @extend .pointerEvents-all;
        }
        &__wrapper {
            @extend .pr0;
        }
        input {
            html.d-no-phone & {
                @extend .pointerEvents-none;
            }
            html.d-phone &:not(:focus) {
                @extend .text-truncate;
            }
        }
        input,
        input:focus {
            box-shadow:none !important;
        }
        .input-group {
            @extend .cursor-text;

            &:first-child {
                @extend .w60p;

                html.d-phone & {
                    @extend .w100p;
                }
            }
            &:last-child {
                @extend .w40p;
            }
        }
        &__settings {
            @extend .flex-centered;
            @extend .opacity-0;
            @extend .pointerEvents-none;
            @extend .pos-abs;
            @extend .t0;
            right:47px;
            @extend .w60;
            @extend .h100p;
            @extend .zIndex-1;

            .icon {
                transform:translateY(3px);
            }
            .icon-s {
                @extend .w48;
                @extend .h48;
            }
        }
        &__button {
            @extend .display-none;
            @extend .pos-tr;
            width:54px;
            @extend .h100p;
            @extend .bg-redBright;

            &:after {
                @extend .content-empty;
                @extend .display-block;
                @include ui-icon("back_white", 28px, 28px);
                transform:scaleX(-1) translateX(-2px);
            }
        }
    }
}
