.jobs__search__nav {
    &__options {
        @extend .flex-row-right-center;

        &__item {
            @extend .pos-rel;
            width:43px;
            @extend .flex-centered;
            @extend .cursor-pointer;
            @extend .transition-default;

            jobs-panel-mobile & {
                width:46px;
            }
            &[data-item="settings"],
            &[data-item="list-less"],
            &[data-item="list-more"]{
                svg {
                    @extend .display-block;
                    @extend .w22;
                    @extend .h22;
                    @extend .btn-active;

                    .d-phone & {
                        @extend .w24;
                        @extend .h24;
                    }
                }
            }
            path {
                @extend .fill-grayLightenSilver;
            }
            &[data-active="true"]{
                @extend .pointerEvents-none;

                path {
                    @extend .fill-blueBright;
                }
            }
            &[data-item="settings"]{
                path {
                    @extend .fill-blackLight;
                }
            }
            &[data-item="favorite"]{
                .icon {
                    margin-top:3px;
                }
            }
            .m-no-touch &:hover {
                @extend .bg-smokeLight;
            }
            &__counter {
                @extend .flex-centered;
                @extend .pos-centered;
                width:18px;
                height:18px;
                @extend .borderRadius-circle;
                @extend .bg-pink;
                @extend .c-white;
                font-size:12px;
                @extend .fontWeight-bold;
                @extend .zIndex-1;
                margin:-10px 0 0 -12px;
            }
        }
        jobs-search-panel-settings {
            &[data-active="true"]{
                .jobs__search__nav__options__item {
                    @extend .bg-smokeLight;
                }
                .jobs__search__nav__popup {
                    @extend .jobs__search__nav__popup[data-active="true"];
                }
            }
        }
        &__list {
            @extend .display-tableCell;
            @extend .w40p;

            &:first-child {
                @extend .w60p;
            }
            &__items {
                @extend .display-table;
                @extend .w100p;
                @extend .mb-xs;

                .d-phone & {
                    @extend .pt-xxs;
                    @extend .mb-s;
                }
            }
            &__item {
                @extend .display-block;
                @extend .fontSize-14;
                @extend .c-blackLight;
                margin-bottom:4px;

                .d-phone & {
                    @extend .fontSize-15;
                    @extend .flex-row-left-center;
                    margin-bottom:8px;
                }
                span {
                    .d-phone & {
                        @extend .display-block;
                        @extend .maxW-80p;
                        @extend .text-truncate;
                    }
                }
                input {
                    .d-phone & {
                        @extend .mr-xxs;
                    }
                }
            }
        }
    }
    &__popup {
        @include accelerate();
        @extend .pos-abs;
        @extend .l50;
        @extend .t100;
        @extend .bg-white;
        @extend .visibility-hidden;
        @extend .pointerEvents-none;
        @extend .opacity-0;
        @extend .willChange-tp;
        @extend .cursor-default;
        width:385px;
        @extend .p-m;
        @extend .borderRadiusBottom-l;
        transform:translate3d(-50%, 0, 0) scale3d(0.8, 0.8, 1);
        box-shadow:0 16px 62px -10px rgba(31,35,37,.4), 1px 0 0 0 rgba(31,45,61,.08), 0 1px 0 0 rgba(31,45,61,.08), -1px 0 0 0 rgba(31,45,61,.08), 0 -1px 0 0 rgba(31,45,61,.08);
        transition:transform 0.3s $cubic68, opacity 0.3s $cubic68, visibility 0s 0.3s;

        .d-phone & {
            @extend .pos-fixed;
            @extend .w100v;
            @extend .borderRadius-none;
            transform:translate3d(-50%, 0, 0) scale(1);
            transition:opacity 0.2s, visibility 0s 0.2s;

            &:after,
            &:before {
                @extend .display-none;
            }
        }
        &:after {
            @include accelerate();
            @extend .content-empty;
            @extend .pos-centered-h;
            top:-11px;
            border-bottom:11px solid $white;
            border-left:11px solid rgba(0, 0, 0, 0);
            border-right:11px solid rgba(0, 0, 0, 0);
        }
        &:before {
            @include accelerate();
            @extend .content-empty;
            @extend .pos-centered-h;
            top:-13px;
            border-bottom:13px solid rgba(31,45,61,.08);
            border-left:13px solid rgba(0, 0, 0, 0);
            border-right:13px solid rgba(0, 0, 0, 0);
        }
        &[data-active="true"]{
            @extend .opacity-100;
            @extend .pointerEvents-all;
            @extend .visibility-visible;
            transform:translate3d(-50%, 0, 0) scale3d(1, 1, 1);
            transition:transform 0.3s $bounceForce, opacity 0.3s $bounceForce;

            .d-phone & {
                transition:opacity 0.2s;
            }
        }
    }
}
