.menu {
    &__sections {
        @extend .display-block;
        @include accelerate();
        @extend .pos-abs;
        @extend .fontFamily-helvetica;
        @extend .fontSize-18;
        @extend .overflow-hidden;
        @extend .zIndex-1;

        .d-no-phone & {
            @extend .t-30;
            @extend .l-25;
            width:calc(50vw - 20px);
            height:calc(100vh - 20px);
            @extend .pointerEvents-none;
            @extend .opacity-0;
            @extend .bg-white;
            @extend .boxShadow-30;
            @extend .willChange-transform;
            border-radius:15px;
            transform-origin:0% 50%;
            transform:translate3d(-20%, 0, 0) scale3d(1, 0.5, 1);
            transition:transform .2s $cubic345, opacity .2s $cubic345;
        }
        .d-phone & {
            @extend .t0;
            @extend .l0;
            @extend .w100p;
            @extend .h100v;
        }
        .d-tablet.r-landscape & {
            width:calc(70vw - 20px);
        }
        .d-tablet.r-portrait & {
            width:calc(100vw - 50px);
        }
        &__navbar {
            @extend .h55;
            @extend .fontWeight-bold;
            @extend .fontFamily-gotham;
            @extend .fontSize-18;
            @extend .letterSpacing--m;
            @extend .text-uppercase;
            @extend .c-primary;

            &:after {
                @extend .borderTop-primary;
                transform:translateY(-1px);
            }
        }
        .iScrollIndicator {
            @extend .bg-primary;
            @extend .opacity-40;
        }
        .title {
            &:not(.black){
                @extend .c-primary;
            }
            &.black {
                @extend .c-blackLight;
            }
        }
        .input-title {
            @extend .c-primary;
        }
        .select.short {
            &:after {
                right:12px;
            }
            select {
                @extend .pr30;
            }
        }
        .select-uppercase {
            select {
                @extend .text-capitalize;
            }
        }
        .btn {
            &.cancel {
                @extend .text-uppercase;
                @extend .c-primary;
                @extend .bg-white;
            }
            &.success {
                @extend .c-white;
                @extend .bg-primary;
            }
        }
        .switcher {
            box-shadow:0 0 0 1px $grayLighten;

            &[active="true"]{
                .switch {
                    &-label {
                        @extend .bg-primary;
                    }
                    &-left,
                    &-right {
                        @extend .c-primary;
                    }
                }
            }
            .d-phone & {
                transform:translateY(-4px);
            }
        }
        .switch {
            &-label {
                background:$grayLighten;
                @extend .boxShadow-none;
            }
            &-left,
            &-right {
                @extend .c-grayLight;
            }
        }
    }
}
