.profile {
    @extend .pos-centered;
    @extend .pb-l;

    &__header {
        min-height:300px;
        @extend .pb-l;
        @extend .c-blackLight;
        @extend .text-left;
        border-bottom:1px solid $smokeLight;
    }
    &__photo {
        @extend .pos-rel;
        width:242px;
        height:242px;
        @extend .borderRadius-circle;
        @extend .cursor-pointer;
        @extend .overflow-hidden;

        &:before {
            @include abs();
            @extend .content-empty;
            @extend .borderRadius-circle;
            box-shadow: 0 0 21px rgba(31,35,37,.2) inset;
            @extend .zIndex-1;
        }
        &__image {
            @include abs();
            @extend .borderRadius-circle;
            @extend .bg-cover;
            transition:opacity 0.1s ease;
        }
        .m-no-touch &:hover {
            .profile__photo__image {
                @extend .opacity-85;
            }
            &:after {
                @extend .t50;
                @extend .opacity-85;
            }
        }
        &:after,
        &__text {
            @extend .display-none;
        }
        &:after {
            @extend .content-empty;
            @extend .display-block;
            @extend .pos-abs;
            top:65%;
            left:50%;
            margin:-64px 0 0 -66px;
            width:128px;
            height:128px;
            background:url(/assets/images/ui/ui-upload_white.svg) no-repeat 0 0 / cover;
            transition:all 0.25s ease;
            @extend .opacity-0;
            @extend .zIndex-2;
        }
        &[data-place="true"] {
            border:3px dashed rgba(#265cdc,.8);

            .profile__photo__text {
                @extend .display-block;
                @extend .pos-abs;
                @extend .t50;
                @extend .l0;
                @extend .w100p;
                @extend .mt35;
                @extend .pl30;
                @extend .pr30;
                @extend .c-gray;
                @extend .text-center;
                @extend .text-uppercase;
                font:bold 14px/22px "Gotham", Helvetica;
            }
            &:before {
                @extend .display-none;
            }
            &:after {
                @extend .t50;
                margin:-80px 0 0 -54px;
                width:108px;
                height:108px;
                background-image:url(/assets/images/ui/ui-upload.svg);
                @extend .opacity-85;
                @extend .transition-none;
            }
        }
    }
    .btn-edit {
        &:before {
            @extend .content-empty;
            @extend .display-inlineBlock;
            @extend .vAlign-middle;
            @extend .mr-xss;
            @extend .ml--xss;
            @include ui-icon("pencil_white", 14px, 14px);
            transform:translateY(-2px);
        }
    }
    .btn-balance {
        margin-top:1px;
    }
}
