.profile {
    @extend .pos-centered;
    @extend .pb-l;

    &__header {
        min-height:300px;
        @extend .pb-l;
        @extend .c-blackLight;
        @extend .text-left;
        border-bottom:1px solid $smokeLight;
    }
    .btn-edit {
        &:before {
            @extend .content-empty;
            @extend .display-inlineBlock;
            @extend .vAlign-middle;
            @extend .mr-xss;
            @extend .ml--xss;
            @include ui-icon("pencil_white", 14px, 14px);
            transform:translateY(-2px);
        }
    }
    .btn-balance {
        margin-top:1px;
    }
}
