jqtest-result-humps {
    @extend .display-block;
    @extend .pos-rel;
    height:450px;

    &:after {
        @extend .content-empty;
        @extend .pos-bl;
        @extend .w100p;
        height:290px;
        @extend .bg-blue;
    }
    &.showHumps {
        .hump,
        .humpCircle,
        .humpLine {
            transform:scale3d(1, 1, 1) translateZ(0);
        }
        .humpText,
        .humpLevel {
            @extend .opacity-100;
        }
    }
    #humps__svg {
        @extend .display-block;
        @extend .pos-rel;
        height:330px;
        min-width:calc(100% + 15px);
        transform:translateX(-15px);
        @extend .mlr-auto;
        @extend .zIndex-1;
    }
    .humps__wrapper {
        height:160px;
    }
    .humpGroup {
        @extend .pos-rel;
    }
    .hump {
        @extend .fill-blue;
    }
    .humpCircle {
        @extend .fill-green;
        stroke:$white;
        stroke-width:3px;
    }
    .humpText {
        @extend .fill-blackLight;
        @extend .fontFamily-futura;
        @extend .fontSize-20;
        transform:translateY(153px);
    }
    .humpLevel {
        @extend .display-block;
        @extend .pos-rel;
        @extend .fill-white;
        @extend .fontSize-34;
        @extend .fontWeight-8;
        transform:translateY(320px);
    }
    .humpLine {
        @extend .pos-bl;
        stroke:$snow;
        stroke-width:2px;
        stroke-dasharray:8,7;
    }
    .hump,
    .humpCircle,
    .humpLine {
        @include accelerate();
        @extend .willChange-transform;
        transform-origin:0 100%;
        transform:scale3d(1, 0, 1) translateZ(0);
        transition:transform 0.4s $cubic25b;
    }
    .humpText,
    .humpLevel {
        @extend .opacity-0;
        @extend .willChange-opacity;
        transition:opacity 0.4s $cubic28;
    }
}
