<section-menu class="section__menu bg-blue zIndex-2" data-pos="right" data-color="white" data-open={ active }>

    <div onClick={ hide } onUpdate="none" class="button__close" data-color="white"></div>

    <div class="section__menu__title">Меню</div>

    <div onClick={ open.profile } onUpdate="none" class="section__menu__item">
        <div class="section__menu__item__icon">
            <icon-glass size="l" color="white"></icon-glass>
        </div>
        <div class="section__menu__item__title">Мой профиль</div>
    </div>
    <div onClick={ open.changePlan } onUpdate="none" class="section__menu__item">
        <div class="section__menu__item__icon">
            <icon-crown size="l" color="white"></icon-crown>
        </div>
        <div class="section__menu__item__title">Перейти на Premium</div>
    </div>

<script>

    var $ = this;

    $.active = false;

    $.show = function(){

        $Sections.resume.list.hide();

        $.update({
            active: true
        })
    };

    $.open = {
        profile: function(){

        },
        changePlan: function(){
            $Sections.payment.section.show("premium");
        }
    };

    $.hide = function(){

        $Sections.resume.list.show();

        $.update({
            active: false
        })
    };

</script>

</section-menu>
